// ---- literal colors ----

/* color names are taken from http://www.colblindor.com/color-name-hue/ to ensure uniqueness.
Where the color name is ambiguous, keep the main hue name as well (e.g. $cyprus-green). */

$black:                 #000000;
$near-black:            #0a0a0a;
$dark-nero-black:       #222222;
$light-nero-black:      #2b2b2b;

$charcoal-grey:         #3e3e3e;
$mortar-grey:           #555555;
$dim-grey:              #666666;
$empress-grey:          #747474;
$nobel-grey:            #999999;
$dark-grey:             #aaaaaa;
$silver:                #c7c5c6;
$light-grey:            #d6d6d6;
$very-light-grey:       #cccccc; 

$white-smoke:           #e9e9e9; 
$white-lilac:           #eeeeef; 
$old-lace-white:        #fef7ec;
$white:                 #ffffff;

$liver-brown:           #535152;

$torch-red:             #f52346;
$razzmattaz-pink:       #fa0a60;
$razzmattaz-red:        #fb035d;
$fire-engine-red:       #ca182a;
$carmine-red:           #9a0123;
$pig-pink:              #fccbde; 
$we-peep-pink:          #fee5e6;

$red-orange:            #f53235;  
$dark-orange:           #fb8600;
$safety-orange:         #fa5e00;
$tacao-orange:          #f19871;
$atomic-tangerine:      #fda163;

$oasis-yellow:          #fde7c4;
$golden-poppy-yellow:   #fdc500; 

$cyprus-green:          #134158;
$slimer-green:          #2baa01;
$islamic-green:         #339101;
$bright-green:          #5bff02;
$atlantis-green:        #6ee639;
$reef-green:            #c7f6a6;
$pale-green:            #a8f57e;

$midnight-blue:         #113269;
$denim-blue:            #166a9d;
$cerulean-blue:         #2f62cb;
$summer-sky-blue:       #39aad0;

// ---- semantic color mappings ----

// -- hues --
// Map our main color variants to the main color hues: Red, Orange, Yellow, Green, Blue, Violet, Brown, Black, Grey, and White.

$red:      $fire-engine-red;
//$orange
//$yellow
$green:    $bright-green; // the general 'green' you see on the site. Variants are generally for gradients / shades.
//$blue
//$violet
//$brown
$grey:     $nobel-grey;

// $black: $black; // already defined
// $white: $white; // already defined

// -- defaults --


// -- gradients --

// color-based gradients


$hero-unit-background-gradient:               linear-gradient(left, $black 0%, $near-black 50% );
$modal-background-gradient:                   linear-gradient( left, $white-smoke 0%, $white 50%, $white-smoke 100% );
$green-bar-background-gradient:               linear-gradient( $green 9%, $islamic-green 93% );
                    
$grey-table-row-starting-gradient:            linear-gradient( left, $silver, $white-smoke );
$grey-table-row-ending-gradient:              linear-gradient( left, $white-smoke, $silver );
$white-table-row-starting-gradient:           linear-gradient( left, $white-smoke, $white );
$white-table-row-ending-gradient:             linear-gradient( left, $white, $white-smoke );
                                            
$green-table-row-starting-gradient:           linear-gradient( left, $atlantis-green, $reef-green );
$green-table-row-ending-gradient:             linear-gradient( left, $reef-green, $atlantis-green );

$white-grey-small-bar-gradient:               linear-gradient(top, $white, $silver);


// state gradients

$success-background-gradient:                 $green-bar-background-gradient;
$error-background-gradient:                   linear-gradient( top, $razzmattaz-red, $carmine-red );

// module gradients
$primary-navigation-background-gradient:      linear-gradient( top,  $light-nero-black, $black );
$dark-form-element-background-gradient:       linear-gradient( top, $black, $light-nero-black );
$header-bar-background-gradient:              linear-gradient( $mortar-grey 9%, $black, $dark-nero-black 93%);
$exceeded-budget-value-background-gradient:   $error-background-gradient;
$account-navigation-background-gradient:      linear-gradient(top, $white-smoke 19%, $silver 80% );
$navigation_sidebar-background-gradient:      linear-gradient(top, $white-smoke 19%, $silver 80% );

$topbar-navigation-background-gradient:       linear-gradient( top,  $mortar-grey, $dark-nero-black 40% );

$topbar-dropdown-background-gradient:         linear-gradient(top, rgba( $dark-nero-black, .99 ) 0%, rgba( $light-nero-black, .99 ) 80%);

$dropdown-background-gradient:                linear-gradient(top, rgba( $black, .99 ) 0%, rgba( $light-nero-black, .99 ) 80%);

$filters-dropdown-background-gradient:         linear-gradient(top, $black 0%, $light-nero-black 80%);
// -- button backgrounds --

$light-button-background-color:           $green;
$dark-button-background-color:            $islamic-green;

$light-secondary-button-background-color: $light-nero-black;
$dark-secondary-button-background-color:  $black;

$light-callout-button-background-color:   $razzmattaz-pink;
$dark-callout-button-background-color:    $fire-engine-red;

$light-facebook-button-background-color:  $cerulean-blue;
$dark-facebook-button-background-color:   $midnight-blue;

$light-twitter-button-background-color:   $summer-sky-blue;
$dark-twitter-button-background-color:    $denim-blue;

// -- checkbox background --
$checkbox-background-gradient:  	            linear-gradient(top, $dark-nero-black 0%, $mortar-grey 100%);

// -- radio background --
$radio-background:                             $light-grey;

// primary navigation links use button background styling, so we need them here
$light-primary-navigation-background-color:   $light-nero-black;
$dark-primary-navigation-background-color:    $black;

$primary-dropdown-link-color:                 $white;
$primary-dropdown-link-hover-color:           $green;
$primary-dropdown-link-active-color:          $green;


// team page
// colours for chance of playing on more info popup
$chance-of-playing-colors: (0, $red-orange, $we-peep-pink) (25, $safety-orange, $oasis-yellow) (50, $dark-orange, $old-lace-white) (75, $golden-poppy-yellow, $old-lace-white);

// live fixtures table


// ---- themes ----

// light
$light-section-body-background-gradient: linear-gradient( left, $white-smoke 0%, $white 50%, $white-smoke 100%);

$content-section-body-background-gradient: linear-gradient( left, $light-grey 0%, $white 10%, $white 90%, $light-grey 100%);

// dark
$dark-input-background-gradient: linear-gradient(top, $dark-nero-black, $light-nero-black);

$team_colours: 
  (arsenal, #c52d35, #cecaca),
  (aston-villa, #852840, #64aacf ),
  (cardiff-city, #ad2819, lighten(#ad2819, 10%)),
  (chelsea, #294cbe, lighten(#294cbe, 10%)),
  (crystal-palace, #263284, #841B0F ),
  (everton, #263c90, #d8d8d8 ),
  (fulham, #d6d6d6, #313131 ),
  (hull-city, #d37c06, #161616 ),
  (liverpool, #cf282d, lighten(#cf282d, 10%)),
  (manchester-city, #8abeee, #233557),
  (manchester-united, #c92c25, $near-black),
  (newcastle-united, #151515, #e4e4e3),
  (norwich-city, #e7ea25, #237622),
  (queens-park-rangers, #ededec, #223fbf),
  (reading, #1d3484, #f0f0f0 ),
  (southampton, #c92337, lighten(#c92337, 10%)),
  (stoke-city, #f8f8f8, #ca0b14 ),
  (sunderland, #ca0b14, #f8f8f8 ),
  (swansea-city, #e6e6e6, #f0e7bc ),
  (tottenham-hotspur, #e6e6e6, #285785),
  (west-bromwich-albion, #1e1d4e, #f2f2f1),
  (west-ham-united, #792133, #61a6d4),
  (wigan-athletic, #2251bf, #dedede);
