// requires _settings

// ---- element defaults -----

/*

A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, 
along with any pseudo-classes. It doesn’t include any class or ID selectors. 

It is defining the default styling for how that element should look in all occurrences on the page.

*/

// Enable HTML5 elements in IE6-9 and FF3

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

audio,
canvas,
video { 
   @include inline-block;
}

audio:not([controls]) {
  display: none;
}

[hidden] { 
  display: none;
}

// Box-sizing: reset the box model to use the border-box, so that padding and border are applied within the total width of the element.

// compatible with IE8+, and the other modern browsers
// In IE7, we will have to adjust the padding to compensate for this rule.

* {
  @include box-sizing( border-box );
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  @each $prefix in webkit, ms { -#{$prefix}-text-size-adjust: 100%; }
}

// ---- Typography ----

body {
  margin: 0px;

  background: $black image-url( "background.jpg" ) no-repeat top center;
  
  font-family: $base-font-family;
  font-size: $base-font-size;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: $heading-font-family;
  font-weight: normal;
  text-transform: uppercase;
}

// Set default typographic values for headings
h1 {
  margin: 10px 0px;
  font-size: $heading-font-size;
}

// Remove the outline on a:hover and a:active

a:hover,
a:active {
  outline: 0;
}

dt, dd {
  display: inline;
  padding: 0;
  margin: 0;
}

img {
  border: none;
}

// ---- Forms ----

fieldset {
  border: none;
}

// Font size in all browsers, margin changes, misc consistency
button,
input,
select,
textarea { 
  // inputs don't work well with the border-box cross-browser (FF in particular). 
  // They're too important an area to risk getting wrong for the user, so we're using content-box here.
  @include box-sizing( content-box );
  margin: 0;

  font-weight: normal;
  font-size: 100%;
  vertical-align: middle;

}
button,
input {
  *overflow: visible; // Inner spacing ie IE6/7
  line-height: normal; // FF3/4 have !important on line-height in UA stylesheet
}
button::-moz-focus-inner,
input::-moz-focus-inner { // Inner padding and border oddities in FF3/4
  padding: 0;
  border: 0;
}
button,
html input[type="button"], // Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; // Corrects inability to style clickable `input` types in iOS.
    cursor: pointer; // Improves usability and consistency of cursor style between image-type `input` and others.
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer; // Improves usability and consistency of cursor style between image-type `input` and others.
}
input[type="search"] { // Appearance in Safari/Chrome
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; // Inner-padding issues in Chrome OSX, Safari 5
}
textarea {
  overflow: auto; // Remove vertical scrollbar in IE6-9
  vertical-align: top; // Readability and alignment cross-browser
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  margin: 0px;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    color: $green;
  }

  &:focus {
    outline: none;
  }
}

hr {
  margin-bottom:20px;
}

dl {
  margin: 0px;
}

// ---- forms ----

input, select {
  height: 16px;
  padding: 7px 1%;
  margin: 3px 0px 10px 0px;

  font-size: $info-font-size;
  font-family: $helvetica;

  @include box-shadow( inset 1px 1px 2px 2px rgba( $charcoal-grey, 0.1 ) );
}

label {
  font-family: $trade-gothic;
}

@each $prefix in "::-webkit-input", ":-moz", "::-moz", ":-ms-input" { 

  #{$prefix}-placeholder{


    font-size:      11px;
    font-family:    $helvetica;
    font-weight:    light;

    line-height: 1.8em;

    text-indent: 0.2em;
    text-transform: uppercase;
  } 
  
  :focus#{$prefix}-placeholder {
    text-indent:  -999px;
  }
}

abbr {
  border: none;
}


area {
  outline: none;
}
