.left {
  float: left;
}

.right {
  float: right;
}

@each $property in padding, margin {
  
  @each $direction in top, right, bottom, left {
    .no-#{$property}-#{$direction} {
      #{$property}-#{$direction}: 0px;
    }
  }

  .no-#{$property}-x {
    @extend .no-#{$property}-left;
    @extend .no-#{$property}-right;
  }


  .no-#{$property}-y {
    @extend .no-#{$property}-top;
    @extend .no-#{$property}-bottom;
  }
}

.center {
  text-align: center;
}

@each $element in p, span, abbr, a, li {
  #{$element}{
    &.highlight, 
    &.success {
      color: $green;
    }

    &.underline {
      text-decoration: underline;
    }
  }
}

