@import "browser-support";
@import "colours";
@import "typography";


//  ---- grid ----
// see layout/grid

// ---- z-index master list ----
// -------------------------
/* provides a bird's eye view of components dependent on the z-axis. */

// elements above the whole page - 1000's

$compare-table-jersey-z-index:            2000 !default;
$chat-z-index:                            1080 !default;
$modal-tab-navigation-active-tab-z-index: 1070 !default;
$modal-popover-z-index:                   1060 !default;
$modal-z-index:                           1050 !default;
$modal-backdrop-z-index:                  1040 !default;
// $tooltip-z-index:                      1030 !default;
// $popover-z-index:                      1010 !default;
$panel-z-index:                           1010 !default;
$dropdown-z-index:                        1000 !default;
$flash-notice-z-index:                    900 !default;

// z-index for design requiements
$pitch-overlay-z-index:                   700  !default;
$pitch-player-more-info-z-index:          520  !default;
$pitch-player-info-z-index:               510  !default; // .m-pitch-player--info sub-element
$pitch-player-name-bar-z-index:           500  !default; // .m-pitch-player--name-bar sub-element

