.is-hidden, .hide {
  display: none;
}


.is-shown, .show {
  display: block;
}
.is-invisible {
  visibility: hidden;
}

.is-faded, .fade { 
  opacity: 0;
  @include transition-property( opacity );
  @include transition-duration( 0.15s );
  @include transition-timing-function( linear );

  &.in {
    opacity: 1;
  }
}

.is-collapsed, .collapse { 
  position: relative; 
  height:0;
  overflow:hidden;
  @include transition-property( height );
  @include transition-duration( 0.35s );
  @include transition-timing-function(ease);

  &.in {
    height: auto;
  }
}

// javascript hook elements

#js-matchday-countdown {
  @include box-sizing( content-box );
  
  div {
    @include box-sizing( content-box );
  }
}