/*@import "../misc/webfonts.css"*/

// ---- font families ----
$helvetica:     'HelveticaNeueLT-Medium', Helvetica, Arial, sans-serif;
$trade-gothic:  'TradeGothicLTPro-BdCn20', Helvetica, Arial, sans-serif;


// ---- generic font-sizes ----

$small-text-font-size:             11px;
$content-text-font-size:           12px;
$medium-text-font-size:            14px;
$large-text-font-size:             20px;

$small-heading-font-size:          16px;
$heading-font-size:                28px;
$extra-large-heading-font-size:    50px;

$extra-small-button-font-size:     11px;
$small-button-font-size:           13px;
$table-button-font-size:           14px;
$button-font-size:                 15px;
$large-button-font-size:           25px;

// ---- specific typography settings ----

// -- line-height --
$base-line-height:      20px;
$heading-line-height:   40px;

// -- font-family --
$base-font-family:          $helvetica;
$heading-font-family:       $trade-gothic;
$button-font-family:        $trade-gothic;
$navigation-font-family:    $trade-gothic;

// -- font-size --

$base-font-size:                          $medium-text-font-size;

$pitch-status-bar-font-size:              10px;
$info-font-size:                          12px;
$table-heading-font-size:                 13px;
$ticket-small-value-font-size:            14px;
$ticket-value-font-size:                  18px;
$ticket-total-font-size:                  18px;
$games-tab-navigation-font-size:          $large-button-font-size;
$active-games-tab-navigation-font-size:   32px;

$primary-navigation-font-size:            15px;

$howtoplay-step-title-font-size:          18px;
$content-sub-heading-font-size:           17px;
$form-info--font-size:                    10px;

// feature module

$feature-heading-font-size:   38px;
$feature-strapline-font-size: 26px;


.superscript {
  vertical-align: baseline;
  position:       relative;
  top:            -0.4em;
}
