/**
 * The theme for the account dropdowns
 */

.dk_theme_account {

  &.dk_container {
    padding: 0px;
    margin:       5px 3px 10px 0px;
    font-size:   14px;
    font-family: $navigation-font-family;

    @include background( linear-gradient(top, $white-smoke 19%, $silver 80%) );

    &:focus {
      outline: 0;
    }

    a {
      cursor: pointer;
    }
  }

  /* Opens the dropdown and holds the menu label */
  .dk_toggle {
    border-top: 1px solid $silver;
    @include box-shadow( inset  0 1px 1px rgba($mortar-grey, .1) );
    padding:       7px 5px 7px 10px;

    @include background( linear-gradient(top, $white-smoke 19%, $silver 80%) );
    color: $black;

    font-family:    $trade-gothic;
   

    .dk_label {
      @include inline-block;
      position: relative;
      float:    left;

      width:         100%;
      padding-right: 0px;

      &:after {
        content:  ' ';
        display:  block;
        position: absolute;

        right: 3px;
        top:   7px;

        width:  0px;
        height: 0px;

        border-top:   3px solid $black;
        border-left:  3px solid transparent;
        border-right: 3px solid transparent;
      }
    }
  }

  /* Applied when the dropdown is focused */

  &.dk_focus .dk_toggle {

  }

  /* Applied whenever the dropdown is open */

  &.dk_open {
    z-index: $dropdown-z-index;

    .dk_toggle {
    @include box-shadow(inset  0 2px 8px rgba($mortar-grey, .2));
      color: $black;

      .dk_label:after { 
        border-top:    0;
        border-left:   3px solid transparent;
        border-right:  3px solid transparent;
        border-bottom: 3px solid $black;
        margin-top:    -1px;
      }

    }
  }
  /* The outer container of the options */
  .dk_options {
    left: 0px;

    border:       solid $silver;
    border-width: 0px 1px 1px 1px;
    @include background( linear-gradient(top, $silver, $light-grey) );
    @include box-shadow( rgba($black, .2) 0 2px 8px );

    li {
      list-style: none;

      &:last-child {
        background: none;
      }
    }

    a {
      padding: 5px 7px;

      color: $mortar-grey;

      font-size:      14px;
      font-family:    $trade-gothic;
    }
  }

  .dk_options a:hover {
    color: $black;
  }

  .dk_option_current a {
    color: $black;
  }

  /* Inner container for options, this is what makes the scrollbar possible. */
  .dk_options_inner {
    overflow: auto;
  }

  /* Set a max-height on the options inner */
  .dk_options_inner,
  .dk_touch .dk_options {
    max-height: 160px;
  }
}
/******  End Theme ******/

