/**
 * The theme for the filter dropdowns
 */
$filter-dropdowns-max-width:  105px;

.dk_theme_filters {

  &.dk_container {
    max-width:  $filter-dropdowns-max-width;
    border-top: 1px solid transparent;
    margin:     0px 1px 5px 0px;

    font-size:      12px;
    font-family:    $navigation-font-family;
    text-transform: uppercase;

    &:focus {
      outline: 0;
    }

    a {
      cursor: pointer;
    }
  }

  /* Opens the dropdown and holds the menu label */
  .dk_toggle {
    max-width:     $filter-dropdowns-max-width;
    padding:       7px 5px 7px 10px;
    border-bottom: 1px solid $charcoal-grey;

    @include background( linear-gradient(top, $charcoal-grey 0%, $black 100%));
    color: $white;

    @include box-shadow( 0 4px 2px -2px rgba( $black, .3 ) );

    font-family:    $trade-gothic;
    text-transform: uppercase;

    .dk_label {
      @include inline-block;
      position:      relative;
      float:         left;

      width:         100% ;
      padding-right:   0px;

      &:after {
        content:      ' ';
        display:      block;
        position:     absolute;

        right:        3px;
        top:          6px;

        width:        0px;
        height:       0px;

        border-top:   3px solid $white;
        border-right: 3px solid transparent;
        border-left:  3px solid transparent;
      }
    }
  }

  /* Applied when the dropdown is focused */

  &.dk_focus .dk_toggle {

  }

  /* Applied whenever the dropdown is open */

  &.dk_open {
    z-index: $dropdown-z-index;
    border-top: 1px solid $mortar-grey;

    .dk_toggle {
      color: $green;

      .dk_label:after { 
        border-top-color: $green;
      }

    }
  }
  /* The outer container of the options */
  .dk_options {
    left:         0px;

    border:       solid $black;
    border-width: 0px 1px 1px 1px;

    @include background( $filters-dropdown-background-gradient );
    @include box-shadow( rgba($black, .2) 0 2px 8px );

    li {
      background: url('/images/modules/dropdowns/link-divider.png') no-repeat bottom center;
      list-style: none;

      &:last-child {
        background: none;
      }
    }

    a {
      padding:         5px 7px;

      color:          $silver;

      font-size:      12px;
      font-family:    $trade-gothic;
      text-transform: uppercase;
    }
  }

  .dk_options a:hover {
    color: $white;
  }

  .dk_option_current a {
    color: $green;
  }

  /* Inner container for options, this is what makes the scrollbar possible. */
  .dk_options_inner {
    overflow: auto;
    padding-bottom: 5px; // ensure that the height is a little more than the height of the elements within
  }

  /* Set a max-height on the options inner */
  .dk_options_inner,
  .dk_touch .dk_options {
    max-height: 160px;
  }
}
/******  End Theme ******/
