/**
 * The theme for the filter dropdowns
 */
$small-filters-dropdowns-max-width:  100px;

.dk_theme_small-filters {

  &.dk_container {
    max-width: $small-filters-dropdowns-max-width;
    border-top: 1px solid transparent;
    margin: 0px 1px 5px 0px;

    font-family: $navigation-font-family;
    font-size: 11px;

    text-transform:uppercase;

    &:focus {
      outline: 0;
    }

    a {
      cursor: pointer;
    }
  }

  /* Opens the dropdown and holds the menu label */
  .dk_toggle {
    max-width: $small-filters-dropdowns-max-width;
    padding: 3px 5px 3px 10px;

    font-family: $trade-gothic;
    text-transform: uppercase;
    color: $white;
   
    @include background( linear-gradient(top, $charcoal-grey 0%, $black 100%));
    border-bottom: 1px solid $charcoal-grey;

    .dk_label {
      position: relative;
      @include inline-block;
      float: left;

      width:         100%;
      padding-right:   0px;

      &:after {
        content: ' ';
        display: block;
        position: absolute;
        right: 3px;
        top: 7px;

        width: 0px;
        height: 0px;

        border-top: 3px solid $white;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
      }
    }
  }

  /* Applied when the dropdown is focused */

  &.dk_focus .dk_toggle {

  }

  /* Applied whenever the dropdown is open */

  &.dk_open {
    z-index: 3000;
    border-top: 1px solid $mortar-grey;

    .dk_toggle {
      color: $green;

      .dk_label:after { 
        border-top-color: $green;
      }

    }
  }
  /* The outer container of the options */
  .dk_options {
    left: 0px;

    border: solid $black;
    border-width: 0px 1px 1px 1px; 

    @include background( $filters-dropdown-background-gradient);
    @include box-shadow( rgba($black, .2) 0 2px 8px );

    li {
      height: 30px;
      background: url('/images/modules/dropdowns/link-divider.png') no-repeat bottom center;
      list-style: none;

      &:last-child {
        background: none;
      }
    }

    a {
      padding: 10px;
      color: $silver;
      font-family: $trade-gothic;
      font-size: 12px;

      text-transform: uppercase;
    }
  }

  .dk_options a:hover {
    color: $white;
  }

  .dk_option_current a {
    color: $green;
  }

  /* Inner container for options, this is what makes the scrollbar possible. */
  .dk_options_inner {
    overflow: auto;
  }

  /* Set a max-height on the options inner */
  .dk_options_inner,
  .dk_touch .dk_options {
    max-height: 300px;
  }
}
/******  End Theme ******/
