/**
 * The theme for the team selection dropdown
 */

$dropkick-team-font-size: 16px;
$dropkick-team-background-gradient: linear-gradient(top, $light-nero-black 30%, $black 80%);

.dk_theme_team {

  position: absolute;
  top:       5px;
  right:    12px;

  &.dk_container {
    width: 135px;
    border-top: 1px solid $empress-grey;
    margin:     0px 1px 5px 0px;

    @include background( linear-gradient( top, $charcoal-grey, $light-nero-black 90% ) );
    font-size:      $dropkick-team-font-size;
    font-family:    $navigation-font-family;
    text-transform: uppercase;
    text-align: left;

    &:focus {
      outline: 0;
    }

    a {
      cursor: pointer;
    }
  }

  /* Opens the dropdown and holds the menu label */
  .dk_toggle {
    width: 135px;
    padding:       10px 5px 7px 10px;
    color: $white;
    font-family:    $trade-gothic;
    text-transform: uppercase;

    .dk_label {
      @include inline-block;
      position:      relative;
      float:         right;

      width:         100% ;
      padding-right:   0px;

      text-align:    left;

      &:after {
        content:      ' ';
        display:      block;
        position:     absolute;

        right:      -55px;
        top:          8px;

        width:        0px;
        height:       0px;

        border-top:   3px solid $white;
        border-right: 3px solid transparent;
        border-left:  3px solid transparent;
      }
    }
  }

  /* Applied when the dropdown is focused */

  &.dk_focus .dk_toggle {

  }

  /* Applied whenever the dropdown is open */

  &.dk_open {
    z-index: $dropdown-z-index;
  position: absolute;
  right:    12px;
    border-top: 1px solid $mortar-grey;

    .dk_toggle {
      color: $green;

      .dk_label:after { 
        border-top-color: $green;
      }

    }
  }
  /* The outer container of the options */
  .dk_options {
    left:         0px;

    border:       solid $black;
    border-width: 0px 1px 1px 1px;

    @include background( $dropkick-team-background-gradient );
    @include box-shadow( rgba($black, .2) 0 2px 8px );

    li {
      height: 40px;
      background: url('/images/modules/dropdowns/link-divider.png') no-repeat bottom center;
      list-style: none;

      text-align: left;

      &:last-child {
        background: none;
      }
    }

    a {
      height:         40px;
      padding:        12px 10px;

      color:          $silver;

      font-size:      $dropkick-team-font-size;
      font-family:    $trade-gothic;

      text-transform: uppercase;
    }
  }

  .dk_options a:hover {
    color: $white;
  }

  .dk_option_current a {
    color: $green;
  }

  /* Inner container for options, this is what makes the scrollbar possible. */
  .dk_options_inner {
    overflow: auto;
    padding-bottom: 5px; // ensure that the height is a little more than the height of the elements within
  }

  /* Set a max-height on the options inner */
  .dk_options_inner,
  .dk_touch .dk_options {
  }
}
/******  End Theme ******/
