/**
 * The theme for the top bar dropdowns
 */

.dk_theme_topbar {

  &.dk_container {
    border-top: 1px solid transparent;
    margin-top: 5px;
    margin-bottom: 18px;

    font-family: $navigation-font-family;
    font-size: 13px;

    text-transform:uppercase;

    &:focus {
      outline: 0;
    }

    a {
      cursor: pointer;
    }
  }

  /* Opens the dropdown and holds the menu label */
  .dk_toggle {
    padding: 7px 5px 7px 10px;

    font-family: $trade-gothic;
    text-transform: uppercase;
    color: $silver;

    &:hover {
      color: $white;

      .dk_label:after {
        border-top-color: $white;
      }
    }

    .dk_label {
      @include inline-block;
      float: left;

      width: 100%;
      padding-right: 0px;

      &:after {
        content: ' ';
        @include inline-block;
        vertical-align: middle;

        width: 0px;
        height: 0px;
        margin-top: -1px;
        margin-left: 5px;

        border-top: 3px solid $silver;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
      }
    }
  }

  /* Applied when the dropdown is focused */

  &.dk_focus .dk_toggle {
    @include box-shadow(0 0 5px $black);
  }

  /* Applied whenever the dropdown is open */

  &.dk_open {
    z-index: 3000;
    border-top: 1px solid $mortar-grey;
    @include box-shadow(0 0 5px $black);

    .dk_toggle {
      background-color: $charcoal-grey;
      color: $green;

      .dk_label:after { 
        border-top-color: $green;
      }

    }
  }
  /* The outer container of the options */
  .dk_options {
    width: 140px;
    border: solid $black;
    border-width: 0px 1px 1px 1px; 

    @include background( $topbar-dropdown-background-gradient);
    @include box-shadow( rgba($black, .2) 0 2px 8px );

    li {
      height: 50px;
      background: url('/images/modules/dropdowns/link-divider.png') no-repeat bottom center;
      list-style: none;

      &:last-child {
        background: none;
      }
    }

    a {
      padding: 20px 15px;
      color: $silver;
      font-family: $trade-gothic;
      font-size: 12px;

      text-transform: uppercase;
    }
  }

  .dk_options a:hover {
    color: $white;
  }

  .dk_option_current a {
    color: $green;
  }

  /* Inner container for options, this is what makes the scrollbar possible. */
  .dk_options_inner {
    overflow: visible;
  }

  /* Set a max-height on the options inner */
  .dk_options_inner,
  &.dk_touch .dk_options {
  }
}
/******  End Theme ******/
