.m-box_league-of-titans-standings {

  .m-box--header-bar_small {
    position: relative;
    margin-top: -6px;
    text-align: center; 

    .m-box--heading_small {
      float: none;
    }

    .m-form--help {
      position: absolute;
      top:    5px;
      right: 10px;
    }
  }
}
