// ----  Compass modules and extensions ----
@import "compass/utilities/general/clearfix";
@import "compass/css3", 
"compass/css3/inline-block";

// ---- base settings and mixins ----
@import 'base/settings';
@import 'base/clearfix';
@import 'mixins/border-gradient';
@import 'mixins/button-background';
@import 'mixins/navigation-background';
@import 'mixins/gradient-bar';
@import 'mixins/shine';
@import 'mixins/no-ms-filter';
@import 'base/element-defaults';

// ---- layout and grid ----
@import 'layout/grid';

// ---- global modules ----

// -- high-level container modules --
@import 'modules/headers';
@import 'modules/sections';
@import 'modules/boxes';


// -- persistent modules --
@import 'modules/icons';
@import 'modules/tables';
@import 'modules/navigations';
@import 'modules/account-navigations';
@import 'modules/tab-navigations';
@import 'modules/dropdowns';
@import 'modules/dropkick';
@import 'modules/account-panel';
@import 'modules/flash_notice';
@import 'modules/footers';
@import 'modules/compare';

// -- frequent modules
@import 'modules/errors';
@import 'modules/inputs';
@import 'modules/checkboxes';
@import 'modules/radios';
@import 'modules/labels';
@import 'modules/forms';
@import 'modules/tooltips';
@import 'modules/popovers';
@import 'modules/buttons';
@import 'modules/values';
@import 'modules/modals';
@import 'modules/confirm-boxes';
@import 'modules/player-info';
@import 'modules/multiplayer-modals';
@import 'modules/carousels';

// port modules here as they're used(as all stylesheets need to be loaded upfront in new app)

// content pages
@import 'modules/content';

@import 'modules/suggestions';
//club lobby
@import 'modules/hero-units';
@import 'modules/jerseys';
@import 'modules/scarves';
@import 'modules/club-leaders';

// individual club
@import 'modules/club-details';

// profile
@import 'modules/bar';
@import 'modules/tickets';
@import 'modules/media';
@import 'modules/levels';
@import 'modules/rewards';
@import 'modules/divisions';
@import 'modules/profiles';
@import 'modules/pitches';
@import 'modules/matchday-player-info';

@import 'modules/search-results';
@import 'modules/avatars';
@import 'modules/invites';

@import 'modules/error-pages';
@import 'modules/leaderboards';

@import 'modules/chat';
@import 'modules/player-selection-key';
@import 'modules/premier-league-logos';

@import 'modules/how-to-play-steps';
@import 'modules/countdowns';
@import 'modules/rewards-panels';
@import 'modules/ribbons';
@import 'modules/account-balances';
@import 'modules/account-progress';
@import 'modules/account-rewards';
@import 'modules/filters';
@import 'modules/team-summary';
@import 'modules/budgets';
@import 'modules/flags';
@import 'modules/features';
@import 'modules/10-free-progress';
@import 'modules/fixtures';
// test site without gap between navigation and main content

#primary-navigation-section {
  margin-bottom:  0px;
  padding-bottom: 0px;
}

#content .m-section:first-child {
  margin-top:   0px;
  padding-top:  0px;
  border-top:  10px solid $black;
}


// non-modular override styles for specific situations, grouped by page

@import 'non-modular/*';

#page_container {
  @extend %clearfix;
  width:           100% ;
  padding-bottom:   65px;
  background:     url('/images/bottom-background.jpg') no-repeat center bottom;
  
  &.no-background-image {
    background-image: none;
  }  
}
