@import 'compass/css3/images';
@import "compass/typography/lists";
@import 'base/settings';
@import 'mixins/border-gradient';
@import 'mixins/button-background';
@import 'mixins/gradient-bar';

@import 'layout/grid';


@import 'modules/account-rewards';

.m-content--scoring-table {
  width: 100%;
  margin-bottom: 1em;

  th {
    padding: 5px 10px;
    color: $white;
    background: linear-gradient($charcoal-grey, $black);

    &.left {
      text-align: left;
    }
  }

  td {
    padding: 5px 10px;
    text-align: center;

    &.left {
      text-align: left;
    }
  }
}





.m-clubs--table, .m-lot--table {
  width: 100%;

  th {
    padding: 3px;
    color: $white;
    background: linear-gradient($mortar-grey, $black);

    &:nth-child(1) {
      text-align: left;
      text-indent: 10px;
    }
  }

  td {
    padding: 10px;
    font-family: $helvetica;
    font-size: $info-font-size;
    text-align: center;

    .m-jersey {
      position: relative;
      float: left;
      margin: -8px 5px 0 0;
    }

    a {
      color: $black;
      text-decoration: underline;
    }
  }
}

