!!!
%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title= request.path_info
    %link{:href=>'/stylesheets/webfonts.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    
    %link{:href=>'/stylesheets/themes/light.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    - if request.path_info == '/matchday'
      %link{:href=>'/stylesheets/themes/dark.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/last.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script{:src => "/javascripts/lib/jquery-1.10.2.min.js"}
    %script{:src => "/javascripts/lib/jquery-migrate-1.1.1.min.js"}
    %script{:src => "/javascripts/lib/modernizr-2.6.2.js"}
    %script{:src => "/javascripts/lib/jquery-ui-1.10.0.custom.min.js"}
    %script{:src => "/javascripts/lib/bootstrap.js"}
    %script{:src => "/javascripts/lib/bootstrap-modalmanager.js"}
    %script{:src => "/javascripts/lib/bootstrap-modal.js"}
    %script{:src => "/javascripts/lib/jquery.dropkick.js"}
    %script{:src => "/javascripts/lib/jquery.outside-events.min.js"}
    %script{:src => "/javascripts/lib/jquery.dropkickOnShow.js"}
    %script{:src => "/javascripts/lib/jquery.positionMoreInfo.js"}
    %script{:src => "/javascripts/lib/jquery.jcountdown.js"}
    %script{:src => "/javascripts/modules/_dropdowns.js"}
    %script{:src => "/javascripts/application.js"}
   
   
  %body
    #page_container
      .grid-container
        %header.l-header
          = partial :_topbar
          %h1.m-logo
            %a{:href => "/"}
              %img{:src => "/images/logo.png"}/
          %ul.m-navigation_search
            %li.m-navigation_search--item
              %form{action: '/search'}
                %a.icon-search{href: '/search'} search
                %input.m-input_search.dark{type: 'search', placeholder: 'search site'}
        .m-section#primary-navigation-section
          = partial :_nav_main
        #content.content
          .m-section
            .m-section--body
              .m-box.grid-5
                .m-box--header-bar
                  %h2.m-box--heading My Account
                .m-box--body
                  %ul.m-account-navigation#account_navigation
                    %li.m-account-navigation-item
                      %a.m-account-navigation-item--link{:href => "/account/registration/step-1", :class => request.path_info.include?("/account/registration/step-1") ? 'active' : nil, :class => request.path_info.include?('/registration') ? 'active' : nil} Register
                    %li.m-account-navigation-item
                      %a.m-account-navigation-item--link{:href => "/account/deposit", :class => request.path_info.include?("/account/deposit") ? 'active' : nil} Deposit
                    %li.m-account-navigation-item
                      %a.m-account-navigation-item--link{:href => "/account/transaction-history", :class => request.path_info.include?("/account/transaction-history") ? 'active' : nil} Transaction history
                    %li.m-account-navigation-item
                      %a.m-account-navigation-item--link{:href => "/account/withdraw", :class => request.path_info.include?("/account/withdraw") ? 'active' : nil} Withdraw
                    %li.m-account-navigation-item.group
                      %a.m-account-navigation-item--link{:href => "#", :class => request.path_info.include?("#") ? 'active' : nil} Manage account
                      %ul.m-account-navigation-item--list
                        %li.m-account-navigation-sub-item
                          %a.m-account-navigation-sub-item--link{:href => "/account/details", :class => request.path_info.include?("/account/details") ? 'active' : nil} My details
                        %li.m-account-navigation-sub-item
                          %a.m-account-navigation-sub-item--link{:href => "/account/notifications", :class => request.path_info.include?("/account/notifications") ? 'active' : nil} Notifications
                        %li.m-account-navigation-sub-item
                          %a.m-account-navigation-sub-item--link{:href => "/account/suspend", :class => request.path_info.include?("/account/suspend") ? 'active' : nil} Suspend account
                        %li.m-account-navigation-sub-item
                          %a.m-account-navigation-sub-item--link{:href => "/account/deposit/limit", :class => request.path_info.include?("/account/deposit/limit") ? 'active' : nil} Limit deposits
                        %li.m-account-navigation-sub-item
                          %a.m-account-navigation-sub-item--link{:href => "/account/close", :class => request.path_info.include?("/account/close") ? 'active' : nil} Close account
                    %li.m-account-navigation-item
                      %a.m-account-navigation-item--link{:href => "/account/password-assistance", :class => request.path_info.include?("/account/password-assistance") ? 'active' : nil} Change password
                    %li.m-account-navigation-item.group
                      %a.m-account-navigation-item--link{:href => "#", :class => request.path_info.include?("#") ? 'active' : nil} Rewards
                      %ul.m-account-navigation-item--list
                        %li.m-account-navigation-sub-item
                          %a.m-account-navigation-sub-item--link{:href => "/account/rewards", :class => request.path_info.include?("/account/rewards") ? 'active' : nil} Playon reward points
                        %li.m-account-navigation-sub-item
                          %a.m-account-navigation-sub-item--link{:href => "/account/club-points", :class => request.path_info.include?("/account/club-points") ? 'active' : nil} My club points

              .m-box.grid-10#account-section
                = yield

    = partial :_footer
    = partial :_terms_and_conditions_modal
    = partial :_privacy_policy_modal
