!!!

%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title= request.path_info
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href=>'/stylesheets/webfonts.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    - if request.path_info.include? '/team/'
      %link{:href=>'/stylesheets/team.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}

    - if request.path_info.include? '/games/'
      %link{:href=>'/stylesheets/challenges.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    - if request.path_info == '/dashboard'
      %link{:href=>'/stylesheets/dashboard.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}

    - if request.path_info.include? '/profile'
      %link{:href=>'/stylesheets/content.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}

    - if request.path_info.include? '/account/'
      %link{:href=>'/stylesheets/account.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    
    %link{:href=>'/stylesheets/themes/light.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/themes/dark.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/last.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/jcountdown.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script{:src => "/javascripts/lib/jquery-1.10.2.min.js"}
    %script{:src => "/javascripts/lib/jquery-migrate-1.1.1.min.js"}
    %script{:src => "/javascripts/lib/modernizr-2.6.2.js"}
    %script{:src => "/javascripts/lib/jquery-ui-1.10.0.custom.min.js"}
    %script{:src => "/javascripts/lib/bootstrap.js"}
    %script{:src => "/javascripts/lib/bootstrap-modalmanager.js"}
    %script{:src => "/javascripts/lib/bootstrap-modal.js"}
    %script{:src => "/javascripts/lib/jquery.dropkick.js"}
    %script{:src => "/javascripts/lib/jquery.outside-events.min.js"}
    %script{:src => "/javascripts/lib/jquery.dropkickOnShow.js"}
    %script{:src => "/javascripts/lib/jquery.positionMoreInfo.js"}
    %script{:src => "/javascripts/lib/jquery.jcountdown.js"}
    %script{:src => "/javascripts/modules/_dropdowns.js"}
    %script{:src => "/javascripts/application.js"}
    - if request.path_info.include? '/matchday' or request.path_info.include? '/results'
      %script{:src => "/javascripts/matchday.js"}

  %body
    #page_container
      .grid-container
        %header.l-header
          = partial :_topbar
          %h1.m-logo
            %a{:href => "/"}
              %img{:src => "/images/logo.png"}/
          %ul.m-navigation_search
            %li.m-navigation_search--item
              %form{action: '/search'}
                %a.icon-search{href: '/search'} search
                %input.m-input_search.dark{type: 'search', placeholder: 'search site'}
        .m-section#primary-navigation-section
          = partial :_nav_main
        #content.content
          = yield
    .m-countdown#live_matchday_countdown
      %a.icon-close{href: "#"}
      #countdown
    .m-rewards-panel
      .m-rewards-panel-level
        .m-rewards-panel-level--status
          %i.m-level_small{class: "level-small-#{@level}"}
        %dl.m-rewards-panel-level--details
          %dt reward points:
          %dd 206
          %dt current level:
          %dd= @level
      %a.m-rewards-panel-chat{:href => "#contact-us_modal", "data-toggle" => "modal"}
        %i.icon-live-chat
    = partial :_footer

    = partial :_sign_up_modal
    = partial :_log_in_modal
    = partial :_forgotten_password_modal
    = partial :_sent_password_modal
    = partial :_contact_us_modal
    = partial :_invite_to_site_modal
    - if request.path_info.include? 'team/pick'
      = partial :_pick_team_more_info
    - if request.path_info.include? 'matchday'
      = partial :_leaderboard_modal
      = partial :_pitch_compare_modal
      = partial :_compare_list_modal
    - if request.path_info.include? 'results'
      = partial :_pitch_compare_modal
    - if request.path_info.include? '/profile'
      = partial '_view_one-on-one_ticket_modal'.to_sym
    - if request.path_info.include? '/games/one-on-one'
      = partial '_one-on-one_invite_modal'.to_sym
      = partial :_team_challenge_modal
      - if request.path_info.include? 'deposit'
        = partial :_create_open_challenge_deposit_modal
      = partial :_create_open_challenge_modal
      = partial '_view_one-on-one_ticket_modal'.to_sym
      = partial '_live_one-on-one_ticket_modal'.to_sym
      = partial '_waiting_one-on-one_ticket_modal'.to_sym
      = partial '_one-on-one_confirm_modal'.to_sym
      - if request.path_info.include? 'currency'
        = partial '_one-on-one_confirm_currency_modal'.to_sym
      - if request.path_info.include? 'deposit'
        = partial '_one-on-one_confirm_deposit_modal'.to_sym
      - if request.path_info.include? 'guest'
        = partial :_guest_pick_team_prompt_modal
    - if request.path_info.include? '/games/multiplayer'
      - if request.path_info.include? 'guest'
        = partial :_guest_pick_team_prompt_modal
      - if request.path_info.include? 'share'
        = partial :_multiplayer_share_modal
        = partial :_multiplayer_share_facebook_modal
        = partial :_multiplayer_share_twitter_modal
      - if request.path_info.include? 'deposit'
        = partial :_create_multiplayer_game_deposit_modal
      = partial :_create_multiplayer_game_modal
      - if request.path_info.include? 'list'
        = partial '_view-multiplayer-game-whos-in-list-modal'.to_sym
      - else
        = partial '_view-multiplayer-game-modal'.to_sym
      = partial '_multiplayer_confirm_modal'.to_sym
      = partial :_payout_structure_modal
      - if request.path_info.include? 'deposit'
        = partial '_multiplayer_confirm_deposit_modal'.to_sym
    - if request.path_info.include? 'club'
      = partial '_invite_to_club_modal'.to_sym
      = partial '_add_my_club_modal'.to_sym
      = partial :_league_of_titans_modal
    = partial '_chat'.to_sym
    = partial :_demo_modal
