!!!

%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title= request.path_info
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href=>'/stylesheets/webfonts.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/themes/light.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/last.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}

    %script{:src => "/javascripts/lib/jquery-1.9.1.min.js"}
    %script{:src => "/javascripts/lib/modernizr-2.6.2.js"}
    %script{:src => "/javascripts/lib/jquery-ui-1.10.0.custom.min.js"}
    %script{:src => "/javascripts/lib/bootstrap.js"}
    %script{:src => "/javascripts/lib/jquery.dropkick-1.0.0.js"}
    %script{:src => "/javascripts/lib/jquery.outside-events.min.js"}
    %script{:src => "/javascripts/modules/_dropdowns.js"}
    %script{:src => "/javascripts/application.js"}
  %body
    .grid-container
      %header.l-header
        %h1.m-logo
          %a{:href => "/"}
            %img{:src => "/images/logo.png"}/
      #content.content
        = yield
