!!!
%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title= request.path_info

    %link{:href=>'/stylesheets/webfonts.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/themes/light.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %link{:href=>'/stylesheets/last.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}

    %script{:src => "/javascripts/lib/jquery-1.9.1.min.js"}
    %script{:src => "/javascripts/lib/modernizr-2.6.2.js"}
    %script{:src => "/javascripts/lib/jquery-ui-1.10.0.custom.min.js"}
    %script{:src => "/javascripts/lib/bootstrap.js"}
    %script{:src => "/javascripts/lib/bootstrap-modalmanager.js"}
    %script{:src => "/javascripts/lib/bootstrap-modal.js"}
    %script{:src => "/javascripts/lib/jquery.dropkick-1.0.0.js"}
    %script{:src => "/javascripts/lib/jquery.outside-events.min.js"}
    %script{:src => "/javascripts/lib/jquery.dropkickOnShow.js"}
    %script{:src => "/javascripts/modules/_dropdowns.js"}
    %script{:src => "/javascripts/application.js"}
   
  %body
    #page_container
      .grid-container
        %header.l-header
          = partial :_topbar
          %h1.m-logo
            %a{:href => "/"}
              %img{:src => "/images/logo.png"}/
          %ul.m-navigation_search
            %li.m-navigation_search--item
              %form{action: '/search'}
                %a.icon-search{href: '/search'} search
                %input.m-input_search.dark{type: 'search', placeholder: 'search site'}
        .m-section#primary-navigation-section
          = partial :_nav_main
        #content.content
          .m-section
            .m-section--body
              .m-box.grid-5
                .m-box--header-bar
                  %h2.m-box--heading How to play
                .m-box--body
                  %ul.m-account-navigation
                    %li.m-account-navigation-item
                      %a.m-account-navigation-item--link{href: "/how-to-play/introduction", class: request.path_info.include?("/how-to-play/introduction") ? 'active' : nil} Introduction
                    %li.m-account-navigation-item
                      %a.m-account-navigation-item--link{href: "/how-to-play/pick-team", class: request.path_info.include?("/how-to-play/pick-team") ? 'active' : nil} Pick Team
                    %li.m-account-navigation-item
                      %a.m-account-navigation-item--link{href: "/how-to-play/enter-games", class: request.path_info.include?("/how-to-play/enter-games") ? 'active' : nil} Enter games
                    %li.m-account-navigation-item
                      %a.m-account-navigation-item--link{href: "/how-to-play/live-matchday", class: request.path_info.include?("/how-to-play/live-matchday") ? 'active' : nil} Live matchday
                    %li.m-account-navigation-item
                      %a.m-account-navigation-item--link{href: "/how-to-play/results", class: request.path_info.include?("/how-to-play/results") ? 'active' : nil} Results
                    %li.m-account-navigation-item
                      %a.m-account-navigation-item--link{href: "/how-to-play/rewards", class: request.path_info.include?("/how-to-play/rewards") ? 'active' : nil} Rewards
                    %li.m-account-navigation-item
                      %a.m-account-navigation-item--link{href: "/how-to-play/scoring-matrix", class: request.path_info.include?("/how-to-play/scoring-matrix") ? 'active' : nil} Scoring Matrix
                    %li.m-account-navigation-item
                      %a.m-account-navigation-item--link{href: "/how-to-play/contact-us", class: request.path_info.include?("/how-to-play/contact-us") ? 'active' : nil} Contact us

              .m-box.grid-10

                = yield

    = partial :_footer
    = partial :_invite_to_site_modal
