@import 'grid-coordinates';
@import '../base/clearfix';
/* variables for grid-coordinates Compass extension. */

$grid-columns:      16;
$grid-width:        40px; // sets the grid column widths
$grid-gutter-width: 20px; // the gutter between columns

@include grid-coordinates;

.grid-prefix-half {
  margin-left: 40px;
}

.grid-7-and-half {
  @extend .grid-7;
  width: 430px;
}

.grid-half {
  @extend .grid-7;
  width: 435px;
}

.grid-whole {
  @extend .grid-15;
  width: 890px;
}

.grid-9-and-half {
  @extend .grid-9;
  width: 530px;
}

.grid-3-and-half {
  @extend .grid-3;
  width: 180px;
}

.grid-2-9 {
  @extend .grid-2;
  width: 150px;
}

.pull-right {
  float: right;
}

.align-right {
  text-align: right;
}

.anchor-right {
  float: right;
  text-align: right;
}

// extend into both outer gutters
// for a full-width within the grid - use grid-full
/*
.grid-full-extend {
  width: ($grid-width * $grid-columns) + ($grid-gutter-width * $grid-columns);
  margin-left: -($grid-gutter-width / 2);
}
*/
// I think .grid-nested-container should work here.

// pull-left by half the gutter, for use to move things into the outer margins

.grid-pull-left-half {
  margin-left: -($grid-gutter-width / 2);
}

.grid-push-left-to-fill {
  margin-left: 25px !important;
}

.grid-push-right-to-fill {
  margin-right: 25px !important;
}

// pull right by half the gutter, for use to move things into the outer margins

.grid-pull-right-half {
  margin-right: -($grid-gutter-width / 2);
}

.l-header {
  @extend %clearfix;
  position: relative;
  height: 135px;
}

.grid-more-info-large {
  @extend .grid-7;
  width: 425px;
 } 


#primary-navigation-section {
  margin-top: 0px;
}
