#add_my_club_modal.modal.m-modal.m-modal_sign-up.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
  .m-modal--header-bar
    %img{src: "/images/modal-header.png"}
  .m-modal-body
    %h1.m-header-bar--heading Add my club
    .m-flash-notice
    %p.m-modal--encouragement 
      Can't find your club? 
      %br/
      Let us know and we'll add it for you.
    %form.m-form
      .m-form-element
        %label.m-label
          Name
          %abbr.m-label--required{:title => "required"} *
        %input.m-input_text{name: 'name', type: 'text'}

      .m-form-element
        %label.m-label
          Email
          %abbr.m-label--required{:title => "required"} *
        %input.m-input_text{name: 'email', type: 'text'}
      .m-form-element
        %label.m-label
          Club Name
          %abbr.m-label--required{:title => "required"} *
        %input.m-input_text{name: 'club_name', type: 'text'}

      .m-form-actions
        .m-form-actions--next
          %a.m-button{href: "#"} Add my club
      
  .m-modal--footer_gambling
    %img{src: "/images/sign-up-footer.png"}

