#chat.m-chat
  %h1.m-chat--heading The Big One Multiplayer Game
  %a.icon-close{href: '#'}
  .m-chat-conversation
    .m-chat-comment
      %img.m-chat-comment--avatar{src: "/images/adam-carroll.jpg"}
      .m-chat-comment--body
        %span.m-chat-comment--user-name Adam Carroll
        .m-chat-comment--text
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        %span.m-chat-comment--time
          4 minutes ago
    .m-chat-comment
      %img.m-chat-comment--avatar{src: "/images/adam-carroll.jpg"}
      .m-chat-comment--body
        %span.m-chat-comment--user-name Tom Stevens
        .m-chat-comment--text
          %p Lorem ipsum dolor sit amet, consectetur adip Fusce dolor nibh, pretium nec pharetra quis, scelerisque vitae quam.
        %span.m-chat-comment--time
          4 minutes ago
    .m-chat-comment
      %img.m-chat-comment--avatar{src: "/images/adam-carroll.jpg"}
      .m-chat-comment--body
        %span.m-chat-comment--user-name Luke Carroll
        .m-chat-comment--text
          %p Etiam volutpat ullamcorper libero ut sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus eget nisl dapibus, dignissim velit non, suscipit arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus!
          
        %span.m-chat-comment--time
          4 minutes ago
    .m-chat-comment
      %img.m-chat-comment--avatar{src: "/images/adam-carroll.jpg"}
      .m-chat-comment--body
        %span.m-chat-comment--user-name Adam Carroll
        .m-chat-comment--text
          %p Fusce dolor nibh, pretium nec pharetra quis, scelerisque vitae quam.
          
        %span.m-chat-comment--time
          4 minutes ago
  .m-chat-reply
    %input.m-input_text{type: "text", name: "reply", placeholder: "Type your reply here"}
    %button.m-button.small{type: "submit", value: "Send"} Send
