.m-box.grid-9-and-half.grid-pull-left-half
  .m-box--header-bar
    %h1.m-box--heading All clubs

  .m-box--body
    .m-form-search-and-filter
      %input.m-input_search{type:"text", name:"first_name", class:"text", placeholder:"search by name..."}
      #dropkick-filters.m-filters--container
        %label.m-label
          filter
        %select#player_select.dropkick{name:"filter_transactions"}
          %option ambassadors
        %a.m-link{href: "#"} clear filters
    %table.m-table_inline.m-table_clubs
      %thead.m-table--header
        %tr
          %th.club-column club
          %th.country-column country
          %th.fans-column fans
          %th.contacts-column contacts
          %th.cup-column cup
          %th.position-column lot pos
          %th.action-column view
          %th.scrollbar-column &nbsp;
      %tbody.m-table--body
        %tr
          %td.club-column
            %i.jersey-small-southampton.m-jersey_small
            %a{href:"#"} Southampton
          %td.country-column
            %i.icon-flag-england
          %td.fans-column 1,200
          %td.contacts-column 5
          %td.cup-column 
          %td.position-column D1 P20
          %td.action-column
            %a.m-button_table{href:"#"} View
          %td.scrollbar-column &nbsp;
        %tr
          %td.club-column
            %i.jersey-small-southampton.m-jersey_small
            %a{href:"#"} Southampton
          %td.country-column
            %i.icon-flag-england
          %td.fans-column 1,200
          %td.contacts-column 5
          %td.cup-column 
          %td.position-column D1 P20
          %td.action-column
            %a.m-button_table{href:"#"} View
          %td.scrollbar-column &nbsp;
        %tr
          %td.club-column
            %i.jersey-small-southampton.m-jersey_small
            %a{href:"#"} Southampton
          %td.country-column
            %i.icon-flag-england
          %td.fans-column 1,200
          %td.contacts-column 5
          %td.cup-column 
          %td.position-column D1 P20
          %td.action-column
            %a.m-button_table{href:"#"} View
          %td.scrollbar-column &nbsp;
        %tr
          %td.club-column
            %i.jersey-small-southampton.m-jersey_small
            %a{href:"#"} Southampton
          %td.country-column
            %i.icon-flag-england
          %td.fans-column 1,200
          %td.contacts-column 5
          %td.cup-column 
          %td.position-column D1 P20
          %td.action-column
            %a.m-button_table{href:"#"} View
          %td.scrollbar-column &nbsp;
        %tr
          %td.club-column
            %i.jersey-small-southampton.m-jersey_small
            %a{href:"#"} Southampton
          %td.country-column
            %i.icon-flag-england
          %td.fans-column 1,200
          %td.contacts-column 5
          %td.cup-column 
          %td.position-column D1 P20
          %td.action-column
            %a.m-button_table{href:"#"} View
          %td.scrollbar-column &nbsp;
        %tr
          %td.club-column
            %i.jersey-small-southampton.m-jersey_small
            %a{href:"#"} Southampton
          %td.country-column
            %i.icon-flag-england
          %td.fans-column 1,200
          %td.contacts-column 5
          %td.cup-column 
          %td.position-column D1 P20
          %td.action-column
            %a.m-button_table{href:"#"} View
          %td.scrollbar-column &nbsp;
        %tr
          %td.club-column
            %i.jersey-small-southampton.m-jersey_small
            %a{href:"#"} Southampton
          %td.country-column
            %i.icon-flag-england
          %td.fans-column 1,200
          %td.contacts-column 5
          %td.cup-column 
          %td.position-column D1 P20
          %td.action-column
            %a.m-button_table{href:"#"} View
          %td.scrollbar-column &nbsp;
        %tr
          %td.club-column
            %i.jersey-small-southampton.m-jersey_small
            %a{href:"#"} Southampton
          %td.country-column
            %i.icon-flag-england
          %td.fans-column 1,200
          %td.contacts-column 5
          %td.cup-column 
          %td.position-column D1 P20
          %td.action-column
            %a.m-button_table{href:"#"} View
          %td.scrollbar-column &nbsp;
        %tr
          %td.club-column
            %i.jersey-small-southampton.m-jersey_small
            %a{href:"#"} Southampton
          %td.country-column
            %i.icon-flag-england
          %td.fans-column 1,200
          %td.contacts-column 5
          %td.cup-column 
          %td.position-column D1 P20
          %td.action-column
            %a.m-button_table{href:"#"} View
          %td.scrollbar-column &nbsp;
        %tr
          %td.club-column
            %i.jersey-small-southampton.m-jersey_small
            %a{href:"#"} Southampton
          %td.country-column
            %i.icon-flag-england
          %td.fans-column 1,200
          %td.contacts-column 5
          %td.cup-column 
          %td.position-column D1 P20
          %td.action-column
            %a.m-button_table{href:"#"} View
          %td.scrollbar-column &nbsp;
        %tr
          %td.club-column
            %i.jersey-small-southampton.m-jersey_small
            %a{href:"#"} Southampton
          %td.country-column
            %i.icon-flag-england
          %td.fans-column 1,200
          %td.contacts-column 5
          %td.cup-column 
          %td.position-column D1 P20
          %td.action-column
            %a.m-button_table{href:"#"} View
          %td.scrollbar-column &nbsp;
  .m-box--footer
    %p.m-action-encouragement Your club not listed?
    %a.m-button.right{href: "#"} Add my club
.m-box.grid-6.m-box_league-of-titans-standings
  %img{src: "/images/league-of-titans-header.png"}
  .m-box--header-bar_small
    %h2.m-box--heading_small Represent Your Club
    %a.m-form--help{href: "/how-to-play/enter-games"} more info
  .m-box--body
    %ul.m-tab-navigation_titans-standings
      %li.m-tab-navigation_titans-standings--tab.active
        %a.m-tab-navigation_titans-standings--link{"data-toggle" => "tab", href: "#division-1"} Division 1
      %li.m-tab-navigation_titans-standings--tab
        %a.m-tab-navigation_titans-standings--link{"data-toggle" => "tab", href: "#division-2"} Division 2
      %li.m-tab-navigation_titans-standings--tab
        %a.m-tab-navigation_titans-standings--link{"data-toggle" => "tab", href: "#division-3"} Division 3
    .m-tab-pane#division-1.active
      %table.m-table_inline.m-table_league-of-titans
        %thead.m-table--header
          %tr
            %th.position-column Pos
            %th.club-column Club
            %th.titan-column Titan
            %th.points-column Points
        %tbody.m-table--body
          %tr
            %td.position-column 1
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 2
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 3
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 4
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 5
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 6
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 7
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 8
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 9
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 10
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 11
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 12
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 13
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 14
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 15
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 16
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 17
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 18
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 19
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 20
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
    .m-tab-pane#division-2
      %table.m-table_inline.m-table_league-of-titans
        %thead.m-table--header
          %tr
            %th.position-column Pos
            %th.club-column Club
            %th.titan-column Titan
            %th.points-column Points
        %tbody.m-table--body
          %tr
            %td.position-column 1
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 2
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 3
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 4
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 5
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 6
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 7
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 8
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 9
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 10
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 11
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 12
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 13
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 14
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 15
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 16
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 17
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 18
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 19
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 20
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
    .m-tab-pane#division-3
      %table.m-table_inline.m-table_league-of-titans
        %thead.m-table--header
          %tr
            %th.position-column Pos
            %th.club-column Club
            %th.titan-column Titan
            %th.points-column Points
        %tbody.m-table--body
          %tr
            %td.position-column 1
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 2
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 3
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 4
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 5
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 6
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 7
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 8
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 9
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 10
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 11
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 12
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 13
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 14
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 15
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 16
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 17
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 18
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 19
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 20
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
