#compare_list_modal.modal.m-modal_compare-list.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
  .m-header-bar
    %h1.m-header-bar--heading The Big One Multiplayer Game
  .m-modal_multiplayer--body
    .m-modal_compare-list--buttons
      %a.m-button#view_pitch_button Compare Pitch View
      %span.m-button.back_to_details_button Back to details
    .m-leaderboard-summary
      .m-leaderboard-summary--detail
        %dl
          %dt Current Leader:
          %dd David Pacheo
        %span.m-amount.total 11,425 PTS
      .m-leaderboard-summary--detail
        %dl
          %dt My Current Rank:
          %dd 4th
        %span.m-amount.total 10,810 PTS
    %table.m-table_inline.m-table_team-comparison#team_comparison_table
      %thead.m-table--header
        %tr.label-row
          %th.team-column My Team
          %th.vs-column Vs
          %th.team-column Gareth Southgate
        %tr.statistics-row
          %th.team-column
            .m-amount.total
              %span.points 10,810 points 
              %span.rank Rank: 4
            %dl.team-summary
              %dt Goals:
              %dd 05
              %dt Shots on Target:
              %dd 12
              %dt Assists:
              %dd 03
              %dt Yet to play:
              %dd 04
          %th.vs-column &nbsp;
          %th.team-column
            .m-amount.total
              %span.points 10,475 points 
              %span.rank Rank: 6
            %dl.team-summary
              %dt Goals:
              %dd 02
              %dt Shots on Target:
              %dd 12
              %dt Assists:
              %dd 14
              %dt Yet to play:
              %dd 4
      %tbody.m-table--body
        %tr
          %td.team-column.column-container
            %table
              %tbody.m-table--body
                %tr.odd
                  %td.info-column
                    %a.icon-info{href:"#"}
                  %td.points-column
                    0 pts
                  %td.my-team-name-column
                    %a{href: "#"} Almunia
                  %td.my-team-jersey-column
                    %i.jersey-thumb-arsenal.m-jersey_fixture
                  %td.status-column.yet-to-play
                    &nbsp;
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.my-team
                      %tr.m-player-summary--status-row
                        %td.info-column &nbsp;
                        %td.m-player-summary--status.yet-to-play{colspan: 3} Yet to Play
                        %td.status-column.yet-to-play &nbsp;
                %tr.even
                  %td.info-column
                    %a.icon-info{href:"#"}
                  %td.points-column
                    0 pts
                  %td.my-team-name-column
                    %a{href: "#"} Carragher
                  %td.my-team-jersey-column
                    %i.jersey-thumb-liverpool.m-jersey_fixture
                  %td.status-column.yet-to-play
                    &nbsp;
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.my-team
                      %tr.m-player-summary--status-row
                        %td.info-column &nbsp;
                        %td.m-player-summary--status.yet-to-play{colspan: 3} Yet to Play
                        %td.status-column.yet-to-play &nbsp;
                %tr.odd
                  %td.info-column
                    %a.icon-info{href:"#"}
                  %td.points-column
                    800 pts
                  %td.my-team-name-column
                    %a{href: "#"} Evra
                  %td.my-team-jersey-column
                    %i.jersey-thumb-manchester-united.m-jersey_fixture
                  %td.status-column.played
                    &nbsp;
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.my-team
                      %tr.m-player-summary--status-row
                        %td.info-column &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} played
                        %td.status-column.played &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 450 pts
                        %td.event-column{colspan: 2} Mins Played: 90
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 400 pts
                        %td.event-column{colspan: 2} Assists: 1
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 200 pts
                        %td.event-column{colspan: 2} Shots on Target: 1
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 100 pts
                        %td.event-column{colspan: 2} Clearances: 2
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 100 pts
                        %td.event-column{colspan: 2} Tackles: 4
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column -200 pts
                        %td.event-column{colspan: 2} Yellow Card: 1
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column -250 pts
                        %td.event-column{colspan: 2} Goals Conceded: 1
                        %td.status-column &nbsp;
                %tr.even
                  %td.info-column
                    %a.icon-info{href:"#"}
                  %td.points-column
                    450 pts
                  %td.my-team-name-column
                    %a{href: "#"} Bridge
                  %td.my-team-jersey-column
                    %i.jersey-thumb-manchester-city.m-jersey_fixture
                  %td.status-column.played
                    &nbsp;
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.my-team
                      %tr.m-player-summary--status-row
                        %td.info-column &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} Played
                        %td.status-column.played &nbsp;

                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 450 pts
                        %td.event-column{colspan: 2} Mins Played: 90
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 150 pts
                        %td.event-column{colspan: 2} Clearances: 3
                        %td.status-column &nbsp;

                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 100 pts
                        %td.event-column{colspan: 2} Tackles: 4
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column -250 pts
                        %td.event-column{colspan: 2} Goals Conceded: 1
                        %td.status-column &nbsp;
                %tr.odd
                  %td.info-column
                    %a.icon-info{href:"#"}
                  %td.points-column
                    1325 pts
                  %td.my-team-name-column
                    %a{href: "#"} Kompany
                  %td.my-team-jersey-column
                    %i.jersey-thumb-manchester-city.m-jersey_fixture
                  %td.status-column.played
                    &nbsp;
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.my-team
                      %tr.m-player-summary--status-row
                        %td.info-column &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} Played
                        %td.status-column.played &nbsp;

                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 1,000 pts
                        %td.event-column{colspan: 2} Goals: 1
                        %td.status-column &nbsp;

                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 450 pts
                        %td.event-column{colspan: 2} Mins Played: 90
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 200 pts
                        %td.event-column{colspan: 2} Shots on Target: 1
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 125 pts
                        %td.event-column{colspan: 2} Tackles: 5
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column -200 pts
                        %td.event-column{colspan: 2} Yellow Cards: 1
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column -250 pts
                        %td.event-column{colspan: 2} Goals Conceded: 1
                        %td.status-column &nbsp;
                %tr.even
                  %td.info-column
                    %a.icon-info{href:"#"}
                  %td.points-column
                    2525 pts
                  %td.my-team-name-column
                    %a{href: "#"} Mata
                  %td.my-team-jersey-column
                    %i.jersey-thumb-chelsea.m-jersey_fixture
                  %td.status-column.played
                    &nbsp;
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.my-team
                      %tr.m-player-summary--status-row
                        %td.info-column &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} Played
                        %td.status-column.played &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 1000 pts
                        %td.event-column{colspan: 2} Goals: 1
                        %td.status-column &nbsp;

                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 450 pts
                        %td.event-column{colspan: 2} Mins Played: 90
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 400 pts
                        %td.event-column{colspan: 2} Shots on Target: 2
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 400 pts
                        %td.event-column{colspan: 2} Assists: 1
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 200 pts
                        %td.event-column{colspan: 2} Interceptions: 4
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 75 pts
                        %td.event-column{colspan: 2} Tackles: 3
                        %td.status-column &nbsp;
                %tr.odd
                  %td.info-column
                    %a.icon-info{href:"#"}
                  %td.points-column
                    0 pts
                  %td.my-team-name-column
                    %a{href: "#"} Garvan
                  %td.my-team-jersey-column
                    %i.jersey-thumb-crystal-palace.m-jersey_fixture
                  %td.status-column.yet-to-play
                    &nbsp;
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.my-team
                      %tr.m-player-summary--status-row
                        %td.info-column &nbsp;
                        %td.m-player-summary--status.yet-to-play{colspan: 3} yet to play
                        %td.status-column.yet-to-play &nbsp;
                %tr.even
                  %td.info-column
                    %a.icon-info{href:"#"}
                  %td.points-column
                    1135 pts
                  %td.my-team-name-column
                    %a{href: "#"} Sessegnon
                  %td.my-team-jersey-column
                    %i.jersey-thumb-sunderland.m-jersey_fixture
                  %td.status-column.played
                    &nbsp;
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.my-team
                      %tr.m-player-summary--status-row
                        %td.info-column &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} Played
                        %td.status-column.played &nbsp;

                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 600 pts
                        %td.event-column{colspan: 2} Shots on Target: 3
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 410 pts
                        %td.event-column{colspan: 2} Mins Played: 82
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 75 pts
                        %td.event-column{colspan: 2} Tackles: 3
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 50 pts
                        %td.event-column{colspan: 2} Interceptions: 1
                        %td.status-column &nbsp;
                %tr.odd
                  %td.info-column
                    %a.icon-info{href:"#"}
                  %td.points-column
                    0 pts
                  %td.my-team-name-column
                    %a{href: "#"} Bigirimana
                  %td.my-team-jersey-column
                    %i.jersey-thumb-newcastle-united.m-jersey_fixture
                  %td.status-column.yet-to-play
                    &nbsp;
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.my-team
                      %tr.m-player-summary--status-row
                        %td.info-column &nbsp;
                        %td.m-player-summary--status.yet-to-play{colspan: 3} yet to play
                        %td.status-column.yet-to-play &nbsp;
                %tr.even
                  %td.info-column
                    %a.icon-info{href:"#"}
                  %td.points-column
                    4835 pts
                  %td.my-team-name-column
                    %a{href: "#"} Benteke
                  %td.my-team-jersey-column
                    %i.jersey-thumb-asto-villa.m-jersey_fixture
                  %td.status-column.played
                    &nbsp;
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.my-team
                      %tr.m-player-summary--status-row
                        %td.info-column &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} Played
                        %td.status-column.played &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 3000 pts
                        %td.event-column{colspan: 2} Goals: 3
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 1000 pts
                        %td.event-column{colspan: 2} Shots on Target: 5
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 435 pts
                        %td.event-column{colspan: 2} Mins Played: 87
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 400 pts
                        %td.event-column{colspan: 2} Assists: 1
                        %td.status-column &nbsp;
                %tr
                  %td.info-column
                    %a.icon-info{href:"#"}
                  %td.points-column -260 pts
                  %td.my-team-name-column
                    %a{href: "#"} Odemwingie
                  %td.my-team-jersey-column
                    %i.jersey-thumb-west-bromwich-albion.m-jersey_fixture
                  %td.status-column.played &nbsp;
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.my-team
                      %tr.m-player-summary--status-row
                        %td.info-column &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} Played
                        %td.status-column.played &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 215 pts
                        %td.event-column{colspan: 2} Mins Played: 43
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column 25 pts
                        %td.event-column{colspan: 2} Tackles: 1
                        %td.status-column &nbsp;
                      %tr
                        %td.info-column &nbsp;
                        %td.points-column -500 pts
                        %td.event-column{colspan: 2} Red Cards: 1
                        %td.status-column &nbsp;
          %td.vs-column.column-container
            %table
              %tr
                %th{span: "row"}
              %tr
                %th{span: "row"}
              %tr
                %th{span: "row"}
              %tr
                %th{span: "row"}
              %tr
                %th{span: "row"}
              %tr
                %th{span: "row"}
              %tr
                %th{span: "row"}
              %tr
                %th{span: "row"}
              %tr
                %th{span: "row"}
              %tr
                %th{span: "row"}
              %tr
                %th{span: "row"}
          %td.team-column.column-container
            %table
              %tbody.m-table--body
                %tr.odd
                  %td.status-column.played
                    &nbsp;
                  %td.opponent-jersey-column
                    %i.jersey-thumb-stoke-city.m-jersey_fixture
                  %td.opponent-name-column
                    %a{href: "#"} Begovic
                  %td.points-column
                    150 pts
                  %td.info-column
                    %a.icon-info{href:"#"}
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.opponent
                      %tr.m-player-summary--status-row
                        %td.status-column.played &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} Played
                        %td.info-column &nbsp;

                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Clean Sheet: 1
                        %td.points-column 500pts
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Saves: 4
                        %td.points-column 400pts
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Mins Played: 90
                        %td.points-column 450 pts
                        %td.info-column &nbsp;
                %tr.even
                  %td.status-column.played
                    &nbsp;
                  %td.opponent-jersey-column
                    %i.jersey-thumb-stoke-city.m-jersey_fixture
                  %td.opponent-name-column
                    %a{href: "#"} Huth
                  %td.points-column
                    650 pts
                  %td.info-column
                    %a.icon-info{href:"#"}
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.opponent
                      %tr.m-player-summary--status-row
                        %td.status-column.played &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} Played
                        %td.info-column &nbsp;

                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Clean Sheet: 1
                        %td.points-column 500 pts
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Clearances: 4
                        %td.points-column 200 pts
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Tackles: 4
                        %td.points-column 100 pts
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Interceptions: 1
                        %td.points-column 50 pts
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Yellow Card: 1
                        %td.points-column -200 pts
                        %td.info-column &nbsp;
                %tr.odd
                  %td.status-column.yet-to-play
                    &nbsp;
                  %td.opponent-jersey-column
                    %i.jersey-thumb-norwich-city.m-jersey_fixture
                  %td.opponent-name-column
                    %a{href: "#"} Bassong
                  %td.points-column
                    0 pts
                  %td.info-column
                    %a.icon-info{href:"#"}
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.opponent
                      %tr.m-player-summary--status-row
                        %td.status-column.yet-to-play &nbsp;
                        %td.m-player-summary--status.yet-to-play{colspan: 3} yet to play
                        %td.info-column &nbsp;
                %tr.even
                  %td.status-column.played
                    &nbsp;
                  %td.opponent-jersey-column
                    %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
                  %td.opponent-name-column
                    %a{href: "#"} Vertonghen
                  %td.points-column
                    2300 pts
                  %td.info-column
                    %a.icon-info{href:"#"}
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.opponent
                      %tr.m-player-summary--status-row
                        %td.status-column.played &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} Played
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Goals: 1
                        %td.points-column 1000 pts
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Clean Sheets: 1
                        %td.points-column 500 pts
                        %td.info-column &nbsp;

                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Shots on Target: 2
                        %td.points-column 400 pts
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Clearances: 4
                        %td.points-column 200 pts
                        %td.info-column &nbsp;

                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Tackles: 8
                        %td.points-column 200 pts
                        %td.info-column &nbsp;
                %tr.odd
                  %td.status-column.yet-to-play
                    &nbsp;
                  %td.opponent-jersey-column
                    %i.jersey-thumb-queens-park-rangers.m-jersey_fixture
                  %td.opponent-name-column
                    %a{href: "#"} Nelsen
                  %td.points-column
                    0 pts
                  %td.info-column
                    %a.icon-info{href:"#"}
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.opponent
                      %tr.m-player-summary--status-row
                        %td.status-column.yet-to-play &nbsp;
                        %td.m-player-summary--status.yet-to-play{colspan: 3} yet to play
                        %td.info-column &nbsp;
                %tr.even
                  %td.status-column.played
                    &nbsp;
                  %td.opponent-jersey-column
                    %i.jersey-thumb-swansea-city.m-jersey_fixture
                  %td.opponent-name-column
                    %a{href: "#"} Michu
                  %td.points-column
                    575 pts
                  %td.info-column
                    %a.icon-info{href:"#"}
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.opponent
                      %tr.m-player-summary--status-row
                        %td.status-column.played &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} Played
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Shots on Target: 4
                        %td.points-column 800 pts
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Assists: 1
                        %td.points-column 400pts
                        %td.info-column &nbsp;
                %tr.odd
                  %td.status-column.yet-to-play
                    &nbsp;
                  %td.opponent-jersey-column
                    %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
                  %td.opponent-name-column
                    %a{href: "#"} Bale
                  %td.points-column
                    0 pts
                  %td.info-column
                    %a.icon-info{href:"#"}
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.opponent
                      %tr.m-player-summary--status-row
                        %td.status-column.yet-to-play &nbsp;
                        %td.m-player-summary--status.yet-to-play{colspan: 3} did not play
                        %td.info-column &nbsp;
                %tr.even
                  %td.status-column.played
                    &nbsp;
                  %td.opponent-jersey-column
                    %i.jersey-thumb-everton.m-jersey_fixture
                  %td.opponent-name-column
                    %a{href: "#"} Fellaini
                  %td.points-column
                    1425 pts
                  %td.info-column
                    %a.icon-info{href:"#"}
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.opponent
                      %tr.m-player-summary--status-row
                        %td.status-column.played &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} Played
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Goals: 1
                        %td.points-column 1000pts
                        %td.info-column &nbsp;

                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Assists: 1
                        %td.points-column 400pts
                        %td.info-column &nbsp;
                %tr.odd
                  %td.status-column.yet-to-play
                    &nbsp;
                  %td.opponent-jersey-column
                    %i.jersey-thumb-arsenal.m-jersey_fixture
                  %td.opponent-name-column
                    %a{href: "#"} Cazorla
                  %td.points-column
                    0 pts
                  %td.info-column
                    %a.icon-info{href:"#"}
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.opponent
                      %tr.m-player-summary--status-row
                        %td.status-column.yet-to-play &nbsp;
                        %td.m-player-summary--status.yet-to-play{colspan: 3} yet to play
                        %td.info-column &nbsp;
                %tr.even
                  %td.status-column.played
                    &nbsp;
                  %td.opponent-jersey-column
                    %i.jersey-thumb-manchester-united.m-jersey_fixture
                  %td.opponent-name-column
                    %a{href: "#"} Van Persie
                  %td.points-column
                    3650 pts
                  %td.info-column
                    %a.icon-info{href:"#"}
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.opponent
                      %tr.m-player-summary--status-row
                        %td.status-column.played &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} Played
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Goals: 2
                        %td.points-column 2000 pts
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Shots on Target: 4
                        %td.points-column 800 pts
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Mins Played: 90
                        %td.points-column 450 pts
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Assists: 1
                        %td.points-column 400 pts
                        %td.info-column &nbsp;

                %tr
                  %td.status-column.played
                    &nbsp;
                  %td.opponent-jersey-column
                    %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
                  %td.opponent-name-column
                    %a{href: "#"} Defoe
                  %td.points-column
                    1725 pts
                  %td.info-column
                    %a.icon-info{href:"#"}
                %tr.m-player-summary--container
                  %td{colspan: 5}
                    %table.m-player-summary.opponent
                      %tr.m-player-summary--status-row
                        %td.status-column.played &nbsp;
                        %td.m-player-summary--status.played{colspan: 3} Played
                        %td.info-column &nbsp;
                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Goals: 1
                        %td.points-column 1000 pts
                        %td.info-column &nbsp;

                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Assists: 1
                        %td.points-column 400pts
                        %td.info-column &nbsp;

                      %tr
                        %td.status-column &nbsp;
                        %td.event-column{colspan: 2} Mins Played: 65
                        %td.points-column 325 pts
                        %td.info-column &nbsp;
