#contact-us_modal.modal.m-modal_sign-up.hide.fade.new.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %span.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  .m-modal--header-bar
    %img{src: "/images/modal-header.png"}
  .m-modal-body
    %h1 Contact Us 
    %p.m-modal--encouragement If you have any questions or suggestions please get in touch.
    %form.m-form_modal{"accept-charset" => "UTF-8", :action => "/how_to_play?method=post", :method => "post"}
      %div{:style => "margin:0;padding:0;display:inline"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "2OA//HlN1Hr9gGFLgVueQH/lcF2WHtSAeeB/UUw99lY="}/
      %input#redirect{:name => "redirect", :type => "hidden", :value => "false"}/
      .m-form-element
        %label.m-label{:for => "name"} Name
        %input.field.m-input_text{:name => "name", :type => "text"}/
      .m-form-element
        %label.m-label{:for => "email"}
          email
          %abbr.m-label--required{:title => "required"} *
        %input.m-input_text{:name => "email", :type => "text"}/
      .m-form-element
        %label.m-label{:for => "suggestions"}
          Message
          %abbr.m-label--required{:title => "required"} *
        %textarea#suggestions.m-input_textarea{:cols => "33", :name => "suggestions", :rows => "5"}
      .m-form-element
        %input#send_feedback.m-button.right{:type => "submit", :value => "Send"}/
      .m-modal--footer
        %p Or reach us on:
        .icon
          %a.icon-twitter{href:"#"} Twitter
        .icon
          %a.icon-facebook{href:"#"} Facebook
        .icon
          %a.icon-contact-us{href:"#"} Email
