#create_multiplayer_game_deposit_modal.modal.m-modal_create-games.multiplayer.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
  .m-modal--header-bar
    %h1.m-header-bar--heading Create Multiplayer Game
  .m-modal--body
    %form.m-form
      %fieldset
        .m-form-section.game-name
          .m-form-element
            %label.m-label{:for => "slots"} Game Name:
            %input.m-input_text{:placeholder => "Enter game name", :name => "multiplayer[name]", :type => "text"}/
        .m-form-section
          %label.m-label.game-entry-label Game Entry:
          .entry-values
            .entry-values-inputs
              .m-value.m-modal_create-games-stake
                %label.m-value--label{:for => "stake"} Stake:
                %input.m-input_text{:name => "multiplayer[entry_fee]", :readonly => "readonly", :type => "text", :value => "£2.00"}/
              .m-value.m-modal_create-games-fee
                %label.m-value--label.fee{:for => "fee"} Fee:
                %input.m-input_text{:name => "multiplayer[fee]", :readonly => "readonly", :type => "text", :value => "£0.20"}/
            .slider-container.black
              .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
                %a.ui-slider-handle.ui-state-default.ui-corner-all{:href => "#", :style => "left: 22.22222222222222%;"}
        .m-form-section.game-type
          %label.m-label.game-type-label Game Type:
          .radios-inline
            .m-form-element
              .m-radio
                %input#switch-privacy_false{:checked => "checked", :name => "switch-privacy", :type => "radio", :value => "false"}/
                %label{:for => "switch-privacy_false"} 
              %label.m-label_radio{:for => "switch-privacy_false"} Private
            .m-form-element
              .m-radio
                %input#switch-privacy_true{:name => "switch-privacy", :type => "radio", :value => "true"}/
                %label{:for => "switch-privacy_true"} 
              %label.m-label_radio{:for => "switch-privacy_true"} Public
        .m-form-section.invites
          .m-form-element
            %label.m-label invites:
            .m-checkbox
              %input#invite_anyone{type: "checkbox", checked: "checked"}
              %label{for: "invite_anyone"}
            %label.m-label_checkbox{for: "invite_anyone"} Anyone can invite players to this game
              
        .m-form-section.prize-breakdown.last
          %label.m-label.prize-breakdown-label Prize breakdown:
          %a.m-form--help{href:"#payout_structure_modal", "data-toggle" => "modal"} more info
          .m-form-element
            .m-radio
              %input#takes-all{:name => "league[winner_takes_all]", :type => "radio", :value => "true"}/
              %label{:for => "takes-all"}
            %label.m-label_radio{:for => "takes-all"} Winner takes all
          .m-form-element
            .m-radio
              %input#split-pot{:checked => "checked", :name => "league[winner_takes_all]", :type => "radio", :value => "false"}/
              %label{:for => "split-pot"}
            %label.m-label_radio{:for => "split-pot"} 1st place 50%, 2nd place 30%, 3rd place 20%

        .m-error
          %i.icon-error
          %p.m-error--text
            You do not have sufficient funds in your account to enter this game. Please make a deposit:

        .m-modal_create-games-actions

          %a.m-button{href: "/account/deposit"} Deposit
          %span.cancel
            %a.m-link_muted{:href => "#", "data-dismiss" => "modal"}
              or Cancel
