#create_open_challenge_modal.modal.m-modal_create-games.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
  .m-modal--header-bar
    %h1.m-header-bar--heading Create Open Challenge
  .m-modal--body
    %p.m-modal_create-games--intro Create an open challenge that anyone can accept. Set your stake and the number of games you want to play for that stake below.
    %form.m-form
      %fieldset
        .m-form-section
          %label.m-label.game-entry-label Game Entry:
          .entry-values
            .entry-values-inputs
              .m-value.m-modal_create-games-stake
                %label.m-value--label{:for => "stake"} Stake:
                %input.m-input_text{:name => "challenge[entry_fee]", :readonly => "readonly", :type => "text", :value => "£2.00"}/
              .m-value.m-modal_create-games-fee
                %label.m-value--label.fee{:for => "fee"} Fee:
                %input.m-input_text{:name => "challenge[fee]", :readonly => "readonly", :type => "text", :value => "£0.20"}/
            .slider-container.black
              .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
                %a.ui-slider-handle.ui-state-default.ui-corner-all{:href => "#", :style => "left: 22.22222222222222%;"}
        .m-form-section.last
          .m-form-element
            %label.m-label{:for => "slots"} Number of open challenges you want to create:
            %input.m-input_text{:name => "challenge[slots]", :type => "number", :value => "1"}/
          .m-form-element
            %label.m-label.total{:for => "total"} Total cost:
            %input.m-input_text{:name => "challenge[total]", :readonly => "readonly", :type => "text", :value => "£2.20"}/
        .m-modal_create-games-actions
          %input.m-button{:type => "submit", :value => "Create open challenge"}/
          %span.cancel
            %a.m-link_muted{:href => "#", "data-dismiss" => "modal"}
              or Cancel
