.grid-5.m-box_small.no-margin-left
  .m-box--header-bar
    %h2.m-box--heading_small Declined Challenges
  .m-box--body
    %table.m-table_inline.m-table_scrollable.m-table_game-summary
      %thead.m-table--header
        %tr
          %th.name-column Name
          %th.entry-column Entry
          %th.pot-column Pot
          %th.scrollbar-column &nbsp;
      %tbody.m-table--body
        %tr
          %td.name-column
            .name-column--row
              %span.name Lucy - PlayON Team
              %i.icon-chat.icon-chat-active
            .m-table--my-teams.name-column--row
              %label My Teams:
              %i.icon-team.icon-team-1
              %i.icon-team.icon-team-2
              %i.icon-team.icon-team-3
          %td.entry-column £2.20
          %td.pot-column £4.00
          %td.scrollbar-column &nbsp;
        %tr
          %td.name-column
            .name-column--row
              %span.name Lucy - PlayON Team
              %i.icon-chat.icon-chat-active
            .m-table--my-teams.name-column--row
              %label My Teams:
              %i.icon-team.icon-team-1
              %i.icon-team.icon-team-2
              %i.icon-team.icon-team-3
          %td.entry-column £2.20
          %td.pot-column £4.00
          %td.scrollbar-column &nbsp;
        %tr
          %td.name-column
            .name-column--row
              %span.name Lucy - PlayON Team
              %i.icon-chat.icon-chat-active
            .m-table--my-teams.name-column--row
              %label My Teams:
              %i.icon-team.icon-team-1
              %i.icon-team.icon-team-2
              %i.icon-team.icon-team-3
          %td.entry-column £2.20
          %td.pot-column £4.00
          %td.scrollbar-column &nbsp;
        %tr
          %td.name-column
            .name-column--row
              %span.name Robbie Fowler
              %i.icon-chat.icon-chat-active
              %i.icon-ambassador
            .m-table--my-teams.name-column--row
              %label My Teams:
              %i.icon-team.icon-team-1
              %i.icon-team.icon-team-2
              %i.icon-team.icon-team-3
          %td.entry-column £2.20
          %td.pot-column £4.00
          %td.scrollbar-column &nbsp;
        %tr
          %td.name-column
            .name-column--row
              %span.name Lucy - PlayON Team
              %i.icon-chat.icon-chat-active
            .m-table--my-teams.name-column--row
              %label My Teams:
              %i.icon-team.icon-team-1
              %i.icon-team.icon-team-2
              %i.icon-team.icon-team-3
          %td.entry-column £2.20
          %td.pot-column £4.00
          %td.scrollbar-column &nbsp;
        %tr
          %td.name-column
            .name-column--row
              %span.name Lucy - PlayON Team
              %i.icon-chat.icon-chat-active
            .m-table--my-teams.name-column--row
              %label My Teams:
              %i.icon-team.icon-team-1
              %i.icon-team.icon-team-2
              %i.icon-team.icon-team-3
          %td.entry-column £2.20
          %td.pot-column £4.00
          %td.scrollbar-column &nbsp;
        %tr
          %td.name-column
            .name-column--row
              %span.name Lucy - PlayON Team
              %i.icon-chat.icon-chat-active
            .m-table--my-teams.name-column--row
              %label My Teams:
              %i.icon-team.icon-team-1
              %i.icon-team.icon-team-2
              %i.icon-team.icon-team-3
          %td.entry-column £2.20
          %td.pot-column £4.00
          %td.scrollbar-column &nbsp;
