#demo_modal.modal.m-modal_sign-up.hide.fade.new.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %span.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  .m-modal--header-bar
    %img{src: "/images/modal-header.png"}
  .m-modal-mbody
    %h1 Thank you for viewing our design testing site 
    #sign_up_form.new-session-form
      %p.m-modal--encouragement 
        Sign up is live at 
        %a{href: "http://www.playon.co.uk"} playon.co.uk 
        now

  .m-modal--footer_gambling
    %img{src: "/images/sign-up-footer.png"}
