.grid-10
  .m-header-bar_small.solo
    %h1.m-header-bar--heading Les Ferdinand
  .m-profile_ambassador--details.ferdinand
    %dl.m-profile-stats
      %dt.m-profile-record--label
        %abbr{:title => "Played"} P
      %dd 10
      |
      %dt.m-profile-record--label
        %abbr{:title => "Won"} W
      %dd 5
      |
      %dt.m-profile-record--label
        %abbr{:title => "Lost"} L
      %dd 5
