%table.m-table_inline.m-table_fixtures
  %thead.m-table--header
    %tr
      %th.m-table_fixtures--date-column &nbsp;
      %th.m-table_fixtures--home-jersey-column &nbsp;
      %th.m-table_fixtures--fixture-column{:colspan => "3"} Gameweek 25: Jan 10 - 17
      %th.m-table_fixtures--away-jersey-column &nbsp;
  %tbody.m-table--body
    %tr
      %td.m-table_fixtures--date-column
        Sun 19th May  17:00
      %td.m-table_fixtures--home-jersey-column
        %i.jersey-thumb-wigan-athletic.m-jersey_fixture
      %td.m-table_fixtures--home-team-column
        Wigan
      %td.m-table_fixtures--vs-column
        V
      %td.m-table_fixtures--away-team-column
        Aston Villa
      %td.m-table_fixtures--away-jersey-column
        %i.jersey-thumb-aston-villa.m-jersey_fixture
    %tr
      %td.m-table_fixtures--date-column
        Sun 19th May  17:00
      %td.m-table_fixtures--home-jersey-column
        %i.jersey-thumb-manchester-city.m-jersey_fixture
      %td.m-table_fixtures--home-team-column
        Man. City
      %td.m-table_fixtures--vs-column
        V
      %td.m-table_fixtures--away-team-column
        Norwich
      %td.m-table_fixtures--away-jersey-column
        %i.jersey-thumb-norwich-city.m-jersey_fixture
    %tr
      %td.m-table_fixtures--date-column
        Sun 19th May  17:00
      %td.m-table_fixtures--home-jersey-column
        %i.jersey-thumb-west-ham-united.m-jersey_fixture
      %td.m-table_fixtures--home-team-column
        West Ham
      %td.m-table_fixtures--vs-column
        V
      %td.m-table_fixtures--away-team-column
        Reading
      %td.m-table_fixtures--away-jersey-column
        %i.jersey-thumb-reading.m-jersey_fixture
    %tr
      %td.m-table_fixtures--date-column
        Sun 19th May  17:00
      %td.m-table_fixtures--home-jersey-column
        %i.jersey-thumb-liverpool.m-jersey_fixture
      %td.m-table_fixtures--home-team-column
        Liverpool
      %td.m-table_fixtures--vs-column
        V
      %td.m-table_fixtures--away-team-column
        Q.P.R
      %td.m-table_fixtures--away-jersey-column
        %i.jersey-thumb-queens-park-rangers.m-jersey_fixture
    %tr
      %td.m-table_fixtures--date-column
        Sun 19th May  17:00
      %td.m-table_fixtures--home-jersey-column
        %i.jersey-thumb-chelsea.m-jersey_fixture
      %td.m-table_fixtures--home-team-column
        Chelsea
      %td.m-table_fixtures--vs-column
        V
      %td.m-table_fixtures--away-team-column
        Everton
      %td.m-table_fixtures--away-jersey-column
        %i.jersey-thumb-everton.m-jersey_fixture
    %tr
      %td.m-table_fixtures--date-column
        Sun 19th May  17:00
      %td.m-table_fixtures--home-jersey-column
        %i.jersey-thumb-west-bromwich-albion.m-jersey_fixture
      %td.m-table_fixtures--home-team-column
        W.B.A
      %td.m-table_fixtures--vs-column
        V
      %td.m-table_fixtures--away-team-column
        Man. Utd
      %td.m-table_fixtures--away-jersey-column
        %i.jersey-thumb-manchester-united.m-jersey_fixture
    %tr
      %td.m-table_fixtures--date-column
        Sun 19th May  17:00
      %td.m-table_fixtures--home-jersey-column
        %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
      %td.m-table_fixtures--home-team-column
        Tottenham
      %td.m-table_fixtures--vs-column
        V
      %td.m-table_fixtures--away-team-column
        Sunderland
      %td.m-table_fixtures--away-jersey-column
        %i.jersey-thumb-sunderland.m-jersey_fixture
    %tr
      %td.m-table_fixtures--date-column
        Sun 19th May  17:00
      %td.m-table_fixtures--home-jersey-column
        %i.jersey-thumb-swansea-city.m-jersey_fixture
      %td.m-table_fixtures--home-team-column
        Swansea
      %td.m-table_fixtures--vs-column
        V
      %td.m-table_fixtures--away-team-column
        Fulham
      %td.m-table_fixtures--away-jersey-column
        %i.jersey-thumb-fulham.m-jersey_fixture
    %tr
      %td.m-table_fixtures--date-column
        Sun 19th May  17:00
      %td.m-table_fixtures--home-jersey-column
        %i.jersey-thumb-southampton.m-jersey_fixture
      %td.m-table_fixtures--home-team-column
        Southampton
      %td.m-table_fixtures--vs-column
        V
      %td.m-table_fixtures--away-team-column
        Stoke
      %td.m-table_fixtures--away-jersey-column
        %i.jersey-thumb-stoke-city.m-jersey_fixture
    %tr
      %td.m-table_fixtures--date-column
        Sun 19th May  17:00
      %td.m-table_fixtures--home-jersey-column
        %i.jersey-thumb-newcastle-united.m-jersey_fixture
      %td.m-table_fixtures--home-team-column
        Newcastle
      %td.m-table_fixtures--vs-column
        V
      %td.m-table_fixtures--away-team-column
        Arsenal
      %td.m-table_fixtures--away-jersey-column
        %i.jersey-thumb-arsenal.m-jersey_fixture
%a.m-fixtures--link.left{href: "#gameweek-24"} &lt;&nbsp; Gameweek 24
%a.m-fixtures--link.right{href: "#gameweek-26"} Gameweek 26 &nbsp;&gt; 
