.footer-container
  %footer.m-footer.grid-container
    .grid-4
      %img{src: '/images/footer-logo.png'}
      %ul.social-media-icons
        %li.m-footer-menu--item
          %a.icon-twitter{:href=> "http://www.twitter.com/PlayON"} Twitter
          %a.icon-facebook{:href=> "http://www.facebook.com/PlayON"} Facebook
     
    .grid-4
      %h3.m-footer--heading About PlayOn
      %ul.m-footer-menu
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/about"} About Us
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "#contact-us_modal", "data-toggle" => "modal"} Contact Us
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/responsible-gaming"} Responsible Gaming
        %li.m-footer-menu--item
          %a.m-footer-menu--link{href: "/terms-and-conditions"} Terms &amp; Conditions
        %li.m-footer-menu--item
          %a.m-footer-menu--link{href: "/privacy-policy"} Privacy Policy
    
    .grid-4
      %h3.m-footer--heading The Game
      %ul.m-footer-menu
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => '/how-to-play/introduction' } How To Play
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/game-rules"} Game Rules
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/scoring-matrix"} Scoring Matrix
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/payout-structure"} Payout Structure
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/leaderboard"} Top 5 Leaderboard
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/rewards"} Rewards
        %li.m-footer-menu--item
          %a.m-footer-menu--link{href: "#invite_modal", "data-toggle" => "modal"} Invite Friends
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/account/deposit"} Deposit
     
    .grid-4
      %h3.m-footer--heading My PlayOn
      %ul.m-footer-menu
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/team/pick"} My Team
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/games/one-on-one"} My One-on-One Games
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/games/multiplayer"} My Multiplayer Games
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/team/results"} My Results
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/account/rewards"} My Rewards
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/club/chelsea"} My Club
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/profile"} My Profile
        %li.m-footer-menu--item
          %a.m-footer-menu--link{:href => "/account/transaction-history"} My Account

    .m-footer--legal.grid-16.grid-container
      .grid-5.m-regulators
        %a.m-regulators--link.icon-gambling-commission{ href: "http://www.gamblingcommission.gov.uk/" }
        %a.m-regulators--link.icon-gamcare{ href: "http://www.gamcare.org.uk/" }
        %a.m-regulators--link.icon-ibas{ href: "http://www.ibas-uk.com/" }
        %a.m-regulators--link.icon-cyber-patrol{ href: "http://www.cyberpatrol.com/" }
        %a.m-regulators--link.icon-opta{ href: "http://www.optasports.com" }
        %a.m-regulators--link.icon-rackspace{ href: "http://www.rackspace.co.uk" }
      .grid-6
        %p PlayON is licensed and regulated by the UK Gambling Commission to act as a betting intermediary. License Number: 000-032608-R-314435-001.

        %p Premier League fixtures reproduced under license from Football DataCo Limited. All rights reserved. Licence Number: FDCBETEXCH12-13/119097
      
      .m-footer--copyright.grid-4
        %p 
          Images &copy; copyright 1999-#{Time.now.year} 
          %br Getty Images, Inc.
        %p.highlight &copy; #{Time.now.year} PlayON
        %p All rights reserved
