#forgotten_password_modal.modal.m-modal_sign-up.hide.fade.new.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %span.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  .m-modal--header-bar
    %img{src: "/images/modal-header.png"}
  .m-modal-body
    %h1 Forgotten Password
    %form.m-form_modal
      .m-form-element
        %label.m-label{:for => "user_email"}
          Email
          %abbr.m-label--required{:title => "required"} *
        %input.m-input_text{:name => "user[email]", :size => "50", :type => "email", :value => ""}/
      .m-form-actions
        .m-form-actions--next
          %a.m-button#send-password{:name => "commit", :href => "#"} reset
  .m-modal--footer_gambling
    %img{src: "/images/sign-up-footer.png"}
