%tr.m-fixture-details
  %td.m-fixture-details-cell{colspan: "6"}
    %table.m-table_fixture-details
      %tr
        %td
          %table.m-table_fixture-details-summary
            %tr
              %td.time-column
                &nbsp;
              %td.jersey-column
                &nbsp;
              %td.home-team-column
                %table.m-table_fixture-details--goals
                  %tr.m-fixture-incident
                    %td Ruiz 70'
                  %tr.m-fixture-incident
                    %td
                      Ruiz 77'
                      %br
                      Kacaniklic 77' (assist)
              %td.score-column
                %table.m-table_fixture-details--result 
                  %tr
                    %td FT 90 +5
                  %tr
                    %td HT 0 - 1 
              %td.away-team-column
                %table.m-table_fixture-details--goals
                  %tr.m-fixture-incident
                    %td Robson-Kanu 12' (pen)
                  %tr.m-fixture-incident
                    %td Robson-Kanu 62'
                  %tr.m-fixture-incident
                    %td Le Fondre 75'
                  %tr.m-fixture-incident
                    %td
                      Karacan 83'
                      %br
                      Le Fondre 75' (assist)
              %td.jersey-column
                &nbsp;
      %tr
        %td
          %table.m-table_fixture-details-lineup
            %thead
              %tr
                %th.time-column
                  &nbsp;
                %th.jersey-column
                  &nbsp;
                %th.home-team-column
                  &nbsp;
                %th.score-column{colspan: "2"}
                  Lineup
                %th.away-team-column
                  &nbsp;
                %th.jersey-column
                  &nbsp;
            %tbody
              %tr
                %td.time-column
                  &nbsp;
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}

                  %table
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 01
                        %span.player-name
                          Schwarzer
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column
                        %span.jersey-number 03
                        %span.player-name
                          (Richardson - 56')
                          Riise 
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 04
                        %span.player-name
                          Senderos 
                      %td.home-incident-column
                        %i.icon-lineup-yellow-card
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 05
                        %span.player-name
                          Hangeland 
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column
                        %span.jersey-number 27
                        %span.player-name
                          Riether 
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 14
                        %span.player-name
                          Karagounis 
                          %br
                          (Rodallega 28')
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 16
                        %span.player-name
                          (Kacaniklic 71')
                          Duff 
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 28
                        %span.player-name
                          Emanuelson 
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 33
                        %span.player-name
                          Enoh 
                      %td.home-incident-column
                        %i.icon-lineup-yellow-card
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 09
                        %span.player-name
                          Berbatov 
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 11
                        %span.player-name
                          %i.icon-lineup-goal
                          Ruiz 
                      %td.home-incident-column
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}
                  %table
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column
                        %span.jersey-number 21
                        %span.player-name
                          McCarthy
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column
                        %span.jersey-number 02
                        %span.player-name
                          Gunter
                    %tr
                      %td.away-incident-column 
                        %i.icon-lineup-yellow-card
                      %td.away-lineup-column 
                        %span.jersey-number 21
                        %span.player-name
                          Mariappa
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 15
                        %span.player-name
                          Morrison
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 27
                        %span.player-name
                          Kelly
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 04
                        %span.player-name
                          Karacan
                          %i.icon-lineup-goal
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 11
                        %span.player-name
                          McAnuff
                          (Blackman 73')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 19
                        %span.player-name
                          %span.player-name
                          Robson-Kanu
                          %i.icon-lineup-goal
                          (Carrico 81')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 20
                        %span.player-name
                          Guthrie
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 07
                        %span.player-name
                          Pogrebnyak
                          (Le Fondre 71')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 12
                        %span.player-name
                          McCleary
      %tr
        %td.substitutes
          %table.m-table_fixture-details-lineup
            %tbody
              %tr
                %td.time-column
                  &nbsp;
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}
                  %table
                    %tr
                      %td.home-lineup-column 
                        %span.highlight.subsitute-heading Substitutes 
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 38
                        %span.player-name
                          Etheridge 
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 15
                        %span.player-name
                          Richardson
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 18
                        %span.player-name
                          Hughes
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 25
                        %span.player-name
                          Manolev
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 12
                        %span.player-name
                          Frimpong
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 31
                        %span.player-name
                          Kacaniklic
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.jersey-number 20
                        %span.player-name
                          Rodallega
                      %td.home-incident-column
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}
                  %table
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.highlight.subsitute-heading Substitutes
                      %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 41
                        %span.player-name
                          Taylor
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 05
                        %span.player-name
                          Pearce
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 23
                        %span.player-name
                          Harte
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 29
                        %span.player-name
                          Carrico
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 09
                        %span.player-name
                          Le Fondre
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 10
                        %span.player-name
                          Hunt
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 30
                        %span.player-name
                          Blackman
