.m-live-notice--overlay &nbsp;
.m-live-notice-content
  %h1.m-live-notice-content-heading LIVE MATCHDAY NOW ON
  %span.m-live-notice-content--sub-heading no changes possible on match days
  %span now playing:
  .m-live-notice-content--fixture
    Tottenham V Sunderland
  %a.m-button{href: "/team/matchday"} Go to live matchday

