#guest_pick_team_modal.modal.m-modal_pick-team.hide.fade.new.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %span.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  .m-modal--header-bar
    %img{src: "/images/modal-header.png"}
  .m-modal-body
    %h1 Pick a Team to Play
    %p To enter this game, you need to pick a team. You can change it as many times as you like before Live Matchday
    .m-form-actions
      .m-form-actions--next
        %a.m-button{href: "/team/pick"} Pick Team Now
        %a.or-link.m-link_secondary#or-login{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} or cancel
