#invite_modal.modal.m-modal_invite.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close.m-icon.icon-close{"data-dismiss" => "modal"}
  .m-modal--header-bar
    %h1.m-header-bar--heading.invite-to-site
      Earn &pound;10 Free
      %img.logo{src: "/images/logo-small.png"}
  %img{src: "/images/invite-a-friend.png", alt: "Invite a friend & earn 100 reward points each"}  
  .m-modal--body
    .m-modal_invite--section
      %h2.m-modal_invite--heading Your Current Reward Points
      .m-reward--status
        .m-reward-level.rookie
          1000 points
          %br
          Status: Rookie
      .m-10-free-progress-well
        .m-10-free-progress-content
          %span.m-10-free-progress--reward &pound;10 free
          .m-10-free-progress-meter
            .m-10-free-progress-tracker
          .m-10-free-progress-labels
            %span.m-10-free-progress--label.label-0.passed 0
            %span.m-10-free-progress--label.label-20.passed 1000
            %span.m-10-free-progress--label.label-40.passed 2000
            %span.m-10-free-progress--label.label-60 3000
            %span.m-10-free-progress--label.label-80 4000
            %span.m-10-free-progress--label.label-100 5000

    .m-modal_invite--section
      %h2.m-modal_invite--heading Next Step: Invite Friends
      %p Invite friends to PlayON. When 5 sign up you bank 5000 points and &pound;10 free credit. Get on it:
      %a.m-button_invite.facebook.left{href: "#"}
        %i.icon-facebook-share-button
        invite from facebook
      %a.m-button_invite.twitter.left{href: "#"}
        %i.icon-twitter-share-button
        invite from twitter
      %a.m-button_invite.left{href: "#"}
        %i.icon-email-invite-button
        invite by email
