.m-box.grid-6.m-box_league-of-titans-standings
  %img{src: "/images/league-of-titans-header.png"}
  .m-box--header-bar_small
    %h2.m-box--heading_small Represent Your Club
    %a.m-form--help{href: "#league_of_titans_modal", "data-toggle" => "modal"} more info
  .m-box--body
    %ul.m-tab-navigation_titans-standings
      %li.m-tab-navigation_titans-standings--tab.active
        %a.m-tab-navigation_titans-standings--link{"data-toggle" => "tab", href: "#division-1"} Division 1
      %li.m-tab-navigation_titans-standings--tab
        %a.m-tab-navigation_titans-standings--link{"data-toggle" => "tab", href: "#division-2"} Division 2
      %li.m-tab-navigation_titans-standings--tab
        %a.m-tab-navigation_titans-standings--link{"data-toggle" => "tab", href: "#division-3"} Division 3
    .m-tab-pane#division-1.active
      %table.m-table_inline.m-table_league-of-titans
        %thead.m-table--header
          %tr
            %th.position-column Pos
            %th.club-column Club
            %th.titan-column Titan
            %th.points-column Points
        %tbody.m-table--body
          %tr
            %td.position-column 1
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 2
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 3
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 4
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 5
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 6
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 7
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 8
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 9
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 10
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 11
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 12
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 13
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 14
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 15
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 16
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 17
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 18
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 19
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 20
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Adam Castleton
            %td.points-column 11,250
    .m-tab-pane#division-2
      %table.m-table_inline.m-table_league-of-titans
        %thead.m-table--header
          %tr
            %th.position-column Pos
            %th.club-column Club
            %th.titan-column Titan
            %th.points-column Points
        %tbody.m-table--body
          %tr
            %td.position-column 1
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 2
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 3
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 4
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 5
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 6
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 7
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 8
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 9
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 10
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 11
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 12
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 13
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 14
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 15
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 16
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 17
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 18
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 19
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
          %tr
            %td.position-column 20
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
    .m-tab-pane#division-3
      %table.m-table_inline.m-table_league-of-titans
        %thead.m-table--header
          %tr
            %th.position-column Pos
            %th.club-column Club
            %th.titan-column Titan
            %th.points-column Points
        %tbody.m-table--body
          %tr
            %td.position-column 1
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 2
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 3
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 4
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 5
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 6
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 7
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 8
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 9
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 10
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 11
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 12
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 13
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 14
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 15
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 16
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 17
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 18
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 19
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} Lucy Andrews
            %td.points-column 11,250
          %tr
            %td.position-column 20
            %td.club-column
              %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
              tot
            %td.titan-column
              %a{href: "#"} David Castleton
            %td.points-column 11,250
