#leaderboard_modal.modal.m-modal_multiplayer.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
  .m-header-bar
    %h1.m-header-bar--heading The Big One Multiplayer Game
  .m-modal_multiplayer--body
    = partial :_multiplayer_ticket

    .m-leaderboard-summary
      .m-leaderboard-summary--detail
        %dl
          %dt Current Leader:
          %dd David Pacheo
        %span.m-amount.total 11,425 PTS
      .m-leaderboard-summary--detail
        %dl
          %dt My Current Rank:
          %dd 4th
        %span.m-amount.total 10,810 PTS

    .m-leaderboard-details
      .m-leaderboard-details--options
        %input.m-input_search.dark{type: 'search', placeholder: 'search by name'}
        .m-leaderboard-filters#leaderboard_filters
          %label Filter by:
          %select#player_filter.dropkick
            %option{value: ""} All players
            %option{value: "Ambassadors"} Ambassadors
            %option{value: "my contacts"} my contacts
          %a.m-link{href: "#"} Clear Filters

      %table.m-table_inline.m-table_scrollable.m-table_leaderboard
        %thead.m-table--header
          %tr
            %th.rank-column Rank
            %th.player-column player
            %th.points-column points
            %th.winning-column winning
            %th.vs-my-team-column vs. my team
            %th.scrollbar-column &nbsp;
        = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_leaderboard'><table class='m-table_leaderboard'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
          %tbody.m-table--body
            %tr
              %td.rank-column
                1
              %td.player-column 
                %a{href: '#'} Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;10.00
              %td.vs-my-team-column
                %a.m-button_table{href: "#"} Compare
              %td.scrollbar-column &nbsp;
            %tr
              %td.rank-column
                2
              %td.player-column 
                %a{href: '#'} Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;6.00
              %td.vs-my-team-column
                %a.m-button_table{href: "#"} Compare
              %td.scrollbar-column &nbsp;
            %tr
              %td.rank-column
                3
              %td.player-column 
                %a{href: '#'} Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;4.00
              %td.vs-my-team-column
                %a.m-button_table{href: "#"} Compare
              %td.scrollbar-column &nbsp;
            %tr.highlight
              %td.rank-column
                4
              %td.player-column 
                Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;0.00
              %td.vs-my-team-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.rank-column
                5
              %td.player-column 
                %a{href: '#'} Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;0.00
              %td.vs-my-team-column
                %a.m-button_table{href: "#"} Compare
              %td.scrollbar-column &nbsp;
            %tr
              %td.rank-column
                6
              %td.player-column 
                %a{href: '#'} Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;0.00
              %td.vs-my-team-column
                %a.m-button_table{href: "#"} Compare
              %td.scrollbar-column &nbsp;
            %tr
              %td.rank-column
                7
              %td.player-column 
                %a{href: '#'} Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;0.00
              %td.vs-my-team-column
                %a.m-button_table{href: "#"} Compare
              %td.scrollbar-column &nbsp;
            %tr
              %td.rank-column
                8
              %td.player-column 
                %a{href: '#'} Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;0.00
              %td.vs-my-team-column
                %a.m-button_table{href: "#"} Compare
              %td.scrollbar-column &nbsp;
            %tr
              %td.rank-column
                9
              %td.player-column 
                %a{href: '#'} Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;0.00
              %td.vs-my-team-column
                %a.m-button_table{href: "#"} Compare
              %td.scrollbar-column &nbsp;
            %tr
              %td.rank-column
                10
              %td.player-column 
                %a{href: '#'} Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;0.00
              %td.vs-my-team-column
                %a.m-button_table{href: "#"} Compare
              %td.scrollbar-column &nbsp;
            %tr
              %td.rank-column
                11
              %td.player-column 
                %a{href: '#'} Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;0.00
              %td.vs-my-team-column
                %a.m-button_table{href: "#"} Compare
              %td.scrollbar-column &nbsp;
            %tr
              %td.rank-column
                12
              %td.player-column 
                %a{href: '#'} Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;0.00
              %td.vs-my-team-column
                %a.m-button_table{href: "#"} Compare
              %td.scrollbar-column &nbsp;
            %tr
              %td.rank-column
                13
              %td.player-column 
                %a{href: '#'} Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;0.00
              %td.vs-my-team-column
                %a.m-button_table{href: "#"} Compare
              %td.scrollbar-column &nbsp;
            %tr
              %td.rank-column
                14
              %td.player-column 
                %a{href: '#'} Paul Krugman
              %td.points-column 2,000
              %td.winning-column &pound;0.00
              %td.vs-my-team-column
                %a.m-button_table{href: "#"} Compare
              %td.scrollbar-column &nbsp;
