#league_of_titans_modal.modal.m-modal_league-of-titans.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
  .m-modal--header-bar
    %img{src: "/images/modal-header.png"}
  .m-modal--body
    %h1.m-header-bar--heading League of Titans
    %p Always wanted to represent your favourite football club? Now you can with the League of Titans. 
    
    %p Every week, the top points scorer from each club goes on to represent their club in the League of Titans the following week.

    %p Every 10 weeks, the top 2 teams in each division are promoted and the bottom 2 teams are relegated. Now you can prove that your club’s supporters know more about football than anyone else.
  .m-modal--footer_gambling
    %img{src: "/images/sign-up-footer.png"}
