.grid-7-and-half
  .grid-7-and-half.m-box_live-games.no-margin-left
    .m-box--header-bar.highlight
      %h3.m-box--heading_small 3 live one on one games, you are winning:
      %span.m-amount.total £400.00
    .m-box--body
      .m-options
        %label.m-label Show:
        .m-checkbox
          %input#my_games_only{type: "radio", name: "game_type", checked: "checked"}
          %label{for: "my_games_only"}
        %label.m-label_checkbox{for: "my_games_only"} My games only 

        .m-checkbox
          %input#me_vs_ambassadors{type: "radio", name: "game_type", checked: "checked"}
          %label{for: "me_vs_ambassadors"}
        %label.m-label_checkbox{for: "me_vs_ambassadors"} Me vs. ambassadors 

      %table.m-table_inline.m-table_scrollable.m-table_live-games
        %thead.m-table--header
          %tr
            %th.name-column
              One-on-one-opponent:
            %th.points-column
              %abbr{title: "opponent points"} Opp. Pts
            %th.pot-column
              Pot
            %th.rank-column
              Rank
            %th.winning-column
              %span.highlight
                Winning
            %th.scrollbar-column &nbsp;
        = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_live-games'><table class='m-table_live-games'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
          %tbody.m-table--body
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Dan Smith
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Susan Jakobs
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Dan Smith
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Susan Jakobs
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Dan Smith
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Susan Jakobs
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Dan Smith
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Susan Jakobs
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Dan Smith
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Susan Jakobs
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Dan Smith
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Susan Jakobs
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Dan Smith
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#pitch_compare_modal", "data-toggle" => "modal"} Susan Jakobs
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
.grid-7-and-half
  .grid-7-and-half.m-box_live-games.no-margin-left
    .m-box--header-bar.highlight
      %h3.m-box--heading_small 3 live multiplayer games, you are winning:
      %span.m-amount.total.right £210.00

    .m-box--body
      .m-options
        %label.m-label Show:
        .m-checkbox
          %input#my_multiplayer_games_only{type: "radio", name: "multiplayer_game_type", checked: "checked"}
          %label{for: "my_multiplayer_games_only"}
        %label.m-label_checkbox{for: "my_multiplayer_games_only"} My games only 

        .m-checkbox
          %input#all_public_multiplayer_games{type: "radio", name: "multiplayer_game_type"}
          %label{for: "all_public_multiplayer_games"}
        %label.m-label_checkbox{for: "all_public_multiplayer_games"} All public multiplayer games
      %table.m-table_inline.m-table_scrollable.m-table_live-games#live_multiplayer_games
        %thead.m-table--header
          %tr
            %th.name-column Game Name:
            %th.points-column
              Leader
              %abbr{title: "points"} Pts
            %th.pot-column
              Pot
            %th.rank-column
              Rank
            %th.winning-column
              Winning
            %th.scrollbar-column &nbsp;
        = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_live-games'><table class='m-table_live-games'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
          %tbody.m-table--body
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{:href => "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                986
              %td.pot-column
                &pound;2.00
              %td.rank-column
                2
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                  %i.icon-chat.icon-chat-empty

                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{:href => "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                986
              %td.pot-column
                &pound;2.00
              %td.rank-column
                2
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                  %i.icon-chat.icon-chat-empty

                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{:href => "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                986
              %td.pot-column
                &pound;2.00
              %td.rank-column
                2
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                  %i.icon-chat.icon-chat-empty

                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{:href => "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                986
              %td.pot-column
                &pound;2.00
              %td.rank-column
                2
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                  %i.icon-chat.icon-chat-empty

                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{:href => "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                986
              %td.pot-column
                &pound;2.00
              %td.rank-column
                2
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                  %i.icon-chat.icon-chat-empty

                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{:href => "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                986
              %td.pot-column
                &pound;2.00
              %td.rank-column
                2
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                  %i.icon-chat.icon-chat-empty

                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{:href => "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                986
              %td.pot-column
                &pound;2.00
              %td.rank-column
                2
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                  %i.icon-chat.icon-chat-empty

                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{:href => "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                986
              %td.pot-column
                &pound;2.00
              %td.rank-column
                2
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                  %i.icon-chat.icon-chat-empty

                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{:href => "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                986
              %td.pot-column
                &pound;2.00
              %td.rank-column
                2
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                  %i.icon-chat.icon-chat-empty

                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{:href => "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                986
              %td.pot-column
                &pound;2.00
              %td.rank-column
                2
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                  %i.icon-chat.icon-chat-empty

                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1000
              %td.pot-column
                &pound;2.00
              %td.rank-column
                367
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{:href => "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                  %i.icon-chat.icon-chat-empty
                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                986
              %td.pot-column
                &pound;2.00
              %td.rank-column
                2
              %td.winning-column
                %span.success &pound;4.00
              %td.scrollbar-column &nbsp;
            %tr
              %td.name-column
                .name-column--row
                  %a.name{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                  %i.icon-chat.icon-chat-empty

                .m-table--my-teams.name-column--row
                  %label My Teams:
                  %i.icon-team.icon-team-1
                  %i.icon-team.icon-team-2
                  %i.icon-team.icon-team-3
              %td.points-column
                1621
              %td.pot-column
                &pound;2.00
              %td.rank-column
                1
              %td.winning-column
                N/A
              %td.scrollbar-column &nbsp;

