%table.m-table_live-fixtures#live_fixtures
  %thead.m-table--header
    %tr
      %th.time-column Time
      %th.home-jersey-column &nbsp;
      %th.fixture-column-heading{:colspan => "3"} Fixture Info &amp; Lineups
      %th.away-jersey-column &nbsp;
  %tbody.m-table--body
    %tr.m-table_live-fixtures--fixture.odd
      %td.time-column
        FT
      %td.home-jersey-column
        %i.jersey-thumb-queens-park-rangers.m-jersey_fixture
      %td.home-team-column
        QPR
      %td.score-column
        0 - 1
      %td.away-team-column
        Arsenal
      %td.away-jersey-column
        %i.jersey-thumb-arsenal.m-jersey_fixture
    = partial :_qpr_vs_arsenal
    %tr.m-table_live-fixtures--fixture.even
      %td.time-column
        FT
      %td.home-jersey-column
        %i.jersey-thumb-fulham.m-jersey_fixture
      %td.home-team-column
        Fulham
      %td.score-column
        2 - 4
      %td.away-team-column
        Reading
      %td.away-jersey-column
        %i.jersey-thumb-reading.m-jersey_fixture
    = partial :_fulham_vs_reading
    %tr.m-table_live-fixtures--fixture.odd
      %td.time-column
        FT
      %td.home-jersey-column
        %i.jersey-thumb-norwich-city.m-jersey_fixture
      %td.home-team-column
        Norwich City
      %td.score-column
        1 - 2
      %td.away-team-column
        Aston Villa
      %td.away-jersey-column
        %i.jersey-thumb-aston-villa.m-jersey_fixture
    = partial :_norwich_vs_aston_villa
    %tr.m-table_live-fixtures--fixture.even
      %td.time-column
        FT
      %td.home-jersey-column
        %i.jersey-thumb-swansea-city.m-jersey_fixture
      %td.home-team-column
        Swansea City
      %td.score-column
        0 - 0
      %td.away-team-column
        Manchester City
      %td.away-jersey-column
        %i.jersey-thumb-manchester-city.m-jersey_fixture
    = partial :_swansea_vs_manchester_city
    %tr.m-table_live-fixtures--fixture.odd
      %td.time-column
        FT
      %td.home-jersey-column
        %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
      %td.home-team-column
        Tottenham Hotspur
      %td.score-column
        1 - 0
      %td.away-team-column
        Southampton
      %td.away-jersey-column
        %i.jersey-thumb-southampton.m-jersey_fixture
    = partial :_tottenham_vs_southampton
    %tr.m-table_live-fixtures--fixture.even
      %td.time-column
        FT
      %td.home-jersey-column
        %i.jersey-thumb-west-bromwich-albion.m-jersey_fixture
      %td.home-team-column
        WBA
      %td.score-column
        2 - 3
      %td.away-team-column
        Wigan Athletic
      %td.away-jersey-column
        %i.jersey-thumb-wigan-athletic.m-jersey_fixture
    = partial :_wba_vs_wigan
    %tr.m-table_live-fixtures--fixture.odd
      %td.time-column
        LIVE
      %td.home-jersey-column
        %i.jersey-thumb-west-ham-united.m-jersey_fixture
      %td.home-team-column
        West Ham United
      %td.score-column
        0 - 0
      %td.away-team-column
        Newcastle United
      %td.away-jersey-column
        %i.jersey-thumb-newcastle-united.m-jersey_fixture
    %tr.m-table_live-fixtures--fixture.even
      %td.time-column
        SUN 13.00
      %td.home-jersey-column
        %i.jersey-thumb-liverpool.m-jersey_fixture
      %td.home-team-column
        Livepool
      %td.score-column
      %td.away-team-column
        Everton
      %td.away-jersey-column
        %i.jersey-thumb-everton.m-jersey_fixture
    %tr.m-table_live-fixtures--fixture.odd
      %td.time-column
        SUN 16.00
      %td.home-jersey-column
        %i.jersey-thumb-manchester-united.m-jersey_fixture
      %td.home-team-column
        Manchester United
      %td.score-column
      %td.away-team-column
        Chelsea
      %td.away-jersey-column
        %i.jersey-thumb-chelsea.m-jersey_fixture
