#log_in_modal.modal.m-modal_sign-up.hide.fade.new.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %span.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  .m-modal--header-bar
    %img{src: "/images/modal-header.png"}
  .m-modal-body
    %h1 Log In:
    #sign_up_form.new-session-form
      %p.alert
      %form#log_in_user.m-form_modal{"accept-charset" => "UTF-8", :action => "/users", "data-remote" => "true", :method => "post", :novalidate => "novalidate"}
        .m-form-element
          %label.email.required.m-label{:for => "user_email"}
            Email
            %abbr.m-label--required{:title => "required"} *
          %input.m-input_text{:name => "user[email]", :size => "50", :type => "email", :value => ""}/
        .m-form-element
          %label.m-label{:for => "user_password"}
            Password
            %abbr.m-label--required{:title => "required"} *
          %input.m-input_text{:name => "user[password]", :size => "50", :type => "password"}/
          %a#forgotten-password.m-link_muted{href:"#"} Forgot password?
        .m-form-actions
          .m-form-actions--next
            %input.m-button{:name => "commit", :type => "submit", :value => "Log in"}/
            %a.or-link.m-link_secondary#or-signup{href: "#"} or sign up
  .m-modal--footer_gambling
    %img{src: "/images/sign-up-footer.png"}
