#view.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .header
    / %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h1#myModalLabel The Big One Mulitplayer Game
  .modal-body
    .grid-clearfix
      = partial :_multiplayer_ticket
    .grid-clearfix
      %ul.nav-tabs-game
        %li.active
          %a(href="#whos-in" data-toggle="tab")Who's In:
        %li
          %a(href="#invite" data-toggle="tab")Invite to game
      #whos-in.tab-pane.grid-9.active
        = partial :_profile
        = partial :_profile
        = partial :_profile
        = partial :_profile
        = partial :_profile
      #invite.tab-pane.grid-9
        invite
      
      
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    %button.btn.btn-primary Save changes
