#multiplayer_confirm_modal.modal.m-modal_confirm.multiplayer.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
  .m-modal--body
    .m-confirm-box
      %p.m-confirm-box--intro Please confirm that you would like to enter the following multiplayer game:
      .m-confirm-box-game
        %span.m-confirm-box--label Game Name: 
        %span.m-confirm-box--game-name The £5 Game
        .m-confirm-box--values  
          .m-value.entry
            %span.m-value--label Entry:
            %span.m-amount £5.50
          .m-value.pot
            %span.m-value--label Pot:
            %span.m-amount.total £20.00
      .m-confirm-box--actions
        %a.m-button{:href => "/games/multiplayer/share"} Confirm
        %a.m-link_muted{href: "#", "data-dismiss" => "modal"} or cancel
