#multiplayer_share_modal.modal.m-modal_share.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
  .m-modal--body
    .m-header-bar.transparent
      %h1.m-header-bar--heading It's On
    .m-confirm-box-share
      %p
        you're in a multiplayer game.
        %br/
        Let your friends know:
      %a.m-button_share.twitter.left{ href: "#" } 
        %i.icon-twitter-share-button
        tweet
      %a.m-button_share.facebook.right{ href: "#" }
        %i.icon-facebook-share-button
        share
    .m-checkbox_light
      %input#dont_ask_again.m-checkbox{:name => "do-not-ask", :type => "checkbox", :value => "1"}/
      %label{for: "dont_ask_again"}
    %label.m-label_checkbox.m-link_muted{for: "dont_ask_again"}
      Don't ask me again
       
