.m-ticket.m-ticket_multiplayer
  .m-ticket-sidebar
    %h5.m-ticket-sidebar--heading Created By:
    .m-ticket-profile
      %img.m-ticket-profile--image{:alt => "Chipper's Avatar", :src => "/images/adam-carroll.jpg"}/
      %a.m-ticket-profile--name{:href => "#"}
        Adam Carroll
    .m-ticket-payout
      %h5.m-ticket-sidebar--heading
        Payout
      %ul.m-ticket-payout-list
        %li.m-ticket-payout-list--item 1st place: 50%
        %li.m-ticket-payout-list--item 2nd place: 30%
        %li.m-ticket-payout-list--item 3rd place: 20%
  .m-ticket--details
    %h4.m-ticket--heading The Big One
    %i.icon-chat.icon-chat-empty
    %span.m-ticket--involved
      14 Players
      |
      18 Contacts
      |
      3 Ambassadors
    .m-ticket--summary
      .m-value_ticket
        %label.m-value--label{:for => "entry"} Entry
        %input#entry.m-amount_ticket{:readonly => "readonly", :type => "text", :value => "£5.50"}/
      .m-value_ticket
        %label.m-value--label{:for => "pot"} Pot:
        %input#pot.m-amount_ticket.total{:readonly => "readonly", :type => "text", :value => "£20.00"}/
    .m-ticket--actions
      %a.m-button#join_game_button{:href => "#"} Join this game
