.carousel-item.item.m-ticket_empty.league
  .m-ticket_empty-content
    .m-ticket_empty-section
      %a.m-button{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Create 
    .m-ticket_empty-section
      %a{:href => "#all-users"}
        %img{:alt => "downward arrow", :src => "/images/modules/tickets/game-below-arrow.png"}/
    .m-ticket_empty-section
      %a.m-button{href: "#invite_modal", "data-toggle" => "modal"}
        Invite
        %span.superscript> +
