.carousel-item.item.m-ticket_ambassador.fowler_join.active
  %i.icon-chat.icon-chat-empty
  .m-ticket--summary
    .m-value_ticket
      %label.m-value--label{:for => "stake"}
        Entry:
      %input.m-amount_ticket#stake{:readonly => "readonly", :type => "text", :value => "FREE"}
    .m-value_ticket
      %label.m-value--label{for: "pot"} Pot:
      %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "GLORY"}
  .m-ticket--actions
    %a.m-button{href: "#multiplayer_confirm_modal", "data-toggle" => "modal"} Join Game
    %a.m-link_muted{href: "#"} or decline

.carousel-item.item.m-ticket_ambassador.southgate_join
  %i.icon-chat.icon-chat-empty
  .m-ticket--summary
    .m-value_ticket
      %label.m-value--label{:for => "stake"}
        Entry:
      %input.m-amount_ticket#stake{:readonly => "readonly", :type => "text", :value => "£1.10"}
    .m-value_ticket
      %label.m-value--label{for: "pot"} Pot:
      %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "£2.00"}
  .m-ticket--actions
    %a.m-button{href: "#multiplayer_confirm_modal", "data-toggle" => "modal"} Join Game
    %a.m-link_muted{href: "#"} or decline

.carousel-item.item.m-ticket_ambassador.ferdinand_join
  %i.icon-chat.icon-chat-active
  .m-ticket--summary
    .m-value_ticket
      %label.m-value--label{:for => "stake"}
        Entry:
      %input.m-amount_ticket#stake{:readonly => "readonly", :type => "text", :value => "£1.10"}
    .m-value_ticket
      %label.m-value--label{for: "pot"} Pot:
      %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "£2.00"}
    %a.m-link_muted{href: "#payout_structure_modal", "data-toggle" => "modal"} Payout Structure
  .m-ticket--actions
    %a.m-button{href: "#multiplayer_confirm_modal", "data-toggle" => "modal"} Join Game
    %a.m-link_muted{href: "#"} or decline

.carousel-item.item.m-ticket_ambassador.ffs_join
  %i.icon-chat.icon-chat-empty
  .m-ticket--summary
    .m-value_ticket
      %label.m-value--label{:for => "stake"}
        Entry:
      %input.m-amount_ticket#stake{:readonly => "readonly", :type => "text", :value => "£1.10"}
    .m-value_ticket
      %label.m-value--label{for: "pot"} Pot:
      %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "£2.00"}
  .m-ticket--actions
    %a.m-button{href: "#multiplayer_confirm_modal", "data-toggle" => "modal"} Join Game
    %a.m-link_muted{href: "#"} or decline

.carousel-item.item.m-ticket_ambassador.joe_join
  %i.icon-chat.icon-chat-empty
  .m-ticket--summary
    .m-value_ticket
      %label.m-value--label{:for => "stake"}
        Entry:
      %input.m-amount_ticket#stake{:readonly => "readonly", :type => "text", :value => "£1.10"}
    .m-value_ticket
      %label.m-value--label{for: "pot"} Pot:
      %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "£2.00"}
  .m-ticket--actions
    %a.m-button{href: "#multiplayer_confirm_modal", "data-toggle" => "modal"} Join Game
    %a.m-link_muted{href: "#"} or decline

.carousel-item.item.m-ticket_ambassador.fowler_invited
  .m-ticket-sidebar
    %h5.m-ticket-sidebar--heading invited By:
    .m-ticket-profile
      %img.m-ticket-profile--image{:alt => "Chipper's Avatar", :src => "/images/adam-carroll.jpg"}/
      %a.m-ticket-profile--name{:href => "#"}
        Adam Carroll
    .m-ticket-payout
      %h5.m-ticket-sidebar--heading 
        Payout
      %p Winner Takes All
  .m-ticket--details
    %i.icon-chat.icon-chat-empty
    .m-ticket--summary
      .m-value_ticket
        %label.m-value--label{:for => "stake"}
          Entry:
        %input.m-amount_ticket#stake{:readonly => "readonly", :type => "text", :value => "£1.10"}
      .m-value_ticket
        %label.m-value--label{for: "pot"} Pot:
        %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "£2.00"}
    .m-ticket--actions
      %a.m-button{href: "#multiplayer_confirm_modal", "data-toggle" => "modal"} Join Game
      %a.m-link_muted{href: "#"} or decline

.carousel-item.item.m-ticket_ambassador.ffs_invited
  .m-ticket-sidebar
    %h5.m-ticket-sidebar--heading invited By:
    .m-ticket-profile
      %img.m-ticket-profile--image{:alt => "Chipper's Avatar", :src => "/images/adam-carroll.jpg"}/
      %a.m-ticket-profile--name{:href => "#"}
        Adam Carroll
    .m-ticket-payout
      %h5.m-ticket-sidebar--heading 
        Payout
      %p Winner Takes All
  .m-ticket--details
    %i.icon-chat.icon-chat-empty
    .m-ticket--summary
      .m-value_ticket
        %label.m-value--label{:for => "stake"}
          Entry:
        %input.m-amount_ticket#stake{:readonly => "readonly", :type => "text", :value => "£1.10"}
      .m-value_ticket
        %label.m-value--label{for: "pot"} Pot:
        %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "£2.00"}
    .m-ticket--actions
      %a.m-button{href: "#multiplayer_confirm_modal", "data-toggle" => "modal"} Join Game
      %a.m-link_muted{href: "#"} or decline
