%ul#main_navigation.m-navigation_primary
  %li.m-navigation_primary--item
    %a.m-navigation_primary--link{:href => "/team/pick", :class => request.path_info.include?('/team') ? 'active' : nil }
      My Teams
  %li.m-navigation_primary--item
    %a.m-navigation_primary--link{:href => "/games/one-on-one", :class => request.path_info.include?('/games/one-on-one') ? 'active' : nil}
      One-on-One
  %li.m-navigation_primary--item
    %a.m-navigation_primary--link{:href => "/games/multiplayer", :class => request.path_info.include?('/games/multiplayer') ? 'active' : nil}
      Multiplayer
  %li.m-navigation_primary--item.m-dropdown.primary
    %a.m-navigation_primary--link.m-dropdown--link{:href => "/club/lobby", :class => request.path_info.include?('/club') ? 'active' : nil}
      Clubs
      %b.caret
    .m-dropdown-content.menu.four-columns.centered
      %ul.m-dropdown-content--inner
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Manchester United
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Manchester City
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "/club/chelsea", :class => request.path_info.include?('chelsea') ? 'active' : nil} Chelsea
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Tottenham Hotspur
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Arsenal
      %ul.m-dropdown-content--inner
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Everton
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} West Bromwich Albion
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Stoke City
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Swansea City
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} West Ham United
      %ul.m-dropdown-content--inner
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Liverpool 
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Fulham
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Aston Villa
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Newcastle United
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Southampton
      %ul.m-dropdown-content--inner
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Wigan Athletic
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Queens Park Rangers
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Reading
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Norwich City
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#"} Sunderland
  %li.m-navigation_primary--item
    %a.m-navigation_primary--link{:href => "#"}
      Stats
  %li.m-navigation_primary--item
    %a.m-navigation_primary--link{:href => "#"}
      Analysis
  %li.m-navigation_primary--item.deposit
    %a.m-navigation_primary--link.highlight{:href => "/account/deposit"}
      Deposit
  %li.m-navigation_primary--item.m-dropdown.primary
    %a.m-navigation_primary--link.m-dropdown--link{:href => "#", :class => request.path_info.include?('/how-to-play') ? 'active' : nil}
      More
      %b.caret
    .m-dropdown-content.menu.right.two-columns
      %ul.m-dropdown-content--inner
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "/how-to-play/introduction"} How to Play
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "#invite_modal", "data-toggle" => "modal"} Invite Friends
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "/leaderboard"} Top 5 Leaderboard
      %ul.m-dropdown-content--inner
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "/account/transaction-history"} My Account
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "/account/rewards"} My Rewards
        %li.m-dropdown-menu--item
          %a.m-dropdown-menu--link{href: "/profile"} My Profile

