%tr.m-fixture-details
  %td.m-fixture-details-cell{colspan: "6"}
    %table.m-table_fixture-details
      %tr
        %td
          %table.m-table_fixture-details-summary
            %tr
              %td.time-column
                &nbsp;
              %td.jersey-column
                &nbsp;
              %td.home-team-column
                %table.m-table_fixture-details--goals
                  %tr.m-fixture-incident
                    %td Holt 74' (pen)
              %td.score-column
                %table.m-table_fixture-details--result 
                  %tr
                    %td FT 90 +6
                  %tr
                    %td HT 0 - 0 
              %td.away-team-column
                %table.m-table_fixture-details--goals
                  %tr.m-fixture-incident
                    %td Agbonlahor 55'
                  %tr.m-fixture-incident
                    %td Agbonlahor 89'
              %td.jersey-column
                &nbsp;
      %tr
        %td
          %table.m-table_fixture-details-lineup
            %thead
              %tr
                %th.time-column
                  &nbsp;
                %th.jersey-column
                  &nbsp;
                %th.home-team-column
                  &nbsp;
                %th.score-column{colspan: "2"}
                  Lineup
                %th.away-team-column
                  &nbsp;
                %th.jersey-column
                  &nbsp;
            %tbody
              %tr
                %td.time-column
                  &nbsp;
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}

                  %table
                    %tr
                      %td.home-lineup-column 
                        Bunn
                        %span.jersey-number 28
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column
                        R Martin
                        %span.jersey-number 02
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Bassong
                        %span.jersey-number 05
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        (Jackson 90')
                        Garrido
                        %span.jersey-number 18
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column
                        R Bennett
                        %span.jersey-number 24
                      %td.home-incident-column
                        %i.icon-lineup-yellow-card
                    %tr
                      %td.home-lineup-column 
                        Johnshon
                        %span.jersey-number 04
                      %td.home-incident-column
                        %i.icon-lineup-yellow-card
                    %tr
                      %td.home-lineup-column 
                        (E Bennett 85')
                        Snodgrass 
                        %span.jersey-number 07
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Howson
                        %span.jersey-number 08
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Pilkington
                        %span.jersey-number 12
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        (Kamara 71')
                        Hoolahan 
                        %span.jersey-number 14
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Holt
                        %span.jersey-number 09
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.highlight Substitutes 
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Camp
                        %span.jersey-number 42
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Whittaker
                        %span.jersey-number 03
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        E Bennett
                        %span.jersey-number 17
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Tettey
                        %span.jersey-number 27
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Jackson
                        %span.jersey-number 10
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Kamara
                        %span.jersey-number 16
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Barnett
                        %span.jersey-number 20
                      %td.home-incident-column
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}
                  %table
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column
                        %span.jersey-number 22
                        Guzan
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column
                        %span.jersey-number 04
                        Vlaar
                    %tr
                      %td.away-incident-column 
                        %i.icon-lineup-yellow-card
                      %td.away-lineup-column 
                        %span.jersey-number 27
                        Bennett
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 32
                        Baker
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 34
                        Lowton (Lichaj 27')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 15
                        Westwod

                    %tr
                      %td.away-incident-column 
                        %i.icon-lineup-yellow-card
                      %td.away-lineup-column 
                        %span.jersey-number 16
                        Delph
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 18
                        Sylla (Holman - 78')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 11
                        Agbonlahor
                        %i.icon-lineup-goal
                    %tr
                      %td.away-incident-column 
                        %i.icon-lineup-yellow-card
                      %td.away-lineup-column 
                        %span.jersey-number 20
                        Benteke
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 26
                        Weimann
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.highlight Substitutes
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 01
                        Given
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 30
                        Lichaj
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 10
                        N'Zogbia
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 14
                        Holman
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 25
                        Bannan

                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 09
                        Bent
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 21
                        Bowery
