.m-ticket.m-ticket_one-on-one.create
  .m-ticket-sidebar
    %h5.m-ticket-sidebar--heading Your Profile:
    .m-ticket-profile
      %img.m-ticket-profile--image{:alt => "Adam's Avatar", :src => "/images/adam-carroll.jpg"}/
      %a.m-ticket-profile--name{href: "#"} Adam Carroll
      .m-ticket-supports
        %h5.m-ticket-sidebar--heading supporter of:
        .supports
          %span.m-ticket-supports--team-bar ARS
          .m-jersey_thumb.jersey-thumb-arsenal

  .m-ticket--details
    %h4.m-ticket--heading
      Challenge
      %span.user_name.highlight A Friend
      to a
    %form#ticket_form{:action => ""}
      .m-ticket--summary
        .m-value_ticket
          %label.m-value--label{:for => "stake"}
            Stake:
          %input.m-amount_ticket.small#stake{:readonly => "readonly", :type => "text", :value => "£2.00"}
        .m-value_ticket
          %label.m-value--label.fee{:for => "fee"}
            Fee:
          %input.m-amount_ticket.small#fee{:readonly => "readonly", :type => "text", :value => "£2.00"}
        .m-value_ticket
          %label.m-value--label{for: "pot"} Pot:
          %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "£2.00"}
        .slider-container
          .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
            %a.ui-slider-handle.ui-state-default.ui-corner-all{:href => "#", :style => "left: 0%; "}
        
      .m-ticket--actions
        %a.m-button.disabled#invite_below_button{href: "#"} invite below
        %a.m-link_muted{:href => "#", "data-dismiss" => "modal"} or Cancel
