.m-ticket_one-on-one
  .m-ticket-sidebar
    %h5.m-ticket-sidebar--heading Created By:
    .m-ticket-profile
      %img.m-ticket-profile--image{:alt => "Adam's Avatar", :src => "/images/adam-carroll.jpg"}/
      %a.m-ticket-profile--name{href: "#"} Adam Carroll
      .m-ticket-supports
        %h5.m-ticket-sidebar--heading supporter of:
        .supports
          %span.m-ticket-supports--team-bar ARS
          .m-jersey_thumb.jersey-thumb-arsenal

  .m-ticket--details
    %h4.m-ticket--heading
      %span.user_name.highlight Adam Carroll
      has challenged you to a
    %form#ticket_form{:action => ""}
      .m-ticket--summary
        .m-value_ticket
          %label.m-value--label{:for => "stake"}
            Entry:
          %input.m-amount_ticket#stake{:readonly => "readonly", :type => "text", :value => "£22.00"}
        .m-value_ticket
          %label.m-value--label{for: "pot"} Pot:
          %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "£40.00"}
        %a.m-link_muted{href: "#"} or change amount
      .m-ticket--actions
        %a.m-button{href: "#"} Accept
        %a.m-link_muted{href: "#"} or decline
