.carousel-item.item.m-ticket_ambassador.fowler_accept.active
  %i.icon-chat.icon-chat-active
  .m-ticket--summary
    .m-value_ticket
      %label.m-value--label{:for => "stake"}
        Entry:
      %input.m-amount_ticket#stake{:readonly => "readonly", :type => "text", :value => "FREE"}
    .m-value_ticket
      %label.m-value--label{for: "pot"} Pot:
      %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "GLORY"}
    %a.m-link_muted{href: "#"} or change amount
  .m-ticket--actions
    %a.m-button{href: "#one-on-one_confirm_modal", "data-toggle" => "modal"} Accept
    %a.m-link_muted{href: "#"} or decline

.carousel-item.item.m-ticket_ambassador.southgate_accept
  %i.icon-chat.icon-chat-empty
  .m-ticket--summary
    .m-value_ticket
      %label.m-value--label{:for => "stake"}
        Entry:
      %input.m-amount_ticket#stake{:readonly => "readonly", :type => "text", :value => "£1.10"}
    .m-value_ticket
      %label.m-value--label{for: "pot"} Pot:
      %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "£2.00"}
    %a.m-link_muted{href: "#"} or change amount
  .m-ticket--actions
    %a.m-button{href: "#one-on-one_confirm_modal", "data-toggle" => "modal"} Accept
    %a.m-link_muted{href: "#"} or decline

.carousel-item.item.m-ticket_ambassador.ferdinand_accept
  %i.icon-chat.icon-chat-empty
  .m-ticket--summary
    .m-value_ticket
      %label.m-value--label{:for => "stake"}
        Stake:
      %input.m-amount_ticket.small#stake{:readonly => "readonly", :type => "text", :value => "£1.00"}
    .m-value_ticket
      %label.m-value--label.fee{:for => "fee"}
        Fee:
      %input.m-amount_ticket.small#fee{:readonly => "readonly", :type => "text", :value => "£0.10"}
    .m-value_ticket
      %label.m-value--label{for: "pot"} Pot:
      %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "£2.00"}
    .slider-container.ambassador
      .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
        %a.ui-slider-handle.ui-state-default.ui-corner-all{:href => "#", :style => "left: 0%; "}
    
  .m-ticket--actions
    %a.m-button{href: "#one-on-one_confirm_modal", "data-toggle" => "modal"} Accept
    %a.m-link_muted{href: "#"} or decline

.carousel-item.item.m-ticket_ambassador.joe_accept
  %i.icon-chat.icon-chat-active
  .m-ticket--summary
    .m-value_ticket
      %label.m-value--label{:for => "stake"}
        Entry:
      %input.m-amount_ticket#stake{:readonly => "readonly", :type => "text", :value => "£1.10"}
    .m-value_ticket
      %label.m-value--label{for: "pot"} Pot:
      %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "£2.00"}
    %a.m-link_muted{href: "#"} or change amount
  .m-ticket--actions
    %a.m-button{href: "#one-on-one_confirm_modal", "data-toggle" => "modal"} Accept
    %a.m-link_muted{href: "#"} or decline
.carousel-item.item.m-ticket_ambassador.ffs_accept
  %i.icon-chat.icon-chat-active
  .m-ticket--summary
    .m-value_ticket
      %label.m-value--label{:for => "stake"}
        Entry:
      %input.m-amount_ticket#stake{:readonly => "readonly", :type => "text", :value => "£1.10"}
    .m-value_ticket
      %label.m-value--label{for: "pot"} Pot:
      %input.m-amount_ticket.total#pot{:readonly => "readonly", :type => "text", :value => "£2.00"}
    %a.m-link_muted{href: "#"} or change amount
  .m-ticket--actions
    %a.m-button{href: "#one-on-one_confirm_modal", "data-toggle" => "modal"} Accept
    %a.m-link_muted{href: "#"} or decline
