.carousel-item.item.m-ticket_empty
  .m-ticket_empty-content
    .m-ticket_empty-section
      %a.m-button{:href => "#create_open_challenge_modal", "data-toggle" => "modal"} Create
    .m-ticket_empty-section
      %a{:href => "#all-users"}
        %img{:alt => "downward arrow", :src => "/images/modules/tickets/game-below-arrow.png"}/
    .m-ticket_empty-section
      %a.m-button{:href => "#one-on-one_invite_modal", "data-toggle" => "modal"}
        Invite
        %span.superscript +
