.m-box--header-bar.highlight
  %h3.m-box--heading_small 0 live one on one games, you are winning:
  %span.m-amount.total £0.00
.m-box--body
  .m-censor.center
    %p.m-censor--message Live matchday is now on! Pick a dummy team and get involved.
    %a.m-button{"data-remote" => "true", :href => "/team/matchday"} Go to live matchday
