%ul.m-navigation_options-bar#navigation_options-bar
  %li.m-navigation_options-bar--item
    %select.dropkick{name: "sport"}
      %option{value: ""} Sport
      %option{value: "Football"} Football 
      %option{value: "Cricket"} Cricket 
      %option{value: "Golf"} Golf 
      %option{value: "NBA"} NBA 
  %li.m-navigation_options-bar--item
    %select.dropkick{name: "language"}
      %option{value: ""} Language 
      %option{value: "English"} English 
      %option{value: "Français"} Français 
      %option{value: "Deutsch"} Deutsch 
      %option{value: "हिन्दी"} हिन्दी 
  %li.m-navigation_options-bar--item.search
    %form{action: '/search'}
      %input.m-input_search.dark{type: 'search', placeholder: 'search site'}
      %a.icon-search{href: '/search'} search
