#payout_structure_modal.modal.m-modal_payout-structure.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close.m-icon.icon-close{"data-dismiss" => "modal"}
  .m-modal--header-bar
    %h1.m-header-bar--heading Payout Structure
  .m-modal--body
    %h2 Public Multiplayer Games
    %p.m-content--body-text Pot is distributed depending on the number of entrants as follows:
    %table.m-table_payout-structure
      %tr
        %th{colspan: "2"}
        %th.axis-label_players{colspan: "8"} Number of players
      %tr
        %th.axis-label_position{rowspan: "14"} 
          %div
            %div Position
        %th &nbsp;
        %th.players-header{scope: "column"} 3-9
        %th.players-header{scope: "column"} 10-19
        %th.players-header{scope: "column"} 20-29
        %th.players-header{scope: "column"} 30-49
        %th.players-header{scope: "column"} 50-99
        %th.players-header{scope: "column"} 100-249
        %th.players-header{scope: "column"} 250-499
        %th.players-header{scope: "column"} 500+
      %tr
        %th.position-header{ scope: "row"} 1st
        %td 50%
        %td 40%
        %td 37%
        %td 31%
        %td 28%
        %td 25%
        %td 22.5%
        %td 20%
      %tr
        %th.position-header{ scope: "row"} 2nd
        %td 30%
        %td 30%
        %td 26.7%
        %td 21.5%
        %td 20%
        %td 17.5%
        %td 15%
        %td 14%
      %tr
        %th.position-header{ scope: "row"} 3rd
        %td 20%
        %td 20%
        %td 17.8%
        %td 16.5%
        %td 14%
        %td 12%
        %td 10%
        %td 10%
      %tr
        %th.position-header{ scope: "row"} 4th
        %td.empty &nbsp;
        %td 10%
        %td 10.4%
        %td 12.5%
        %td 10%
        %td 8%
        %td 7.5%
        %td 8%
      %tr
        %th.position-header{ scope: "row"} 5th
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td 8.1%
        %td 9%
        %td 8%
        %td 7%
        %td 6.5%
        %td 6%
      %tr
        %th.position-header{ scope: "row"} 6th
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td 6%
        %td 6%
        %td 6%
        %td 5%
        %td 4.5%
      %tr
        %th.position-header{ scope: "row"} 7th
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td 3.5%
        %td 5%
        %td 5%
        %td 4%
        %td 3%
      %tr
        %th.position-header{ scope: "row"} 8th
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td 4%
        %td 4%
        %td 3%
        %td 2.5%
      %tr
        %th.position-header{ scope: "row"} 9th
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td 3%
        %td 3%
        %td 2.5%
        %td 2.2%
      %tr
        %th.position-header{ scope: "row"} 10th
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td 2%
        %td 2.5%
        %td 2.0%
        %td 1.8%
      %tr
        %th.position-header{ scope: "row"} 11th-20th
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td 1%
        %td 1.2%
        %td 1.2%
      %tr
        %th.position-header{ scope: "row"} 21st-30th
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td 1.0%
        %td 1.0%
      %tr
        %th.position-header{ scope: "row"} 31st-40th
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td.empty &nbsp;
        %td 0.6%
