#player_info_modal.modal.more-info-wrapper.m-player-info.hide.fade.in.compare{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
  .m-player-info-header
    .m-player-info--jersey-container
      %i.jersey-player-info-west-ham-united.m-jersey_player-info
    .m-player-info--header-bar
      %h1.m-player-info--heading
        Jussi
        Jääskeläinen
        £10.2m
    %dl.m-player-info-details
      %dt.m-player-info-details--label
        Team
      %dd.m-player-info-details--value
        West Ham
    %dl.m-player-info-details
      %dt.m-player-info-details--label
        Position
      %dd.m-player-info-details--value
        Goalkeeper
    %dl.m-player-info-details
      %dt.m-player-info-details--label
        Value
      %dd.m-player-info-details--value
        £10.2m
    %dl.m-player-info-details
      %dt.m-player-info-details--label
        Last week's score
      %dd.m-player-info-details--value
        567
    - if request.path_info.include? '/0'
      = partial :'next_fixture/_0_percent'
    - elsif request.path_info.include? '/25'
      = partial :'next_fixture/_25_percent'
    - elsif request.path_info.include? '/50'
      = partial :'next_fixture/_50_percent'
    - elsif request.path_info.include? '/75'
      = partial :'next_fixture/_75_percent'
    - else
      = partial :'next_fixture/_100_percent'
  .m-player-info-body
    %ul.m-tab-navigation_player-info
      %li.m-tab-navigation_player-info--tab.active
        %a.m-tab-navigation_player-info--link{"data-toggle" => "tab", :href => "#player-form"}
          Recent Form
      %li.m-tab-navigation_player-info--tab
        %a.m-tab-navigation_player-info--link{"data-toggle" => "tab", :href => "#player-stats"}
          Season Stats
      %li.m-tab-navigation_player-info--tab
        %a.m-tab-navigation_player-info--link#player_compare_tab_link{"data-toggle" => "tab", :href => "#player-compare"}
          Compare
      %li.m-tab-navigation_player-info--tab
        %a.m-tab-navigation_player-info--link{"data-toggle" => "tab", :href => "#player-fixtures"}
          Fixtures
      %li.m-tab-navigation_player-info--tab
        %a.m-tab-navigation_player-info--link{"data-toggle" => "tab", :href => "#player-results"}
          Results
    .m-player-info-body--inner
      %section#player-form.m-tab-pane.active
        .grid-5.no-margin-left
          - if request.path_info.include? '/0'
            = partial :'recent_news/_0_percent'
          - elsif request.path_info.include? '/25'
            = partial :'recent_news/_25_percent'
          - elsif request.path_info.include? '/50'
            = partial :'recent_news/_50_percent'
          - elsif request.path_info.include? '/75'
            = partial :'recent_news/_75_percent'
          - else
          
          .m-box.grid-5
            .m-box--header-bar
              %h3.m-box--heading_small Latest Matches
            .m-box--body
              %table.m-table_inline.m-table_latest-matches
                %thead.m-table--header
                  %tr
                    %th.game-week-column Game Week
                    %th.score-column Score
                = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_latest-matches'><table class='m-table_latest-matches'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                  %tbody.m-table--body
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 10,150
                    %tr.success
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
                    %tr
                      %td.game-week-column
                        %a{:href => "#"} 25 Jan 01 - 08 2013
                      %td.score-column 150
        .m-box.grid-7.no-margin-right.right
          .m-box--header-bar
            %h3.m-box--heading_small Statistics - GW24 25th Jan - 02 Feb 2013
          .m-box--body
            %table.m-table_inline.m-table_statistics
              %thead.m-table--header
                %tr
                  %th.statistic-column Statistics
                  %th.amount-column Amount
                  %th.score-column Score
              %tbody.m-table--body
                %tr
                  %td.statistic-column Saves
                  %td.amount-column 1
                  %td.score-column 100
                %tr
                  %td.statistic-column Clean Sheets
                  %td.amount-column 0
                  %td.score-column 0
                %tr
                  %td.statistic-column Goal Conceded
                  %td.amount-column 3
                  %td.score-column -750
                %tr
                  %td.statistic-column Clearances
                  %td.amount-column 1
                  %td.score-column 50
                %tr
                  %td.statistic-column Interceptions
                  %td.amount-column 0
                  %td.score-column 0
                %tr
                  %td.statistic-column Tackles
                  %td.amount-column 0
                  %td.score-column 0
                %tr
                  %td.statistic-column Goals
                  %td.amount-column 0
                  %td.score-column 0
                %tr
                  %td.statistic-column Assists
                  %td.amount-column 0
                  %td.score-column 0
                %tr
                  %td.statistic-column Shots On Target
                  %td.amount-column 0
                  %td.score-column 0
                %tr
                  %td.statistic-column Minutes played
                  %td.amount-column 90
                  %td.score-column 450
                %tr
                  %td.statistic-column Yellow Cards
                  %td.amount-column 0
                  %td.score-column 0
                %tr
                  %td.statistic-column Red Cards
                  %td.amount-column 0
                  %td.score-column 0
      %section#player-stats.m-tab-pane
        %table.m-table_inline.m-table_season-stats
          %thead.m-table--header
            %tr
              %th.date-column Date
              %th.rank-column Rank
              %th.opponent-column Opponent
              %th.saves-column Saves
              %th.clean-sheets-column Clean Sheets
              %th.goals-conceded-column Goals Conceded
              %th.clearances-column Clearances
              %th.tackles-column Tackles
              %th.interceptions-column 
                %abbr{title: "Interceptions"}
                  Intercept.
              %th.shots-on-target-column Shot on Target
              %th.assists-column Assist
              %th.goals-column Goal
              %th.yellow-card-column Yellow Card
              %th.red-card-column Red Card
              %th.minutes-played-column P/Min Played
              %th.total-column Total
          = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_season-stats'><table class='m-table_season-stats'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
            %tbody.m-table--body
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
              %tr
                %td.date-column 01 Sep 16:00
                %td.rank-column 1
                %td.opponent-column RDG(A) 3-1
                %td.saves-column 100 
                %td.clean-sheets-column 100
                %td.goals-conceded-column 100
                %td.clearances-column 100
                %td.tackles-column 100
                %td.interceptions-column 100
                %td.shots-on-target-column 100
                %td.assists-column 100
                %td.goals-column 100
                %td.yellow-card-column 100 
                %td.red-card-column 100
                %td.minutes-played-column 100
                %td.total-column 100
          %tfoot.m-table--footer
            %tr
              %td.total-label-column
                total:
              %td.saves-column 100 
              %td.clean-sheets-column 100
              %td.goals-conceded-column 100
              %td.clearances-column 100
              %td.tackles-column 100
              %td.interceptions-column 100
              %td.shots-on-target-column 100
              %td.assists-column 100
              %td.goals-column 100
              %td.yellow-card-column 100 
              %td.red-card-column 100
              %td.minutes-played-column 100
              %td.total-column 100

      %section#player-compare.m-tab-pane
        .m-box.grid-5.no-margin-x
          .m-box--header-bar
            %h1.m-box--heading_small Choose players to compare
          .m-box--body
            %input.m-input_search_small{:placeholder => "Search by name...", :type => "search"}/
            .m-filters_more-info#modal-dropkick-filters
              .m-filters--container
                %select#modal-position-filter.dropkick
                  %option{:value => ""} Position
                  %option{:value => "goalkeeper"} Goalkeeper
                  %option{:value => "defender"} Defender
                  %option{:value => "midfielder"} Midfielder
                  %option{:value => "forward"} Forward
                %select#modal-club-filter.dropkick
                  %option{:value => ""}Club
                  %option{:value => "ARS"} Arsenal
                  %option{:value => "AST"} Aston Villa
                  %option{:value => "CHL"} Chelsea
                  %option{:value => "EVT"} Everton
                  %option{:value => "FUL"} Fulham
                  %option{:value => "LPL"} Liverpool
                  %option{:value => "MNU"} Man Utd
                  %option{:value => "MNC"} Man City
                  %option{:value => "NEW"} Newcastle
                  %option{:value => "NCH"} Norwich
                  %option{:value => "QPR"} QPR
                  %option{:value => "REA"} Reading
                  %option{:value => "STN"} Southampton
                  %option{:value => "STO"} Stoke City
                  %option{:value => "SUN"} Sunderland
                  %option{:value => "SWA"} Swansea
                  %option{:value => "TOT"} Tottenham
                  %option{:value => "WBA"} WBA
                  %option{:value => "WHU"} West Ham
                  %option{:value => "WIG"} Wigan
                %select#modal-value-filter.dropkick
                  %option{:value => ""} Score
                  - i = 1000
                  - while i > 10 do
                    %option{:value => "#{i.round(0)}"} #{i.round(0)}
                    - i -= 10
            %table.m-table_inline.m-table_choose-to-compare
              %thead.m-table--header
                %tr
                  %th.name-column Name
                  %th.position-column 
                    %abbr{ title: "position" }
                      Pos
                  %th.club-column Club
                  %th.score-column Score
                  %th.scrollbar-column &nbsp;
              = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_choose-to-compare'><table class='m-table_choose-to-compare'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                %tbody.m-table--body
                  %tr.odd
                    %td.name-column Begovic
                    %td.position-column GK
                    %td.club-column
                      %i.m-jersey_fixture.jersey-thumb-stoke-city
                      STO
                    %td.score-column 0
                    %td.scrollbar-column &nbsp;
                  %tr.even
                    %td.name-column Jääskeläinen
                    %td.position-column GK
                    %td.club-column
                      %i.m-jersey_fixture.jersey-thumb-west-ham-united
                      WHU
                    %td.score-column 0
                    %td.scrollbar-column &nbsp;
                  %tr.odd.injured
                    %td.name-column
                      Ruddy
                      %i.icon-injured
                    %td.position-column GK
                    %td.club-column
                      %i.m-jersey_fixture.jersey-thumb-norwich-city
                      NCH
                    %td.score-column 0
                    %td.scrollbar-column &nbsp;
                  %tr.even
                    %td.name-column Cech
                    %td.position-column GK
                    %td.club-column
                      %i.m-jersey_fixture.jersey-thumb-chelsea
                      CHL
                    %td.score-column 0
                    %td.scrollbar-column &nbsp;
                  %tr.odd
                    %td.name-column Hart
                    %td.position-column GK
                    %td.club-column
                      %i.m-jersey_fixture.jersey-thumb-manchester-city
                      MNC
                    %td.score-column 0
                    %td.scrollbar-column &nbsp;
                  %tr.even
                    %td.name-column Mignolet
                    %td.position-column GK
                    %td.club-column
                      %i.m-jersey_fixture.jersey-thumb-sunderland
                      SUN
                    %td.score-column 0
                    %td.scrollbar-column &nbsp;
                  %tr.odd
                    %td.name-column Guzan
                    %td.position-column GK
                    %td.club-column
                      %i.m-jersey_fixture.jersey-thumb-aston-villa
                      AST
                    %td.score-column 0
                    %td.scrollbar-column &nbsp;
                  %tr.even
                    %td.name-column Al-Habsi
                    %td.position-column GK
                    %td.club-column
                      %i.m-jersey_fixture.jersey-thumb-wigan-athletic
                      WIG
                    %td.score-column 0
                    %td.scrollbar-column &nbsp;
                  %tr.odd.injured
                    %td.name-column
                      Julio César
                      %i.icon-injured
                    %td.position-column GK
                    %td.club-column
                      %i.m-jersey_fixture.jersey-thumb-queens-park-rangers
                      QPR
                    %td.score-column 0
                    %td.scrollbar-column &nbsp;
                  %tr.even
                    %td.name-column Schwarzer
                    %td.position-column GK
                    %td.club-column
                      %i.m-jersey_fixture.jersey-thumb-fulham
                      FUL
                    %td.score-column 0
                    %td.scrollbar-column &nbsp;

        .m-box.grid-more-info-large.no-margin-x.right

          %table.m-table_compare#compare_table
            %thead.m-table_compare--head
              %tr
                %td.jersey-cell.empty{colspan: "2"} &nbsp;
                %td.jersey-cell{colspan: "2"}
                  .jersey-container
                    %i.jersey-compare-west-ham-united.m-jersey_compare
                %td.jersey-cell{colspan: "2"}
                  .jersey-cell--inner
                    .jersey-container
                      %i.jersey-compare-chelsea.m-jersey_compare
                    %a.icon-close{href: "#"} &times;
                %td.jersey-cell{colspan: "2"}
                  .jersey-cell--inner
                    .jersey-container
                      %i.jersey-compare-aston-villa.m-jersey_compare
                    %a.icon-close{href: "#"} &times;
                %td.jersey-cell{colspan: "2"}
                  .jersey-cell--inner
                    %a.icon-close{href: "#"} &times;
                    .jersey-container
                      %i.jersey-compare-fulham.m-jersey_compare
              %tr
                %th.name-cell.empty{scope: "col", colspan: "2", style: "padding-left: 5px;"}
                  %select#score_type_filter.dropkick
                    %option{value: "frequency"} frequency
                    %option{value: "points"} points
                %th.name-cell{scope: "col", colspan: "2"} Jääskeläinen
                %th.name-cell{scope: "col", colspan: "2"} Cech
                %th.name-cell{scope: "col", colspan: "2"} Guzan
                %th.name-cell{scope: "col", colspan: "2"} Schwarzer
              %tr.details-row
                %td.team-name-column.empty{colspan: "2"}
                  %select#score_duration_filter.dropkick
                    %option{value: "last week avg"} last week avg
                    %option{value: "4 week avg"} 4 week avg
                    %option{value: "season avg"} season avg
                %td.team-name-column
                  WHU
                %td
                  &pound;10.2m
                %td.team-name-column
                  WHU
                %td
                  &pound;10.2m
                %td.team-name-column
                  WHU
                %td
                  &pound;10.2m
                %td.team-name-column
                  WHU
                %td
                  &pound;10.2m
            %tbody.m-table_compare--body
              %tr
                %th.total-points-label{scope: "row", colspan: "2"} Total Points
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
              %tr
                %th{scope: "row", colspan: "2"} Save
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
              %tr
                %th{scope: "row", colspan: "2"} Clean Sheet
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
              %tr
                %th{scope: "row", colspan: "2"} Goals Conceded
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
              %tr
                %th{scope: "row", colspan: "2"} Clearances
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
              %tr
                %th{scope: "row", colspan: "2"} Interceptions
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
              %tr
                %th{scope: "row", colspan: "2"} Tackles
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 104
              %tr
                %th{scope: "row", colspan: "2"} Goals
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 104
              %tr
                %th{scope: "row", colspan: "2"} Assists
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 104
              %tr
                %th{scope: "row", colspan: "2"} Shots on Target
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 104
              %tr
                %th{scope: "row", colspan: "2"} Minutes Played
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 104
              %tr
                %th{scope: "row", colspan: "2"} Yellow Cards
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 104
              %tr
                %th{scope: "row", colspan: "2"} Red Cards
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 10
                %td{colspan: "2"} 104
            %tfoot.m-table_compare--foot
              %tr
                %th{scope: "row", colspan: "2"} &nbsp;
                %td{colspan: "2"} 
                  %a.m-button.extra-small.depressed{href: "#"} Remove
                %td{colspan: "2"} 
                  %a.m-button.extra-small{href: "#"} Add To Team
                %td{colspan: "2"} 
                  %a.m-button.extra-small{href: "#"} Add To Team
                %td{colspan: "2"} 
                  %a.m-button.extra-small{href: "#"} Add To Team

      %section#player-fixtures.player-summary.m-tab-pane
        .m-box
          .m-box--header-bar
            %h2.m-box--heading_small Upcoming Fixtures
            %img.right{src: "/images/barclays-premier-league_small.png", alt: "Barclays Premier League"}
          .m-box-body
            %table.m-table_inline.m-table_upcoming-fixtures
              %thead.m-table--header
                %tr
                  %th.date-column Date
                  %th.kickoff-column Kickoff
                  %th.vs-column Vs
                  %th.venue-column Home/Away
              = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_upcoming-fixtures'><table class='m-table_upcoming-fixtures'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                %tbody.m-table--body
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00 
                    %td.vs-column Cardiff
                    %td.venue-column Home
      %section#player-results.player-summary.m-tab-pane
        .m-box
          .m-box--header-bar
            %h2.m-box--heading_small Results
            %img.right{src: "/images/barclays-premier-league_small.png", alt: "Barclays Premier League"}
          .m-box-body
            %table.m-table_inline.m-table_player-info-results
              %thead.m-table--header
                %tr
                  %th.date-column Date
                  %th.kickoff-column Kickoff
                  %th.vs-column Vs
                  %th.venue-column Home/Away
                  %th.score-column Score
                  %th.result-column Result

              = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_player-info-results'><table class='m-table_inline m-table_player-info-results'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                %tbody.m-table--body
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
                  %tr
                    %td.date-column 17/08/2013
                    %td.kickoff-column 15:00
                    %td.vs-column West Bromwich Albion
                    %td.venue-column Home
                    %td.score-column 3-2
                    %td.result-column W
