.m-budget
  %span.m-budget--label Budget:
  .m-budget-status.exceeded
    %span.m-budget-status--value -£3.6m
    %span.m-budget-status--bar{:style => "overflow: hidden; width: 0px;"}
    %span.m-budget-status--label Remaining
