.m-budget
  %span.m-budget--label Budget:
  .m-budget-status
    %span.m-budget-status--value £3.6m
    %span.m-budget-status--bar{:style => "overflow: hidden; width: 10.440000000000001px;"}
    %span.m-budget-status--label Remaining
