.m-pitch_pickable
  .m-pitch-row_goalkeeper.goalkeeper
    .l-pitch-position-1.m-pitch-player.CHL
      .player-info
        .m-pitch-player--team-bar CHL
        .m-pitch-player--value-bar £10.0m
        .m-pitch-player--name-bar Cech
        .m-pitch-player--jersey
        %i.remove_from_team
          %a.m-pitch-player--remove{:href => "#"}
        %i.info
          %a.m-pitch-player--info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
  .m-pitch-row_defender.defender
    .l-pitch-position-1.m-pitch-player.SUN
      .player-info
        .m-pitch-player--team-bar SUN
        .m-pitch-player--value-bar £10.0m
        .m-pitch-player--name-bar O'Shea
        .m-pitch-player--jersey
        %i.remove_from_team
          %a.m-pitch-player--remove{:href => "#"}
        %i.info
          %a.m-pitch-player--info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
    .l-pitch-position-2.m-pitch-player.MNU
      .player-info
        .m-pitch-player--team-bar MNU
        .m-pitch-player--value-bar £7.1m
        .m-pitch-player--name-bar Keane
        .m-pitch-player--jersey
        %i.remove_from_team
          %a.m-pitch-player--remove{:href => "#"}
        %i.info
          %a.m-pitch-player--info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
    .l-pitch-position-3.m-pitch-player.empty
      .player-info
        .m-pitch-player--team-bar SWA
        .m-pitch-player--value-bar £10.1m
        .m-pitch-player--name-bar Davies
        .m-pitch-player--jersey
        %i.remove_from_team
          %a.m-pitch-player--remove{:href => "#"}
        %i.info
          %a.m-pitch-player--info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
    .l-pitch-position-4.m-pitch-player.REA
      .player-info
        .m-pitch-player--team-bar REA
        .m-pitch-player--value-bar £8.6m
        .m-pitch-player--name-bar Mariappa
        .m-pitch-player--jersey
        %i.remove_from_team
          %a.m-pitch-player--remove{:href => "#"}
        %i.info
          %a.m-pitch-player--info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
  .m-pitch-row_midfielder.midfielder
    .l-pitch-position-1.m-pitch-player.NEW
      .player-info
        .m-pitch-player--team-bar NEW
        .m-pitch-player--value-bar £6.9m
        .m-pitch-player--name-bar Abeid
        .m-pitch-player--jersey
        %i.remove_from_team
          %a.m-pitch-player--remove{:href => "#"}
        %i.info
          %a.m-pitch-player--info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
    .l-pitch-position-2.m-pitch-player.REA
      .player-info
        .m-pitch-player--team-bar REA
        .m-pitch-player--value-bar £6.9m
        .m-pitch-player--name-bar Gunnarsson
        .m-pitch-player--jersey
        %i.remove_from_team
          %a.m-pitch-player--remove{:href => "#"}
        %i.info
          %a.m-pitch-player--info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
    .l-pitch-position-3.m-pitch-player.WBA
      .player-info
        .m-pitch-player--team-bar WBA
        .m-pitch-player--value-bar £6.9m
        .m-pitch-player--name-bar Allan
        .m-pitch-player--jersey
        %i.remove_from_team
          %a.m-pitch-player--remove{:href => "#"}
        %i.info
          %a.m-pitch-player--info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
    .l-pitch-position-4.m-pitch-player.WIG
      .player-info
        .m-pitch-player--team-bar WIG
        .m-pitch-player--value-bar £9.4m
        .m-pitch-player--name-bar Gómez
        .m-pitch-player--jersey
        %i.remove_from_team
          %a.m-pitch-player--remove{:href => "#"}
        %i.info
          %a.m-pitch-player--info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
  .m-pitch-row_forward.forward
    .l-pitch-position-1.m-pitch-player.AST
      .player-info
        .m-pitch-player--team-bar AST
        .m-pitch-player--value-bar £8.1m
        .m-pitch-player--name-bar Burke
        .m-pitch-player--jersey
        %i.remove_from_team
          %a.m-pitch-player--remove{:href => "#"}
        %i.info
          %a.m-pitch-player--info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
    .l-pitch-position-2.m-pitch-player.WIG
      .player-info
        .m-pitch-player--team-bar WIG
        .m-pitch-player--value-bar £12.4m
        .m-pitch-player--name-bar Koné
        .m-pitch-player--jersey
        %i.remove_from_team
          %a.m-pitch-player--remove{:href => "#"}
        %i.info
          %a.m-pitch-player--info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
