#pitch_compare_modal.modal.m-modal_pitch-compare.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close{href: "#", "data-dismiss" => "modal"}
  .m-header-bar
    %h1.m-header-bar--heading Compare Teams
  .m-modal--body 
    = partial :_multiplayer_ticket
    .m-modal_pitch-compare-buttons
      %a.m-button#view_list_button Compare List View
      %span.m-button.back_to_details_button Back to details
    .m-compare_home
      .m-compare--status.bad Losing
      .m-box--header-bar
        %h1.m-box--heading Killian Jones
        .m-amount.total.large 1425 Points
      .m-box--body.center
        = partial :_compare_pitch
    %h2.m-vs-heading VS
    .m-compare_away
      .m-compare--status.good Winning
      .m-box--header-bar
        %h1.m-box--heading Robbie Fowler
        .m-amount.total.large 1425 Points
      .m-box--body.center
        = partial :_compare_pitch

