%table.m-table_inline.m-table_league{:border => "0", :cellpadding => "0", :cellspacing => "0"}
  %thead.m-table--header
    %tr
      %th.position
        %abbr{title: "Position"} Pos
      %th.team-name Team
      %th.played
        %abbr{title: "Played"} P
      %th.win
        %abbr{title: "Won"} W
      %th.loss
        %abbr{title: "Lost"} L
      %th.drew 
        %abbr{title: "Drawn"} D
      %th.points 
        %abbr{title: "Points"} Pts
  %tbody.m-table--body
    %tr
      %td.position 1
      %td.team-name
        %i.jersey-thumb-manchester-united.m-jersey_fixture
        Manchester United
      %td.played 28
      %td.win 23
      %td.loss 3
      %td.drew 2
      %td.points 71
    %tr.odd
      %td.position 2
      %td.team-name
        %i.jersey-thumb-manchester-city.m-jersey_fixture
        Manchester City
      %td.played 28
      %td.win 17
      %td.loss 3
      %td.drew 8
      %td.points 59
    %tr
      %td.position 3
      %td.team-name
        %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
        Tottenham Hotspur
      %td.played 28
      %td.win 16
      %td.loss 6
      %td.drew 6
      %td.points 54
    %tr.odd
      %td.position 4
      %td.team-name
        %i.jersey-thumb-chelsea.m-jersey_fixture
        Chelsea
      %td.played 28
      %td.win 15
      %td.loss 6
      %td.drew 7
      %td.points 52
    %tr
      %td.position 5
      %td.team-name
        %i.jersey-thumb-arsenal.m-jersey_fixture
        Arsenal
      %td.played 28
      %td.win 13
      %td.loss 7
      %td.drew 8
      %td.points 47
    %tr.odd
      %td.position 6
      %td.team-name
        %i.jersey-thumb-everton.m-jersey_fixture
        Everton
      %td.played 28
      %td.win 11
      %td.loss 5
      %td.drew 12
      %td.points 45
    %tr
      %td.position 7
      %td.team-name
        %i.jersey-thumb-liverpool.m-jersey_fixture
        Liverpool
      %td.played 28
      %td.win 11
      %td.loss 8
      %td.drew 9
      %td.points 42
    %tr.odd
      %td.position 8
      %td.team-name
        %i.jersey-thumb-swansea-city.m-jersey_fixture
        Swansea City
      %td.played 28
      %td.win 10
      %td.loss 8
      %td.drew 10
      %td.points 40
    %tr
      %td.position 9
      %td.team-name
        %i.jersey-thumb-west-bromwich-albion.m-jersey_fixture
        West Bromwich Albion
      %td.played 28
      %td.win 12
      %td.loss 12
      %td.drew 4
      %td.points 40
    %tr.odd
      %td.position 10
      %td.team-name
        %i.jersey-thumb-fulham.m-jersey_fixture
        Fulham
      %td.played 28
      %td.win 8
      %td.loss 11
      %td.drew 9
      %td.points 33
    %tr
      %td.position 11
      %td.team-name
        %i.jersey-thumb-stoke-city.m-jersey_fixture
        Stoke City
      %td.played 28
      %td.win 7
      %td.loss 9
      %td.drew 12
      %td.points 33
    %tr.odd
      %td.position 12
      %td.team-name
        %i.jersey-thumb-west-ham-united.m-jersey_fixture
        West Ham United
      %td.played 28
      %td.win 9
      %td.loss 13
      %td.drew 6
      %td.points 33
    %tr
      %td.position 13
      %td.team-name
        %i.jersey-thumb-norwich-city.m-jersey_fixture
        Norwich City
      %td.played 28
      %td.win 7
      %td.loss 10
      %td.drew 11
      %td.points 32
    %tr.odd
      %td.position 14
      %td.team-name
        %i.jersey-thumb-sunderland.m-jersey_fixture
        Sunderland
      %td.played 28
      %td.win 7
      %td.loss 12
      %td.drew 9
      %td.points 30
    %tr
      %td.position 15
      %td.team-name
        %i.jersey-thumb-newcastle-united.m-jersey_fixture
        Newcastle United
      %td.played 28
      %td.win 8
      %td.loss 14
      %td.drew 6
      %td.points 30
    %tr.odd
      %td.position 16
      %td.team-name
        %i.jersey-thumb-southampton.m-jersey_fixture
        Southampton
      %td.played 28
      %td.win 6
      %td.loss 13
      %td.drew 9
      %td.points 27
    %tr
      %td.position 17
      %td.team-name
        %i.jersey-thumb-wigan-athletic.m-jersey_fixture
        Wigan Athletic
      %td.played 28
      %td.win 6
      %td.loss 16
      %td.drew 6
      %td.points 24
    %tr.odd
      %td.position 18
      %td.team-name
        %i.jersey-thumb-aston-villa.m-jersey_fixture
        Aston Villa
      %td.played 28
      %td.win 5
      %td.loss 14
      %td.drew 9
      %td.points 24
    %tr
      %td.position 19
      %td.team-name
        %i.jersey-thumb-reading.m-jersey_fixture
        Reading
      %td.played 28
      %td.win 5
      %td.loss 15
      %td.drew 8
      %td.points 23
    %tr.odd
      %td.position 20
      %td.team-name
        %i.jersey-thumb-queens-park-rangers.m-jersey_fixture
        Queens Park Rangers
      %td.played 28
      %td.win 3
      %td.loss 14
      %td.drew 11
      %td.points 20
