#privacy_policy_modal.modal.m-modal_payout-structure.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close.m-icon.icon-close{"data-dismiss" => "modal"}
  .m-modal--header-bar
    %h1.m-header-bar--heading Privacy Policy
  .m-modal--body
    %p.m-content--body-text The terms used in this Privacy Policy shall have the same meaning as those used in the Terms and Conditions.
    %p.m-content--body-text At PlayON we respect your privacy and we take care to protect the information you provide to us. This policy describes how information is gathered and used by PlayON in the operation of this Website.
    %h2 What information is collected?
    %p.m-content--body-text We ask you for information to help identify you, including, but not limited to, first and last name, date of birth, credit card information, home or other physical address, email address or other contact information. This is all information which we consider to be “Personal Information” and you will be asked to provide this when you open a real money account and occasionally at other times when you use the Website or play a Game.
    %p.m-content--body-text Other information you should consider:
    %p.m-content--body-text If you contact us, we may keep a record of that correspondence. We may also ask you to complete surveys that we use for research purposes, although you do not have to respond to them. Details of transactions you carry out through our site and of the fulfilment of your orders. Details of your visits to our site [including, but not limited to, traffic data, location data, weblogs and other communication data, whether this is required for our own billing purposes or otherwise] and the resources that you access.
    %h2 What do we use your Personal Information for?
    %p.m-content--body-text By entering your Personal Information on the Website, you accept that PlayON may retain your Personal Information and use it to:
    .m-content--body-text
      %ol
        %li enable us to set up and manage your account so that you can make full use of all of the features on PlayON;
        %li enable us to receive questions and comments from you and for us to be able to respond to them;
        %li keep you informed of future events, offers and promotions from PlayON;
        %li build up a personal profile of you.
    %p.m-content--body-text If at any time you wish us to stop processing your information for the above purposes, then you must contact us and we will take the appropriate steps to stop doing so. Please note that this may mean that your account will have to be closed.
    %p.m-content--body-text PlayON will not sell or pass on your details to any third parties for purposes of marketing or advertising.
    %p.m-content--body-text We may transfer your personal information in the event of any transfer or sale of our business or any part of it including in the event of insolvency.
    %p.m-content--body-text Also PlayON may disclose your personal information to any body investigating actual or suspected criminal activity (including the Financial Services Authority and the National Criminal Intelligence Service) or, in respect of any event which we are taking bets on, any demonstrable threat to the integrity of that event and/or rules of the relevant governing bodies (including the UK football authorities in relation to UK football). In such event, PlayON will only disclose personal information which it deems to be necessary and proportionate to any such investigation and where it has been assured by such third party that it will be used in compliance with data protection legislation.
    %h2 Security
    %p.m-content--body-text
      The Personal Information that you are required to give during the PlayON registration process is encrypted for protection. All of our users’ information, not just sensitive information, is stored on servers in secure operating environments. You expressly consent to us transferring your Personal Information to, and storing it on, servers located outside of the United Kingdom and/ or the European Economic Area (“Other Territories”). As part of this process we may transfer your personal information to our holding and subsidiary companies, any of our partners, associated parties and service providers. The laws on holding personal data in Other Territories may be less stringent than the laws applicable to the United Kingdom and/ or the European Union, but we will take all steps reasonably necessary to transfer and store your information in a safe, confidential and secure environment.
    %p.m-content--body-text Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our Website; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.
    %h2 Cookies
    %p.m-content--body-text Transactions on our website automatically collect information using cookies. A cookie is a small file placed by a website on your computer’s hard drive. We use cookies to keep track of your browsing patterns and to build up a demographic profile.
    %h2 Accuracy
    %p.m-content--body-text We will endeavour to ensure that the information we hold is accurate, relevant and up to date. You may update some of your Personal Information at any time by logging in and clicking the "Details" page in the Account section. If you want to change some of your Personal Information but can't see a way to do it, then please contact us.
    %h2 Data Protection
    %p.m-content--body-text PlayON is a registered data controller under the UK Data Protection Act 1998, and is registered with Information Commissioner with the number Z3059725. PlayON complies with the UK Data Protection Act 1998 in relation to the collection and processing of personal information.
    %h2 Changes to Privacy Policy
    %p.m-content--body-text If we decide to change our privacy policy we will post those changes here so that you are aware of any changes. If you have any questions about the security of our website, or the information we hold on you, please contact us.
