.profile
  .profile-image
    %img{:src => "images/adam-carroll.jpg"}
  .profile-details
    %h4.profile-name Adam Carroll
    %dl.profile-record
      %dt
        %abbr{:title => "Played"} P
      %dd 250
      %dt
        %abbr{:title => "Won"} W
      %dd 150
      %dt
        %abbr{:title => "Lost"} L
      %dd 100
    .supports
      .team-name
        Supports:
        %abbr{:title => "Manchester United"} MNU
      .jersey-small.jersey-small-manchester-united