.m-pitch_profile
  .m-matchday-player-info
    %a.icon-close{href: "#"} &times;
    %table.m-table_matchday-player-info
      %thead.m-table--header
        %tr
          %th.name-column Bassong
          %th.points-column Points
          %th.count-column Count
      %tbody.m-table--body
        %tr
          %th.name-column{scope: "row"} Saves
          %td.points-column 300
          %td.count-column 3
        %tr
          %th.name-column{scope: "row"} Clean Sheets
          %td.points-column 0
          %td.count-column 0
        %tr
          %th.name-column{scope: "row"} Goals Conceded
          %td.points-column -250
          %td.count-column 1
        %tr
          %th.name-column{scope: "row"} Clearances
          %td.points-column 50
          %td.count-column 1
        %tr
          %th.name-column{scope: "row"} Interceptions
          %td.points-column 50
          %td.count-column 1
        %tr
          %th.name-column{scope: "row"} Tackles
          %td.points-column 2525
          %td.count-column 1
        %tr
          %th.name-column{scope: "row"} Goals
          %td.points-column 1,000
          %td.count-column 1
        %tr
          %th.name-column{scope: "row"} Assists
          %td.points-column 400
          %td.count-column 1
        %tr
          %th.name-column{scope: "row"} Shots
          %td.points-column 200
          %td.count-column 1
        %tr
          %th.name-column{scope: "row"} Yellow Cards
          %td.points-column -200
          %td.count-column 1
        %tr
          %th.name-column{scope: "row"} Red Cards
          %td.points-column 0
          %td.count-column 0
        %tr
          %th.name-column{scope: "row"} Minutes Played
          %td.points-column 315
          %td.count-column 63


  .m-pitch-row.m-pitch-row_goalkeeper
    .m-pitch-player.player.l-pitch-position-1.STO{"data-id" => "422"}
      .player-value.m-pitch-player--points-bar 150 PTS
      .m-pitch-player--team-bar.player-team STO
      .m-pitch-player--status-bar.player-status.played Played
      .m-pitch-player--name-bar.player-name Begovic
      .m-pitch-player--jersey.player-jersey
      %a.m-pitch-player--info{:href => "#"}
  .m-pitch-row.m-pitch-row_defender
    .m-pitch-player.player.STO.l-pitch-position-1{"data-id" => "427"}
      .player-value.m-pitch-player--points-bar 650 PTS
      .m-pitch-player--team-bar.player-team STO
      .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
      .m-pitch-player--name-bar.player-name Huth
      .m-pitch-player--jersey.player-jersey
      %a.m-pitch-player--info{:href => "#"}
    .m-pitch-player.player.NCH.l-pitch-position-2{"data-id" => "300"}
      .player-value.m-pitch-player--points-bar 250 PTS
      .m-pitch-player--team-bar.player-team NCH
      .m-pitch-player--status-bar.player-status.played Played
      .m-pitch-player--name-bar.player-name Bassong
      .m-pitch-player--jersey.player-jersey
      %a.m-pitch-player--info{:href => "#"}
    .m-pitch-player.player.TOT.l-pitch-position-3{"data-id" => "522"}
      .player-value.m-pitch-player--points-bar 2750 PTS
      .m-pitch-player--team-bar.player-team TOT
      .m-pitch-player--status-bar.player-status.played Played
      .m-pitch-player--name-bar.player-name Vertonghen
      .m-pitch-player--jersey.player-jersey
      %a.m-pitch-player--info{:href => "#"}
    .m-pitch-player.player.QPR.l-pitch-position-4{"data-id" => "332"}
      .player-value.m-pitch-player--points-bar 975 PTS
      .m-pitch-player--team-bar.player-team QPR
      .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
      .m-pitch-player--name-bar.player-name Nelsen
      .m-pitch-player--jersey.player-jersey
      %a.m-pitch-player--info{:href => "#"}
  .m-pitch-row.m-pitch-row_midfielder
    .m-pitch-player.player.SWA.l-pitch-position-1{"data-id" => "499"}
      .player-value.m-pitch-player--points-bar 575 PTS
      .m-pitch-player--team-bar.player-team SWA
      .m-pitch-player--status-bar.player-status.played Played
      .m-pitch-player--name-bar.player-name Michu
      .m-pitch-player--jersey.player-jersey
      %a.m-pitch-player--info{:href => "#"}
    .m-pitch-player.player.TOT.l-pitch-position-2{"data-id" => "533"}
      .player-value.m-pitch-player--points-bar 0 PTS
      .m-pitch-player--team-bar.player-team TOT
      .m-pitch-player--status-bar.player-status.did-not-play Didn't Play
      .m-pitch-player--name-bar.player-name Bale
      .m-pitch-player--jersey.player-jersey
      %a.m-pitch-player--info{:href => "#"}
    .m-pitch-player.player.EVT.l-pitch-position-3{"data-id" => "117"}
      .player-value.m-pitch-player--points-bar 475 PTS
      .m-pitch-player--team-bar.player-team EVT
      .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
      .m-pitch-player--name-bar.player-name Fellaini
      .m-pitch-player--jersey.player-jersey
      %a.m-pitch-player--info{:href => "#"}
    .m-pitch-player.player.ARS.l-pitch-position-4{"data-id" => "25"}
      .player-value.m-pitch-player--points-bar 4740 PTS
      .m-pitch-player--team-bar.player-team ARS
      .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
      .m-pitch-player--name-bar.player-name Cazorla
      .m-pitch-player--jersey.player-jersey
      %a.m-pitch-player--info{:href => "#"}
  .m-pitch-row.m-pitch-row_forward
    .m-pitch-player.player.MNU.l-pitch-position-1{"data-id" => "253"}
      .player-value.m-pitch-player--points-bar 2275 PTS
      .m-pitch-player--team-bar.player-team MNU
      .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
      .m-pitch-player--name-bar.player-name van Persie
      .m-pitch-player--jersey.player-jersey
      %a.m-pitch-player--info{:href => "#"}
    .m-pitch-player.player.TOT.l-pitch-position-2{"data-id" => "544"}
      .player-value.m-pitch-player--points-bar 650 PTS
      .m-pitch-player--team-bar.player-team TOT
      .m-pitch-player--status-bar.player-status.played Played
      .m-pitch-player--name-bar.player-name Defoe
      .m-pitch-player--jersey.player-jersey
      %a.m-pitch-player--info{:href => "#"}
