%tr.m-fixture-details
  %td.m-fixture-details-cell{colspan: "6"}
    %table.m-table_fixture-details
      %tr
        %td
          %table.m-table_fixture-details-summary
            %tr
              %td.time-column
                &nbsp;
              %td.jersey-column
                &nbsp;
              %td.home-team-column
              %td.score-column
                %table.m-table_fixture-details--result 
                  %tr
                    %td FT 90 +4
                  %tr
                    %td HT 0 - 1 
              %td.away-team-column
                %table.m-table_fixture-details--goals
                  %tr.m-fixture-incident
                    %td Walcott '1
              %td.jersey-column
                &nbsp;
      %tr
        %td
          %table.m-table_fixture-details-lineup
            %thead
              %tr
                %th.time-column
                  &nbsp;
                %th.jersey-column
                  &nbsp;
                %th.home-team-column
                  &nbsp;
                %th.score-column{colspan: "2"}
                  Lineup
                %th.away-team-column
                  &nbsp;
                %th.jersey-column
                  &nbsp;
            %tbody
              %tr
                %td.time-column
                  &nbsp;
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}

                  %table
                    %tr
                      %td.home-lineup-column 
                        Green
                        %span.jersey-number 01
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column
                        (Fabio 90')
                        Traore 
                        %span.jersey-number 03
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Hill
                        %span.jersey-number 06
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Onuoha
                        %span.jersey-number 15
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column
                        Ben-Haim
                        %span.jersey-number 21
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        (Taarabt 79')
                        Park Ji-sung
                        %span.jersey-number 07
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Jenas
                        %span.jersey-number 16
                      %td.home-incident-column
                        %i.icon-lineup-yellow-card
                    %tr
                      %td.home-lineup-column 
                        Townsend  
                        %span.jersey-number 29
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        (Derry 46')
                        M'bia 
                        %span.jersey-number 40
                      %td.home-incident-column
                        %i.icon-lineup-yellow-card
                    %tr
                      %td.home-lineup-column 
                        Remy
                        %span.jersey-number 18
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Zamora 
                        %span.jersey-number 25
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.highlight Substitutes 
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Murphy
                        %span.jersey-number 26
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Fabio
                        %span.jersey-number 20
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Derry
                        %span.jersey-number 04
                      %td.home-incident-column
                        %i.icon-lineup-yellow-card
                    %tr
                      %td.home-lineup-column 
                        Taarabt
                        %span.jersey-number 10
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Granero
                        %span.jersey-number 14
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Mackie
                        %span.jersey-number 12
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Bothroyd  
                        %span.jersey-number 37
                      %td.home-incident-column
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}
                  %table
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column
                        %span.jersey-number 01
                        Szczesny
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column
                        %span.jersey-number 03
                        Sagna
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 04
                        Mertesacker
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 06
                        Koscienly
                    %tr
                      %td.away-incident-column 
                        %i.icon-lineup-yellow-card
                      %td.away-lineup-column 
                        %span.jersey-number 17
                        Monreal
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 07
                        Rosicky (Vermaelen 90')

                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 08
                        Arteta
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 14
                        Walcott
                        %i.icon-lineup-goal
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 16
                        Ramsey
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 19
                        Cazorla
                        (Wilshere  89')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 09
                        Podoski (Oxlade-Chamberlain 85')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.highlight Substitutes
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 24
                        Mannone
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 05
                        Vermaelen
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 25
                        Jenkinson
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 10
                        Wilshere
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 15
                        Oxlade-Chamberlain

                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 22
                        Coquelin
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 27
                        Gervinho
