%table.m-table_inline.m-table_scoring-matrix{:border => "0", :cellpadding => "0", :cellspacing => "0"}
  %thead.m-table--header
    %tr
      %th.event-column Event
      %th.goalkeeper-column Goalkeeper
      %th.defender-column Defender
      %th.midfielder-column Midfielder
      %th.forward-column Forward
  %tbody.m-table--body
    %tr
      %td.event-column Save
      %td.goalkeeper-column 100
      %td.defender-column -
      %td.midfielder-column -
      %td.forward-column -
    %tr
      %td.event-column Clean sheet
      %td.goalkeeper-column 500
      %td.defender-column 500
      %td.midfielder-column -
      %td.forward-column -
    %tr
      %td.event-column Goal conceded
      %td.goalkeeper-column -250
      %td.defender-column -250
      %td.midfielder-column -
      %td.forward-column -
    %tr
      %td.event-column Clearance
      %td.goalkeeper-column 50
      %td.defender-column 50
      %td.midfielder-column -
      %td.forward-column -
    %tr
      %td.event-column Tackle
      %td.goalkeeper-column 25
      %td.defender-column 25
      %td.midfielder-column 25
      %td.forward-column 25
    %tr
      %td.event-column Interception
      %td.goalkeeper-column 50
      %td.defender-column 50
      %td.midfielder-column 50
      %td.forward-column 50
    %tr
      %td.event-column Shot on Target
      %td.goalkeeper-column 200
      %td.defender-column 200
      %td.midfielder-column 200
      %td.forward-column 200
    %tr
      %td.event-column Assist
      %td.goalkeeper-column 400
      %td.defender-column 400
      %td.midfielder-column 400
      %td.forward-column 400
    %tr
      %td.event-column Goal
      %td.goalkeeper-column 1,000
      %td.defender-column 1,000
      %td.midfielder-column 1,000
      %td.forward-column 1,000
    %tr
      %td.event-column Yellow Card
      %td.goalkeeper-column -200
      %td.defender-column -200
      %td.midfielder-column -200
      %td.forward-column -200
    %tr
      %td.event-column Red Card
      %td.goalkeeper-column -500
      %td.defender-column -500
      %td.midfielder-column -500
      %td.forward-column -500
    %tr
      %td.event-column Per Minute Played
      %td.goalkeeper-column 5
      %td.defender-column 5
      %td.midfielder-column 5
      %td.forward-column 5
