#sent_password_modal.modal.m-modal_sign-up.hide.fade.new.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %span.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  .m-modal--header-bar
    %img{src: "/images/modal-header.png"}
  .m-modal-body
    %h1 Check your email
    %p Check your inbox for an email that will let you reset your password.
    %p
      If you have any problems, please contact us at
      %a{href: "mailto: info@playon.co.uk"} info@playon.co.uk
    %p 
      Thanks
      %br
      The PlayON Team
  .m-modal--footer_gambling
    %img{src: "/images/sign-up-footer.png"}
