#sign_up_modal.modal.m-modal_sign-up.hide.fade.new.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %span.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  .m-modal--header-bar
    %img{src: "/images/modal-header.png"}
  .m-modal-body
    %h1 Sign up. it's free:
    #sign_up_form.new-session-form
      %p.m-modal--encouragement 
        Earn 100 Reward Points just for registering.
        %br/
        Invite 5 friends and get £10 FREE CREDIT. 
      %p.alert
      %form#sign_up_user.m-form_modal{"accept-charset" => "UTF-8", :action => "/", "data-remote" => "true", :method => "post", :novalidate => "novalidate"}
        %div{:style => "margin:0;padding:0;display:inline"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        .m-form-element
          %label.m-label{:for => "user_first_name"}
            First name
            %abbr.m-label--required{:title => "required"} *
          %input.m-input_text{:name => "user[first_name]", :size => "50", :type => "text"}/
        .m-form-element
          %label.m-label{:for => "user_last_name"}
            Last name
            %abbr.m-label--required{:title => "required"} *
          %input.m-input_text{:name => "user[last_name]", :size => "50", :type => "text"}/
        .m-form-element
          %label.m-label{:for => "user_email"}
            Email
            %abbr.m-label--required{:title => "required"} *
          %input.m-input_text{:name => "user[email]", :size => "50", :type => "email", :value => ""}/
        .m-form-element
          %label.m-label{:for => "user_password"}
            Password
            %abbr.m-label--required{:title => "required"} *
          %input.m-input_text{:name => "user[password]", :size => "50", :type => "password"}/
        .m-form-element
          .m-checkbox.right
            %input#user_age_validation{type: "checkbox", checked: "checked"}
            %label{for: "user_age_validation"}
          %label.m-label_checkbox.right{for: "user_age_validation"} I confirm I am over 18
        .m-form-actions
          .m-form-actions--next
            %input.m-button{:name => "commit", :type => "submit", :value => "Sign up"}/
            %a.or-link.m-link_secondary#or-login{href: "#"} or log in
  .m-modal--footer_gambling
    %img{src: "/images/sign-up-footer.png"}
