%tr.m-fixture-details
  %td.m-fixture-details-cell{colspan: "6"}
    %table.m-table_fixture-details
      %tr
        %td
          %table.m-table_fixture-details-summary
            %tr
              %td.time-column
                &nbsp;
              %td.jersey-column
                &nbsp;
              %td.home-team-column
              %td.score-column
                %table.m-table_fixture-details--result 
                  %tr
                    %td FT 90 +3
                  %tr
                    %td HT 0 - 0 
              %td.away-team-column
              %td.jersey-column
                &nbsp;
      %tr
        %td
          %table.m-table_fixture-details-lineup
            %thead
              %tr
                %th.time-column
                  &nbsp;
                %th.jersey-column
                  &nbsp;
                %th.home-team-column
                  &nbsp;
                %th.score-column{colspan: "2"}
                  Lineup
                %th.away-team-column
                  &nbsp;
                %th.jersey-column
                  &nbsp;
            %tbody
              %tr
                %td.time-column
                  &nbsp;
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}

                  %table
                    %tr
                      %td.home-lineup-column 
                        Vorm
                        %span.jersey-number 01
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column
                        Chico
                        %span.jersey-number 03
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Williams
                        %span.jersey-number 04
                      %td.home-incident-column

                    %tr
                      %td.home-lineup-column 
                        Rangel
                        %span.jersey-number 05
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column
                        Davies
                        %span.jersey-number 27
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Britton
                        %span.jersey-number 14
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        (Moore 69')
                        Michu
                        %span.jersey-number 16
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Pablo
                        %span.jersey-number 28
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        (Tiendalli 85')
                        Dyer 
                        %span.jersey-number 33
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        (Agustien 64')
                        Routledge 
                        %span.jersey-number 09
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        De Guzman
                        %span.jersey-number 11
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.highlight Substitutes 
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Tremmel
                        %span.jersey-number 38
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Taylor
                        %span.jersey-number 15
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Monk
                        %span.jersey-number 18
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Tiendalli
                        %span.jersey-number 25
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Agustien
                        %span.jersey-number 12
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Shechter
                        %span.jersey-number 31
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Moore
                        %span.jersey-number 20
                      %td.home-incident-column
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}
                  %table
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column
                        %span.jersey-number 21
                        Hart
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column
                        %span.jersey-number 02
                        Kompany
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 21
                        Zabaleta
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 15
                        Clichy
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 27
                        Nastasic
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 04
                        Milner
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 11
                        Nasri
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 19
                        Barry
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 20
                        Silva (Rodwell 85')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 07
                        Y Toure
                        (Dzeko 46')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 12
                        Aguero (Tevez 78')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.highlight Substitutes
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 41
                        Pantilimon
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 05
                        Kolarov
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 23
                        K Toure
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 29
                        Garcia
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 09
                        Rodwell
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 10
                        Dzeko
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 30
                        Tevez
