#team_challenge_modal.modal.m-modal_pitch-compare.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close{href: "#", "data-dismiss" => "modal"}
  .m-modal--body 
    .m-compare_home
      .m-box--header-bar
        %h1.m-box--heading Killian Jones
      .m-box--body.center
        = partial :_compare_pitch
    %h2.m-vs-heading VS
    .m-compare_away
      .m-box--header-bar
        %h1.m-box--heading Robbie Fowler
      .m-box--body.center
        = partial :_compare_pitch
    
    = partial '_one-on-one_team_challenge_ticket'.to_sym
