.m-navigation_top-bar#navigation_top-bar
  %ul.m-navigation_top-bar-list.left
    %li.m-navigation_top-bar--item.m-dropdown.topbar
      %a.m-navigation_top-bar--link.m-dropdown--link{href: "#"}
        %i.m-flag.flag-england
        Premier League
        %b.caret
      .m-dropdown-content.menu.two-columns.left
        %ul.m-dropdown-content--inner
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link.active{href: "#"}
              %i.m-flag.flag-england
              Premier League
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-brazil
              World Cup 2014
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-spain
              Primera Division
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-germany
              Bundesliga
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-italy
              Serie A
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-france
              Ligue 1
        %ul.m-dropdown-content--inner
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-netherlands
              Eredivise
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-portugal
              Primeira Liga
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-russia
              Premjer-liga
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-greece
              Superleague
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-ukraine
              Premjer Liha
    %li.m-navigation_top-bar--item.m-dropdown.topbar
      %a.m-navigation_top-bar--link.m-dropdown--link{href: "#"}
        English
        %b.caret
      .m-dropdown-content.menu.two-columns.left
        %ul.m-dropdown-content--inner
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link.active{href: "#"} English
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Espanol
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Deutsch
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Italiano
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Portugues
        %ul.m-dropdown-content--inner
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Dansk
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Svenska
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Norsk
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Magyar

  %ul.m-navigation_top-bar-list.right
    %li.m-navigation_top-bar--item.m-account-panel--container
      .m-account-panel
        %span.m-account-panel--greeting Hi Simon
        %span.m-account-panel--balance balance: &pound;400.20
        .m-account-panel-links
          %a.m-account-panel--link{href: '/account/transactions/history'} Account
          %span.m-account-panel-links--divider 
            |
          %a.m-account-panel--link{href: '#'} Log out

  .m-navigation_top-bar-banner
    %a{href: "#invite_modal", "data-toggle" => "modal"}
      %img{src: "/images/get-10-free.png"}
