.m-navigation_top-bar#navigation_top-bar
  %ul.m-navigation_top-bar-list.left
    %li.m-navigation_top-bar--item.m-dropdown.topbar
      %a.m-navigation_top-bar--link.m-dropdown--link{href: "#"}
        Sport
        %b.caret
      .m-dropdown-content.menu.two-columns.left
        %ul.m-dropdown-content--inner
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "/account/transaction-history"} 
              %i.m-flag.flag-england
              Premier League
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-brazil
              World Cup 2014
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-spain
              Primera Division
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-germany
              Bundesliga
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-italy
              Serie A
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-france
              Ligue 1
        %ul.m-dropdown-content--inner
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-netherlands
              Eredivise
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-portugal
              Primeira Liga
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-russia
              Premjer-liga
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-greece
              Superleague
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} 
              %i.m-flag.flag-ukraine
              Premjer Liha
    %li.m-navigation_top-bar--item.m-dropdown.topbar
      %a.m-navigation_top-bar--link.m-dropdown--link{href: "#"}
        Language
        %b.caret
      .m-dropdown-content.menu.two-columns.left
        %ul.m-dropdown-content--inner
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} English
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Espanol
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Deutsch
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Italiano
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Portugues
        %ul.m-dropdown-content--inner
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Dansk
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Svenska
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Norsk
          %li.m-dropdown-menu--item
            %a.m-dropdown-menu--link{href: "#"} Magyar

  
  %ul.m-navigation_top-bar-list.right
    %li.m-navigation_top-bar--item
      %a.m-navigation_top-bar--link{href: "#sign_up_modal", "data-toggle" => "modal"} sign up
    %li.m-navigation_top-bar--item.m-dropdown.topbar
      %a.m-navigation_top-bar--link.m-dropdown--link.login{href: "#login"}
        Log in
        %b.caret
      .m-dropdown-content.container.right
        %form#login-form.m-form.m-form_login{action: "/account/transaction-history"}
          .m-form-element
            %label.m-label Email Address
            %input.m-input_text.email{type: 'text'}

          .m-form-element
            %label.m-label Password
            %input.m-input_text{type: 'password'}

          .m-form-actions
            .m-form-actions--previous
              %a.m-link_muted{href: "#forgotten_password_modal", "data-toggle" => "modal"} Forgot  password
            .m-form-actions--next
              %button.m-button{type: 'submit'} Log in
              %a.m-link_secondary{href: '#', "data-toggle" => "modal", "data-target" => "#sign_up_modal"} or sign up
  .m-navigation_top-bar-banner
    %a{href: "#invite_modal", "data-toggle" => "modal"}
      %img{src: "/images/get-10-free.png"}
