%tr.m-fixture-details
  %td.m-fixture-details-cell{colspan: "6"}
    %table.m-table_fixture-details
      %tr
        %td
          %table.m-table_fixture-details-summary
            %tr
              %td.time-column
                &nbsp;
              %td.jersey-column
                &nbsp;
              %td.home-team-column
                %table.m-table_fixture-details--goals
                  %tr.m-fixture-incident
                    %td Bale 86'
              %td.score-column
                %table.m-table_fixture-details--result 
                  %tr
                    %td FT 90 +5
                  %tr
                    %td HT 0 - 0 
              %td.away-team-column
              %td.jersey-column
                &nbsp;
      %tr
        %td
          %table.m-table_fixture-details-lineup
            %thead
              %tr
                %th.time-column
                  &nbsp;
                %th.jersey-column
                  &nbsp;
                %th.home-team-column
                  &nbsp;
                %th.score-column{colspan: "2"}
                  Lineup
                %th.away-team-column
                  &nbsp;
                %th.jersey-column
                  &nbsp;
            %tbody
              %tr
                %td.time-column
                  &nbsp;
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}

                  %table
                    %tr
                      %td.home-lineup-column 
                        Lloris
                        %span.jersey-number 01
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column
                        Vertonghen
                        %span.jersey-number 03
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Dawson
                        %span.jersey-number 04
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Walker
                        %span.jersey-number 05
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column
                        Assou-Ekotto
                        %span.jersey-number 27
                      %td.home-incident-column
                        %i.icon-lineup-red-card
                    %tr
                      %td.home-lineup-column 
                        (Sigurdsson 72')
                        Dempsey
                        %span.jersey-number 14
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Huddlestone
                        %span.jersey-number 16
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        (Adebayor 59')
                        Lennon 
                        %span.jersey-number 28
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %i.icon-lineup-goal
                        Bale
                        %span.jersey-number 33
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Defoe
                        %span.jersey-number 09
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        (Holtby 35')
                        Dembele 
                        %span.jersey-number 11
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.highlight Substitutes 
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Etheridge 
                        %span.jersey-number 38
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Richardson
                        %span.jersey-number 15
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Hughes
                        %span.jersey-number 18
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Manolev
                        %span.jersey-number 25
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Frimpong
                        %span.jersey-number 12
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Kacaniklic
                        %span.jersey-number 31
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Rodallega
                        %span.jersey-number 20
                      %td.home-incident-column
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}
                  %table
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column
                        %span.jersey-number 21
                        McCarthy
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column
                        %span.jersey-number 02
                        Gunter
                    %tr
                      %td.away-incident-column 
                        %i.icon-lineup-yellow-card
                      %td.away-lineup-column 
                        %span.jersey-number 21
                        Mariappa
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 15
                        Morrison
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 27
                        Kelly
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 04
                        Karacan
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 11
                        McAnuff
                        (Blackman 73')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 19
                        Robson-Kanu
                        (Carrico 81')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 20
                        Guthrie
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 07
                        Pogrebnyak
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 12
                        McCleary
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.highlight Substitutes
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 41
                        Taylor
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 05
                        Pearce
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 23
                        Harte
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 29
                        Carrico
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 09
                        Le Fondre
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 10
                        Hunt
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 30
                        Blackman
