#view_multiplayer_game_modal.modal.m-modal_multiplayer-game.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close.m-icon.icon-close{"data-dismiss" => "modal"}
  .m-modal--header-bar
    %h1.m-header-bar--heading The Big One Multiplayer Game
    
  .m-modal--body
    = partial :_multiplayer_modal_ticket
    .m-modal_multiplayer-details
      %ul.m-tab-navigation_multiplayer-details
        %li.m-tab-navigation_multiplayer-details--tab.active
          %a.m-tab-navigation_multiplayer-details--link{"data-toggle" => "tab", :href => "#whos-in"} Who's In:
        %li.m-tab-navigation_multiplayer-details--tab
          %a.m-tab-navigation_multiplayer-details--link{"data-toggle" => "tab", :href => "#invite"} Invite to game
      #whos-in.m-tab-pane.active
        .m-media
          .m-media--sidebar
            %img.m-media--image{:alt => "Adam's Avatar", :src => "/images/adam-carroll.jpg"}/
          .m-media--details
            %span.m-media--name Jonathon Carroll
            %dl.m-media-record
              %dt.m-media-record--label
                %abbr{title: "Played"} P
              %dd.m-media-record--value 250
              %dt.m-media-record--label
                %abbr{title: "Won"} W
              %dd.m-media-record--value 150
              %dt.m-media-record--label
                %abbr{title: "Lost"} L
              %dd.m-media-record--value 100
            .m-supports
              %span.m-supports--text
                supports: ARS
              .m-jersey_small.jersey-small-arsenal

        .m-media
          .m-media--sidebar
            %img.m-media--image{:alt => "Adam's Avatar", :src => "/images/adam-carroll.jpg"}/
          .m-media--details
            %span.m-media--name Jonathon Carroll
            %dl.m-media-record
              %dt.m-media-record--label
                %abbr{title: "Played"} P
              %dd.m-media-record--value 250
              %dt.m-media-record--label
                %abbr{title: "Won"} W
              %dd.m-media-record--value 150
              %dt.m-media-record--label
                %abbr{title: "Lost"} L
              %dd.m-media-record--value 100
            .m-supports
              %span.m-supports--text
                supports: ARS
              .m-jersey_small.jersey-small-arsenal
        .m-media
          .m-media--sidebar
            %img.m-media--image{:alt => "Adam's Avatar", :src => "/images/adam-carroll.jpg"}/
          .m-media--details
            %span.m-media--name Jonathon Carroll
            %dl.m-media-record
              %dt.m-media-record--label
                %abbr{title: "Played"} P
              %dd.m-media-record--value 250
              %dt.m-media-record--label
                %abbr{title: "Won"} W
              %dd.m-media-record--value 150
              %dt.m-media-record--label
                %abbr{title: "Lost"} L
              %dd.m-media-record--value 100
            .m-supports
              %span.m-supports--text
                supports: ARS
              .m-jersey_small.jersey-small-arsenal
        .m-media
          .m-media--sidebar
            %img.m-media--image{:alt => "Adam's Avatar", :src => "/images/adam-carroll.jpg"}/
          .m-media--details
            %span.m-media--name Jonathon Carroll
            %dl.m-media-record
              %dt.m-media-record--label
                %abbr{title: "Played"} P
              %dd.m-media-record--value 250
              %dt.m-media-record--label
                %abbr{title: "Won"} W
              %dd.m-media-record--value 150
              %dt.m-media-record--label
                %abbr{title: "Lost"} L
              %dd.m-media-record--value 100
            .m-supports
              %span.m-supports--text
                supports: ARS
              .m-jersey_small.jersey-small-arsenal
        .m-media
          .m-media--sidebar
            %img.m-media--image{:alt => "Adam's Avatar", :src => "/images/adam-carroll.jpg"}/
          .m-media--details
            %span.m-media--name Jonathon Carroll
            %dl.m-media-record
              %dt.m-media-record--label
                %abbr{title: "Played"} P
              %dd.m-media-record--value 250
              %dt.m-media-record--label
                %abbr{title: "Won"} W
              %dd.m-media-record--value 150
              %dt.m-media-record--label
                %abbr{title: "Lost"} L
              %dd.m-media-record--value 100
            .m-supports
              %span.m-supports--text
                supports: ARS
              .m-jersey_small.jersey-small-arsenal
        .m-media
          .m-media--sidebar
            %img.m-media--image{:alt => "Adam's Avatar", :src => "/images/adam-carroll.jpg"}/
          .m-media--details
            %span.m-media--name Jonathon Carroll
            %dl.m-media-record
              %dt.m-media-record--label
                %abbr{title: "Played"} P
              %dd.m-media-record--value 250
              %dt.m-media-record--label
                %abbr{title: "Won"} W
              %dd.m-media-record--value 150
              %dt.m-media-record--label
                %abbr{title: "Lost"} L
              %dd.m-media-record--value 100
            .m-supports
              %span.m-supports--text
                supports: ARS
              .m-jersey_small.jersey-small-arsenal
        .m-media
          .m-media--sidebar
            %img.m-media--image{:alt => "Adam's Avatar", :src => "/images/adam-carroll.jpg"}/
          .m-media--details
            %span.m-media--name Jonathon Carroll
            %dl.m-media-record
              %dt.m-media-record--label
                %abbr{title: "Played"} P
              %dd.m-media-record--value 250
              %dt.m-media-record--label
                %abbr{title: "Won"} W
              %dd.m-media-record--value 150
              %dt.m-media-record--label
                %abbr{title: "Lost"} L
              %dd.m-media-record--value 100
            .m-supports
              %span.m-supports--text
                supports: ARS
              .m-jersey_small.jersey-small-arsenal
        .m-media
          .m-media--sidebar
            %img.m-media--image{:alt => "Adam's Avatar", :src => "/images/adam-carroll.jpg"}/
          .m-media--details
            %span.m-media--name Jonathon Carroll
            %dl.m-media-record
              %dt.m-media-record--label
                %abbr{title: "Played"} P
              %dd.m-media-record--value 250
              %dt.m-media-record--label
                %abbr{title: "Won"} W
              %dd.m-media-record--value 150
              %dt.m-media-record--label
                %abbr{title: "Lost"} L
              %dd.m-media-record--value 100
            .m-supports
              %span.m-supports--text
                supports: ARS
              .m-jersey_small.jersey-small-arsenal
        .m-media
          .m-media--sidebar
            %img.m-media--image{:alt => "Adam's Avatar", :src => "/images/adam-carroll.jpg"}/
          .m-media--details
            %span.m-media--name Jonathon Carroll
            %dl.m-media-record
              %dt.m-media-record--label
                %abbr{title: "Played"} P
              %dd.m-media-record--value 250
              %dt.m-media-record--label
                %abbr{title: "Won"} W
              %dd.m-media-record--value 150
              %dt.m-media-record--label
                %abbr{title: "Lost"} L
              %dd.m-media-record--value 100
            .m-supports
              %span.m-supports--text
                supports: ARS
              .m-jersey_small.jersey-small-arsenal
        .m-media
          .m-media--sidebar
            %img.m-media--image{:alt => "Adam's Avatar", :src => "/images/adam-carroll.jpg"}/
          .m-media--details
            %span.m-media--name Jonathon Carroll
            %dl.m-media-record
              %dt.m-media-record--label
                %abbr{title: "Played"} P
              %dd.m-media-record--value 250
              %dt.m-media-record--label
                %abbr{title: "Won"} W
              %dd.m-media-record--value 150
              %dt.m-media-record--label
                %abbr{title: "Lost"} L
              %dd.m-media-record--value 100
            .m-supports
              %span.m-supports--text
                supports: ARS
              .m-jersey_small.jersey-small-arsenal
      #invite.m-tab-pane
        .m-invite-section#invite_contacts_section
          .m-invite-section--option
            %h3.m-invite-section--heading Invite your PlayON contacts to the game:
            %a#invite-contacts-button.m-button_invite{href: "#"}
              invite contacts
              %b.caret
          .m-invite-section--inner#invite-contacts-section--inner
            %input.m-input_search{:placeholder => "Search by name...", :type => "search"}/
            #invite-dropkick-filters.m-filters--container
              %label.m-label{:for => "invite_player_filter"}
                Filter by:
              %select#invite_player_filter.dropkick{:name => "players"}
                %option{selected: "selected", value: ""} All Players
                %option{value: "contacts"} My Contacts
                %option{value: "ambassador"} Ambassadors

              %a.m-link{:href => "#"} Clear filters

            %table.m-table_inline.m-table_scrollable.m-table_invite-contacts
              %thead.m-table--header
                %tr
                  %th.name-column Name
                  %th.club-column Club
                  %th.contact-column Contact
                  %th.invite-column Invite
                  %th.scrollbar-column &nbsp;
              %tbody.m-table--body
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact

                  %td.invite-column
                    %span.m-ribbon_small.success Invite Accepted!
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "35", :href => "#"} Lucy PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact

                  %td.invite-column
                    %a.m-button_table{"data-friend-email" => "lucy@playon.co.uk", "data-league-id" => "71", :href => "#"} Invite
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "69", :href => "#"} Mickey Mouse
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact

                  %td.invite-column
                    %span.m-ribbon_small.waiting Awaiting Response
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "75", :href => "#"} Donald Duck
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact

                  %td.invite-column
                    %a.m-button_table{"data-friend-email" => "donald.duck@disney.com", "data-league-id" => "71", :href => "#"} Invite
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "90", :href => "#"} Michael Jordan
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact

                  %td.invite-column
                    %a.m-button_table{"data-friend-email" => "mj@bulls.com", "data-league-id" => "71", :href => "#"} Invite
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "125", :href => "#"} Glaceau Water
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact

                  %td.invite-column
                    %a.m-button_table{"data-friend-email" => "newaccantu@aeou.com", "data-league-id" => "71", :href => "#"} Invite
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "200", :href => "#"} Gianfranco Zola
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact

                  %td.invite-column
                    %a.m-button_table{"data-friend-email" => "gzola@gmail.com", "data-league-id" => "71", :href => "#"} Invite
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "202", :href => "#"} Dider Drogba
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact

                  %td.invite-column
                    %a.m-button_table{"data-friend-email" => "dd@galatasary.com", "data-league-id" => "71", :href => "#"} Invite
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "213", :href => "#"} Chipper Jones
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact

                  %td.invite-column
                    %a.m-button_table{"data-friend-email" => "chipper.jones@atlanta.com", "data-league-id" => "71", :href => "#"} Invite
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "234", :href => "#"} Robbie Fowler
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact

                  %td.invite-column
                    %a.m-button_table{"data-friend-email" => "robbie.fowler@liverpool.com", "data-league-id" => "71", :href => "#"} Invite
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "247", :href => "#"} Modal Viewer
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact

                  %td.invite-column
                    %a.m-button_table{"data-friend-email" => "eou.oeuoe@ouoeu.com", "data-league-id" => "71", :href => "#"} Invite
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "274", :href => "#"} Glaceau Water
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact

                  %td.invite-column
                    %a.m-button_table{"data-friend-email" => "water@bottle.com", "data-league-id" => "71", :href => "#"} Invite
                  %td.scrollbar-column &nbsp;
        .m-invite-section
          .m-invite-section--option
            %h3.m-invite-section--heading Connect to Facebook to invite friends:
            %a.m-button_invite.facebook{href: "#"}
              %i.icon-facebook-button
              invite from facebook
        .m-invite-section
          .m-invite-section--option
            %h3.m-invite-section--heading Connect to twitter to invite friends:
            %a.m-button_invite.twitter{href: "#"}
              %i.icon-twitter-share-button
              invite from twitter
        .m-invite-section
          .m-invite-section--option
            %h3.m-invite-section--heading Invite your contacts by email:
            %a.m-button_invite{href: "#"}
              %i.icon-email-invite-button
              invite by email
