#waiting_one-on-one_ticket_modal.modal.m-modal_ticket.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :tabindex => "-1"}
  %i.m-modal-close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
  .m-modal--header-bar
    %h1.m-header-bar--heading Enter a one-on-one game
  .m-modal--body
    = partial '_one-on-one_waiting_ticket'.to_sym
