%tr.m-fixture-details
  %td.m-fixture-details-cell{colspan: "6"}
    %table.m-table_fixture-details
      %tr
        %td
          %table.m-table_fixture-details-summary
            %tr
              %td.time-column
                &nbsp;
              %td.jersey-column
                &nbsp;
              %td.home-team-column
                %table.m-table_fixture-details--goals
                  %tr.m-fixture-incident
                    %td Long 29'
                  %tr.m-fixture-incident
                    %td McAuley 50'
              %td.score-column
                %table.m-table_fixture-details--result 
                  %tr
                    %td FT 90 +6
                  %tr
                    %td HT 1 - 1 
              %td.away-team-column
                %table.m-table_fixture-details--goals
                  %tr.m-fixture-incident
                    %td Kone 39'
                  %tr.m-fixture-incident
                    %td McArthur 58'
                  %tr.m-fixture-incident
                    %td
                      McManaman 80'
                      Maloney 80' (assist)
              %td.jersey-column
                &nbsp;
      %tr
        %td
          %table.m-table_fixture-details-lineup
            %thead
              %tr
                %th.time-column
                  &nbsp;
                %th.jersey-column
                  &nbsp;
                %th.home-team-column
                  &nbsp;
                %th.score-column{colspan: "2"}
                  Lineup
                %th.away-team-column
                  &nbsp;
                %th.jersey-column
                  &nbsp;
            %tbody
              %tr
                %td.time-column
                  &nbsp;
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}

                  %table
                    %tr
                      %td.home-lineup-column 
                        Foster
                        %span.jersey-number 01
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column
                        Olsson
                        %span.jersey-number 03
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Ridgewell
                        %span.jersey-number 04
                      %td.home-incident-column
                        %i.icon-lineup-yellow-card
                    %tr
                      %td.home-lineup-column 
                        %i.icon-lineup-goal
                        McAuley
                        %span.jersey-number 05
                      %td.home-incident-column
                        %i.icon-lineup-yellow-card
                    %tr
                      %td.home-lineup-column
                        Jones
                        %span.jersey-number 27
                      %td.home-incident-column
                        %i.icon-lineup-yellow-card
                    %tr
                      %td.home-lineup-column 
                        Yacob
                        %span.jersey-number 14
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Dorrans
                        %span.jersey-number 16
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        (Brown 86')
                        Mulumbu 
                        %span.jersey-number 28
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        (Morrsion 65')
                        Rosenberg 
                        %span.jersey-number 33
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %i.icon-lineup-goal
                        Long
                        %span.jersey-number 09
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        (Thomas 65')
                        Lukaku 
                        %span.jersey-number 11
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        %span.highlight Substitutes 
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Myhill
                        %span.jersey-number 38
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Dawson
                        %span.jersey-number 15
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Tamas
                        %span.jersey-number 18
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Morrison
                        %span.jersey-number 25
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Thomas
                        %span.jersey-number 12
                      %td.home-incident-column
                    %tr
                      %td.home-lineup-column 
                        Brown
                        %span.jersey-number 31
                      %td.home-incident-column
                        %i.icon-lineup-yellow-card
                    %tr
                      %td.home-lineup-column 
                        Odemwinge
                        %span.jersey-number 20
                      %td.home-incident-column
                %td.m-table_fixture-details-lineup--name-cell{colspan: "3"}
                  %table
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column
                        %span.jersey-number 21
                        Robles
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column
                        %span.jersey-number 02
                        Boyce
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 21
                        Stam (Golobart 57')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 15
                        McCarthy
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 27
                        Watson
                    %tr
                      %td.away-incident-column 
                        %i.icon-lineup-yellow-card
                      %td.away-lineup-column 
                        %span.jersey-number 04
                        Maloney
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 11
                        Gomez (McArthur 57')
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 19
                        Beausejour (Espinoza 74')
                    %tr
                      %td.away-incident-column 
                        %i.icon-lineup-yellow-card
                      %td.away-lineup-column 
                        %span.jersey-number 20
                        Scharner
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 07
                        Kone
                        %i.icon-lineup-goal
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 12
                        McManaman
                        %i.icon-lineup-goal
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.highlight Substitutes
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 41
                        Al Habsi
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 05
                        Caldwell
                    %tr
                      %td.away-incident-column 
                        %i.icon-lineup-yellow-card
                      %td.away-lineup-column 
                        %span.jersey-number 23
                        Golobart
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 29
                        McArthur
                        %i.icon-lineup-goal
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 09
                        Espinoza
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 10
                        Di Santo
                    %tr
                      %td.away-incident-column 
                      %td.away-lineup-column 
                        %span.jersey-number 30
                        Heriquez
