.m-section.m-section_content
  .m-section--body
    .m-content--group
      .grid-10.grid-prefix-3
        %h1.m-content-heading
          About us
      .m-content--group
        .m-content--body.grid-10.grid-prefix-3
          %p.m-content--body-text
            Our goal is to give you the best fantasy football experience available anywhere online.
          %p.m-content--body-text
            PlayON is
            = succeed "." do
              %strong Weekly Fantasy Football
            There’s no falling behind, no playing catch up. You get a fresh start every week.
          %p.m-content--body-text
            PlayON is
            = succeed "." do
              %strong about banter
            You can play your friends in One-on-One games, create private multiplayer games and enter games against the general public. As PlayON is a weekly game, there's fresh banter and bragging rights every week.
          %p.m-content--body-text
            PlayON is for
            = succeed "." do
              %strong free or for cash
            You can play for free bragging rights forever if you wish. If you want to play for cash, we are licensed and regulated by the UK Gambling Commission.
          %p.m-content--body-text
            We are always looking to improve PlayON so if you have any suggestions, let us know and we will build them. We reward good ideas with free credit.
          %p.m-content--body-text
            Enjoy the Game,
          %p.m-content--body-text
            The PlayON Team
