.m-box--header-bar
  %h1.m-box--heading Manage Account
.m-box--body
  .m-division.m-division_limit-deposit
    %h2.m-division--heading Limit your daily deposits
    %p If you would like to set a limit for daily deposits, please choose from the dropdown:
    .m-form-element
      %label.m-label{:for => "limit_deposits"} Daily deposit limit
      %select.dropkick#user_limit_deposits{:name => "user[limit_deposits]"}
        %option{:value => "10"} £10
        %option{:value => "20"} £20
        %option{:value => "30"} £30
        %option{:value => "40"} £40
        %option{:value => "50"} £50
        %option{:value => "100"} £100

  .m-form-actions
    .m-form-actions--next
      %input.m-button{:type => "submit", :value => "Update Limit"}/
  .m-division.m-division_limit-deposit
    %h2.m-division--heading More info
    %p To help you manage your personal budget, you can limit how much money you can deposit into your PlayOn account each day.
    %p You can reduce your limit anytime you want, e.g. from £100/day to £50/day. This change is usually effective immediately however it may take up to 24 hours. Your deposit limit will stay in force until you change or remove it.
    %p To increase your deposit limit, e.g. from £10/day to £50/day, we are required to enforce a cooling off period of 24 hours from the time you change the limit before the new limit takes effect.
