.m-box--header-bar
  %h1.m-box--heading Withdraw

.m-box--body

  .m-division
    %h2.m-division--heading Withdrawal successful
    %p Thanks for your custom. We have arranged for the money to be transferred to you and it should be in your account in the next 48 hours.
    %p
      Your account balance is now:
      .m-account-balance
        %span.m-account-balance--value £390.00

    %p
      %br/
      If you have any issues, please
      %a{href:"mailto:support@playon.com"} contact our Support Team
      , supplying the following transaction code: ASBASIHD

  .m-form-actions
    .m-form-actions--previous
      %a.m-button{href: "/games/one-on-one"} Go to One-on-One Games
    .m-form-actions--next
      %a.m-button{href: "/games/multiplayer"} Go to Mulitplayer Games
