.m-box--header-bar
  %h1.m-box--heading Deposit

.m-box--body
  .m-division
    %h2.m-division--heading Error
    %p We're sorry - It wasn't possible to Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor ipsum, vestibulum quis pretium a, facilisis quis lectus. Maecenas sollicitudin eu dui vitae aliquam.  
    %p
      Please
      %a{href:"#"}
        contact our support team
      or lorem ipsum dolar set amet.
