.m-box--header-bar
  %h1.m-box--heading Manage account
  
.m-box--body
  
  .m-division
    %h2.m-division--heading Close account
    %p
      If you wish to close your account, please send an email to 
      %a{href:"mailto:closeaccount@playon.co.uk"}
        closeaccount@playon.co.uk
  .m-form-actions
    .m-form-actions--next
      %a.m-button{href: "mailto:closeaccount@playon.co.uk"} Close Account
