.m-box--header-bar
  %h1.m-box--heading Rewards

.m-box--body

  .m-division
    %h2.m-division--heading Your club points
    .m-division--well
      .m-reward--status
        .m-reward-level.club.chelsea
          %span.m-reward-level-badge.gold
        %p.m-reward--status-info
          Club:
          %em.m-reward--status-value Chelsea
        %p.m-reward--status-info
          Current points:
          %em.m-reward--status-value 450
        %p.m-reward--status-info
          Current status:
          %em.m-reward--status-value Gold
        %p.m-reward--status-info
          Next level:
          %em.m-reward--status-value Black

  .m-division
    %h2.m-division--heading Club points levels
    .m-division--well
      .m-reward-level.club.green
        %p.m-reward-level--info Status: Green
        %p.m-reward-level--info 0 - 500 points
        %p.m-reward-level--info -
      .m-reward-level.club.bronze
        %p.m-reward-level--info Status: Bronze
        %p.m-reward-level--info 10m points
        %p.m-reward-level--info.glow 10 x £10 Free
      .m-reward-level.club.silver
        %p.m-reward-level--info Status: Silver
        %p.m-reward-level--info 50m points
        %p.m-reward-level--info.glow 10 x £20 Free
      .m-reward-level.club.gold
        %p.m-reward-level--info Status: Gold
        %p.m-reward-level--info 250m points
        %p.m-reward-level--info.glow 10 x £50 Free
      .m-reward-level.club.black
        %p.m-reward-level--info Status: Black
        %p.m-reward-level--info 1bn points
        %p.m-reward-level--info.glow 10 x £120 Free

  .m-division
    %h2.m-division--heading Clubs points history
    %table.m-table_inline.m-table_scrollable.m-table_rewards
      %thead.m-table--header
        %tr
          %th.date-column Date
          %th.detail-column Detail
          %th.points-column Points
          %th.total-column Total
          %th.scrollbar-column &nbsp;
      %tbody.m-table--body
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
