.m-box--header-bar
  %h1.m-box--heading Transaction History
.m-box--body
  .m-division
    %h2.m-division--heading Current balance
    %p My current balance:
    .m-account-balance
      %span.m-account-balance--value £100.00
  .m-division
    %h2.m-division--heading Previous transactions
    .m-form-search-and-filter
      %input.m-input_search{type:"text", name:"first_name", class:"text", placeholder:"Search by name..."}
      #dropkick-filters.m-filters--container
        %label.m-label
          Filter
        %select#transaction_filter.dropkick{name:"filter_transactions"}
          %option All Users
          %option My Contacts
          %option Ambassadors
        %a.m-link{href: "#"} Clear filters

    %table.m-table_inline.m-table_scrollable.m-table_transaction-history
      %thead.m-table--header
        %tr
          %th.date-column Date
          %th.detail-column Detail
          %th.amount-column Amount
          %th.balance-column Balance
          %th.scrollbar-column &nbsp;
      %tbody.m-table--body
        %tr
          %td.date-column 09/05/13
          %td.detail-column Entry: One-on-One vs Robbie Fowler
          %td.amount-column -£1.10
          %td.balance-column -£4.40
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 08/05/13
          %td.detail-column Refund: One-on-One vs Mickey Mouse
          %td.amount-column £2.20
          %td.balance-column -£3.30
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 08/05/13
          %td.detail-column Refund: One-on-One vs Robbie Fowler
          %td.amount-column £1.10
          %td.balance-column -£5.50
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 08/05/13
          %td.detail-column Refund: One-on-One vs Chipper Jones
          %td.amount-column £2.20
          %td.balance-column -£6.60
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 08/05/13
          %td.detail-column Refund: One-on-One vs Chipper Jones
          %td.amount-column £2.20
          %td.balance-column -£8.80
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 08/05/13
          %td.detail-column Entry: One-on-One vs Chipper Jones
          %td.amount-column -£2.20
          %td.balance-column -£11.00
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 08/05/13
          %td.detail-column Entry: One-on-One vs Mickey Mouse
          %td.amount-column -£2.20
          %td.balance-column -£8.80
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 08/05/13
          %td.detail-column Entry: One-on-One vs Quentin Tarrantino
          %td.amount-column -£2.20
          %td.balance-column -£6.60
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 08/05/13
          %td.detail-column Entry: One-on-One vs Robbie Fowler
          %td.amount-column -£1.10
          %td.balance-column -£4.40
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 08/05/13
          %td.detail-column Refund: One-on-One vs Robbie Fowler
          %td.amount-column £1.10
          %td.balance-column -£3.30
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 08/05/13
          %td.detail-column Entry: One-on-One vs Robbie Fowler
          %td.amount-column -£1.10
          %td.balance-column -£4.40
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 07/05/13
          %td.detail-column Refund: One-on-One vs Robbie Fowler
          %td.amount-column £1.10
          %td.balance-column -£3.30
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 07/05/13
          %td.detail-column Refund: One-on-One vs Robbie Fowler
          %td.amount-column £1.10
          %td.balance-column -£4.40
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 21/03/13
          %td.detail-column Entry: One-on-One vs Daniel PlayON Team
          %td.amount-column -£2.20
          %td.balance-column -£5.50
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 21/03/13
          %td.detail-column Entry: One-on-One vs Robbie Fowler
          %td.amount-column -£1.10
          %td.balance-column -£3.30
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 21/03/13
          %td.detail-column Entry: One-on-One vs Chipper Jones
          %td.amount-column -£2.20
          %td.balance-column -£2.20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 21/03/13
          %td.detail-column Entry: Open Challenges (1 x £0.00)
          %td.amount-column £0.00
          %td.balance-column £0.00
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 20/03/13
          %td.detail-column Entry: Open Challenges (1 x £0.00)
          %td.amount-column £0.00
          %td.balance-column £0.00
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 20/03/13
          %td.detail-column Entry: Open Challenges (1 x £0.00)
          %td.amount-column £0.00
          %td.balance-column £0.00
          %td.scrollbar-column &nbsp;
