.m-box--header-bar
  %h1.m-box--heading Manage Account

.m-box--body

  .m-division.m-division_notifications
    %h2.m-division--heading Notifications
    .m-form-element.m-division_notifications--subscribe-actions
      %button.m-button Subscribe to All
      %button.m-button Unsubscribe to All
    .m-form-element
      .m-checkbox_light
        %input#receive_league{:checked => "checked", :name => "user_email_setting[notify_league_invited]", :type => "checkbox", :value => "1"}/
        %label{for: "receive_league"}
      %label.m-label_checkbox{for: "receive_league"}
        Notify me by email when I receive a Multiplayer invite.
    .m-form-element
      .m-checkbox_light
        %input#accepts_league.m-checkbox{:checked => "checked", :name => "user_email_setting[notify_league_accepted]", :type => "checkbox", :value => "1"}/
        %label{for: "accepts_league"}
      %label.m-label_checkbox{for: "accepts_league"}
        Notify me by email when someone accepts my Multiplayer invite.
    .m-form-element
      .m-checkbox_light
        %input#receive_h2h.m-checkbox{:checked => "checked", :name => "user_email_setting[notify_h2h_invited]", :type => "checkbox", :value => "1"}/
        %label{for: "receive_h2h"}
      %label.m-label_checkbox{for: "receive_h2h"}
        Notify me by email when I receive a One-on-One invite.
    .m-form-element
      .m-checkbox_light
        %input#accepts_h2h.m-checkbox{:checked => "checked", :name => "user_email_setting[notify_h2h_accepted]", :type => "checkbox", :value => "1"}/
        %label{for: "accepts_h2h"}
      %label.m-label_checkbox{for: "accepts_h2h"}
        Notify me by email when someone accepts my One-on-One invite.
    .m-form-element
      .m-checkbox_light
        %input#accepts_group.m-checkbox{:checked => "checked", :name => "user_email_setting[notify_group_invited]", :type => "checkbox", :value => "1"}/
        %label{for: "accepts_group"}
      %label.m-label_checkbox{for: "accepts_group"}
        Notify me by email when I receive a My Club invite.
    .m-form-element
      .m-checkbox_light
        %input#accepts_group.m-checkbox{:checked => "checked", :name => "user_email_setting[notify_group_accepted]", :type => "checkbox", :value => "1"}/
        %label{for: "accepts_group"}
      %label.m-label_checkbox{for: "accepts_group"}
        Notify me by email when someone accepts my My Club invite.
    .m-form-element
      .m-checkbox_light
        %input#new_user_level.m-checkbox{:name => "user_email_setting[notify_new_user_point_level]", :type => "checkbox", :value => "1"}/
        %label{for: "new_user_level"}
      %label.m-label_checkbox{for: "new_user_level"}
        Notify me by email when I reach a new progress level.
    .m-form-element
      .m-checkbox_light
        %input#accepts_website.m-checkbox{:checked => "checked", :name => "user_email_setting[notify_website_accepted]", :type => "checkbox", :value => "1"}/
        %label{for: "accepts_website"}
      %label.m-label_checkbox{for: "accepts_website"}
        Notify me by email when someone accepts my website invite.
    .m-form-element
      .m-checkbox_light
        %input#post_facebook.m-checkbox{:checked => "checked", :name => "user_email_setting[notify_website_accepted]", :type => "checkbox", :value => "1"}/
        %label{for: "post_facebook"}
      %label.m-label_checkbox{for: "post_facebook"}
        Post to Facebook
    .m-form-element
      .m-checkbox_light
        %input#post_twitter.m-checkbox{:checked => "checked", :name => "user_email_setting[notify_website_accepted]", :type => "checkbox", :value => "1"}/
        %label{for: "post_twitter"}
      %label.m-label_checkbox{for: "post_twitter"}
        Post to twitter
  .m-form-actions
    .m-form-actions--next
      %button.m-button Update notifications
