.m-box--header-bar
  %h1.m-box--heading Rewards

.m-box--body

  .m-division
    %h2.m-division--heading
      Your
      %em.m-division--heading-playon PlayON
      rewards points
    .m-division--well
      .m-reward--status
        .m-reward-level.rookie
        %p.m-reward--status-info
          PlayON points:
          %em.m-reward--status-value 500
        %p.m-reward--status-info
          Current status:
          %em.m-reward--status-value Rookie
        %p.m-reward--status-info
          Next level:
          %em.m-reward--status-value Gamer
    %h2.m-division--heading
      Earn &pound;10 Free when you reach 5000 points
    .m-division--well
      .m-10-free-progress-well
        .m-10-free-progress-content
          %span.m-10-free-progress--reward &pound;10 free
          .m-10-free-progress-meter
            .m-10-free-progress-tracker
          .m-10-free-progress-labels
            %span.m-10-free-progress--label.label-0.passed 0
            %span.m-10-free-progress--label.label-20.passed 1000
            %span.m-10-free-progress--label.label-40 2000
            %span.m-10-free-progress--label.label-60 3000
            %span.m-10-free-progress--label.label-80 4000
            %span.m-10-free-progress--label.label-100 5000
    %p You are currently on 1,000 reward points, and you earn extra points every time you play. When you reach 5,000 we will award you &pound;10 free credit.
    %p 
      To up your points, invite 5 of your mates. You earn
      %u 5,000 points
      when they register.
    %a.m-button_invite.facebook{href: "#"}
      %i.icon-facebook-button
      invite from facebook
    %a.m-button_invite.twitter{href: "#"}
      %i.icon-twitter-share-button
      invite from twitter
    %a.m-button_invite{href: "#"}
      %i.icon-email-invite-button
      invite by email

  .m-division
    %h2.m-division--heading
      %em.m-division--heading-playon PlayON
      rewards points levels
    .m-division--well
      .m-reward-level.ballboy
        %p.m-reward-level--info Ballboy
        %p.m-reward-level--info 500 points
        %p.m-reward-level--info -
      .m-reward-level.player
        %p.m-reward-level--info Player
        %p.m-reward-level--info 5,000 points
        %p.m-reward-level--info.glow £10 Free
      .m-reward-level.manager
        %p.m-reward-level--info Manager
        %p.m-reward-level--info 20,000 points
        %p.m-reward-level--info.glow £20 Free
      .m-reward-level.hero
        %p.m-reward-level--info Hero
        %p.m-reward-level--info 50,000 points
        %p.m-reward-level--info.glow £50 Free
      .m-reward-level.legend
        %p.m-reward-level--info Legend
        %p.m-reward-level--info 100,000 points
        %p.m-reward-level--info.glow £120 Free

  .m-division
    %h2.m-division--heading
      Your
      %em.m-division--heading-playon PlayON
      rewards points history
    %table.m-table_inline.m-table_scrollable.m-table_rewards
      %thead.m-table--header
        %tr
          %th.date-column Date
          %th.detail-column Detail
          %th.points-column Points
          %th.total-column Total
          %th.scrollbar-column &nbsp;
      %tbody.m-table--body
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
        %tr
          %td.date-column 01/12/2012
          %td.detail-column Entry: One-on-One vs Daniel Arnold
          %td.points-column 20
          %td.total-column 20
          %td.scrollbar-column &nbsp;
