.m-box--header-bar
  %h1.m-box--heading Withdraw

.m-box--body

  .m-division
    %h2.m-division--heading Amount
    %form.m-form{action:"#"}
      .m-form-element.inline
        %label.m-label
          Amount
          %abbr.m-label--required{title: 'required'} *
          (£10 minimum)
        %input.m-input_text.short{type:"text", name:"deposit"}
      .m-form-element
        %input#withdraw_to_card_radio.m-input_radio{type:"radio", name: "withdrawal_method", checked: "checked"}
        %label.m-label_radio{for: "withdraw_to_card_radio"}
          Withdraw to my card (Visa only)
      .m-form-element
        %input#withdraw_to_bank_radio.m-input_radio{type:"radio", name: "withdrawal_method"}
        %label.m-label_radio{for: "withdraw_to_bank_radio"}
          Withdraw to my bank account

  .m-division.secure#card_details_division
    %h2.m-division--heading Card details
    %form.m-form{action:"#"}
      %p
        We withdraw to Visa:
        %img.m-form--card-icons{src: "/images/icons/visa-cards.png", alt: "Visa, Electron"}
      .m-form-element
        %label.m-label
          Cardholder name
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"cardholder_name"}
      .m-form-element
        %label.m-label
          Card number
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"card_number"}
      .m-form-element
        %label.m-label
          Expiry date
          %abbr.m-label--required{title: 'required'} *
        %select.dropkick#expiry_month{name:"expiry_month"}
          %option 12
        %select.dropkick#expiry_year{name:"expiry_year"}
          %option 2012
      .m-form-element
        %label.m-label
          Security code (CV2)
          %abbr.m-label--required{title: 'required'} *
          %a.m-form--help What is this?
        %input.m-input_text.short{type:"text", name:"cv2"}

  .m-division.secure#bank_details_division
    %h2.m-division--heading Bank account details
    %form.m-form{action:"#"}
      .m-form-element
        %label.m-label
          Country
          %abbr.m-label--required{title: 'required'} *
        %select.dropkick#country_select{name:"country"}
          %option United Kingdom
      .m-form-element
        %label.m-label
          Currency
          %abbr.m-label--required{title: 'required'} *
        %select.dropkick#currency_select{name:"currency"}
          %option Pound Sterling
          %option US Dollars
          %option Euros
      .m-form-element
        %label.m-label
          Account number
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"account_number"}
      .m-form-element
        %label.m-label
          Sort code
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"sort_code"}
      .m-form-element
        %label.m-label
          Name on account
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"account_name"}
      
  .m-division
    %h2.m-division--heading Verify your identity
    %form.m-form{action:"#"}
      .m-form-element
        %label.m-label
          Please enter your PlayON password
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"password", name:"password"}

  .m-form-actions
    .m-form-actions--next
      %a.m-button{href: "/account/withdraw/success/"} Withdraw
