.m-box--header-bar
  %h1.m-box--heading Confirmation

.m-box--body

  %ul.m-account-progress.step-4
    %li.m-account-progress-step
      %span.m-account-progress-step-number Step 1
      %em.m-account-progress-step-name Details
    %li.m-account-progress-step
      %span.m-account-progress-step-number Step 2
      %em.m-account-progress-step-name Address
    %li.m-account-progress-step
      %span.m-account-progress-step-number Step 3
      %em.m-account-progress-step-name Deposit
    %li.m-account-progress-step.selected
      %span.m-account-progress-step-number Step 4
      %em.m-account-progress-step-name Confirmation
  
  .m-division.secure
    %h2.m-division--heading Deposit successful
    %p Your deposit has been successfully received, thank you.
    %p
      Your account balance is now
      .m-account-balance
        %span.m-account-balance--value £400.00
    %p
      %br/
      If you have any issues, please
      %a{href:"#"}
        contact our support team
      supplying the following transaction code: poiuytr
  .m-form-actions
    .m-form-actions--previous
      %a.m-button{href: "/games/one-on-one"} Go to One-on-One Games
    .m-form-actions--next
      %a.m-button{href: "/games/multiplayer"} Go to Mulitplayer Games
