.m-box--header-bar
  %h1.m-box--heading Register

.m-box--body

  %ul.m-account-progress
    %li.m-account-progress-step.selected
      %span.m-account-progress-step-number Step 1
      %em.m-account-progress-step-name Details
    %li.m-account-progress-step
      %span.m-account-progress-step-number Step 2
      %em.m-account-progress-step-name Address
    %li.m-account-progress-step
      %span.m-account-progress-step-number Step 3
      %em.m-account-progress-step-name Deposit
    %li.m-account-progress-step
      %span.m-account-progress-step-number Step 4
      %em.m-account-progress-step-name Confirmation

  .m-division
    %h2.m-division--heading Details
    %form.m-form{action:"#"}
      .m-form-element
        %label.m-label
          First name
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"first_name"}
      .m-form-element
        %label.m-label
          Last name
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"last_name"}
      .m-form-element
        %label.m-label
          Date of birth
          %abbr.m-label--required{title: 'required'} *
        %select.m-input_select.dropkick#dob_day{name:"dob_day"}
          %option 01
          %option 02
          %option 03
          %option 04
          %option 05
          %option 06
          %option 07
          %option 10
          %option 11
          %option 12
        %select.m-input_select.dropkick#dob_month{name:"dob_month"}
          %option 01
          %option 02
          %option 03
          %option 04
          %option 05
          %option 06
          %option 07
          %option 10
          %option 11
          %option 12
        %select.m-input_select.dropkick#dob_year{name:"dob_year"}
          %option 1995
          %option 1994
          %option 1993
          %option 1992
          %option 1991
          %option 1990
          %option 1989
          %option 1988
          %option 1987
          %option 1986
          %option 1985
          %option 1984
          %option 1983
          %option 1982
          %option 1981
          %option 1980
          %option 1979
          %option 1978
          %option 1977
          %option 1976
          %option 1975
          %option 1974
          %option 1973
          %option 1972
          %option 1971
          %option 1970
          %option 1969
          %option 1968
          %option 1967
          %option 1966
          %option 1965
          %option 1964
          %option 1963
          %option 1962
          %option 1961
          %option 1960
          %option 1959
          %option 1958
          %option 1957
          %option 1956
          %option 1955
          %option 1954
          %option 1953
          %option 1952
          %option 1951
          %option 1950
          %option 1949
          %option 1948
          %option 1947
          %option 1946
          %option 1945
          %option 1944
          %option 1943
          %option 1942
          %option 1941
          %option 1940
          %option 1939
          %option 1938
          %option 1937
          %option 1936
          %option 1935
          %option 1934
          %option 1933
          %option 1932
          %option 1931
          %option 1930
          %option 1929
          %option 1928
          %option 1927
          %option 1926
          %option 1925
          %option 1924
          %option 1923
          %option 1922
          %option 1921
          %option 1920
          %option 1919
          %option 1918
          %option 1917
          %option 1916
          %option 1915

  .m-division
    %h2.m-division--heading Address
    %form.m-form{action:"#"}
      .m-form-element
        %label.m-label
          Country
          %abbr.m-label--required{title: 'required'} *
        %select.m-input_select.dropkick#country{name:"country"}
          %option{:title => "Afghanistan", :value => "Afghanistan"} Afghanistan
          %option{:title => "Åland Islands", :value => "Åland Islands"} Åland Islands
          %option{:title => "Albania", :value => "Albania"} Albania
          %option{:title => "Algeria", :value => "Algeria"} Algeria
          %option{:title => "American Samoa", :value => "American Samoa"} American Samoa
          %option{:title => "Andorra", :value => "Andorra"} Andorra
          %option{:title => "Angola", :value => "Angola"} Angola
          %option{:title => "Anguilla", :value => "Anguilla"} Anguilla
          %option{:title => "Antarctica", :value => "Antarctica"} Antarctica
          %option{:title => "Antigua and Barbuda", :value => "Antigua and Barbuda"} Antigua and Barbuda
          %option{:title => "Argentina", :value => "Argentina"} Argentina
          %option{:title => "Armenia", :value => "Armenia"} Armenia
          %option{:title => "Aruba", :value => "Aruba"} Aruba
          %option{:title => "Australia", :value => "Australia"} Australia
          %option{:title => "Austria", :value => "Austria"} Austria
          %option{:title => "Azerbaijan", :value => "Azerbaijan"} Azerbaijan
          %option{:title => "Bahamas", :value => "Bahamas"} Bahamas
          %option{:title => "Bahrain", :value => "Bahrain"} Bahrain
          %option{:title => "Bangladesh", :value => "Bangladesh"} Bangladesh
          %option{:title => "Barbados", :value => "Barbados"} Barbados
          %option{:title => "Belarus", :value => "Belarus"} Belarus
          %option{:title => "Belgium", :value => "Belgium"} Belgium
          %option{:title => "Belize", :value => "Belize"} Belize
          %option{:title => "Benin", :value => "Benin"} Benin
          %option{:title => "Bermuda", :value => "Bermuda"} Bermuda
          %option{:title => "Bhutan", :value => "Bhutan"} Bhutan
          %option{:title => "Bolivia, Plurinational State of", :value => "Bolivia, Plurinational State of"} Bolivia, Plurinational State of
          %option{:title => "Bonaire, Sint Eustatius and Saba", :value => "Bonaire, Sint Eustatius and Saba"} Bonaire, Sint Eustatius and Saba
          %option{:title => "Bosnia and Herzegovina", :value => "Bosnia and Herzegovina"} Bosnia and Herzegovina
          %option{:title => "Botswana", :value => "Botswana"} Botswana
          %option{:title => "Bouvet Island", :value => "Bouvet Island"} Bouvet Island
          %option{:title => "Brazil", :value => "Brazil"} Brazil
          %option{:title => "British Indian Ocean Territory", :value => "British Indian Ocean Territory"} British Indian Ocean Territory
          %option{:title => "Brunei Darussalam", :value => "Brunei Darussalam"} Brunei Darussalam
          %option{:title => "Bulgaria", :value => "Bulgaria"} Bulgaria
          %option{:title => "Burkina Faso", :value => "Burkina Faso"} Burkina Faso
          %option{:title => "Burundi", :value => "Burundi"} Burundi
          %option{:title => "Cambodia", :value => "Cambodia"} Cambodia
          %option{:title => "Cameroon", :value => "Cameroon"} Cameroon
          %option{:title => "Canada", :value => "Canada"} Canada
          %option{:title => "Cape Verde", :value => "Cape Verde"} Cape Verde
          %option{:title => "Cayman Islands", :value => "Cayman Islands"} Cayman Islands
          %option{:title => "Central African Republic", :value => "Central African Republic"} Central African Republic
          %option{:title => "Chad", :value => "Chad"} Chad
          %option{:title => "Chile", :value => "Chile"} Chile
          %option{:title => "China", :value => "China"} China
          %option{:title => "Christmas Island", :value => "Christmas Island"} Christmas Island
          %option{:title => "Cocos (Keeling) Islands", :value => "Cocos (Keeling) Islands"} Cocos (Keeling) Islands
          %option{:title => "Colombia", :value => "Colombia"} Colombia
          %option{:title => "Comoros", :value => "Comoros"} Comoros
          %option{:title => "Congo", :value => "Congo"} Congo
          %option{:title => "Congo, the Democratic Republic of the", :value => "Congo, the Democratic Republic of the"} Congo, the Democratic Republic of the
          %option{:title => "Cook Islands", :value => "Cook Islands"} Cook Islands
          %option{:title => "Costa Rica", :value => "Costa Rica"} Costa Rica
          %option{:title => "Côte d'Ivoire", :value => "Côte d'Ivoire"} Côte d'Ivoire
          %option{:title => "Croatia", :value => "Croatia"} Croatia
          %option{:title => "Cuba", :value => "Cuba"} Cuba
          %option{:title => "Curaçao", :value => "Curaçao"} Curaçao
          %option{:title => "Cyprus", :value => "Cyprus"} Cyprus
          %option{:title => "Czech Republic", :value => "Czech Republic"} Czech Republic
          %option{:title => "Denmark", :value => "Denmark"} Denmark
          %option{:title => "Djibouti", :value => "Djibouti"} Djibouti
          %option{:title => "Dominica", :value => "Dominica"} Dominica
          %option{:title => "Dominican Republic", :value => "Dominican Republic"} Dominican Republic
          %option{:title => "Ecuador", :value => "Ecuador"} Ecuador
          %option{:title => "Egypt", :value => "Egypt"} Egypt
          %option{:title => "El Salvador", :value => "El Salvador"} El Salvador
          %option{:title => "Equatorial Guinea", :value => "Equatorial Guinea"} Equatorial Guinea
          %option{:title => "Eritrea", :value => "Eritrea"} Eritrea
          %option{:title => "Estonia", :value => "Estonia"} Estonia
          %option{:title => "Ethiopia", :value => "Ethiopia"} Ethiopia
          %option{:title => "Falkland Islands (Malvinas)", :value => "Falkland Islands (Malvinas)"} Falkland Islands (Malvinas)
          %option{:title => "Faroe Islands", :value => "Faroe Islands"} Faroe Islands
          %option{:title => "Fiji", :value => "Fiji"} Fiji
          %option{:title => "Finland", :value => "Finland"} Finland
          %option{:title => "France", :value => "France"} France
          %option{:title => "French Guiana", :value => "French Guiana"} French Guiana
          %option{:title => "French Polynesia", :value => "French Polynesia"} French Polynesia
          %option{:title => "French Southern Territories", :value => "French Southern Territories"} French Southern Territories
          %option{:title => "Gabon", :value => "Gabon"} Gabon
          %option{:title => "Gambia", :value => "Gambia"} Gambia
          %option{:title => "Georgia", :value => "Georgia"} Georgia
          %option{:title => "Germany", :value => "Germany"} Germany
          %option{:title => "Ghana", :value => "Ghana"} Ghana
          %option{:title => "Gibraltar", :value => "Gibraltar"} Gibraltar
          %option{:title => "Greece", :value => "Greece"} Greece
          %option{:title => "Greenland", :value => "Greenland"} Greenland
          %option{:title => "Grenada", :value => "Grenada"} Grenada
          %option{:title => "Guadeloupe", :value => "Guadeloupe"} Guadeloupe
          %option{:title => "Guam", :value => "Guam"} Guam
          %option{:title => "Guatemala", :value => "Guatemala"} Guatemala
          %option{:title => "Guernsey", :value => "Guernsey"} Guernsey
          %option{:title => "Guinea", :value => "Guinea"} Guinea
          %option{:title => "Guinea-Bissau", :value => "Guinea-Bissau"} Guinea-Bissau
          %option{:title => "Guyana", :value => "Guyana"} Guyana
          %option{:title => "Haiti", :value => "Haiti"} Haiti
          %option{:title => "Heard Island and McDonald Islands", :value => "Heard Island and McDonald Islands"} Heard Island and McDonald Islands
          %option{:title => "Holy See (Vatican City State)", :value => "Holy See (Vatican City State)"} Holy See (Vatican City State)
          %option{:title => "Honduras", :value => "Honduras"} Honduras
          %option{:title => "Hong Kong", :value => "Hong Kong"} Hong Kong
          %option{:title => "Hungary", :value => "Hungary"} Hungary
          %option{:title => "Iceland", :value => "Iceland"} Iceland
          %option{:title => "India", :value => "India"} India
          %option{:title => "Indonesia", :value => "Indonesia"} Indonesia
          %option{:title => "Iran, Islamic Republic of", :value => "Iran, Islamic Republic of"} Iran, Islamic Republic of
          %option{:title => "Iraq", :value => "Iraq"} Iraq
          %option{:title => "Ireland", :value => "Ireland"} Ireland
          %option{:title => "Isle of Man", :value => "Isle of Man"} Isle of Man
          %option{:title => "Israel", :value => "Israel"} Israel
          %option{:title => "Italy", :value => "Italy"} Italy
          %option{:title => "Jamaica", :value => "Jamaica"} Jamaica
          %option{:title => "Japan", :value => "Japan"} Japan
          %option{:title => "Jersey", :value => "Jersey"} Jersey
          %option{:title => "Jordan", :value => "Jordan"} Jordan
          %option{:title => "Kazakhstan", :value => "Kazakhstan"} Kazakhstan
          %option{:title => "Kenya", :value => "Kenya"} Kenya
          %option{:title => "Kiribati", :value => "Kiribati"} Kiribati
          %option{:title => "Korea, Democratic People's Republic of", :value => "Korea, Democratic People's Republic of"} Korea, Democratic People's Republic of
          %option{:title => "Korea, Republic of", :value => "Korea, Republic of"} Korea, Republic of
          %option{:title => "Kuwait", :value => "Kuwait"} Kuwait
          %option{:title => "Kyrgyzstan", :value => "Kyrgyzstan"} Kyrgyzstan
          %option{:title => "Lao People's Democratic Republic", :value => "Lao People's Democratic Republic"} Lao People's Democratic Republic
          %option{:title => "Latvia", :value => "Latvia"} Latvia
          %option{:title => "Lebanon", :value => "Lebanon"} Lebanon
          %option{:title => "Lesotho", :value => "Lesotho"} Lesotho
          %option{:title => "Liberia", :value => "Liberia"} Liberia
          %option{:title => "Libya", :value => "Libya"} Libya
          %option{:title => "Liechtenstein", :value => "Liechtenstein"} Liechtenstein
          %option{:title => "Lithuania", :value => "Lithuania"} Lithuania
          %option{:title => "Luxembourg", :value => "Luxembourg"} Luxembourg
          %option{:title => "Macao", :value => "Macao"} Macao
          %option{:title => "Macedonia, the former Yugoslav Republic of", :value => "Macedonia, the former Yugoslav Republic of"} Macedonia, the former Yugoslav Republic of
          %option{:title => "Madagascar", :value => "Madagascar"} Madagascar
          %option{:title => "Malawi", :value => "Malawi"} Malawi
          %option{:title => "Malaysia", :value => "Malaysia"} Malaysia
          %option{:title => "Maldives", :value => "Maldives"} Maldives
          %option{:title => "Mali", :value => "Mali"} Mali
          %option{:title => "Malta", :value => "Malta"} Malta
          %option{:title => "Marshall Islands", :value => "Marshall Islands"} Marshall Islands
          %option{:title => "Martinique", :value => "Martinique"} Martinique
          %option{:title => "Mauritania", :value => "Mauritania"} Mauritania
          %option{:title => "Mauritius", :value => "Mauritius"} Mauritius
          %option{:title => "Mayotte", :value => "Mayotte"} Mayotte
          %option{:title => "Mexico", :value => "Mexico"} Mexico
          %option{:title => "Micronesia, Federated States of", :value => "Micronesia, Federated States of"} Micronesia, Federated States of
          %option{:title => "Moldova, Republic of", :value => "Moldova, Republic of"} Moldova, Republic of
          %option{:title => "Monaco", :value => "Monaco"} Monaco
          %option{:title => "Mongolia", :value => "Mongolia"} Mongolia
          %option{:title => "Montenegro", :value => "Montenegro"} Montenegro
          %option{:title => "Montserrat", :value => "Montserrat"} Montserrat
          %option{:title => "Morocco", :value => "Morocco"} Morocco
          %option{:title => "Mozambique", :value => "Mozambique"} Mozambique
          %option{:title => "Myanmar", :value => "Myanmar"} Myanmar
          %option{:title => "Namibia", :value => "Namibia"} Namibia
          %option{:title => "Nauru", :value => "Nauru"} Nauru
          %option{:title => "Nepal", :value => "Nepal"} Nepal
          %option{:title => "Netherlands", :value => "Netherlands"} Netherlands
          %option{:title => "New Caledonia", :value => "New Caledonia"} New Caledonia
          %option{:title => "New Zealand", :value => "New Zealand"} New Zealand
          %option{:title => "Nicaragua", :value => "Nicaragua"} Nicaragua
          %option{:title => "Niger", :value => "Niger"} Niger
          %option{:title => "Nigeria", :value => "Nigeria"} Nigeria
          %option{:title => "Niue", :value => "Niue"} Niue
          %option{:title => "Norfolk Island", :value => "Norfolk Island"} Norfolk Island
          %option{:title => "Northern Mariana Islands", :value => "Northern Mariana Islands"} Northern Mariana Islands
          %option{:title => "Norway", :value => "Norway"} Norway
          %option{:title => "Oman", :value => "Oman"} Oman
          %option{:title => "Pakistan", :value => "Pakistan"} Pakistan
          %option{:title => "Palau", :value => "Palau"} Palau
          %option{:title => "Palestinian Territory, Occupied", :value => "Palestinian Territory, Occupied"} Palestinian Territory, Occupied
          %option{:title => "Panama", :value => "Panama"} Panama
          %option{:title => "Papua New Guinea", :value => "Papua New Guinea"} Papua New Guinea
          %option{:title => "Paraguay", :value => "Paraguay"} Paraguay
          %option{:title => "Peru", :value => "Peru"} Peru
          %option{:title => "Philippines", :value => "Philippines"} Philippines
          %option{:title => "Pitcairn", :value => "Pitcairn"} Pitcairn
          %option{:title => "Poland", :value => "Poland"} Poland
          %option{:title => "Portugal", :value => "Portugal"} Portugal
          %option{:title => "Puerto Rico", :value => "Puerto Rico"} Puerto Rico
          %option{:title => "Qatar", :value => "Qatar"} Qatar
          %option{:title => "Réunion", :value => "Réunion"} Réunion
          %option{:title => "Romania", :value => "Romania"} Romania
          %option{:title => "Russian Federation", :value => "Russian Federation"} Russian Federation
          %option{:title => "Rwanda", :value => "Rwanda"} Rwanda
          %option{:title => "Saint Barthélemy", :value => "Saint Barthélemy"} Saint Barthélemy
          %option{:title => "Saint Helena, Ascension and Tristan da Cunha", :value => "Saint Helena, Ascension and Tristan da Cunha"} Saint Helena, Ascension and Tristan da Cunha
          %option{:title => "Saint Kitts and Nevis", :value => "Saint Kitts and Nevis"} Saint Kitts and Nevis
          %option{:title => "Saint Lucia", :value => "Saint Lucia"} Saint Lucia
          %option{:title => "Saint Martin (French part)", :value => "Saint Martin (French part)"} Saint Martin (French part)
          %option{:title => "Saint Pierre and Miquelon", :value => "Saint Pierre and Miquelon"} Saint Pierre and Miquelon
          %option{:title => "Saint Vincent and the Grenadines", :value => "Saint Vincent and the Grenadines"} Saint Vincent and the Grenadines
          %option{:title => "Samoa", :value => "Samoa"} Samoa
          %option{:title => "San Marino", :value => "San Marino"} San Marino
          %option{:title => "Sao Tome and Principe", :value => "Sao Tome and Principe"} Sao Tome and Principe
          %option{:title => "Saudi Arabia", :value => "Saudi Arabia"} Saudi Arabia
          %option{:title => "Senegal", :value => "Senegal"} Senegal
          %option{:title => "Serbia", :value => "Serbia"} Serbia
          %option{:title => "Seychelles", :value => "Seychelles"} Seychelles
          %option{:title => "Sierra Leone", :value => "Sierra Leone"} Sierra Leone
          %option{:title => "Singapore", :value => "Singapore"} Singapore
          %option{:title => "Sint Maarten (Dutch part)", :value => "Sint Maarten (Dutch part)"} Sint Maarten (Dutch part)
          %option{:title => "Slovakia", :value => "Slovakia"} Slovakia
          %option{:title => "Slovenia", :value => "Slovenia"} Slovenia
          %option{:title => "Solomon Islands", :value => "Solomon Islands"} Solomon Islands
          %option{:title => "Somalia", :value => "Somalia"} Somalia
          %option{:title => "South Africa", :value => "South Africa"} South Africa
          %option{:title => "South Georgia and the South Sandwich Islands", :value => "South Georgia and the South Sandwich Islands"} South Georgia and the South Sandwich Islands
          %option{:title => "South Sudan", :value => "South Sudan"} South Sudan
          %option{:title => "Spain", :value => "Spain"} Spain
          %option{:title => "Sri Lanka", :value => "Sri Lanka"} Sri Lanka
          %option{:title => "Sudan", :value => "Sudan"} Sudan
          %option{:title => "Suriname", :value => "Suriname"} Suriname
          %option{:title => "Svalbard and Jan Mayen", :value => "Svalbard and Jan Mayen"} Svalbard and Jan Mayen
          %option{:title => "Swaziland", :value => "Swaziland"} Swaziland
          %option{:title => "Sweden", :value => "Sweden"} Sweden
          %option{:title => "Switzerland", :value => "Switzerland"} Switzerland
          %option{:title => "Syrian Arab Republic", :value => "Syrian Arab Republic"} Syrian Arab Republic
          %option{:title => "Taiwan, Province of China", :value => "Taiwan, Province of China"} Taiwan, Province of China
          %option{:title => "Tajikistan", :value => "Tajikistan"} Tajikistan
          %option{:title => "Tanzania, United Republic of", :value => "Tanzania, United Republic of"} Tanzania, United Republic of
          %option{:title => "Thailand", :value => "Thailand"} Thailand
          %option{:title => "Timor-Leste", :value => "Timor-Leste"} Timor-Leste
          %option{:title => "Togo", :value => "Togo"} Togo
          %option{:title => "Tokelau", :value => "Tokelau"} Tokelau
          %option{:title => "Tonga", :value => "Tonga"} Tonga
          %option{:title => "Trinidad and Tobago", :value => "Trinidad and Tobago"} Trinidad and Tobago
          %option{:title => "Tunisia", :value => "Tunisia"} Tunisia
          %option{:title => "Turkey", :value => "Turkey"} Turkey
          %option{:title => "Turkmenistan", :value => "Turkmenistan"} Turkmenistan
          %option{:title => "Turks and Caicos Islands", :value => "Turks and Caicos Islands"} Turks and Caicos Islands
          %option{:title => "Tuvalu", :value => "Tuvalu"} Tuvalu
          %option{:title => "Uganda", :value => "Uganda"} Uganda
          %option{:title => "Ukraine", :value => "Ukraine"} Ukraine
          %option{:title => "United Arab Emirates", :value => "United Arab Emirates"} United Arab Emirates
          %option{:title => "United Kingdom", :value => "United Kingdom", :selected => "selected"} United Kingdom
          %option{:title => "United States", :value => "United States"} United States
          %option{:title => "United States Minor Outlying Islands", :value => "United States Minor Outlying Islands"} United States Minor Outlying Islands
          %option{:title => "Uruguay", :value => "Uruguay"} Uruguay
          %option{:title => "Uzbekistan", :value => "Uzbekistan"} Uzbekistan
          %option{:title => "Vanuatu", :value => "Vanuatu"} Vanuatu
          %option{:title => "Venezuela, Bolivarian Republic of", :value => "Venezuela, Bolivarian Republic of"} Venezuela, Bolivarian Republic of
          %option{:title => "Viet Nam", :value => "Viet Nam"} Viet Nam
          %option{:title => "Virgin Islands, British", :value => "Virgin Islands, British"} Virgin Islands, British
          %option{:title => "Virgin Islands, U.S.", :value => "Virgin Islands, U.S."} Virgin Islands, U.S.
          %option{:title => "Wallis and Futuna", :value => "Wallis and Futuna"} Wallis and Futuna
          %option{:title => "Western Sahara", :value => "Western Sahara"} Western Sahara
          %option{:title => "Yemen", :value => "Yemen"} Yemen
          %option{:title => "Zambia", :value => "Zambia"} Zambia
          %option{:title => "Zimbabwe", :value => "Zimbabwe"} Zimbabwe
      .m-form-element
        %label.m-label
          Postcode
        %input.m-input_text.account{type:"text", name:"postcode"}
      .m-form-element
        %label.m-label
          House number or name
        %input.m-input_text.account{type:"text", name:"house_number"}

  .m-form-actions
    .m-form-actions--next
      %a.m-button{href: '/account/registration/step-2'} Next
      %p.m-form-actions--info to address details
