.m-box--header-bar
  %h1.m-box--heading Manage Account

.m-box--body

  .m-division
    %h2.m-division--heading My Details
    %form#edit_user_234.simple_form.m-form_account{"accept-charset" => "UTF-8", :action => "/users/234", :method => "post", :novalidate => "novalidate"}
      %div{:style => "margin:0;padding:0;display:inline"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "_method", :type => "hidden", :value => "put"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "2OA//HlN1Hr9gGFLgVueQH/lcF2WHtSAeeB/UUw99lY="}/
      %input#user_redirect{:name => "user[redirect]", :type => "hidden", :value => "/account/details"}/
      .m-form-element
        %label.m-label{:for => "user_first_name"}
          First name
          %abbr.m-label--required{:title => "required"} *
        %input.m-input_text.account.error{:name => "user[first_name]",  :type => "text", :value => "Robbie"}/
        .popover.error.right{style: "left: 265px; top: 15px;"}
          .arrow
          %h3.popover-title You must enter a first name
      .m-form-element
        %label.m-label{:for => "user_last_name"}
          Last name
          %abbr.m-label--required{:title => "required"} *
        %input.m-input_text.account{:name => "user[last_name]",  :type => "text", :value => "Fowler"}/
        %i.icon-valid
      .m-form-element
        %label.m-label{:for => "user_email"}
          Email
          %abbr.m-label--required{:title => "required"} *
        %input#user_email.email.m-input_text.account{:name => "user[email]",  :type => "email", :value => "robbie.fowler@liverpool.com"}/
      .input.date.m-form-element
        %label.date.m-label{:for => "user_date_of_birth_3i"}
          Date of birth
          %abbr.m-label--required{:title => "required"} *
        %select#user_date_of_birth_3i.dropkick{:name => "user[date_of_birth(3i)]"}
          %option{:value => "1"} 1
          %option{:value => "2"} 2
          %option{:value => "3"} 3
          %option{:value => "4"} 4
          %option{:value => "5"} 5
          %option{:value => "6"} 6
          %option{:value => "7"} 7
          %option{:value => "8"} 8
          %option{:value => "9"} 9
          %option{:value => "10"} 10
          %option{:value => "11"} 11
          %option{:value => "12"} 12
          %option{:value => "13"} 13
          %option{:value => "14"} 14
          %option{:value => "15"} 15
          %option{:value => "16"} 16
          %option{:value => "17"} 17
          %option{:value => "18"} 18
          %option{:value => "19"} 19
          %option{:value => "20"} 20
          %option{:value => "21"} 21
          %option{:value => "22"} 22
          %option{:value => "23"} 23
          %option{:value => "24"} 24
          %option{:value => "25"} 25
          %option{:value => "26"} 26
          %option{:value => "27"} 27
          %option{:value => "28"} 28
          %option{:value => "29"} 29
          %option{:value => "30"} 30
          %option{:value => "31"} 31
        %select#user_date_of_birth_2i.dropkick{:name => "user[date_of_birth(2i)]"}
          %option{:value => "1"} January
          %option{:value => "2"} February
          %option{:value => "3"} March
          %option{:value => "4"} April
          %option{:value => "5"} May
          %option{:value => "6"} June
          %option{:value => "7"} July
          %option{:value => "8"} August
          %option{:value => "9"} September
          %option{:value => "10"} October
          %option{:value => "11"} November
          %option{:value => "12"} December
        %select#user_date_of_birth_1i.dropkick{:name => "user[date_of_birth(1i)]"}
          %option{:value => "1995"} 1995
          %option{:value => "1994"} 1994
          %option{:value => "1993"} 1993
          %option{:value => "1992"} 1992
          %option{:value => "1991"} 1991
          %option{:value => "1990"} 1990
          %option{:value => "1989"} 1989
          %option{:value => "1988"} 1988
          %option{:value => "1987"} 1987
          %option{:value => "1986"} 1986
          %option{:value => "1985"} 1985
          %option{:value => "1984"} 1984
          %option{:value => "1983"} 1983
          %option{:value => "1982"} 1982
          %option{:value => "1981"} 1981
          %option{:value => "1980"} 1980
          %option{:value => "1979"} 1979
          %option{:value => "1978"} 1978
          %option{:value => "1977"} 1977
          %option{:value => "1976"} 1976
          %option{:value => "1975"} 1975
          %option{:value => "1974"} 1974
          %option{:value => "1973"} 1973
          %option{:value => "1972"} 1972
          %option{:value => "1971"} 1971
          %option{:value => "1970"} 1970
          %option{:value => "1969"} 1969
          %option{:value => "1968"} 1968
          %option{:value => "1967"} 1967
          %option{:value => "1966"} 1966
          %option{:value => "1965"} 1965
          %option{:value => "1964"} 1964
          %option{:value => "1963"} 1963
          %option{:value => "1962"} 1962
          %option{:value => "1961"} 1961
          %option{:value => "1960"} 1960
          %option{:value => "1959"} 1959
          %option{:value => "1958"} 1958
          %option{:value => "1957"} 1957
          %option{:value => "1956"} 1956
          %option{:value => "1955"} 1955
          %option{:value => "1954"} 1954
          %option{:value => "1953"} 1953
          %option{:value => "1952"} 1952
          %option{:value => "1951"} 1951
          %option{:value => "1950"} 1950
          %option{:value => "1949"} 1949
          %option{:value => "1948"} 1948
          %option{:value => "1947"} 1947
          %option{:value => "1946"} 1946
          %option{:value => "1945"} 1945
          %option{:value => "1944"} 1944
          %option{:value => "1943"} 1943
          %option{:value => "1942"} 1942
          %option{:value => "1941"} 1941
          %option{:value => "1940"} 1940
          %option{:value => "1939"} 1939
          %option{:value => "1938"} 1938
          %option{:value => "1937"} 1937
          %option{:value => "1936"} 1936
          %option{:value => "1935"} 1935
          %option{:value => "1934"} 1934
          %option{:value => "1933"} 1933
          %option{:value => "1932"} 1932
          %option{:value => "1931"} 1931
          %option{:value => "1930"} 1930
          %option{:value => "1929"} 1929
          %option{:value => "1928"} 1928
          %option{:value => "1927"} 1927
          %option{:value => "1926"} 1926
          %option{:value => "1925"} 1925
          %option{:value => "1924"} 1924
          %option{:value => "1923"} 1923
          %option{:value => "1922"} 1922
          %option{:value => "1921"} 1921
          %option{:value => "1920"} 1920
      .m-form-element
        %label.m-label{:for => "user_user_address_attributes_country_code"}
          Country of Residence
          %abbr.m-label--required{:title => "required"} *
        %select#country_select.dropkick{:name => "user[user_address_attributes][country_code]"}
          %option{:value => ""} Select country...
          %option{:value => "AND"} Andorra
          %option{:value => "AUS"} Australia
          %option{:value => "AUT"} Austria
          %option{:value => "BEL"} Belgium
          %option{:value => "CAN"} Canada
          %option{:value => "CZE"} Czech Republic
          %option{:value => "DNK"} Denmark
          %option{:value => "FIN"} Finland
          %option{:value => "FRA"} France
          %option{:value => "DEU"} Germany
          %option{:value => "HUN"} Hungary
          %option{:value => "IRL"} Ireland
          %option{:value => "ITA"} Italy
          %option{:value => "LUX"} Luxembourg
          %option{:value => "NLD"} Netherlands
          %option{:value => "NOR"} Norway
          %option{:value => "PRT"} Portugal
          %option{:value => "SVK"} Slovakia
          %option{:value => "ESP"} Spain
          %option{:value => "SWE"} Sweden
          %option{:value => "CHE"} Switzerland
          %option{:value => "GBR"} United Kingdom
      .m-form-element
        %label.m-label{:for => "user_user_address_attributes_premise"}
          Flat/house number or name
        %input.m-input_text.account{:name => "user[user_address_attributes][premise]",  :type => "text"}/
      .m-form-element
        %label.m-label{:for => "user_user_address_attributes_address_1"}
          Address Line 1
          %abbr.m-label--required{:title => "required"} *
        %input.m-input_text.account{:name => "user[user_address_attributes][address_1]",  :type => "text"}/
      .m-form-element
        %label.m-label{:for => "user_user_address_attributes_address_2"} Address Line 2
        %input.m-input_text.account{:name => "user[user_address_attributes][address_2]",  :type => "text"}/
      .m-form-element
        %label.m-label{:for => "user_user_address_attributes_city"}
          City
          %abbr.m-label--required{:title => "required"} *
        %input.m-input_text.account{:name => "user[user_address_attributes][city]",  :type => "text"}/
      .m-form-element
        %label.m-label{:for => "user_user_address_attributes_region"}
          County/Region
        %input.m-input_text.account{:name => "user[user_address_attributes][region]",  :type => "text"}/
      .m-form-element
        %label.m-label{:for => "user_user_address_attributes_postcode"}
          Postcode
        %input.m-input_text.account{:name => "user[user_address_attributes][postcode]",  :type => "text"}/
  .m-form-actions
    .m-form-actions--next
      %input.m-button{:type => "submit", :value => "update"}/
