.m-box--header-bar
  %h1.m-box--heading Deposit
.m-box--body
  .m-division
    %h2.m-division--heading Deposit
    %form.m-form_account{"accept-charset" => "UTF-8", :action => "/deposits", :method => "post", :novalidate => "novalidate"}
      .m-form-element_inline
        %label.m-label
          Amount
          %abbr.m-label--required{:title => "required"} *
          (£10 minimum)
        %input.m-input_text.short{:name => "deposit[amount]",  :type => "text"}/
  .m-division.secure
    %h2.m-division--heading Card details
    %p
      We accept the following cards:
      %img.m-form--card-icons{src: "/images/icons/cards.png", alt: "Visa, Electron, Mastercard, Maestro"}
    .m-form-element
      %label.m-label{:for => "deposit_card_name"}
        Cardholder Name
        %abbr.m-label--required{:title => "required"} *
      %input.m-input_text.account{:name => "deposit[card_name]",  :type => "text"}/
    .m-form-element
      %label.m-label{:for => "deposit_card_number"}
        Card Number
        %abbr.m-label--required{:title => "required"} *
      %input.m-input_text.account{:name => "deposit[card_number]",  :type => "text"}/
    .m-form-element
      %select.dropkick#deposit_card_month{:name => "deposit[card_month]"}
        %option{:value => "1"} 01
        %option{:value => "2"} 02
        %option{:value => "3"} 03
        %option{:value => "4"} 04
        %option{:value => "5"} 05
        %option{:value => "6"} 06
        %option{:value => "7"} 07
        %option{:value => "8"} 08
        %option{:value => "9"} 09
        %option{:value => "10"} 10
        %option{:value => "11"} 11
        %option{:value => "12"} 12
      %select.dropkick#deposit_card_year{:name => "deposit[card_year]"}
        %option{:value => "2013"} 2013
        %option{:value => "2014"} 2014
        %option{:value => "2015"} 2015
        %option{:value => "2016"} 2016
        %option{:value => "2017"} 2017
        %option{:value => "2018"} 2018
    .m-form-element
      %label.m-label{:for => "deposit_card_verification_value"}
        Security Code (CV2)
        %abbr.m-label--required{:title => "required"} *
      %input.m-input_text.short{:name => "deposit[card_verification_value]",  :type => "text"}/
  .m-division
    %h2.m-division--heading Billing Address
    .m-form-element
      %label.m-label{:for => "billing_address_first_name"}
        First name
        %abbr.m-label--required{:title => "required"} *
      %input.m-input_text.account{:name => "billing_address[first_name]",  :value => "Robbie"}/
    .m-form-element
      %label.m-label{:for => "billing_address_last_name"}
        Last name
        %abbr.m-label--required{:title => "required"} *
      %input.m-input_text.account{:name => "billing_address[last_name]",  :value => "Fowler"}/
    .m-form-element
      %label.m-label
        Flat/house number or name
      %input.m-input_text.account{type:"text", name:"house_number"}
    .m-form-element
      %label.m-label{:for => "billing_address_address_1"}
        Address line 1
        %abbr.m-label--required{:title => "required"} *
      %input.m-input_text.account{:name => "billing_address[address_1]",  :type => "text"}/
    .m-form-element
      %label.m-label{:for => "billing_address_address_2"} Address line 2
      %input.m-input_text.account{:name => "billing_address[address_2]",  :type => "text"}/
    .m-form-element
      %label.m-label{:for => "billing_address_city"}
        City
        %abbr.m-label--required{:title => "required"} *
      %input.m-input_text.account{:name => "billing_address[city]",  :type => "text"}/
    .m-form-element
      %label.m-label{:for => "billing_address_state"}
        County / region
      %input.m-input_text.account{:name => "billing_address[state]",  :type => "text"}/
    .input.postcode-field.m-form-element
      %label.m-label{:for => "billing_address_postal_code"} Postcode
      %input.m-input_text.account{:name => "billing_address[postal_code]",  :type => "text"}/
    .m-form-element
      %label.m-label{:for => "billing_address_country_code"}
        Country of Residence
        %abbr.m-label--required{:title => "required"} *
      %select.dropkick#country_select{:name => "billing_address[country_code]"}
        %option{:value => "AF"} Afghanistan
        %option{:value => "AL"} Albania
        %option{:value => "DZ"} Algeria
        %option{:value => "AS"} American Samoa
        %option{:value => "AD"} Andorra
        %option{:value => "AO"} Angola
        %option{:value => "AI"} Anguilla
        %option{:value => "AQ"} Antarctica
        %option{:value => "AG"} Antigua and Barbuda
        %option{:value => "AR"} Argentina
        %option{:value => "AM"} Armenia
        %option{:value => "AW"} Aruba
        %option{:value => "AU"} Australia
        %option{:value => "AT"} Austria
        %option{:value => "AZ"} Azerbaijan
        %option{:value => "BS"} Bahamas
        %option{:value => "BH"} Bahrain
        %option{:value => "BD"} Bangladesh
        %option{:value => "BB"} Barbados
        %option{:value => "BY"} Belarus
        %option{:value => "BE"} Belgium
        %option{:value => "BZ"} Belize
        %option{:value => "BJ"} Benin
        %option{:value => "BM"} Bermuda
        %option{:value => "BT"} Bhutan
        %option{:value => "BO"} Bolivia
        %option{:value => "BA"} Bosnia and Herzegovina
        %option{:value => "BW"} Botswana
        %option{:value => "BV"} Bouvet Island
        %option{:value => "BR"} Brazil
        %option{:value => "IO"} British Indian Ocean Territory
        %option{:value => "BN"} Brunei Darussalam
        %option{:value => "BG"} Bulgaria
        %option{:value => "BF"} Burkina Faso
        %option{:value => "BI"} Burundi
        %option{:value => "KH"} Cambodia
        %option{:value => "CM"} Cameroon
        %option{:value => "CA"} Canada
        %option{:value => "CV"} Cape Verde
        %option{:value => "KY"} Cayman Islands
        %option{:value => "CF"} Central African Republic
        %option{:value => "TD"} Chad
        %option{:value => "CL"} Chile
        %option{:value => "CN"} China
        %option{:value => "CX"} Christmas Island
        %option{:value => "CC"} Cocos (Keeling) Islands
        %option{:value => "CO"} Colombia
        %option{:value => "KM"} Comoros
        %option{:value => "CG"} Congo
        %option{:value => "CD"} Congo, The Democratic Republic Of The
        %option{:value => "CK"} Cook Islands
        %option{:value => "CR"} Costa Rica
        %option{:value => "HR"} Croatia
        %option{:value => "CU"} Cuba
        %option{:value => "CY"} Cyprus
        %option{:value => "CZ"} Czech Republic
        %option{:value => "CI"} Côte D'Ivoire
        %option{:value => "DK"} Denmark
        %option{:value => "DJ"} Djibouti
        %option{:value => "DM"} Dominica
        %option{:value => "DO"} Dominican Republic
        %option{:value => "EC"} Ecuador
        %option{:value => "EG"} Egypt
        %option{:value => "SV"} El Salvador
        %option{:value => "GQ"} Equatorial Guinea
        %option{:value => "ER"} Eritrea
        %option{:value => "EE"} Estonia
        %option{:value => "ET"} Ethiopia
        %option{:value => "FK"} Falkland Islands (Malvinas)
        %option{:value => "FO"} Faroe Islands
        %option{:value => "FJ"} Fiji
        %option{:value => "FI"} Finland
        %option{:value => "FR"} France
        %option{:value => "GF"} French Guiana
        %option{:value => "PF"} French Polynesia
        %option{:value => "TF"} French Southern Territories
        %option{:value => "GA"} Gabon
        %option{:value => "GM"} Gambia
        %option{:value => "GE"} Georgia
        %option{:value => "DE"} Germany
        %option{:value => "GH"} Ghana
        %option{:value => "GI"} Gibraltar
        %option{:value => "GR"} Greece
        %option{:value => "GL"} Greenland
        %option{:value => "GD"} Grenada
        %option{:value => "GP"} Guadeloupe
        %option{:value => "GU"} Guam
        %option{:value => "GT"} Guatemala
        %option{:value => "GG"} Guernsey
        %option{:value => "GN"} Guinea
        %option{:value => "GW"} Guinea-Bissau
        %option{:value => "GY"} Guyana
        %option{:value => "HT"} Haiti
        %option{:value => "HM"} Heard and McDonald Islands
        %option{:value => "VA"} Holy See (Vatican City State)
        %option{:value => "HN"} Honduras
        %option{:value => "HK"} Hong Kong
        %option{:value => "HU"} Hungary
        %option{:value => "IS"} Iceland
        %option{:value => "IN"} India
        %option{:value => "ID"} Indonesia
        %option{:value => "IR"} Iran, Islamic Republic Of
        %option{:value => "IQ"} Iraq
        %option{:value => "IE"} Ireland
        %option{:value => "IM"} Isle of Man
        %option{:value => "IL"} Israel
        %option{:value => "IT"} Italy
        %option{:value => "JM"} Jamaica
        %option{:value => "JP"} Japan
        %option{:value => "JE"} Jersey
        %option{:value => "JO"} Jordan
        %option{:value => "KZ"} Kazakhstan
        %option{:value => "KE"} Kenya
        %option{:value => "KI"} Kiribati
        %option{:value => "KP"} Korea, Democratic People's Republic Of
        %option{:value => "KR"} Korea, Republic of
        %option{:value => "KW"} Kuwait
        %option{:value => "KG"} Kyrgyzstan
        %option{:value => "LA"} Lao People's Democratic Republic
        %option{:value => "LV"} Latvia
        %option{:value => "LB"} Lebanon
        %option{:value => "LS"} Lesotho
        %option{:value => "LR"} Liberia
        %option{:value => "LY"} Libyan Arab Jamahiriya
        %option{:value => "LI"} Liechtenstein
        %option{:value => "LT"} Lithuania
        %option{:value => "LU"} Luxembourg
        %option{:value => "MO"} Macao
        %option{:value => "MK"} Macedonia, the Former Yugoslav Republic Of
        %option{:value => "MG"} Madagascar
        %option{:value => "MW"} Malawi
        %option{:value => "MY"} Malaysia
        %option{:value => "MV"} Maldives
        %option{:value => "ML"} Mali
        %option{:value => "MT"} Malta
        %option{:value => "MH"} Marshall Islands
        %option{:value => "MQ"} Martinique
        %option{:value => "MR"} Mauritania
        %option{:value => "MU"} Mauritius
        %option{:value => "YT"} Mayotte
        %option{:value => "MX"} Mexico
        %option{:value => "FM"} Micronesia, Federated States Of
        %option{:value => "MD"} Moldova, Republic of
        %option{:value => "MC"} Monaco
        %option{:value => "MN"} Mongolia
        %option{:value => "ME"} Montenegro
        %option{:value => "MS"} Montserrat
        %option{:value => "MA"} Morocco
        %option{:value => "MZ"} Mozambique
        %option{:value => "MM"} Myanmar
        %option{:value => "NA"} Namibia
        %option{:value => "NR"} Nauru
        %option{:value => "NP"} Nepal
        %option{:value => "NL"} Netherlands
        %option{:value => "AN"} Netherlands Antilles
        %option{:value => "NC"} New Caledonia
        %option{:value => "NZ"} New Zealand
        %option{:value => "NI"} Nicaragua
        %option{:value => "NE"} Niger
        %option{:value => "NG"} Nigeria
        %option{:value => "NU"} Niue
        %option{:value => "NF"} Norfolk Island
        %option{:value => "MP"} Northern Mariana Islands
        %option{:value => "NO"} Norway
        %option{:value => "OM"} Oman
        %option{:value => "PK"} Pakistan
        %option{:value => "PW"} Palau
        %option{:value => "PS"} Palestinian Territory, Occupied
        %option{:value => "PA"} Panama
        %option{:value => "PG"} Papua New Guinea
        %option{:value => "PY"} Paraguay
        %option{:value => "PE"} Peru
        %option{:value => "PH"} Philippines
        %option{:value => "PN"} Pitcairn
        %option{:value => "PL"} Poland
        %option{:value => "PT"} Portugal
        %option{:value => "PR"} Puerto Rico
        %option{:value => "QA"} Qatar
        %option{:value => "RO"} Romania
        %option{:value => "RU"} Russian Federation
        %option{:value => "RW"} Rwanda
        %option{:value => "RE"} Réunion
        %option{:value => "BL"} Saint Barthélemy
        %option{:value => "SH"} Saint Helena
        %option{:value => "KN"} Saint Kitts And Nevis
        %option{:value => "LC"} Saint Lucia
        %option{:value => "MF"} Saint Martin
        %option{:value => "PM"} Saint Pierre And Miquelon
        %option{:value => "VC"} Saint Vincent And The Grenedines
        %option{:value => "WS"} Samoa
        %option{:value => "SM"} San Marino
        %option{:value => "ST"} Sao Tome and Principe
        %option{:value => "SA"} Saudi Arabia
        %option{:value => "SN"} Senegal
        %option{:value => "RS"} Serbia
        %option{:value => "SC"} Seychelles
        %option{:value => "SL"} Sierra Leone
        %option{:value => "SG"} Singapore
        %option{:value => "SK"} Slovakia
        %option{:value => "SI"} Slovenia
        %option{:value => "SB"} Solomon Islands
        %option{:value => "SO"} Somalia
        %option{:value => "ZA"} South Africa
        %option{:value => "GS"} South Georgia and the South Sandwich Islands
        %option{:value => "ES"} Spain
        %option{:value => "LK"} Sri Lanka
        %option{:value => "SD"} Sudan
        %option{:value => "SR"} Suriname
        %option{:value => "SJ"} Svalbard And Jan Mayen
        %option{:value => "SZ"} Swaziland
        %option{:value => "SE"} Sweden
        %option{:value => "CH"} Switzerland
        %option{:value => "SY"} Syrian Arab Republic
        %option{:value => "TW"} Taiwan, Republic Of China
        %option{:value => "TJ"} Tajikistan
        %option{:value => "TZ"} Tanzania, United Republic of
        %option{:value => "TH"} Thailand
        %option{:value => "TL"} Timor-Leste
        %option{:value => "TG"} Togo
        %option{:value => "TK"} Tokelau
        %option{:value => "TO"} Tonga
        %option{:value => "TT"} Trinidad and Tobago
        %option{:value => "TN"} Tunisia
        %option{:value => "TR"} Turkey
        %option{:value => "TM"} Turkmenistan
        %option{:value => "TC"} Turks and Caicos Islands
        %option{:value => "TV"} Tuvalu
        %option{:value => "UG"} Uganda
        %option{:value => "UA"} Ukraine
        %option{:value => "AE"} United Arab Emirates
        %option{:value => "GB", :selected => "selected"} United Kingdom
        %option{:value => "US"} United States
        %option{:value => "UM"} United States Minor Outlying Islands
        %option{:value => "UY"} Uruguay
        %option{:value => "UZ"} Uzbekistan
        %option{:value => "VU"} Vanuatu
        %option{:value => "VE"} Venezuela, Bolivarian Republic of
        %option{:value => "VN"} Viet Nam
        %option{:value => "VG"} Virgin Islands, British
        %option{:value => "VI"} Virgin Islands, U.S.
        %option{:value => "WF"} Wallis and Futuna
        %option{:value => "EH"} Western Sahara
        %option{:value => "YE"} Yemen
        %option{:value => "ZM"} Zambia
        %option{:value => "ZW"} Zimbabwe
        %option{:value => "AX"} Åland Islands
  .m-form-actions
    .m-form-actions--next
      %a.m-button{:href => "/account/deposit/success"} next
      %p.m-form-actions--info to credit card authorisation
