.m-box--header-bar
  %h1.m-box--heading Verify account
  
.m-box--body
  
  .m-division.secure
    %h2.m-division--heading Upload document
    %form.m-form{action:"#"}
      %p The UK Gambling Comission requires us to verify your account for your security. Please upload a scan or photo of your passport, ID card or driving license for verification.
      .m-form-element
        %label.m-label
          Country of residence:
          %abbr.m-label--required{title: 'required'} *
        %select#country_select.dropkick{name:"country"}
          %option United Kingdom
      .m-form-element
        %input.m-input_file{type: "file", name: "file"}
        %p.m-form--info
          Document formats accepted: .PDF, .JPEG, .JPG, .TIFF

  .m-form-actions
    .m-form-actions--next
      %button.m-button Upload
