.m-box--header-bar
  %h1.m-box--heading Password assistance
  
.m-box--body
  .m-division
    %h2.m-division--heading Change password
    %form.m-form{action:"#"}
      .m-form-element
        %label.m-label
          Old password
          %abbr.m-label--required{title: "required"} *
        %input.m-input_text.account{type:"password", name:"password"}
      .m-form-element
        %label.m-label
          New password
          %abbr.m-label--required{title: "required"} *
        %input.m-input_text.account{type:"password", name:"password"}
      .m-form-element
        %label.m-label
          Confirm new password
          %abbr.m-label--required{title: "required"} *
        %input.m-input_text.account{type:"password", name:"password_confirm"}

  .m-form-actions
    .m-form-actions--next
      %button.m-button Update
