.m-box--header-bar
  %h1.m-box--heading Manage Account
.m-box--body
  %form.m-form{"accept-charset" => "UTF-8", :action => "/account/soft_suspension", :method => "post"}
    .m-division.prose
      %h2.m-division--heading Suspend account
      %p
        You can exclude yourself from PlayON by selecting an exclusion period from the dropdown below. Alternatively, you can also exclude yourself from gambling by sending an email to
        %a{:href => "mailto:info@playon.co.uk"} info@playon.co.uk
      .m-form-element
        %label.m-label
          Exclusion period:
        %select#user_suspended_at.dropkick{:name => "user[suspended_at]"}
          %option{:value => "6"} 6 months
          %option{:value => "12"} one year
          %option{:value => "36"} three years
    .m-form-actions
      .m-form-actions--next
        %button.m-button Suspend account
  .m-division.prose
    %h3.m-division--heading After self exclusion
    %p Your account will be blocked for at least 6 months. You will not be able to play or log in to your account.
    %p Any attempts of registering a different account for the same person will be rejected.
    %p If you have any funds, we will return it to your bank account.
    %p After self-exclusion period expires, you will have to contact customer support to re-activate your account.
  .m-division.prose
    %h3.m-division--heading You might also consider
    %p You may also consider excluding yourself from any other betting sites you are registered to, or seeking further information from safe gambling organisations.
