.m-box--header-bar
  %h1.m-box--heading Rewards
  
.m-box--body
  
  .m-division
    %h2.m-division--heading Your club points
    %p You are not currently a member of a club on PlayON. Join forces with other fans of your club on PlayON:
        
  .m-form-actions
    .m-form-actions--next
      %a.m-button{href: "/club/chelsea"} Go to club page
