.m-box--header-bar
  %h1.m-box--heading Registration

.m-box--body

  %ul.m-account-progress.step-2
    %li.m-account-progress-step
      %span.m-account-progress-step-number Step 1
      %em.m-account-progress-step-name Details
    %li.m-account-progress-step.selected
      %span.m-account-progress-step-number Step 2
      %em.m-account-progress-step-name Address
    %li.m-account-progress-step
      %span.m-account-progress-step-number Step 3
      %em.m-account-progress-step-name Deposit
    %li.m-account-progress-step
      %span.m-account-progress-step-number Step 4
      %em.m-account-progress-step-name Confirmation

  .m-division
    %h2.m-division--heading Address details
    %form.m-form{action:"#"}
      .m-form-element
        %label.m-label
          Flat/house number or name
        %input.m-input_text.account{type:"text", name:"house_number"}
      .m-form-element
        %label.m-label
          Address line 1
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"line_1"}
      .m-form-element
        %label.m-label
          Address line 2
        %input.m-input_text.account{type:"text", name:"line_2"}
      .m-form-element
        %label.m-label
          City
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"city"}
      .m-form-element
        %label.m-label
          County/region
        %input.m-input_text.account{type:"text", name:"county"}
      .m-form-element
        %label.m-label
          Postcode
        %input.m-input_text.account{type:"text", name:"postcode"}
      .m-form-element
        %label.m-label
          Country of residence
          %abbr.m-label--required{title: 'required'} *
        %select#country_select.dropkick{name:"country"}
          %option United Kingdom

  .m-division.m-division_terms-and-conditions
    %h2.m-division--heading Terms & Conditions
    %form.m-form{action:"#"}
      .m-form-element
        .m-checkbox_light
          %input#agree_terms{type: "checkbox", checked: "checked"}
          %label{for: "agree_terms"}
        %label.m-label_checkbox{for: "agree_terms"} 
          I have read & agree to the
          %a.m-label--link{href:"#terms_and_conditions_modal", "data-toggle" => "modal"} Terms &amp; Conditions
          %abbr.m-label--required{title: 'required'} *

      .m-form-element
        .m-checkbox_light
          %input#agree_privacy{type: "checkbox", checked: "checked"}
          %label{for: "agree_privacy"}
        %label.m-label_checkbox{for: "agree_privacy"} 
          I have read & agree to the
          %a.m-label--link{href:"#privacy_policy_modal", "data-toggle" => "modal"} Privacy Policy
          %abbr.m-label--required{title: 'required'} *

  .m-form-actions
    .m-form-actions--previous
      %a.m-button{href: '/account/registration/step-1'} Previous
      %p.m-form-actions--info back to your details
    .m-form-actions--next
      %a.m-button{href: '/account/registration/step-3'} Next
      %p.m-form-actions--info to credit card details
