.m-box--header-bar
  %h1.m-box--heading Deposit

.m-box--body

  %ul.m-account-progress.step-3
    %li.m-account-progress-step
      %span.m-account-progress-step-number Step 1
      %em.m-account-progress-step-name Details
    %li.m-account-progress-step
      %span.m-account-progress-step-number Step 2
      %em.m-account-progress-step-name Address
    %li.m-account-progress-step.selected
      %span.m-account-progress-step-number Step 3
      %em.m-account-progress-step-name Deposit
    %li.m-account-progress-step
      %span.m-account-progress-step-number Step 4
      %em.m-account-progress-step-name Confirmation

  .m-division
    %h2.m-division--heading Deposit
    %form.m-form{action:"#"}
      .m-form-element.inline
        %label.m-label
          Amount
          %abbr.m-label--required{title: 'required'} *
          (£10 minimum)
        %input.m-input_text.short{type:"text", name:"deposit"}

  .m-division.secure
    %h2.m-division--heading Card details
    %form.m-form{action:"#"}
      %p
        We accept the following cards:
        %img.m-form--card-icons{src: "/images/icons/cards.png", alt: "Visa, Electron, Mastercard, Maestro"}
      .m-form-element
        %label.m-label
          Cardholder name
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"cardholder_name"}
      .m-form-element
        %label.m-label
          Card number
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"card_number"}
      .m-form-element
        %label.m-label
          Expiry date
          %abbr.m-label--required{title: 'required'} *
        %select.dropkick#expiry_month{name:"expiry_month"}
          %option 12
        %select.dropkick#expiry_year{name:"expiry_year"}
          %option 2012
      .m-form-element
        %label.m-label
          Security code (CV2)
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.short{type:"text", name:"cv2"}

  .m-division
    %h2.m-division--heading Billing address
    %form.m-form{action:"#"}
      .m-form-element
        %label.m-label
          First name
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"first_name"}
      .m-form-element
        %label.m-label
          Last name
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"last_name"}
      .m-form-element
        %label.m-label
          Address line 1
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"line_1"}
      .m-form-element
        %label.m-label
          Address line 2
        %input.m-input_text.account{type:"text", name:"line_2"}
      .m-form-element
        %label.m-label
          City
          %abbr.m-label--required{title: 'required'} *
        %input.m-input_text.account{type:"text", name:"city"}
      .m-form-element
        %label.m-label
          County/region
        %input.m-input_text.account{type:"text", name:"county"}
      .m-form-element
        %label.m-label
          Postcode
        %input.m-input_text.account{type:"text", name:"postcode"}
      .m-form-element
        %label.m-label
          Country of residence
          %abbr.m-label--required{title: 'required'} *
        %select.dropkick#country_select{name:"country"}
          %option United Kingdom

  .m-form-actions
    .m-form-actions--previous
      %a.m-button{href: '/account/registration/step-2'} Previous
      %p.m-form-actions--info back to your address
    .m-form-actions--next
      %a.m-button{href: '/account/registration/step-4'} Next
      %p.m-form-actions--info to credit card authorisation
