.m-section
  .m-section--body{style: "padding-left: 15px; padding-right: 15px"}
    .m-box.grid-5
      .m-box--header-bar
        %h2.m-box--heading My Account
      .m-box--body
        %ul.m-account-navigation
          %li.m-account-navigation-item
            %a.m-account-navigation-item--link{href: "#"} Register
          %li.m-account-navigation-item.deposit
            %a.m-account-navigation-item--link{href: "#"} Deposit
          %li.m-account-navigation-item
            %a.m-account-navigation-item--link{href: "#"} Transaction history
          %li.m-account-navigation-item
            %a.m-account-navigation-item--link{href: "#"} Withdraw
          %li.m-account-navigation-item.group
            %a.m-account-navigation-item--link{href: "#"} Manage account

            %ul.m-account-navigation-item--list
              %li.m-account-navigation-sub-item
                %a.m-account-navigation-sub-item--link{href: "#"} My details
              %li.m-account-navigation-sub-item
                %a.m-account-navigation-sub-item--link{href: "#"} Notifications
              %li.m-account-navigation-sub-item
                %a.m-account-navigation-sub-item--link{href: "#"} Suspend account
              %li.m-account-navigation-sub-item
                %a.m-account-navigation-sub-item--link{href: "#"} Limit deposits
              %li.m-account-navigation-sub-item
                %a.m-account-navigation-sub-item--link{href: "#"} Close account
          %li.m-account-navigation-item
            %a.m-account-navigation-item--link{href: "#"} Change password
          %li.m-account-navigation-item.group
            %a.m-account-navigation-item--link{href: "#"} Rewards

            %ul.m-account-navigation-item--list
              %li.m-account-navigation-sub-item
                %a.m-account-navigation-sub-item--link{href: "#"} Playon reward points
              %li.m-account-navigation-sub-item
                %a.m-account-navigation-sub-item--link{href: "#"} My club points

    .m-box.grid-10
      .m-box--header-bar
        %h1.m-box--heading Register
      .m-box--body
        %ul.m-account-progress
          %li.m-account-progress-step.selected
            %span.m-account-progress-step-number Step 1
            %em.m-account-progress-step-name Details
          %li.m-account-progress-step
            %span.m-account-progress-step-number Step 2
            %em.m-account-progress-step-name Address
          %li.m-account-progress-step
            %span.m-account-progress-step-number Step 3
            %em.m-account-progress-step-name Deposit
          %li.m-account-progress-step
            %span.m-account-progress-step-number Step 4
            %em.m-account-progress-step-name Confirmation
        .m-box--section
          %h2.m-box--section-heading Details
          %form.m-box--form{action:"#"}
            .m-box--form-element
              %label.m-box--form-label
                First name
                %em.m-box--form-required *
              %input{type:"text", name:"first_name"}
            .m-box--form-element
              %label.m-box--form-label
                Last name
                %em.m-box--form-required *
              %input{type:"text", name:"last_name"}
            .m-box--form-element
              %label.m-box--form-label
                Date of birth
                %em.m-box--form-required *
              %select{name:"dob_day"}
                %option 01
              %select{name:"dob_month"}
                %option 01
              %select{name:"dob_year"}
                %option 2012
        .m-box--section
          %h2.m-box--section-heading Address
          %form.m-box--form{action:"#"}
            .m-box--form-element
              %label.m-box--form-label
                Country
                %em.m-box--form-required *
              %select{name:"country"}
                %option United Kingdom
            .m-box--form-element
              %label.m-box--form-label
                Postcode
              %input{type:"text", name:"postcode"}
            .m-box--form-element
              %label.m-box--form-label
                House number or name
              %input{type:"text", name:"house_number"}

        .m-form-actions
        
          .m-form-actions--next
            %button.m-button Next
            %p.m-form-actions--info to address details
