.m-section
  .m-section--body
    .m-hero-unit
      %h1.m-hero-unit-heading
        %span.m-hero-unit-heading--line Represent
        %span.m-hero-unit-heading--line Your Club 
      %span.m-hero-unit--strapline Every week, the highest scorers from each
      %span.m-hero-unit--strapline club battle each other in the league of titans
    .grid-whole
      .m-box.grid-whole.grid-pull-left-half

        .m-box--header-bar
          %h1.m-box--heading Club page - League of titans current leaders:
        .m-club-leaders
          .m-club-leader.one.crystal-palace
            .m-club-leader--header.m-scarf_crystal-palace
            .m-club-leader--body
              .m-club-leader--body-text
                Club:
                .m-club-leader--large Crystal Palace
                Fans on
                %em.m-division--heading-playon PlayOn:
                .m-club-leader--large 4,042
              .m-jersey.m-jersey_player_info.jersey-player-info-crystal-palace
            .m-club-leader--footer
              Current league of titans position
              %em.m-club-leader--position.one 1
          .m-club-leader.two.cardiff-city
            .m-club-leader--header.m-scarf_cardiff-city
            .m-club-leader--body
              .m-club-leader--body-text
                Club:
                .m-club-leader--large cardiff City
                Fans on
                %em.m-division--heading-playon PlayOn:
                .m-club-leader--large 10,090
              .m-jersey.m-jersey_player_info.jersey-player-info-cardiff-city
            .m-club-leader--footer
              Current league of titans position
              %em.m-club-leader--position.two 2
          .m-club-leader.three.hull-city
            .m-club-leader--header.m-scarf_hull-city
            .m-club-leader--body
              .m-club-leader--body-text
                Club:
                .m-club-leader--large hull City
                Fans on
                %em.m-division--heading-playon PlayOn:
                .m-club-leader--large 213
              .m-jersey.m-jersey_player_info.jersey-player-info-hull-city
            .m-club-leader--footer
              Current league of titans position
              %em.m-club-leader--position.three 3
      
      .m-box.grid-9-and-half.grid-pull-left-half
        .m-box--header-bar
          %h1.m-box--heading All clubs

        .m-box--body
          .m-form-search-and-filter
            %input.m-input_search{type:"text", name:"first_name", class:"text", placeholder:"search by name..."}
            #dropkick-filters.m-filters--container
              %label.m-label
                filter
              %select#player_select.dropkick{name:"filter_transactions"}
                %option ambassadors
              %a.m-link{href: "#"} clear filters
          %table.m-table_inline.m-table_clubs
            %thead.m-table--header
              %tr
                %th.club-column club
                %th.country-column country
                %th.fans-column fans
                %th.contacts-column contacts
                %th.cup-column cup
                %th.position-column lot pos
                %th.action-column view
                %th.scrollbar-column &nbsp;
            %tbody.m-table--body
              - @clubs.each do |club|
                %tr
                  %td.club-column
                    %i.m-jersey_small{class: "jersey-small-#{club}"}
                    %a{href:"/club/#{club}"}= club_name(club)
                  %td.country-column
                    %i.icon-flag-england
                  %td.fans-column 1,200
                  %td.contacts-column 5
                  %td.cup-column 
                  %td.position-column D1 P20
                  %td.action-column
                    %a.m-button_table{href:"/club/#{club}"} View
                  %td.scrollbar-column &nbsp;
        .m-box--footer
          %p.m-action-encouragement Your club not listed?
          %a.m-button.right{href: "#add_my_club_modal", "data-toggle" => "modal"} Add my club
      = partial :_league_of_titans
