.m-section.m-section_content
  .m-section--body
    .m-content--group
      .grid-10.grid-prefix-4
        %h1.m-content-heading
          Game Rules
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Aim of the Game
        .m-content--body.grid-10
          %p.m-content--body-text
            Pick a team of 11 players to score more points than your opponent.
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Details
        .m-content--body.grid-10
          %p.m-content--body-text
            Each user has 100m to spend on their team of 11 Premier League players. Premier League players score points based on their actual performance in matches each week as per the Scoring Matrix. When the week’s Premier League matches are finished, the team with the most points wins the pot.
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading The Game
        .m-content--body.grid-10
          %p.m-content--body-text
            There are 3 steps to playing:
          .m-content--body-text
            %ol
              %li
                %a{:href => "#one"} Pick your team
              %li
                %a{:href => "#two"} Enter Games
              %li
                %a{:href => "#three"} Enjoy the Live Experience
      #one.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 1
              %span.m-content--sub-heading-with-count Pick Your Team
        .m-content--body.grid-10
          %p.m-content--body-text
            Each user has one team each week. User’s can make as many changes to their team as they like before the first match kicks-off each gameweek. Each user’s last saved team is the team that gets entered into all of their One-on-One and Multiplayer Games for that gameweek. A valid team is a team of 11 players that costs 100m or less. Users can choose any 11 players (1x Goalkeeper, 4x Defenders, 4x Midfielders, 2x Forwards) from the >600 players in the UK Premier League. The only restriction is that these 11 players cost 100m or less. There are no restrictions on how many players from a particular club a user can select. 
      #two.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 2
              %span.m-content--sub-heading-with-count Enter Games
        .m-content--body.grid-10
          %p.m-content--body-text
            Users can challenge each other to One-on-One games, can enter private Multiplayer Games against their friends and can play in public Multiplayer Games against the general public. Games are for free or for cash, with cash pots distributed as per the Payout Structure.
          %p.m-content--body-text
            One-on-One Games have 2 entrants. Multiplayer Games have >2 entrants. Multiplayer games can be private – where entrants are invited to the game by the game creator or by people the game creator has invited – or public, where anyone can join. Users can decide if they want to play for free or for real money. PlayON takes a 10% commission on entries into cash games. 
      #three.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 3
              %span.m-content--sub-heading-with-count Enjoy the Live Experience
        .m-content--body.grid-10
          %p.m-content--body-text
            The PlayON Live Experience begins 10 minutes before the first kick-off of the gameweek. After this, users cannot make any more changes to their team and cannot enter any more games for that gameweek. PlayON receives Live Premier League data from Opta Sports Limited and sends this out to all users who are logged into the site at the weekend. Users can watch their team score points minute by minute and can monitor all their One-on-One and Multiplayer Games in real time. 
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Results
        .m-content--body.grid-10
          %p.m-content--body-text
            The results of One-on-One and Multiplayer games are decided based on finalised data feeds from Opta. Once the final whistle in the last Premier League match of the gameweek is blown, PlayON waits for 30 mins so that any major errors can be corrected by Opta. After this, PlayON distributes the One-on-One and Multiplayer game pots to the winner(s).
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Payout
        .m-content--body.grid-10
          %p.m-content--body-text
            Game pots are paid out as per the
            = succeed "." do
              %a{:href => "/payout_structure"} Payout Structure
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Game Length
        .m-content--body.grid-10
          %p.m-content--body-text
            Premier League fixtures are divided into gameweeks and the outcome of all PlayON games is based upon the results of matches in the particular gameweek. Each gameweek usually consists of 10 matches, with each Premier League club playing one match. Gameweeks may from time to time contain more or less than 10 matches and Premier League teams may play more or less than one match in a particular gameweek. 
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Refunds
        .m-content--body.grid-10
          %p.m-content--body-text
            A refund is awarded to the user if no other user enters the relevant game. In a One-on-One game, if the opponent does not accept the challenge before the start of the Live Experience, the challenger will receive a full refund of the game entry and game commission. In a Multiplayer game, if another user does not join the game before the start of the Live Experience, the game creator will receive a full refund of the game entry and game commission.
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Substitutions
        .m-content--body.grid-10
          %p.m-content--body-text
            If a player is substituted during a Premier League match, the user will cease to accumulate points for that Premier League player. The replacement player in the match does not replace the selected player in the user’s PlayON team. 
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Team Captains
        .m-content--body.grid-10
          %p.m-content--body-text
            There are no team captains at PlayON as this introduces luck into the outcomes of games.
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Match Cancellation
        .m-content--body.grid-10
          %p.m-content--body-text
            PlayON reserves the right to amend the date of Premier League fixtures as may occur from time to time. If a Premier League match is cancelled and rescheduled for a future gameweek, it is deemed to be part of that future gameweek. Game outcomes in the existing gameweek will be decided based upon the player scores achieved from matches that were actually played in the particular gameweek. 
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Player Values
        .m-content--body.grid-10
          %p.m-content--body-text
            The PlayON algorithm determines each Premier League player’s value at the start of every gameweek. This value is re-calculated each gameweek after taking into account each player’s latest performance in Premier League matches. 
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Others
        .m-content--body.grid-10
          %p.m-content--body-text
            PlayON reserves the right to change the designated position of a player based on Opta feeds – i.e. changing a midfielder to forward. PlayON reserves the right to amend the date of Premier League fixtures as may occur from time to time. For details of all other terms and conditions and our privacy policy, please visit these pages. 
