<div class='grid-clearfix section light layout-full-bleed'>
  <div class='section-inner'>
    <div class='grid-16 hero-unit' style='margin-bottom:0px'>
      <h1>
        <span class='line'>You Get £100 million.</span>
        <span class='line'>Make it count.</span>
      </h1>
      <span class='strapline'>take on other users head to head</span>
    </div>
    <div class='grid-clearfix'>
      <div class='grid-16'>
        <ul class='nav-tabs-game'>
          <li>
            <a data-toggle='tab' href='#one-on-one'>Play one-on-one</a>
          </li>
          <li>
            <a data-toggle='tab' href='#multiplayer'>play multiplayer</a>
          </li>
          <li>
            <a data-toggle='tab' href='#my-club'>my club</a>
          </li>
        </ul>
      </div>
      <div class='grid-clearfix' style='padding:0px 30px'>
        <div class='tab-pane' id='one-on-one'>
          <div class='grid-10'>
            <div class='box' style='height:270px;'>
              <div class='header'>
                <h1>0 challenges received:</h1>
              </div>
              <div class='body'></div>
            </div>
            <div class='box' style='height:550px;'>
              <div class='header'>
                <h1>create a challenge</h1>
              </div>
              <div class='body'></div>
            </div>
          </div>
          <div class='grid-5 pull-right'>
            <div class='grid-5 box-light pull-right' style='height:280px;'>
              <div class='header-highlight'>
                <h2>My live challenges</h2>
              </div>
            </div>
            <div class='grid-5 box pull-right' style='height:250px;'>
              <div class='header'>
                <h2>Challenges awaiting response:</h2>
              </div>
            </div>
            <div class='grid-5 box pull-right' style='height:250px;'>
              <div class='header'>
                <h2>declined challenges</h2>
              </div>
            </div>
          </div>
        </div>
        <div class='tab-pane' id='multiplayer'>
          <div class='grid-10'>
            <div class='box' style='height:270px;'>
              <div class='header'>
                <h1>3 invites received</h1>
              </div>
              <div class='body'>
                <div class='ticket-with-sidebar'>
                  <div class='ticket-sidebar'>
                    <h3>Created by:</h3>
                    <div class='profile'>
                      <img class='profile-image' src='http://placehold.it/52x52'>
                      <span class='profile-name'>Adam Carroll</span>
                    </div>
                    <h3>Payout Structure</h3>
                    <ul class='payout-structure'>
                      <li>1st place: 50%</li>
                      <li>2nd place: 30%</li>
                      <li>3rd place: 20%</li>
                    </ul>
                  </div>
                  <div class='ticket-details'>
                    <span>The Big One</span>
                    <h1>Multiplayer Game</h1>
                    <span>Already In: 14 Players | 8 Contacts | 3 Ambassadors</span>
                    <div class='ticket-controls ticket-summary'>
                      <span class='value'>
                        <span class='label'>Entry:</span>
                        <span class='amount'>&pound;5.50</span>
                      </span>
                      <span class='value'>
                        <span class='label'>Pot:</span>
                        <span class='amount-total'>&pound; 20.00</span>
                      </span>
                      <a class='button' href='#'>Join this game</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='box'>
              <div class='header'>
                <h1>Join a Multiplayer Game</h1>
              </div>
              <div class='body' id='join-multiplayer'>
                <label>Game Type</label>
                <select class='filter'>
                  <option value=''>All</option>
                  <option value='Ambassadors'>Ambassadors</option>
                  <option value='Users'>Users</option>
                </select>
                <!-- %span#clear Clear Filters -->
                <table class='game-table data-table'>
                  <thead>
                    <tr>
                      <th class='name-column'>Game Name</th>
                      <th class='number-column'>Players</th>
                      <th class='currency-column'>Entry</th>
                      <th class='currency-column'>Pot</th>
                      <th class='invite-column'>Invite</th>
                      <th class='action-column'>Multiplayer</th>
                      <th class='game-type-column'>Game Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The Lads</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£11.00</td>
                      <td class='currency-column'>£100.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr class='success'>
                      <td class='name-column'>
                        <a href='#'>The £5 Game</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£5.50</td>
                      <td class='currency-column'>£50.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>You're in</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The Lads</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£11.00</td>
                      <td class='currency-column'>£100.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>The £5 Game</td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£5.50</td>
                      <td class='currency-column'>£50.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Ambassadors
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The Lads</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£11.00</td>
                      <td class='currency-column'>£100.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr class='success'>
                      <td class='name-column'>
                        <a href='#'>The £5 Game</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£5.50</td>
                      <td class='currency-column'>£50.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>You're in</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The Lads</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£11.00</td>
                      <td class='currency-column'>£100.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Ambassadors
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>The £5 Game</td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£5.50</td>
                      <td class='currency-column'>£50.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The Lads</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£11.00</td>
                      <td class='currency-column'>£100.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Ambassadors
                      </td>
                    </tr>
                    <tr class='success'>
                      <td class='name-column'>
                        <a href='#'>The £5 Game</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£5.50</td>
                      <td class='currency-column'>£50.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>You're in</a>
                      </td>
                      <td class='game-type'>
                        Ambassadors
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The Lads</a>
                      </td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£11.00</td>
                      <td class='currency-column'>£100.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>The £5 Game</td>
                      <td class='number-column'>10</td>
                      <td class='currency-column'>£5.50</td>
                      <td class='currency-column'>£50.00</td>
                      <td class='invite-column'>
                        <a href='#invite'>Invite</a>
                      </td>
                      <td class='action-column'>
                        <a class='button dropdown' href='#view'>View</a>
                      </td>
                      <td class='game-type'>
                        Users
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class='grid-5 grid-pull-right'>
            <div class='grid-5 box'>
              <div class='header-highlight'>
                <h2>My live Multiplayer games</h2>
              </div>
              <div class='body'>
                <p>
                  You are in 2 LIVE GAMES to WIN
                  <span class='total'>&pound;4.00</span>
                </p>
                <table class='game-table-small'>
                  <thead class='highlight'>
                    <tr>
                      <th class='name-column'>Game Name</th>
                      <th class='currency-column'>Entry</th>
                      <th class='currency-column'>Pot</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>Lucy - PlayON Team</a>
                      </td>
                      <th class='currency-column'>&pound;2.20</th>
                      <th class='currency-column'>&pound;4.00</th>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>David Mullins</a>
                      </td>
                      <th class='currency-column'>&pound;0.00</th>
                      <th class='currency-column'>&pound;0.00</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class='grid-5 box'>
              <div class='header'>
                <h2>Recreate a previous game</h2>
              </div>
              <div class='body'>
                <p>Recreate one of your previous Multiplayer games</p>
                <table class='game-table-small'>
                  <thead>
                    <tr>
                      <th class='name-column'>Game Name</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The &pound;10 Game</a>
                      </td>
                      <td>
                        <a class='button' href='#'>Recreate</a>
                      </td>
                    </tr>
                    <tr>
                      <td class='name-column'>
                        <a href='#'>The League of Office Banter</a>
                      </td>
                      <td>
                        <a class='button' href='#'>Recreate</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class='grid-5 box' style='height:250px;'>
              <div class='header'>
                <h2>declined challenges</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='modals'>
  <div class='modal' id='multiplayer-game'>
    <h1>The Big One</h1>
    <div class='ticket-with-sidebar'>
      <div class='ticket-sidebar'>
        <h3>Created by:</h3>
        <div class='profile'>
          <img class='profile-image' src='http://placehold.it/52x52'>
          <span class='profile-name'>Adam Carroll</span>
        </div>
        <h3>Payout Structure</h3>
        <ul class='payout-structure'>
          <li>1st place: 50%</li>
          <li>2nd place: 30%</li>
          <li>3rd place: 20%</li>
        </ul>
      </div>
      <div class='ticket-details'>
        <span>The Big One</span>
        <h1>Multiplayer Game</h1>
        <span>Already In: 14 Players | 8 Contacts | 3 Ambassadors</span>
        <div class='ticket-controls ticket-summary'>
          <span class='value'>
            <span class='label'>Entry:</span>
            <span class='amount'>&pound;5.50</span>
          </span>
          <span class='value'>
            <span class='label'>Pot:</span>
            <span class='amount-total'>&pound; 20.00</span>
          </span>
          <a class='button' href='#'>Join this game</a>
        </div>
      </div>
    </div>
  </div>
</div>
