.grid-clearfix.section.light.layout-full-bleed
  .section-inner
    .grid-16.hero-unit(style="margin-bottom:0px")
      %h1
        %span.line You Get £100 million. 
        %span.line Make it count.
      %span.strapline take on other users head to head
    .grid-clearfix
      .grid-16
        %ul.nav-tabs-game
          %li{:class => ("active" if @game == "one-on-one")}
            %a(href="#one-on-one" data-toggle="tab")Play one-on-one
          %li{:class => ("active" if @game == "multiplayer")}
            %a(href="#multiplayer" data-toggle="tab") play multiplayer
          %li{:class => ("active" if @game == "my-club")}
            %a(href="#my-club" data-toggle="tab") my club
      .grid-clearfix(style="padding:0px 30px")
        #one-on-one.tab-pane{:class => ("active" if @game == "one-on-one")}
          .grid-10
            .box{:style => "height:270px;"}
              .header
                %h1 0 challenges received:
              .body
            .box(style="height:550px;")
              .header
                %h1 create a challenge
              .body
              
          .grid-5.pull-right
            .grid-5.box-light.pull-right(style="height:280px;")
              .header-highlight
                %h2 My live challenges
            .grid-5.box.pull-right(style="height:250px;")
              .header
                %h2 Challenges awaiting response:
            .grid-5.box.pull-right(style="height:250px;")
              .header
                %h2 declined challenges
        #multiplayer.tab-pane{:class => ("active" if @game == "multiplayer")}
          .grid-10.invites
            .box
              .header
                %h1 3 invites received
              .body
                #tickets.carousel.slide
                  .carousel-inner
                    .item.active
                      = partial :_multiplayer_ticket
                    .item
                      = partial :_multiplayer_ticket
                  %a.carousel-control.left{"data-slide" => "prev", :href => "#tickets"}
                    %img{:src => "../images/arrow-left.png"}
                  %a.carousel-control.right{"data-slide" => "next", :href => "#tickets"}
                    %img{:src => "../images/arrow-right.png"}
            .box
              .header
                %h1 Join a Multiplayer Game
              .body#join-multiplayer{:style => "padding-left: 50px; padding-right: 50px;"}
                %input.search{:placeholder => "Search by Name..."}
                %label Game Type
                %select.filter
                  %option{:value => ""} All
                  %option{:value => "Ambassadors"} Ambassadors
                  %option{:value => "Users"} Users
                / %span#clear Clear Filters
                %table.game-table-medium.data-table
                  %thead
                    %tr
                      %th.name-column Game Name
                      %th.number-column Players
                      %th.currency-column Entry
                      %th.currency-column Pot
                      %th.invite-column Invite
                      %th.action-column Multiplayer
                      %th.game-type Game Type
                  %tbody
                    %tr
                      %td.name-column 
                        %a{:href => "#"} The Lads
                      %td.number-column 10
                      %td.currency-column £11.00
                      %td.currency-column £100.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Users
                    %tr.success
                      %td.name-column 
                        %a{:href => "#"} The £5 Game
                      %td.number-column 10
                      %td.currency-column £5.50
                      %td.currency-column £50.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.banner-small.dropdown{:href => "#view"} You're in!
                      %td.game-type
                        Users
                    %tr
                      %td.name-column 
                        %a{:href => "#"} The Lads
                      %td.number-column 10
                      %td.currency-column £11.00
                      %td.currency-column £100.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Users
                    %tr
                      %td.name-column The £5 Game
                      %td.number-column 10
                      %td.currency-column £5.50
                      %td.currency-column £50.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Ambassadors
                    %tr
                      %td.name-column 
                        %a{:href => "#"} The Lads
                      %td.number-column 10
                      %td.currency-column £11.00
                      %td.currency-column £100.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Users
                    %tr.success
                      %td.name-column 
                        %a{:href => "#"} The £5 Game
                      %td.number-column 10
                      %td.currency-column £5.50
                      %td.currency-column £50.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.banner-small.dropdown{:href => "#view"} You're In!
                      %td.game-type
                        Users
                    %tr
                      %td.name-column 
                        %a{:href => "#"} The Lads
                      %td.number-column 10
                      %td.currency-column £11.00
                      %td.currency-column £100.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Ambassadors
                    %tr
                      %td.name-column The £5 Game
                      %td.number-column 10
                      %td.currency-column £5.50
                      %td.currency-column £50.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Users
                    %tr
                      %td.name-column 
                        %a{:href => "#"} The Lads
                      %td.number-column 10
                      %td.currency-column £11.00
                      %td.currency-column £100.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Ambassadors
                    %tr.success
                      %td.name-column 
                        %a{:href => "#"} The £5 Game
                      %td.number-column 10
                      %td.currency-column £5.50
                      %td.currency-column £50.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.banner-small.dropdown{:href => "#view"} You're In!
                      %td.game-type
                        Ambassadors
                    %tr
                      %td.name-column 
                        %a{:href => "#"} The Lads
                      %td.number-column 10
                      %td.currency-column £11.00
                      %td.currency-column £100.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Users
                    %tr
                      %td.name-column The £5 Game
                      %td.number-column 10
                      %td.currency-column £5.50
                      %td.currency-column £50.00
                      %td.invite-column
                        %a{:href => '#invite'} Invite
                      %td.action-column
                        %a.button-small.dropdown{:href => "#view", "data-toggle".to_sym => "modal"} View
                      %td.game-type
                        Users
            
          .grid-5.grid-pull-right
            .grid-5.box
              .header-highlight
                %h2 My live Multiplayer games
              .body
                %p 
                  You are in 2 LIVE GAMES to WIN
                  %span.amount-total.pull-right &pound;4.00
                %table.game-table-small
                  %thead.highlight
                    %tr
                      %th.name-column Game Name
                      %th.currency-column Entry
                      %th.currency-column Pot
                  %tbody
                    %tr
                      %td.name-column 
                        %a{:href => "#"} Lucy - PlayON Team
                      %th.currency-column &pound;2.20
                      %th.currency-column &pound;4.00
                    %tr
                      %td.name-column 
                        %a{:href => "#"} David Mullins
                      %th.currency-column &pound;0.00
                      %th.currency-column &pound;0.00
            .grid-5.box
              .header
                %h2 Recreate a previous game  
              .body
                %p Recreate one of your previous Multiplayer games
                %table.game-table-small
                  %thead
                    %tr
                      %th.name-column Game Name
                      %th &nbsp;
                  %tbody
                    %tr
                      %td.name-column
                        %a{:href => "#"} The &pound;10 Game
                      %td
                        %a.button{:href => "#"} Recreate
                    %tr
                      %td.name-column
                        %a{:href => "#"}  The League of Office Banter
                      %td
                        %a.button{:href => "#"} Recreate
            .grid-5.box(style="height:250px;")
              .header
                %h2 declined challenges
                
= partial :_modal
