.m-box--header-bar
  %h1.m-box--heading Enter games
  
.m-box--body
  
  .m-division
    %p There are three types of games you can play on PlayON.
    %ol.m-howtoplay--steps.enter-games
      %li.m-howtoplay--step.step-1
        %h2.m-howtoplay--step-title One-on-One games
        %p.m-howtoplay--step-description Earn bragging rights in One-on-One games.
        %a.m-button{href: "/games/one-on-one"} Go to One-on-One
      %li.m-howtoplay--step.step-2
        %h2.m-howtoplay--step-title Multiplayer games
        %p.m-howtoplay--step-description Play against mates or other PlayON members for free for some serious cash pots.
        %a.m-button{href: "/games/multiplayer"} Go to Multiplayer
      %li.m-howtoplay--step.step-3
        %h2.m-howtoplay--step-title Club games
        %p.m-howtoplay--step-description Top scorers on PlayON are invited to represent their club in the League of Titans.
        %a.m-button{href: "/club/lobby"} Go to clubs
