.m-box--header-bar
  %h1.m-box--heading Live Matchday
  
.m-box--body
  
  .m-division
    %p You can pick a new team every week. You get a budget of £100m, and you can change your team as often as you like before Live Matchday.
    %p Watch your team rack up points in real time:
    %a{href: "/team/matchday"}
      %img{src:"/images/modules/howtoplay/matchday.png"}
