.m-box--header-bar
  %h1.m-box--heading Pick team
  
.m-box--body
  
  .m-division
    %p You can pick a new team every week. You get a budget of £100m, and you can change your team as often as you like before Live Matchday.
    %p To pick a team:
    %ol.m-howtoplay--steps.pick-team
      %li.m-howtoplay--step.step-1
        %h2.m-howtoplay--step-title Step 1: Select players
        %p.m-howtoplay--step-description Select 11 players for £100m or less by clicking their names in the table.
        %a.m-button{href: "/team/pick"} Pick team now
      %li.m-howtoplay--step.step-2
        %h2.m-howtoplay--step-title Step 2: Save team
        %p.m-howtoplay--step-description You need to save a valid team before entering games.
        %a.m-button{href: "/games/multiplayer"} View games
      %li.m-howtoplay--step.step-3
        %h2.m-howtoplay--step-title Step 3: Make changes
        %p.m-howtoplay--step-description You can change your team as often as you wish each week.
        %a.m-button{href: "/team/matchday"} View matchday
