.m-box--header-bar
  %h1.m-box--heading Contact us
  
.m-box--body
  
  .m-division
    .grid-6.m-form_contact
      %form{"accept-charset" => "UTF-8", :action => "/how_to_play?method=post", :method => "post"}
        %div{:style => "margin:0;padding:0;display:inline"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "2OA//HlN1Hr9gGFLgVueQH/lcF2WHtSAeeB/UUw99lY="}/
        %input#redirect{:name => "redirect", :type => "hidden", :value => "false"}/
        %p Contact us with any questions:
        .m-form-element
          %label.m-label{:for => "name"} Name
          %input.field.m-input_text{:name => "name", :type => "text"}/
        .m-form-element
          %label.m-label{:for => "email"}
            email
            %abbr.m-label--required{:title => "required"} *
          %input.m-input_text{:name => "email", :type => "text"}/
        .m-form-element
          %label.m-label{:for => "suggestions"}
            Message
            %abbr.m-label--required{:title => "required"} *
          %textarea#suggestions.m-input_textarea{:cols => "34", :name => "suggestions", :rows => "5"}
        .m-form-element
          %input#send_feedback.m-button{:type => "submit", :value => "Send"}/
    .grid-2-9
      %p Or reach us on:
      %a.m-howtoplay--contact-option.chat{href:"#"} Live chat
      %a.m-howtoplay--contact-option.twitter{href:"#"} Twitter
      %a.m-howtoplay--contact-option.facebook{href:"#"} Facebook
      %a.m-howtoplay--contact-option.email{href:"#"} Email
