.m-box--header-bar
  %h1.m-box--heading Results
  
.m-box--body
  
  .m-division
    %p You can check out all your results from your PlayON games here.
    %ol.m-howtoplay--steps.results
      %li.m-howtoplay--step.step-1
        %h2.m-howtoplay--step-title Check results
        %p.m-howtoplay--step-description See how many games you won this week.
        %a.m-button{href: "/team/results"} Check Results

      %li.m-howtoplay--step.step-2
        %h2.m-howtoplay--step-title Pick your next team
        %p.m-howtoplay--step-description Get started for next week's matches by Picking Your Team.
        %a.m-button{href: "/team/pick"} Pick your next team
