.m-box--header-bar
  %h1.m-box--heading Rewards
  
.m-box--body
  %p.m-content--body-text PlayON Reward Point Levels:
  .m-division--well
    .m-reward-level.ballboy
      %p.m-reward-level--info Ballboy
      %p.m-reward-level--info 500 points
      %p.m-reward-level--info -
    .m-reward-level.player
      %p.m-reward-level--info Player
      %p.m-reward-level--info 5,000 points
      %p.m-reward-level--info.glow £10 Free
    .m-reward-level.manager
      %p.m-reward-level--info Manager
      %p.m-reward-level--info 20,000 points
      %p.m-reward-level--info.glow £20 Free
    .m-reward-level.hero
      %p.m-reward-level--info Hero
      %p.m-reward-level--info 50,000 points
      %p.m-reward-level--info.glow £50 Free
    .m-reward-level.legend
      %p.m-reward-level--info Legend
      %p.m-reward-level--info 100,000 points
      %p.m-reward-level--info.glow £120 Free
  %p.m-content--body-text That's £200 Absolutely Free for inviting your friends and playing games at PlayON. Invite your friends who play Fantasy Football now before someone else does.
  %p.m-content--body-text For every friend who signs-up to PlayON, we'll give you 1,000 Reward Points. We'll also give them 750 Reward Points, so you both win. When you reach 5,000 Reward Points, we give you £10 Absolutely Free - that's £10 for inviting just 5 friends.
  %p.m-content--body-text Do you know 5 people who play Fantasy Football? Invite them now before someone else does and you'll have £10 in your account before you know it.
  %p.m-content--body-text You can also earn extra PlayON Reward Points in the following ways:
  %table.m-content--table
    %thead
      %tr
        %th Action
        %th Reward
    %tbody
      %tr
        %td.m-content--body-text Challenge someone to a cash one-on-one game and they accept:
        %td.m-content--body-text 50 points
      %tr
        %td.m-content--body-text Invite someone to a cash multiplayer game and they join:
        %td.m-content--body-text 50 points
      %tr
        %td.m-content--body-text Every time you enter a cash one-on-one game:
        %td.m-content--body-text 10 points
      %tr
        %td.m-content--body-text Every time you enter a cash multiplayer game:
        %td.m-content--body-text 10 points
  %a.m-button.right{href: "#invite_modal", "data-toggle" => "modal"} Invite to PlayON
