.m-box--header-bar
  %h1.m-box--heading Introduction
  
.m-box--body
  
  .m-division
    %p PlayON is Weekly Fantasy Football. Pick a fresh team of 11 players every week. The team that scores the most points wins the pot.
    %p Earn bragging rights over your friends in One-on-One games. Win serious cashpots in Multiplayer Games. And at the weekend, watch your team rack up points in real time on your phone.
    %p There are just three steps to playing:
    %ol.m-howtoplay--steps
      %li.m-howtoplay--step.step-1
        %h2.m-howtoplay--step-title Step 1: Pick a team
        %p.m-howtoplay--step-description Lorem ipsum dolor sit amet, admisping elit. Proin lacus eros.
        %a.m-button{href: "/team/pick"} Pick team now
      %li.m-howtoplay--step.step-2
        %h2.m-howtoplay--step-title Step 2: Enter games
        %p.m-howtoplay--step-description Lorem ipsum dolor sit amet, admisping elit. Proin lacus eros.
        %a.m-button{href: "/games/multiplayer"} View games
      %li.m-howtoplay--step.step-3
        %h2.m-howtoplay--step-title Step 3: Live matchday
        %p.m-howtoplay--step-description Lorem ipsum dolor sit amet, admisping elit. Proin lacus eros.
        %a.m-button{href: "/team/matchday"} View matchday
