.m-section.m-section_homepage.no-vertical-gutters.layout-full-bleed

  .m-section_homepage--body
    #flash_notice.m-flash-notice
    #banner-carousel.carousel.slide
      .carousel-progress
        %a.carousel-arrow{href:"#banner-carousel", "data-slide" => "prev"}
          %img{src: "/images/homepage/carousel-previous.png"}
        %ol.carousel-indicators
          %li.carousel-indicator{"data-slide-to" => "0", "data-target" => "#banner-carousel", class: "active"}
          %li.carousel-indicator{"data-slide-to" => "1", "data-target" => "#banner-carousel"}
          %li.carousel-indicator{"data-slide-to" => "2", "data-target" => "#banner-carousel"}
          %li.carousel-indicator{"data-slide-to" => "3", "data-target" => "#banner-carousel"}
          %li.carousel-indicator{"data-slide-to" => "4", "data-target" => "#banner-carousel"}
        %a.carousel-arrow{href:"#banner-carousel", "data-slide" => "next"}
          %img{src: "/images/homepage/carousel-next.png"}
      .carousel-inner
        .carousel-item.item.active
          %a{:href => "games/one-on-one/"}
            %img{:src => "/images/banner_weekly.png"}/
        .carousel-item.item
          %a{:href => "games/one-on-one/"}
            %img{:src => "/images/banner_southgate.png"}/
        .carousel-item.item
          %a{:href => "games/one-on-one/"}
            %img{:src => "/images/banner_fowler.png"}/
        .carousel-item.item
          %a{:href => "/games/multiplayer"}
            %img{:src => "/images/banner_cash.png"}/
        .carousel-item.item
          %a{:href => "/team/pick"}
            %img{:src => "/images/banner_invite.png"}/
.m-section.m-section_homepage.layout-full-bleed
  .m-section_homepage--body
    .m-feature
      %h1.m-feature--heading How to play
      %h2.m-feature--strapline PlayON is Weekly fantasy football
      %h2.m-feature--strapline Play for free or for cash
      .m-feature-callouts
        .m-feature--callout.left
          %a{href: "team/pick"}
            %img{src: "/images/homepage/step-1.png"}
        .m-feature--callout.right
          %a{href: "team/matchday"}
            %img{src: "/images/homepage/step-3.png"}
        .m-feature--callout
          %a{href: "games/multiplayer"}
            %img{src: "/images/homepage/step-2.png"}
    .m-feature
      .m-feature--divider
      %h1.m-feature--heading Enter games
      %h2.m-feature--strapline Play one-on-one, multiplayer, or represent your club:
      .m-feature-callouts
        .m-feature--callout.left
          %a.m-game-callout.one-on-one{href: "/team/pick"} One-on-One
        .m-feature--callout.right
          %a.m-game-callout.my-club{href: "/club/lobby"} My Club
        .m-feature--callout
          %a.m-game-callout.multiplayer{href: "/games/multiplayer"} Multiplayer
    .m-feature
      .m-feature--divider
      %h1.m-feature--heading Live Matchday - All the Action in real time
      %h2.m-feature--strapline 
        Never miss a second with live updates powered by OPTA&reg;
        %br
        on your desktop, tablet or mobile
      .m-feature-callouts
        .m-feature--callout
          %a{href: "/team/matchday"}
            %img{src: "/images/homepage/real-time.png"}
        .m-feature--callout
          %a.m-button.large{href: "/team/matchday"} Live Matchday
:javascript
  $(document).ready( function () {
    $('#banner-carousel').carousel();
  });
