.m-section.m-section_content
  .m-section--body
    .m-box.grid-whole
      .m-box--header-bar
        %h1.m-box--heading The £1,000 Top 5 Leaderboard
      .m-box--body
        %p Your Top 5 weekly scores added together - the top points scorer at the end of the season WINS £1,000.
        .m-form-search-and-filter_leaderboard
          %input.m-input_search{:placeholder => "Search by name...", :type => "search"}/
          #dropkick-filters.m-filters--container
            %label.m-label{:for => "invite_player_filter"}
              Filter by:
            %select#leaderboard_player_filter.dropkick{:name => "players"}
              %option{selected: "selected", value: ""} All Players
              %option{value: "ambassador"} Ambassadors
              %option{value: "contacts"} My Contacts
            %a.m-link{:href => "#"} Clear filters

        .m-leaderboard
          .m-leaderboard-header
            .m-leaderboard-header--cell.player-name
              Player
            .m-leaderboard-header--cell.top-scores
              Top Scores
            .m-leaderboard-header--cell.total
              Total
          .m-leaderboard--body
          .m-leaderboard--scroll-container
            .m-leaderboard-player.highlight
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  1
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player.highlight
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  2
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-data.right
                .m-leaderboard-player-total
                  .m-amount.total
                    7125
            .m-leaderboard-player.highlight
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  3
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  4
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  5
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  6
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  7
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  8
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  9
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  10
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  11
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  12
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  13
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  14
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  15
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  16
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  17
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  18
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  19
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
            .m-leaderboard-player
              .m-leaderboard-player-data
                .m-leaderboard-player-data--cell.position
                  20
                .m-leaderboard-player-data--cell.name
                  Simon Carroll
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
                .m-leaderboard-player-data--cell.top-score
                  .m-amount.total
                    1425
                  .m-leaderboard-player-data--date
                    GW 21 JAN 12-18
              .m-leaderboard-player-total
                .m-amount.total
                  7125
