.m-section
  .m-section--body
    .m-header-bar.solo
      %h1.m-header-bar--heading My Live Games
    .games-container.center
      .grid-7-and-half.grid-prefix-4
        .grid-7-and-half.no-margin-left
          - if request.path_info.include? 'guest'
            = partial :'_multiplayer_live-empty'
          - else
            .m-box--header-bar.highlight
              %h3.m-box--heading_small 3 live multiplayer games, you are winning:
              %span.m-amount.total.right £210.00

            .m-box--body
              %table.m-table_inline.m-table_scrollable.m-table_live-games#live_multiplayer_games
                %thead.m-table--header
                  %tr
                    %th.name-column Game Name:
                    %th.points-column
                      Leader
                      %abbr{title: "points"} Pts
                    %th.pot-column
                      Pot
                    %th.rank-column
                      Rank
                    %th.winning-column
                      Winning
                    %th.scrollbar-column &nbsp;
                = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_live-games'><table class='m-table_live-games'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                  %tbody.m-table--body
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{:href => "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                        %i.icon-chat
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                        %i.icon-chat
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                        %i.icon-chat
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                        %i.icon-chat
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                        %i.icon-chat
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                        %i.icon-chat
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                        %i.icon-chat
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} The Big One
                        %i.icon-chat
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#leaderboard_modal", "data-toggle".to_sym => "modal"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
        - unless request.path_info.include? 'guest'
          %a.m-button{href: "/team/matchday"} Go To Live Matchday
