- if request.path_info.include? '/share' 
  - if request.path_info.include? 'twitter' 
    :javascript
      $(document).ready(function () {
        $("#multiplayer_share_twitter_modal").modal();
      });
  - elsif request.path_info.include? 'facebook' 
    :javascript
      $(document).ready(function () {
        $("#multiplayer_share_facebook_modal").modal();
      });
  - else 
    :javascript
      $(document).ready(function () {
        $("#multiplayer_share_modal").modal();
      });
- if request.path_info.include? 'create/deposit' 
  :javascript
    $(document).ready(function () {
      $("#create_multiplayer_game_deposit_modal").modal();
    });
- if request.path_info.include? 'confirm/deposit' 
  :javascript
    $(document).ready(function () {
      $("#multiplayer_confirm_deposit_modal").modal();
    });

- if request.path_info.include? 'the-big-one' 
  :javascript
    $(document).ready(function () {
      $("#view_multiplayer_game_modal").modal();
    });
- if request.path_info.include? 'guest/accept' 
  :javascript
    $(document).ready(function () {
      $("#guest_pick_team_modal").modal();
    });
.m-section
  .m-section--body
    .m-hero-unit
      %h1.m-hero-unit-heading
        %span.m-hero-unit-heading--line You get £100 Million.
        %span.m-hero-unit-heading--line Make it count.
      %span.m-hero-unit--strapline Take on other users head-to-head.
      %span.m-hero-unit--strapline
    .grid-10
      .grid-10.m-box
        .m-box--header-bar
          %h1.m-box--heading
            7  invites received:
        .m-box--body
          #ticket_carousel.carousel.slide
            .carousel-inner
              = partial '_multiplayer-ambassador-carousel-tickets'.to_sym
              = partial '_multiplayer-carousel-ticket'.to_sym
              = partial '_multiplayer-empty-carousel-ticket'.to_sym
          %a.arrows.m-carousel--control.left{:href => "#ticket_carousel", "data-slide" => "prev"}
            %img{:alt => "left", :src => "/images/modules/carousels/arrow-left.png"}/
          %a.arrows.m-carousel--control.right{:href => "#ticket_carousel", "data-slide" => "next"}
            %img{:alt => "right", :src => "/images/modules/carousels/arrow-right.png"}/
      .grid-10.m-box
        .m-box--header-bar
          %h2.m-box--heading Join a Multiplayer game:
        .m-box--body
          - if request.path_info.include? 'guest'
            = partial :'_one-on-one-guest'
          - else
            #create_games
              .m-suggestion_multiplayer
                %p.m-suggestion--instructions Create a multiplayer game:
                %a.m-button{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Create Game Now
              .m-suggestion
                %p.m-suggestion--instructions Join a multiplayer game:

                .m-form-search-and-filter
                  %input.m-input_search{:placeholder => "Search by name...", :type => "search"}/
                  #dropkick-filters.m-filters--container
                    %label.m-label{:for => "player_filter"}
                      Filter by:
                    %select#player_filter.dropkick{:name => "players"}
                      %option{selected: "selected", value: ""} All Games
                      %option{value: "limited"} Limited Games
                      %option{value: "unlimited"} Unlimited Games
                    %a.m-link{:href => "#"} Clear filters
                = partial :_alphabet_filters
                %table.m-table_inline.m-table_scrollable.m-table_multiplayer-games
                  %thead.m-table--header
                    %tr
                      %th.name-column Game Name
                      %th.players-column Players
                      %th.entry-column entry
                      %th.pot-column pot
                      %th.invite-column invite
                      %th.action-column multiplayer
                      %th.scrollbar-column &nbsp;  
                  %tbody.m-table--body
                    %tr
                      %td.name-column
                        %span.name The Lads
                        %i.icon-chat.icon-chat-empty
                      %td.players-column 10
                      %td.entry-column £2.20
                      %td.pot-column £20.00
                      %td.invite-column 
                        %a.m-link{href: "#view_multiplayer_game_modal", "data-toggle" => "modal"} Invite
                      %td.action-column 
                        %a.m-button_multiplayer-table{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} View
                      %td.scrollbar-column &nbsp;  
                    %tr
                      %td.name-column
                        %span.name Southgate
                        %i.icon-chat.icon-chat-active
                        %i.icon-ambassador
                      %td.players-column 1,000
                      %td.entry-column FREE
                      %td.pot-column GLORY
                      %td.invite-column 
                        %a.m-link{href: "#view_multiplayer_game_modal", "data-toggle" => "modal"} Invite
                      %td.action-column 
                        %a.m-button_multiplayer-table{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} View
                      %td.scrollbar-column &nbsp;  
                    %tr.success
                      %td.name-column
                        %span.name The £5 Game
                        %i.icon-chat.icon-chat-empty
                      %td.players-column 20
                      %td.entry-column £5.50
                      %td.pot-column £100.00
                      %td.invite-column 
                        %a.m-button_table{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} Invite
                      %td.action-column 
                        %a.m-ribbon_small.success{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} You're In!
                      %td.scrollbar-column &nbsp;  
                    %tr
                      %td.name-column
                        %span.name The Lads
                        %i.icon-chat.icon-chat-active
                      %td.players-column 10
                      %td.entry-column £2.20
                      %td.pot-column £20.00
                      %td.invite-column 
                        %a.m-link{href: "#view_multiplayer_game_modal", "data-toggle" => "modal"} Invite
                      %td.action-column 
                        %a.m-button_multiplayer-table{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} View
                      %td.scrollbar-column &nbsp;  
                    %tr
                      %td.name-column
                        %span.name The Lads
                        %i.icon-chat.icon-chat-empty
                      %td.players-column 10
                      %td.entry-column £2.20
                      %td.pot-column £20.00
                      %td.invite-column 
                        %a.m-link{href: "#view_multiplayer_game_modal", "data-toggle" => "modal"} Invite
                      %td.action-column 
                        %a.m-button_multiplayer-table{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} View
                      %td.scrollbar-column &nbsp;  
                    %tr
                      %td.name-column
                        %span.name The Lads
                        %i.icon-chat.icon-chat-active
                      %td.players-column 10
                      %td.entry-column £2.20
                      %td.pot-column £20.00
                      %td.invite-column 
                        %a.m-link{href: "#view_multiplayer_game_modal", "data-toggle" => "modal"} Invite
                      %td.action-column 
                        %a.m-button_multiplayer-table{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} View
                      %td.scrollbar-column &nbsp;  
                    %tr
                      %td.name-column
                        %span.name The Lads
                        %i.icon-chat.icon-chat-active
                      %td.players-column 10
                      %td.entry-column £2.20
                      %td.pot-column £20.00
                      %td.invite-column 
                        %a.m-link{href: "#view_multiplayer_game_modal", "data-toggle" => "modal"} Invite
                      %td.action-column 
                        %a.m-button_multiplayer-table{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} View
                      %td.scrollbar-column &nbsp;  
                    %tr
                      %td.name-column
                        %span.name The Lads
                        %i.icon-chat.icon-chat-empty
                      %td.players-column 10
                      %td.entry-column £2.20
                      %td.pot-column £20.00
                      %td.invite-column 
                        %a.m-link{href: "#view_multiplayer_game_modal", "data-toggle" => "modal"} Invite
                      %td.action-column 
                        %a.m-button_multiplayer-table{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} View
                      %td.scrollbar-column &nbsp;  
                    %tr
                      %td.name-column
                        %span.name The Lads
                        %i.icon-chat.icon-chat-empty
                      %td.players-column 10
                      %td.entry-column £2.20
                      %td.pot-column £20.00
                      %td.invite-column 
                        %a.m-link{href: "#view_multiplayer_game_modal", "data-toggle" => "modal"} Invite
                      %td.action-column 
                        %a.m-button_multiplayer-table{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} View
                      %td.scrollbar-column &nbsp;  
                    %tr
                      %td.name-column
                        %span.name The Lads
                        %i.icon-chat.icon-chat-active
                      %td.players-column 10
                      %td.entry-column £2.20
                      %td.pot-column £20.00
                      %td.invite-column 
                        %a.m-link{href: "#view_multiplayer_game_modal", "data-toggle" => "modal"} Invite
                      %td.action-column 
                        %a.m-button_multiplayer-table{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} View
                      %td.scrollbar-column &nbsp;  
                    %tr
                      %td.name-column
                        %span.name The Lads
                        %i.icon-chat.icon-chat-empty
                      %td.players-column 10
                      %td.entry-column £2.20
                      %td.pot-column £20.00
                      %td.invite-column 
                        %a.m-link{href: "#view_multiplayer_game_modal", "data-toggle" => "modal"} Invite
                      %td.action-column 
                        %a.m-button_multiplayer-table{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} View
                      %td.scrollbar-column &nbsp;  
                    %tr
                      %td.name-column
                        %span.name The Lads
                        %i.icon-chat.icon-chat-empty
                      %td.players-column 10
                      %td.entry-column £2.20
                      %td.pot-column £20.00
                      %td.invite-column 
                        %a.m-link{href: "#view_multiplayer_game_modal", "data-toggle" => "modal"} Invite
                      %td.action-column 
                        %a.m-button_multiplayer-table{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} View
                      %td.scrollbar-column &nbsp;  
                    %tr
                      %td.name-column
                        %span.name The Lads
                        %i.icon-chat.icon-chat-active
                      %td.players-column 10
                      %td.entry-column £2.20
                      %td.pot-column £20.00
                      %td.invite-column 
                        %a.m-link{href: "#view_multiplayer_game_modal", "data-toggle" => "modal"} Invite
                      %td.action-column 
                        %a.m-button_multiplayer-table{:href => "#view_multiplayer_game_modal", "data-toggle" => "modal"} View
                      %td.scrollbar-column &nbsp;  

    .grid-5.right
      .grid-5.m-box_small#my_live_challenges_box.no-margin-left
        .m-box--header-bar.highlight
          %h2.m-box--heading_small My Live Multplayer Games
        .m-box--body
          %p
            You are in 8 live games to WIN:
            %span.m-amount.pot_display.total.right
              £40.00
            %table.m-table_inline.m-table_scrollable.m-table_game-summary
              %thead.m-table--header
                %tr.highlight
                  %th.name-column Game Name
                  %th.entry-column Entry
                  %th.pot-column Pot
                  %th.scrollbar-column &nbsp;
              %tbody.m-table--body
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name The Lads
                      %i.icon-chat.icon-chat-empty
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name The Lads
                      %i.icon-chat.icon-chat-empty
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name The Lads
                      %i.icon-chat.icon-chat-empty
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name The Lads
                      %i.icon-chat.icon-chat-empty
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name The Lads
                      %i.icon-chat.icon-chat-empty
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Ferdinand
                      %i.icon-chat.icon-chat-empty
                      %i.icon-ambassador
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name The Lads
                      %i.icon-chat.icon-chat-empty
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
      .grid-5.m-box.no-margin-left#recreate_games_box
        .m-box--header-bar
          %h2.m-box--heading_small Recreate a previous game
        .m-box--body
          %p Recreate one of your previous multiplayer games:
          %table.m-table_inline.m-table_scrollable.m-table_recreate-games
            %thead.m-table--header
              %tr
                %th.name-column Game Name
                %th.action-column &nbsp;
                %th.scrollbar-column &nbsp;
            %tbody.m-table--body
              %tr
                %td.name-column
                  .name-column--row
                    %span.name The £5 Game
                    %i.icon-chat.icon-chat-empty
                  .m-table--my-teams.name-column--row
                    %label My Teams:
                    %i.icon-team.icon-team-1
                    %i.icon-team.icon-team-2
                    %i.icon-team.icon-team-3
                %td.action-column
                  %a.m-button_table{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Recreate
                %td.scrollbar-column &nbsp;
              %tr
                %td.name-column
                  .name-column--row
                    %span.name Southgate 
                    %i.icon-chat.icon-chat-active
                    %i.icon-ambassador
                  .m-table--my-teams.name-column--row
                    %label My Teams:
                    %i.icon-team.icon-team-1
                    %i.icon-team.icon-team-2
                    %i.icon-team.icon-team-3
                %td.action-column
                  %a.m-button_table{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Recreate
                %td.scrollbar-column &nbsp;
              %tr
                %td.name-column
                  .name-column--row
                    %span.name The £5 Game
                    %i.icon-chat.icon-chat-empty
                  .m-table--my-teams.name-column--row
                    %label My Teams:
                    %i.icon-team.icon-team-1
                    %i.icon-team.icon-team-2
                    %i.icon-team.icon-team-3
                %td.action-column
                  %a.m-button_table{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Recreate
                %td.scrollbar-column &nbsp;
              %tr
                %td.name-column
                  .name-column--row
                    %span.name The £5 Game
                    %i.icon-chat.icon-chat-empty
                  .m-table--my-teams.name-column--row
                    %label My Teams:
                    %i.icon-team.icon-team-1
                    %i.icon-team.icon-team-2
                    %i.icon-team.icon-team-3
                %td.action-column
                  %a.m-button_table{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Recreate
                %td.scrollbar-column &nbsp;
              %tr
                %td.name-column
                  .name-column--row
                    %span.name The £5 Game
                    %i.icon-chat.icon-chat-empty
                  .m-table--my-teams.name-column--row
                    %label My Teams:
                    %i.icon-team.icon-team-1
                    %i.icon-team.icon-team-2
                    %i.icon-team.icon-team-3
                %td.action-column
                  %a.m-button_table{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Recreate
                %td.scrollbar-column &nbsp;
              %tr
                %td.name-column
                  .name-column--row
                    %span.name The £5 Game
                    %i.icon-chat.icon-chat-empty
                  .m-table--my-teams.name-column--row
                    %label My Teams:
                    %i.icon-team.icon-team-1
                    %i.icon-team.icon-team-2
                    %i.icon-team.icon-team-3
                %td.action-column
                  %a.m-button_table{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Recreate
                %td.scrollbar-column &nbsp;
              %tr
                %td.name-column
                  .name-column--row
                    %span.name The £5 Game
                    %i.icon-chat.icon-chat-empty
                  .m-table--my-teams.name-column--row
                    %label My Teams:
                    %i.icon-team.icon-team-1
                    %i.icon-team.icon-team-2
                    %i.icon-team.icon-team-3
                %td.action-column
                  %a.m-button_table{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Recreate
                %td.scrollbar-column &nbsp;
              %tr
                %td.name-column
                  .name-column--row
                    %span.name The £5 Game
                    %i.icon-chat.icon-chat-empty
                  .m-table--my-teams.name-column--row
                    %label My Teams:
                    %i.icon-team.icon-team-1
                    %i.icon-team.icon-team-2
                    %i.icon-team.icon-team-3
                %td.action-column
                  %a.m-button_table{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Recreate
                %td.scrollbar-column &nbsp;
              %tr
                %td.name-column
                  .name-column--row
                    %span.name The £5 Game
                    %i.icon-chat.icon-chat-empty
                  .m-table--my-teams.name-column--row
                    %label My Teams:
                    %i.icon-team.icon-team-1
                    %i.icon-team.icon-team-2
                    %i.icon-team.icon-team-3
                %td.action-column
                  %a.m-button_table{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Recreate
                %td.scrollbar-column &nbsp;
              %tr
                %td.name-column
                  .name-column--row
                    %span.name The £5 Game
                    %i.icon-chat.icon-chat-empty
                  .m-table--my-teams.name-column--row
                    %label My Teams:
                    %i.icon-team.icon-team-1
                    %i.icon-team.icon-team-2
                    %i.icon-team.icon-team-3
                %td.action-column
                  %a.m-button_table{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Recreate
                %td.scrollbar-column &nbsp;
              %tr
                %td.name-column
                  .name-column--row
                    %span.name The £5 Game
                    %i.icon-chat.icon-chat-empty
                  .m-table--my-teams.name-column--row
                    %label My Teams:
                    %i.icon-team.icon-team-1
                    %i.icon-team.icon-team-2
                    %i.icon-team.icon-team-3
                %td.action-column
                  %a.m-button_table{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Recreate
                %td.scrollbar-column &nbsp;
              %tr
                %td.name-column
                  .name-column--row
                    %span.name The £5 Game
                    %i.icon-chat.icon-chat-empty
                  .m-table--my-teams.name-column--row
                    %label My Teams:
                    %i.icon-team.icon-team-1
                    %i.icon-team.icon-team-2
                    %i.icon-team.icon-team-3
                %td.action-column
                  %a.m-button_table{:href => "#create_multiplayer_game_modal", "data-toggle" => "modal"} Recreate
                %td.scrollbar-column &nbsp;
      = partial :_declined_challenges
