.m-section
  .m-section--body
    .m-hero-unit
      %h1.m-hero-unit-heading
        %span.m-hero-unit-heading--line Represent
        %span.m-hero-unit-heading--line Your Club 
      %span.m-hero-unit--strapline Every week, the highest scorers from each
      %span.m-hero-unit--strapline club battle each other in the league of titans
    .grid-whole
      .m-header-bar.solo{ class: "m-scarf_#{@slug}"}
        %h1.m-header-bar--heading 
          = club_name(@slug)
        
      .m-club-details.grid-10.no-margin-left
        .m-club-details--jersey
          %i.m-jersey_detail{ class: "jersey-detail-#{@slug}"}
        %dl.m-club-details-totals
          .m-club-details-totals--item
            %dt.m-club-details-totals--label Total Fans
            %dd.m-club-details-totals--value 12345

          .m-club-details-totals--item
            %dt.m-club-details-totals--label Total Points
            %dd.m-club-details-totals--value 12345

          .m-club-details-totals--item
            %dt.m-club-details-totals--label GW 20 Points
            %dd.m-club-details-totals--value 12345

          .m-club-details-totals--item
            %dt.m-club-details-totals--label My Contribution
            %dd.m-club-details-totals--value 12345

        .m-club-details-footer
          %h4.m-club-details-footer--heading PlayON Status
          .m-club-details-footer--body.m-reward--progress
            .m-reward--progress-points
              %p Current Level:
              %p.m-reward--status-value Rookie
            .m-reward--progress-status
              %p Points:
              %p.m-reward--status-value 5/500
              .m-reward--progress-meter
                .m-reward--progress-tracker{ data: { percentage_obtained: 50 } }
            .m-reward--progress-next-level
              %p Next level:
              %p.m-reward--status-value bronze
          %i.m-level.level-green
      .m-club-actions.grid-3.right.no-margin-right
        %a.m-button{href: "/club/lobby"} 
          %i.icon-back
          Back to club lobby
        %a.m-button#join_club{href: "#", class: "m-button_#{@slug}"} join club
        %a.m-button{href: "#invite_to_club_modal", "data-toggle" => "modal", class: "m-button_#{@slug}"} invite friends
      
    .grid-container
      .m-box.grid-9-and-half
        .m-box--header-bar{class: "m-scarf_#{@slug}"}
          %h1.m-box--heading= "#{ @club_name } fans on playon"

        .m-box--body
          .m-form-search-and-filter
            %input.m-input_search{type:"text", name:"first_name", class:"text", placeholder:"search by name..."}
            #dropkick-filters.m-filters--container
              %label.m-label
                filter
              %select#player_select.dropkick{name:"filter_transactions"}
                %option All Users
                %option My contacts
                %option ambassadors
              %a.m-link{href: "#"} clear filters
            %table.m-table_inline.m-table_scrollable.m-table_fans
              %thead.m-table--header
                %tr
                  %th.name-column Name
                  %th.club-column Club
                  %th.contact-column Contact
              %tbody.m-table--body
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture{ class: "jersey-thumb-#{@slug}"}
                    %span.club-name #{@abbreviation}
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                  %td.scrollbar-column &nbsp;
      = partial :_league_of_titans
