.m-section
  .m-section--body{:style => "padding-left: 15px; padding-right: 15px"}
    .m-hero-unit
      %h1.m-hero-unit-heading
        %span.m-hero-unit-heading--line Match Day Live.
        %span.m-hero-unit-heading--line It's On.
      %span.m-hero-unit--strapline Keep up with the action in real time.
      %span.m-hero-unit--strapline
    #flash_notice.m-flash-notice
    .grid-9
      .m-box.grid-9.no-margin-left
        .m-box--header-bar
          %h1.m-box--heading My Team
        .m-box--body.center
          .m-pitch_matchday.player-wrapper
            .m-pitch-row_goalkeeper
              .m-pitch-player.player.l-pitch-position-1.STO{"data-id" => "422"}
                .player-value.m-pitch-player--points-bar 150
                .m-pitch-player--team-bar.player-team STO
                .m-pitch-player--status-bar.player-status.played Played
                .m-pitch-player--name-bar.player-name Begovic
                .m-pitch-player--jersey.player-jersey
                %i.info{"data-id" => "422"}
                  %a.m-pitch-player--info{:href => "#"}
            .m-pitch-row_defender
              .m-pitch-player.player.STO.l-pitch-position-1{"data-id" => "427"}
                .player-value.m-pitch-player--points-bar 650
                .m-pitch-player--team-bar.player-team STO
                .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                .m-pitch-player--name-bar.player-name Huth
                .m-pitch-player--jersey.player-jersey
                %i.info{"data-id" => "427"}
                  %a.m-pitch-player--info{:href => "#"}
              .m-pitch-player.player.NCH.l-pitch-position-2{"data-id" => "300"}
                .player-value.m-pitch-player--points-bar 250
                .m-pitch-player--team-bar.player-team NCH
                .m-pitch-player--status-bar.player-status.played Played
                .m-pitch-player--name-bar.player-name Bassong
                .m-pitch-player--jersey.player-jersey
                %i.info{"data-id" => "300"}
                  %a.m-pitch-player--info{:href => "#"}
              .m-pitch-player.player.TOT.l-pitch-position-3{"data-id" => "522"}
                .player-value.m-pitch-player--points-bar 2750
                .m-pitch-player--team-bar.player-team TOT
                .m-pitch-player--status-bar.player-status.played Played
                .m-pitch-player--name-bar.player-name Vertonghen
                .m-pitch-player--jersey.player-jersey
                %i.info{"data-id" => "522"}
                  %a.m-pitch-player--info{:href => "#"}
              .m-pitch-player.player.QPR.l-pitch-position-4{"data-id" => "332"}
                .player-value.m-pitch-player--points-bar 975
                .m-pitch-player--team-bar.player-team QPR
                .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                .m-pitch-player--name-bar.player-name Nelsen
                .m-pitch-player--jersey.player-jersey
                %i.info{"data-id" => "332"}
                  %a.m-pitch-player--info{:href => "#"}
            .m-pitch-row_midfielder
              .m-pitch-player.player.SWA.l-pitch-position-1{"data-id" => "499"}
                .player-value.m-pitch-player--points-bar 575
                .m-pitch-player--team-bar.player-team SWA
                .m-pitch-player--status-bar.player-status.played Played
                .m-pitch-player--name-bar.player-name Michu
                .m-pitch-player--jersey.player-jersey
                %i.info{"data-id" => "499"}
                  %a.m-pitch-player--info{:href => "#"}
              .m-pitch-player.player.TOT.l-pitch-position-2{"data-id" => "533"}
                .player-value.m-pitch-player--points-bar 0
                .m-pitch-player--team-bar.player-team TOT
                .m-pitch-player--status-bar.player-status.did-not-play Didn't Play
                .m-pitch-player--name-bar.player-name Bale
                .m-pitch-player--jersey.player-jersey
                %i.info{"data-id" => "533"}
                  %a.m-pitch-player--info{:href => "#"}
              .m-pitch-player.player.EVT.l-pitch-position-3{"data-id" => "117"}
                .player-value.m-pitch-player--points-bar 475
                .m-pitch-player--team-bar.player-team EVT
                .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                .m-pitch-player--name-bar.player-name Fellaini
                .m-pitch-player--jersey.player-jersey
                %i.info{"data-id" => "117"}
                  %a.m-pitch-player--info{:href => "#"}
              .m-pitch-player.player.ARS.l-pitch-position-4{"data-id" => "25"}
                .player-value.m-pitch-player--points-bar 4740
                .m-pitch-player--team-bar.player-team ARS
                .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                .m-pitch-player--name-bar.player-name Cazorla
                .m-pitch-player--jersey.player-jersey
                %i.info{"data-id" => "25"}
                  %a.m-pitch-player--info{:href => "#"}
            .m-pitch-row_forward
              .m-pitch-player.player.MNU.l-pitch-position-1{"data-id" => "253"}
                .player-value.m-pitch-player--points-bar 2275
                .m-pitch-player--team-bar.player-team MNU
                .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                .m-pitch-player--name-bar.player-name van Persie
                .m-pitch-player--jersey.player-jersey
                %i.info{"data-id" => "253"}
                  %a.m-pitch-player--info{:href => "#"}
              .m-pitch-player.player.TOT.l-pitch-position-2{"data-id" => "544"}
                .player-value.m-pitch-player--points-bar 650
                .m-pitch-player--team-bar.player-team TOT
                .m-pitch-player--status-bar.player-status.played Played
                .m-pitch-player--name-bar.player-name Defoe
                .m-pitch-player--jersey.player-jersey
                %i.info{"data-id" => "544"}
                  %a.m-pitch-player--info{:href => "#"}
      .m-box.grid-9.no-margin-left.live-ticker
        .m-box--header-bar
          %h1.m-box--heading Live Ticker
        .m-box--body
          %p Gameweek 38 as it happened.
          %input.search{:placeholder => "Search by name..."}/
          %label{:for => "filter"}
            Filter by:
          %select#ticker_team{:name => "all-teams"}
            %option{:value => ""} All Teams
            %option{:value => "422,427,300,522,332,499,533,117,25,253,544"} My Team
            %option{:value => "21"} Arsenal
            %option{:value => "22"} Aston Villa
            %option{:value => "23"} Chelsea
            %option{:value => "24"} Everton
            %option{:value => "25"} Fulham
            %option{:value => "26"} Liverpool
            %option{:value => "27"} Manchester City
            %option{:value => "28"} Manchester United
            %option{:value => "29"} Newcastle United
            %option{:value => "30"} Norwich City
            %option{:value => "31"} Queens Park Rangers
            %option{:value => "32"} Reading
            %option{:value => "33"} Southampton
            %option{:value => "34"} Stoke City
            %option{:value => "35"} Sunderland
            %option{:value => "36"} Swansea City
            %option{:value => "37"} Tottenham Hotspur
            %option{:value => "38"} West Bromwich Albion
            %option{:value => "39"} West Ham United
            %option{:value => "40"} Wigan Athletic
          %select#ticker_players{:name => "all-players"}
            %option{:value => "all"} All Players
          %select#ticker_events{:name => "all-events"}
            %option{:value => "all"} All Events
            %option{:value => "assist"} Assists
            %option{:value => "clean_sheet"} Clean sheets
            %option{:value => "clearances"} Clearances
            %option{:value => "goal"} Goals
            %option{:value => "goals_conceded"} Goals conceded
            %option{:value => "interceptions"} Interceptions
            %option{:value => "mins_played"} Minutes played
            %option{:value => "own_goal"} Own goals
            %option{:value => "red_card"} Red cards
            %option{:value => "save"} Saves
            %option{:value => "shot_on_target"} Shots
            %option{:value => "tackle"} Tackles
            %option{:value => "yellow_card"} Yellow cards
          %a#ticker_clear{:href => "#"} Clear filters
          %br/
          %a#refresh_ticker{:href => "#", :style => "display: none;"} Refresh ticker, new updates available
          #ticker-table_wrapper.dataTables_wrapper{:role => "grid"}
            #ticker-table_processing.dataTables_processing{:style => "visibility: hidden;"} Processing...
            %table#ticker-table.m-table_inline.main-table.ticker-table.dataTable{"aria-describedby" => "ticker-table_info"}
              %thead.m-table--header
                %tr{:role => "row"}
                  %th.created-at.sorting{"aria-controls" => "ticker-table", "aria-label" => "Time: activate to sort column ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :tabindex => "0"} Time
                  %th.first-name.sorting_desc{"aria-controls" => "ticker-table", "aria-label" => "Name: activate to sort column ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :tabindex => "0"} Name
                  %th.team-name.sorting{"aria-controls" => "ticker-table", "aria-label" => "Team: activate to sort column ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :tabindex => "0"} Team
                  %th.event-type.sorting{"aria-controls" => "ticker-table", "aria-label" => "Event: activate to sort column ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :tabindex => "0"} Event
                  %th.event-points.sorting{"aria-controls" => "ticker-table", "aria-label" => "Points: activate to sort column ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :tabindex => "0"} Points
                  %th.points-delta.sorting{"aria-controls" => "ticker-table", "aria-label" => "GW Total: activate to sort column ascending", :colspan => "1", :role => "columnheader", :rowspan => "1", :tabindex => "0"} GW Total
                  %th{:colspan => "1", :rowspan => "1"}
              %tbody.m-table--body{"aria-live" => "polite", "aria-relevant" => "all", :role => "alert"}
                %tr.odd.mins_played.normal
                  %td.created-at Mar 10 17:56
                  %td.first-name.sorting_1 Steven Caulker
                  %td.team-name
                    %span.crest.crest-TOT>
                    Tottenham Hotspur
                  %td.event-type MINS PLAYED
                  %td.event-points 0
                  %td.points-delta 0
                %tr.even.mins_played.normal
                  %td.created-at Mar 10 17:56
                  %td.first-name.sorting_1 Tom Huddlestone
                  %td.team-name
                    %span.crest.crest-TOT>
                    Tottenham Hotspur
                  %td.event-type MINS PLAYED
                  %td.event-points 0
                  %td.points-delta 0
                %tr.odd.mins_played.normal
                  %td.created-at Mar 10 17:56
                  %td.first-name.sorting_1 Brad Friedel
                  %td.team-name
                    %span.crest.crest-TOT>
                    Tottenham Hotspur
                  %td.event-type MINS PLAYED
                  %td.event-points 0
                  %td.points-delta 0
                %tr.even.mins_played.normal
                  %td.created-at Mar 10 17:56
                  %td.first-name.sorting_1 Kyle Naughton
                  %td.team-name
                    %span.crest.crest-TOT>
                    Tottenham Hotspur
                  %td.event-type MINS PLAYED
                  %td.event-points 0
                  %td.points-delta 1500
                %tr.odd.mins_played.normal
                  %td.created-at Mar 10 17:56
                  %td.first-name.sorting_1 Thomas Carroll
                  %td.team-name
                    %span.crest.crest-TOT>
                    Tottenham Hotspur
                  %td.event-type MINS PLAYED
                  %td.event-points 0
                  %td.points-delta 0
                %tr.even.mins_played.normal
                  %td.created-at Mar 10 17:56
                  %td.first-name.sorting_1 Scott Parker
                  %td.team-name
                    %span.crest.crest-TOT>
                    Tottenham Hotspur
                  %td.event-type MINS PLAYED
                  %td.event-points 450
                  %td.points-delta 5
                %tr.odd.mins_played.normal
                  %td.created-at Mar 10 17:56
                  %td.first-name.sorting_1 Jermain Defoe
                  %td.team-name
                    %span.crest.crest-TOT>
                    Tottenham Hotspur
                  %td.event-type MINS PLAYED
                  %td.event-points 450
                  %td.points-delta 650
                %tr.even.mins_played.normal
                  %td.created-at Mar 10 17:56
                  %td.first-name.sorting_1 Gareth Bale
                  %td.team-name
                    %span.crest.crest-TOT>
                    Tottenham Hotspur
                  %td.event-type MINS PLAYED
                  %td.event-points 450
                  %td.points-delta 0
                %tr.odd.mins_played.normal
                  %td.created-at Mar 10 17:56
                  %td.first-name.sorting_1 Benoit Assou-Ekotto
                  %td.team-name
                    %span.crest.crest-TOT>
                    Tottenham Hotspur
                  %td.event-type MINS PLAYED
                  %td.event-points 445
                  %td.points-delta 0
                %tr.even.mins_played.normal
                  %td.created-at Mar 10 17:56
                  %td.first-name.sorting_1 Mousa Dembélé
                  %td.team-name
                    %span.crest.crest-TOT>
                    Tottenham Hotspur
                  %td.event-type MINS PLAYED
                  %td.event-points 450
                  %td.points-delta 520
            #ticker-table_info.dataTables_info Showing 1 to 10 of 1,456 entries
          #ticker_pagination.slider-arrows
            .inner-wrapper
              %a.next.right.sRightA{:href => "#"}
              %p
              %a.prev.left.sLeftA{:href => "#"}
    .grid-6.right
      #h2h.grid-6.m-box.table-wrapper.h2h-table.watchlive-table-wrapper.no-margin-left
        .m-box--header-bar.highlight
          %h2.m-box--heading_small
            %span#h2h-count 0
            One-on-one Games
          %span.pot_display.h2h.m-amount.total.right £0.00
        .m-box--body
          .btn-wrapper
            %button#prevPage.sLeftD
            %button#nextPage.sRightD
          .slides.sliderg
            .slide-1
              #h2h-table_wrapper.dataTables_wrapper{:role => "grid"}
                %table#h2h-table.m-table_inline.main-table.dataTable{"aria-describedby" => "h2h-table_info", :cellpadding => "0", :cellspacing => "0", :style => "width: 320px;"}
                  %thead
                    %tr{:role => "row"}
                      %th.name.sorting_asc{"aria-label" => "Name: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :style => "width: 58px;", :tabindex => "0"} Name
                      %th.oppPoints.sorting{"aria-label" => "Points: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 69px;", :tabindex => "0"} Points
                      %th.sorting{"aria-label" => "Pot: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 37px;", :tabindex => "0"} Pot
                      %th.status.sorting{"aria-label" => "Rank: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 50px;", :tabindex => "0"} Rank
                      %th.winnings.sorting{"aria-label" => "Winnings: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 100px;", :tabindex => "0"} Winnings
                  %tbody.m-table--body{"aria-live" => "polite", "aria-relevant" => "all", :role => "alert"}
                    %tr.odd
                      %td.dataTables_empty{:colspan => "5", :valign => "top"} No data available in table
                #h2h-table_info.dataTables_info Showing 0 to 0 of 0 entries
          %table.foot-table{:cellpadding => "0", :cellspacing => "0"}
            %tbody
              %tr
                %td My Stats
                %td P 0
                %td W 0
                %td L 0
                %td W% -
      #leagues.m-box.grid-6.table-wrapper.leagues-table.watchlive-table-wrapper.no-margin-left
        .m-box--header-bar.highlight
          %h2.m-box--heading_small
            %span#league-count 0
            Multiplayer Games
          %span.m-amount.pot_display.multiplayer.total.right.gray £0.00
        .m-box--body
          #leagues-table_wrapper.dataTables_wrapper{:role => "grid"}
            %table#leagues-table.m-table_inline.main-table.dataTable{"aria-describedby" => "leagues-table_info", :cellpadding => "0", :cellspacing => "0", :style => "width: 320px;"}
              %thead
                %tr{:role => "row"}
                  %th.name.sorting{"aria-label" => "Name: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 58px;", :tabindex => "0"} Name
                  %th.sorting{"aria-label" => "Leader: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 71px;", :tabindex => "0"} Leader
                  %th.sorting{"aria-label" => "Pot: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 36px;", :tabindex => "0"} Pot
                  %th.rank.sorting{"aria-label" => "Rank: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 50px;", :tabindex => "0"} Rank
                  %th.winnings.sorting_desc{"aria-label" => "Winnings: activate to sort column ascending", "aria-sort" => "descending", :colspan => "1", :rowspan => "1", :style => "width: 99px;", :tabindex => "0"} Winnings
              %tbody.m-table--body{"aria-live" => "polite", "aria-relevant" => "all", :role => "alert"}
                %tr.odd
                  %td.dataTables_empty{:colspan => "5", :valign => "top"} No data available in table
            #leagues-table_info.dataTables_info Showing 0 to 0 of 0 entries
          .slider-arrows
            .inner-wrapper.leagues-table
              %a#prevPage.left{:href => "#"}
              %p
              %a#nextPage.right{:href => "#"}
      .m-box.grid-6.no-margin-left
        .m-box--header-bar
          %h2.m-box--heading_small
            Fixtures for Gameweek 38
        .m-box--body.matchday-fixtures.fixtures-wrapper-b.js-table-wrapper
          %table.m-table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %tbody.m-table--body
              %tr
                %td
                  %span.crest.crest-WIG.home-crest
                %td.team.team-20.team-name
                  Wigan
                  %span.events
                %td#fixture_t111_442378.team-score.team-a-score 0
                %td.versus vs
                %td#fixture_t7_442378.team-score.team-b-score 0
                %td.team.team-2.team-name
                  Aston Villa
                  %span.events
                %td
                  %span.crest.crest-AST
              %tr
                %td
                  %span.crest.crest-MNC.home-crest
                %td.team.team-7.team-name
                  Man. City
                  %span.events
                %td#fixture_t43_442371.team-score.team-a-score 0
                %td.versus vs
                %td#fixture_t45_442371.team-score.team-b-score 0
                %td.team.team-10.team-name
                  Norwich
                  %span.events
                %td
                  %span.crest.crest-NCH
              %tr
                %td
                  %span.crest.crest-WHU.home-crest
                %td.team.team-19.team-name
                  West Ham
                  %span.events
                %td#fixture_t21_442377.team-score.team-a-score 0
                %td.versus vs
                %td#fixture_t108_442377.team-score.team-b-score 0
                %td.team.team-12.team-name
                  Reading
                  %span.events
                %td
                  %span.crest.crest-REA
              %tr
                %td
                  %span.crest.crest-LPL.home-crest
                %td.team.team-6.team-name
                  Liverpool
                  %span.events
                %td#fixture_t14_442370.team-score.team-a-score 0
                %td.versus vs
                %td#fixture_t52_442370.team-score.team-b-score 0
                %td.team.team-11.team-name
                  Q.P.R
                  %span.events
                %td
                  %span.crest.crest-QPR
              %tr
                %td
                  %span.crest.crest-CHL.home-crest
                %td.team.team-3.team-name
                  Chelsea
                  %span.events
                %td#fixture_t8_442369.team-score.team-a-score 0
                %td.versus vs
                %td#fixture_t11_442369.team-score.team-b-score 0
                %td.team.team-4.team-name
                  Everton
                  %span.events
                %td
                  %span.crest.crest-EVT
              %tr
                %td
                  %span.crest.crest-WBA.home-crest
                %td.team.team-18.team-name
                  W.B.A
                  %span.events
                %td#fixture_t35_442376.team-score.team-a-score 0
                %td.versus vs
                %td#fixture_t1_442376.team-score.team-b-score 0
                %td.team.team-8.team-name
                  Man. Utd
                  %span.events
                %td
                  %span.crest.crest-MNU
              %tr
                %td
                  %span.crest.crest-TOT.home-crest
                %td.team.team-17.team-name
                  Tottenham
                  %span.events
                %td#fixture_t6_442375.team-score.team-a-score 0
                %td.versus vs
                %td#fixture_t56_442375.team-score.team-b-score 0
                %td.team.team-15.team-name
                  Sunderland
                  %span.events
                %td
                  %span.crest.crest-SUN
              %tr
                %td
                  %span.crest.crest-SWA.home-crest
                %td.team.team-16.team-name
                  Swansea
                  %span.events
                %td#fixture_t80_442374.team-score.team-a-score 0
                %td.versus vs
                %td#fixture_t54_442374.team-score.team-b-score 0
                %td.team.team-5.team-name
                  Fulham
                  %span.events
                %td
                  %span.crest.crest-FUL
              %tr
                %td
                  %span.crest.crest-STN.home-crest
                %td.team.team-13.team-name
                  Southampton
                  %span.events
                %td#fixture_t20_442373.team-score.team-a-score 0
                %td.versus vs
                %td#fixture_t110_442373.team-score.team-b-score 0
                %td.team.team-14.team-name
                  Stoke
                  %span.events
                %td
                  %span.crest.crest-STO
              %tr
                %td
                  %span.crest.crest-NEW.home-crest
                %td.team.team-9.team-name
                  Newcastle
                  %span.events
                %td#fixture_t4_442372.team-score.team-a-score 0
                %td.versus vs
                %td#fixture_t3_442372.team-score.team-b-score 0
                %td.team.team-1.team-name
                  Arsenal
                  %span.events
                %td
                  %span.crest.crest-ARS
