.m-section
  .m-section--body
    .m-header-bar.solo
      %h1.m-header-bar--heading My Live Games
    .games-container.center
      .grid-7-and-half.grid-prefix-4
        .grid-7-and-half.no-margin-left
          - if request.path_info.include? 'guest'
            = partial :'_one-on-one_live-empty'
          - else
            .m-box--header-bar.highlight
              %h3.m-box--heading_small 10 live one on one games, you are winning:
              %span.m-amount.total £400.00
            .m-box--body
              %table.m-table_inline.m-table_scrollable.m-table_live-games
                %thead.m-table--header
                  %tr
                    %th.name-column
                      One-on-one-opponent:
                    %th.points-column
                      %abbr{title: "opponent points"} Opp. Pts
                    %th.pot-column
                      Pot
                    %th.rank-column
                      Rank
                    %th.winning-column
                      %span.highlight
                        Winning
                    %th.scrollbar-column &nbsp;
                = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_live-games'><table class='m-table_live-games'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                  %tbody.m-table--body
                    %tr
                      %td.name-column
                        %a{href: "#pitch_compare_modal", "data-toggle" => "modal"} Dan Smith
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#pitch_compare_modal", "data-toggle" => "modal"} Susan Jakobs
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#pitch_compare_modal", "data-toggle" => "modal"} Dan Smith
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#pitch_compare_modal", "data-toggle" => "modal"} Susan Jakobs
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#pitch_compare_modal", "data-toggle" => "modal"} Dan Smith
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#pitch_compare_modal", "data-toggle" => "modal"} Susan Jakobs
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#pitch_compare_modal", "data-toggle" => "modal"} Dan Smith
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#pitch_compare_modal", "data-toggle" => "modal"} Susan Jakobs
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#pitch_compare_modal", "data-toggle" => "modal"} Dan Smith
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#pitch_compare_modal", "data-toggle" => "modal"} Susan Jakobs
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#pitch_compare_modal", "data-toggle" => "modal"} Dan Smith
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                        %a{href: "#pitch_compare_modal", "data-toggle" => "modal"} Susan Jakobs
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                      %td.points-column
                      %td.pot-column
                      %td.rank-column
                      %td.winning-column
                      %td.scrollbar-column &nbsp;
                    %tr
                      %td.name-column
                      %td.points-column
                      %td.pot-column
                      %td.rank-column
                      %td.winning-column
          - unless request.path_info.include? 'guest'
            %a.m-button{href: "/team/matchday"} Go To Live Matchday
