- if request.path_info.include? 'invite' 
  :javascript
    $(document).ready(function () {
      $("#one-on-one_invite_modal").modal();
    });
- if request.path_info.include? 'create/deposit' 
  :javascript
    $(document).ready(function () {
      $("#create_open_challenge_deposit_modal").modal();
    });
- if request.path_info.include? 'confirm/currency' 
  :javascript
    $(document).ready(function () { $("#one-on-one_confirm_currency_modal").modal();
    });

- if request.path_info.include? 'confirm/deposit' 
  :javascript
    $(document).ready(function () {
    $("#one-on-one_confirm_deposit_modal").modal();
    });

- if request.path_info.include? 'guest/accept' 
  :javascript
    $(document).ready(function () {
      $("#guest_pick_team_modal").modal();
    });

- if request.path_info.include? 'team-challenge' 
  :javascript
    $(document).ready(function () {
      $("#team_challenge_modal").modal();
    });
.m-section
  .m-section--body
    .m-hero-unit
      %h1.m-hero-unit-heading
        %span.m-hero-unit-heading--line You get £100 Million.
        %span.m-hero-unit-heading--line Make it count.
      %span.m-hero-unit--strapline Take on other users head-to-head.
      %span.m-hero-unit--strapline
    .games-container
      .grid-10
        .grid-10.m-box.no-margin-left
          .m-box--header-bar
            %h1.m-box--heading.challenges_received
              7  challenges received:
          .m-box--body
            #ticket_carousel.carousel.slide
              .carousel-inner
                = partial '_one-on-one-ambassador-carousel-tickets'.to_sym
                = partial '_one-on-one-carousel-ticket'.to_sym
                = partial '_one-on-one-empty-carousel-ticket'.to_sym
            %a.arrows.m-carousel--control.left{:href => "#ticket_carousel", "data-slide" => "prev"}
              %img{:alt => "left", :src => "/images/modules/carousels/arrow-left.png"}/
            %a.arrows.m-carousel--control.right{:href => "#ticket_carousel", "data-slide" => "next"}
              %img{:alt => "right", :src => "/images/modules/carousels/arrow-right.png"}/

        .grid-10.m-box.no-margin-left
          .m-box--header-bar
            %h2.m-box--heading Create a challenge
          .m-box--body
            - if request.path_info.include? 'guest'
              = partial :'_one-on-one-guest'
            - else
              #create_games
                .m-suggestion
                  %p.m-suggestion--instructions Create an open challenge so anyone on the site can play you one-on-one:
                  %a.m-button{:href => "#create_open_challenge_modal", "data-toggle" => "modal"} Create Open Challenge
                .m-suggestion
                  %p.m-suggestion--instructions
                    Enter any of the challenges below, or search to challenge a contact or Ambassador.

                  .m-form-search-and-filter
                    %input.m-input_search{:placeholder => "Search by name...", :type => "search"}/
                    #dropkick-filters.m-filters--container
                      %label.m-label{:for => "player_filter"}
                        Filter by:
                      %select#player_filter.dropkick{:name => "players"}
                        %option{selected: "selected", value: ""} All Players
                        %option{value: "contacts"} My Contacts
                        %option{value: "ambassador"} Ambassadors
                      %a.m-link{:href => "#"} Clear filters
                  = partial :_alphabet_filters
                  %table.m-table_inline.m-table_scrollable.m-table_users
                    %thead.m-table--header
                      %tr
                        %th.name-column Name
                        %th.club-column Club
                        %th.contact-column Contact
                        %th.action-column challenge
                        %th.scrollbar-column &nbsp;  
                    %tbody.m-table--body
                      %tr
                        %td.name-column
                          %span.name Adam Castleton
                          %i.icon-chat.icon-chat-active
                        %td.club-column
                          %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                          %span.club-name TOT
                        %td.contact-column 
                          %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                          %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                        %td.action-column 
                          %a.m-button_table{:href => "#view_one-on-one_ticket_modal", "data-toggle" => "modal"} £10.00
                        %td.scrollbar-column &nbsp;  
                      %tr.success
                        %td.name-column
                          %span.name Alan Smith
                          %i.icon-chat.icon-chat-active
                        %td.club-column
                          %i.m-jersey_fixture.jersey-thumb-manchester-united
                          %span.club-name MNU
                        %td.contact-column 
                          %span.contact-added
                            Added
                          %i.icon-contact
                        %td.action-column 
                          %a.m-ribbon_small.success{href: "#live_one-on-one_ticket_modal", "data-toggle" => "modal"} Challenge is on!
                        %td.scrollbar-column &nbsp;  
                      %tr
                        %td.name-column
                          %span.name Joe Blogs
                          %i.icon-chat.icon-chat-empty
                        %td.club-column
                          %i.m-jersey_fixture.jersey-thumb-aston-villa
                          %span.club-name AST
                        %td.contact-column 
                          %span.contact-added
                            Added
                          %i.icon-contact
                        %td.action-column 
                          %a.m-button_table{:href => "#view_one-on-one_ticket_modal", "data-toggle" => "modal"} View
                        %td.scrollbar-column &nbsp;  
                      %tr
                        %td.name-column
                          %span.name Robbie Fowler
                          %i.icon-chat.icon-chat-empty
                          %i.icon-ambassador
                        %td.club-column
                          %i.m-jersey_fixture.jersey-thumb-liverpool
                          %span.club-name LIV
                        %td.contact-column 
                          %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                          %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                        %td.action-column 
                          %a.m-button_table{:href => "#view_one-on-one_ticket_modal", "data-toggle" => "modal"} View
                        %td.scrollbar-column &nbsp;  
                      %tr.waiting
                        %td.name-column
                          %span.name Adam Castleton
                          %i.icon-chat.icon-chat-empty
                        %td.club-column
                          %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                          %span.club-name TOT
                        %td.contact-column 
                          %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                          %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                        %td.action-column 
                          %a.m-ribbon_small.waiting{:href => "#waiting_one-on-one_ticket_modal", "data-toggle" => "modal"} Awaiting Response
                        %td.scrollbar-column &nbsp;  
                      %tr.success
                        %td.name-column
                          %span.name Alan Smith
                          %i.icon-chat.icon-chat-empty
                        %td.club-column
                          %i.m-jersey_fixture.jersey-thumb-manchester-united
                          %span.club-name MNU
                        %td.contact-column 
                          %span.contact-added
                            Added
                          %i.icon-contact
                        %td.action-column 
                          %a.m-ribbon_small.success{href: "#live_one-on-one_ticket_modal", "data-toggle" => "modal"} Challenge is on!
                        %td.scrollbar-column &nbsp;  
                      %tr
                        %td.name-column
                          %span.name Joe Blogs
                          %i.icon-chat.icon-chat-active
                        %td.club-column
                          %i.m-jersey_fixture.jersey-thumb-aston-villa
                          %span.club-name AST
                        %td.contact-column 
                          %span.contact-added
                            Added
                          %i.icon-contact
                        %td.action-column 
                          %a.m-button_table{:href => "#view_one-on-one_ticket_modal", "data-toggle" => "modal"} View
                        %td.scrollbar-column &nbsp;  
                      %tr
                        %td.name-column
                          %span.name Robbie Fowler
                          %i.icon-chat.icon-chat-empty
                          %i.icon-ambassador
                        %td.club-column
                          %i.m-jersey_fixture.jersey-thumb-liverpool
                          %span.club-name LIV
                        %td.contact-column 
                          %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                          %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                        %td.action-column 
                          %a.m-button_table{:href => "#view_one-on-one_ticket_modal", "data-toggle" => "modal"} View
                        %td.scrollbar-column &nbsp;  
                      %tr
                        %td.name-column
                          %span.name Adam Castleton
                          %i.icon-chat.icon-chat-empty
                        %td.club-column
                          %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                          %span.club-name TOT
                        %td.contact-column 
                          %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                          %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                        %td.action-column 
                          %a.m-button_table{:href => "#view_one-on-one_ticket_modal", "data-toggle" => "modal"} View
                        %td.scrollbar-column &nbsp;  
                      %tr.success
                        %td.name-column
                          %span.name Alan Smith
                          %i.icon-chat.icon-chat-empty
                        %td.club-column
                          %i.m-jersey_fixture.jersey-thumb-manchester-united
                          %span.club-name MNU
                        %td.contact-column 
                          %span.contact-added
                            Added
                          %i.icon-contact
                        %td.action-column 
                          %a.m-ribbon_small.success{href: "#live_one-on-one_ticket_modal", "data-toggle" => "modal"} Challenge is on!
                        %td.scrollbar-column &nbsp;  
                      %tr
                        %td.name-column
                          %span.name Joe Blogs
                          %i.icon-chat.icon-chat-active
                        %td.club-column
                          %i.m-jersey_fixture.jersey-thumb-aston-villa
                          %span.club-name AST
                        %td.contact-column 
                          %span.contact-added
                            Added
                          %i.icon-contact
                        %td.action-column 
                          %a.m-button_table{:href => "#view_one-on-one_ticket_modal", "data-toggle" => "modal"} View
                        %td.scrollbar-column &nbsp;  
                      %tr
                        %td.name-column
                          %span.name Robbie Fowler
                          %i.icon-chat.icon-chat-empty
                          %i.icon-ambassador
                        %td.club-column
                          %i.m-jersey_fixture.jersey-thumb-liverpool
                          %span.club-name LIV
                        %td.contact-column 
                          %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                          %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-placement' => 'right'} Add Contact
                        %td.action-column 
                          %a.m-button_table{:href => "#view_one-on-one_ticket_modal", "data-toggle" => "modal"} View
                        %td.scrollbar-column &nbsp;  

      .grid-5
        .grid-5.m-box_small#my_live_challenges_box.no-margin-left
          .m-box--header-bar.highlight
            %h2.m-box--heading_small My Live Challenges
          .m-box--body
            %p
              You are in 2 live games to win:
              %span.m-amount.total.right
                £4.00
            %table.m-table_inline.m-table_scrollable.m-table_game-summary
              %thead.m-table--header
                %tr.highlight
                  %th.name-column Name
                  %th.entry-column Entry
                  %th.pot-column Pot
                  %th.scrollbar-column &nbsp;
              %tbody.m-table--body
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Lucy - PlayON Team
                      %i.icon-chat.icon-chat-empty
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Robbie Fowler
                      %i.icon-chat.icon-chat-active
                      %i.icon-ambassador
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Lucy - PlayON Team
                      %i.icon-chat.icon-chat-active
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Lucy - PlayON Team
                      %i.icon-chat.icon-chat-active
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Lucy - PlayON Team
                      %i.icon-chat.icon-chat-active
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Lucy - PlayON Team
                      %i.icon-chat.icon-chat-active
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Lucy - PlayON Team
                      %i.icon-chat.icon-chat-active
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
        .grid-5.m-box_small.no-margin-left#awaiting_response_box
          .m-box--header-bar
            %h2.m-box--heading_small Challenges Awaiting Response
          .m-box--body
            %p
              Awaiting response on 2 games for
              %span.m-amount.right.pending
                £4.00
            %table.m-table_inline.m-table_scrollable.m-table_game-summary
              %thead.m-table--header
                %tr
                  %th.name-column Name
                  %th.entry-column Entry
                  %th.pot-column Pot
                  %th.scrollbar-column &nbsp;
              %tbody.m-table--body
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Lucy - PlayON Team
                      %i.icon-chat.icon-chat-active
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Lucy - PlayON Team
                      %i.icon-chat.icon-chat-active
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Lucy - PlayON Team
                      %i.icon-chat.icon-chat-active
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Lucy - PlayON Team
                      %i.icon-chat.icon-chat-active
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Lucy - PlayON Team
                      %i.icon-chat.icon-chat-active
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Lucy - PlayON Team
                      %i.icon-chat.icon-chat-active
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    .name-column--row
                      %span.name Lucy - PlayON Team
                      %i.icon-chat.icon-chat-active
                    .m-table--my-teams.name-column--row
                      %label My Teams:
                      %i.icon-team.icon-team-1
                      %i.icon-team.icon-team-2
                      %i.icon-team.icon-team-3
                  %td.entry-column £2.20
                  %td.pot-column £4.00
                  %td.scrollbar-column &nbsp;
        = partial :_declined_challenges
