- if request.path_info.include? 'info' 
  :javascript
    $(document).ready(function () {
    $("#player_info_modal").modal();
    });

.m-section
  .m-section--body
    .m-hero-unit
      %h1.m-hero-unit-heading
        %span.m-hero-unit-heading--line You get £100 Million.
        %span.m-hero-unit-heading--line Make it count.
      %span.m-hero-unit--strapline Choose your team and get started
      %span.m-hero-unit--strapline
    #flash_notice.m-flash-notice
    .grid-container
      .m-box_paginate.pick_team.grid-half.last.center
        %a{href: "/team/results"}
          %img.previous-arrow{src:"/images/header-bar-previous.png"}
        .m-box--header-bar#team_selection_header-bar
          %h2.m-box--heading GW 24
          %select.dropkick#team_selection
            %option{value: "team-1"} Team 1
            %option{value: "team-2"} Team 2
            %option{value: "team-3"} Team 3
            %option{value: "team-4"} Team 4
            %option{value: "team-5"} Team 5

        .m-box--body
          - if request.path_info.include? 'exceeded'
            = partial :_pick_team_budget_exceeded
          -else  
            = partial :_pick_team_budget_remaining
          .m-pick-team--controls
            %a.m-button.small Use Previous
            .right
              %a.m-button_secondary.small autopick
              %a.m-button_secondary.small.redo{:href => "#"} Redo &gt;
              %a.m-button_secondary.clear-team.small{:href => "#"} Clear Team
          - if request.path_info.include? 'empty'
            = partial :_pick_team_pitch_empty
          - else
            = partial :_pick_team_pitch_full
          %button.m-button.save-team save team
      .grid-half.m-box.grid-pull-right-half#player-selection-box
        .m-box--header-bar
          %h1.m-box--heading Player Selection
        .m-box--body
          %input.m-input_text{:placeholder => "Search by name...", :type => "search"}/
          .m-filters#dropkick-filters
            %label.m-label Filter by:
            .m-filters--container
              %select#position-filter.dropkick
                %option{:value => ""} Position
                %option{:value => "goalkeeper"} Goalkeeper
                %option{:value => "defender"} Defender
                %option{:value => "midfielder"} Midfielder
                %option{:value => "forward"} Forward
              %select#club-filter.dropkick
                %option{:value => ""}Club
                %option{:value => "ARS"} Arsenal
                %option{:value => "AST"} Aston Villa
                %option{:value => "CHL"} Chelsea
                %option{:value => "EVT"} Everton
                %option{:value => "FUL"} Fulham
                %option{:value => "LPL"} Liverpool
                %option{:value => "MNU"} Man Utd
                %option{:value => "MNC"} Man City
                %option{:value => "NEW"} Newcastle
                %option{:value => "NCH"} Norwich
                %option{:value => "QPR"} QPR
                %option{:value => "REA"} Reading
                %option{:value => "STN"} Southampton
                %option{:value => "STO"} Stoke City
                %option{:value => "SUN"} Sunderland
                %option{:value => "SWA"} Swansea
                %option{:value => "TOT"} Tottenham
                %option{:value => "WBA"} WBA
                %option{:value => "WHU"} West Ham
                %option{:value => "WIG"} Wigan
              %select#event-filter.dropkick
                %option{:value => ""} Event
                %option{:value => "goals"} Goals
                %option{:value => "assists"} Assists
                %option{:value => "shots_on_target"} Shots On Target
                %option{:value => "saves"} Saves
                %option{:value => "tackles"} Tackles
                %option{:value => "interceptions"} Interceptions
                %option{:value => "clearances"} Clearances
                %option{:value => "clean_sheets"} Clean Sheets
                %option{:value => "goals_conceded"} Goals Conceded
                %option{:value => "mins_played"} Mins Played
              %select#value-filter.dropkick
                %option{:value => ""} Value
                - i = 13.3
                - while i > 1.0 do
                  %option{:value => "#{i.round(1)}"} < £#{i.round(1)}m 
                  - i -= 0.1
            .m-filters--options
              .m-checkbox
                %input#exclude_unavailable{type: "checkbox", checked: "checked"}
                %label{for: "exclude_unavailable"}
              %label.m-label_checkbox{for: "exclude_unavailable"} Exclude injured/suspended players 
              %a.m-link.right{href: "#"} Clear all
          %table.m-table_inline.m-table_scrollable.m-table_player-selection
            %thead.m-table--header
              %tr
                %th.name-column Name
                %th.position-column Position
                %th.club-column Club
                %th.score-column Score
                %th.worth-column Value
                %th.player-info-column Info
                %th.scrollbar-column &nbsp;
            = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_player-selection'><table class='m-table_player-selection'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
              %tbody.m-table--body
                %tr.odd
                  %td.name-column Begovic
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-stoke-city
                    STO
                  %td.score-column 4000
                  %td.worth-column £10.3m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column

                %tr.even.success
                  %td.name-column
                    Jääskeläinen
                    %i.icon-tick.right
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-west-ham-united
                    WHU
                  %td.score-column 0
                  %td.worth-column £10.2m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"} View{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                  %td.scrollbar-column
                %tr.odd.injured
                  %td.name-column
                    Ruddy
                    %i.icon-injured
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-norwich-city
                    NCH
                  %td.score-column 0
                  %td.worth-column £10.1m
                  %td.player-info-column
                    %a.info_icon.icon-info-injured{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.even.success
                  %td.name-column
                    Cech
                    %i.icon-tick.right
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-chelsea
                    CHL
                  %td.score-column 0
                  %td.worth-column £10.0m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.odd
                  %td.name-column Hart
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-manchester-city
                    MNC
                  %td.score-column 0
                  %td.worth-column £9.9m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.even
                  %td.name-column Mignolet
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-sunderland
                    SUN
                  %td.score-column 0
                  %td.worth-column £9.8m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.odd
                  %td.name-column Guzan
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-aston-villa
                    AST
                  %td.score-column 0
                  %td.worth-column £9.7m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.even
                  %td.name-column Al-Habsi
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-wigan-athletic
                    WIG
                  %td.score-column 0
                  %td.worth-column £9.6m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.odd.injured
                  %td.name-column
                    Julio César
                    %i.icon-injured
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-queens-park-rangers
                    QPR
                  %td.score-column 0
                  %td.worth-column £9.5m
                  %td.player-info-column
                    %a.info_icon.icon-info-injured{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.even
                  %td.name-column Schwarzer
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-fulham
                    FUL
                  %td.score-column 0
                  %td.worth-column £9.4m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.odd
                  %td.name-column Begovic
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-stoke-city
                    STO
                  %td.score-column 0
                  %td.worth-column £10.3m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.even
                  %td.name-column Jääskeläinen
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-west-ham-united
                    WHU
                  %td.score-column 0
                  %td.worth-column £10.2m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.odd.injured
                  %td.name-column
                    Ruddy
                    %i.icon-injured
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-norwich-city
                    NCH
                  %td.score-column 0
                  %td.worth-column £10.1m
                  %td.player-info-column
                    %a.info_icon.icon-info-injured{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.even.success
                  %td.name-column 
                    Cech
                    %i.icon-tick.right
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-chelsea
                    CHL
                  %td.score-column 0
                  %td.worth-column £10.0m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.odd
                  %td.name-column Hart
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-manchester-city
                    MNC
                  %td.score-column 0
                  %td.worth-column £9.9m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.even
                  %td.name-column Mignolet
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-sunderland
                    SUN
                  %td.score-column 0
                  %td.worth-column £9.8m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.odd
                  %td.name-column Guzan
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-aston-villa
                    AST
                  %td.score-column 0
                  %td.worth-column £9.7m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.even
                  %td.name-column Al-Habsi
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-wigan-athletic
                    WIG
                  %td.score-column 0
                  %td.worth-column £9.6m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.odd.injured
                  %td.name-column
                    Julio César
                    %i.icon-injured
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-queens-park-rangers
                    QPR
                  %td.score-column 0
                  %td.worth-column £9.5m
                  %td.player-info-column
                    %a.info_icon.icon-info-injured{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
                %tr.even
                  %td.name-column Schwarzer
                  %td.position-column GK
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-fulham
                    FUL
                  %td.score-column 0
                  %td.worth-column £9.4m
                  %td.player-info-column
                    %a.info_icon.icon-info{:href => "#player_info_modal", "data-toggle".to_sym => "modal"}
                    %td.scrollbar-column
          .m-player-selection-key
            %span
              key:
            %dl
              %dd Player Injured
              %dt
                %i.icon-injured
            %span
              Chance of playing:
            %dl.m-player-selection-key--chance-of-playing
              %dt
                %i.icon-key-chance-of-playing-0
              %dd 0%
              %dt
                %i.icon-key-chance-of-playing-25
              %dd 25%
              %dt
                %i.icon-key-chance-of-playing-50
              %dd 50%
              %dt
                %i.icon-key-chance-of-playing-75
              %dd 75%
              %dt
                %i.icon-key-red-card
              %dd red card

    .grid-container
      .grid-half.m-box.m-box_premier-league
        .m-box--header-bar.transparent
          %ul.m-tab-navigation_fixtures.tabs-2
            %li.m-tab-navigation_fixtures--tab.active
              %a.m-tab-navigation_fixtures--link{"data-toggle" => "tab", :href => "#fixtures"}
                Fixtures
            %li.m-tab-navigation_fixtures--tab
              %a.m-tab-navigation_fixtures--link{"data-toggle" => "tab", :href => "#premier-league-table"}
                Premier League Table
        .m-box--body
          #fixtures.m-tab-pane.active
            = partial :_fixtures_gameweek_25
          #premier-league-table.m-tab-pane
            = partial :'_premier-league-table'            
          %img.m-premier-league-logo{:alt => "Barclays Premier League", :src => "/images/barclays-premier-league.png"}/
      .m-box.grid-half.grid-pull-right-half.m-box_premier-league
        .m-box--header-bar.transparent
          %h3.m-box--heading Scoring Matrix
        .m-box--body
          = partial :'_scoring_matrix'
