.m-section
  .m-section--body
    - if request.path_info.include? 'fowler'
      = partial :_fowler_profile
    - if request.path_info.include? 'southgate'
      = partial :_southgate_profile
    - if request.path_info.include? 'ferdinand'
      = partial :_ferdinand_profile
    .grid-5.right
      .m-header-bar_small.solo
        %h1.m-header-bar--heading Bio
      .m-profile_ambassador-bio
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut purus eros, dapibus eu mi sit amet, porta euismod mi. Duis suscipit, sapien at rhoncus faucibus.
      .m-header-bar_small.solo
        %h1.m-header-bar--heading PlayON Status


      .m-division--well.dark
        .m-reward-level_horizontal.selected
          %i.m-level.level-manager
          %p.m-reward-level--info playon points: 850
          %p.m-reward-level--info Status: Manager

    .grid-container.m-profile-page--footer
      .grid-half
        .m-box
          .m-box--header-bar
            %h3.m-box--heading My contacts
          .m-box--body
            .m-form-search-and-filter
              %input.m-input_search{type:"text", name:"first_name", class:"text", placeholder:"search by name..."}
              #dropkick-filters.m-filters--container
                %label.m-label
                  filter
                %select#player_select.dropkick{name:"filter_transactions"}
                  %option All Users
                  %option my contacts
                  %option ambassadors
                %a.m-link{href: "#"} clear filters
            %table.m-table_inline.m-table_scrollable.m-table_my-contacts
              %thead.m-table--header
                %tr
                  %th.name-column Name
                  %th.club-column Club
                  %th.contact-column Contact
                  %th.scrollbar-column &nbsp;
              %tbody.m-table--body
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;

      .grid-half.grid-pull-right-half
        .m-box_results
          %a{href: "#"}
            %img.previous-arrow{src:"/images/results-previous.png"}
          .m-box--header-bar_results
            %h1.m-box--heading My Previous Teams: GW 23
          %a.next-arrow{href: "#"}
            %img{src:"/images/results-next.png"}
          .m-box--body.center
            = partial :_profile_pitch
