.m-section
  .m-section--body
    .grid-6
      .m-header-bar_small.solo
        %h1.m-header-bar--heading  My Profile
      .m-division--well.m-profile
        .m-profile--picture
          %img{:src => "images/adam-carroll-large.jpg"}
          %button.m-button.small Edit profile picture

        .m-profile--details
          %span.m-profile--name Simon Carroll
          %dl.m-profile-stats
            %dt.m-profile-record--label
              %abbr{:title => "Played"} P
            %dd 10
            |
            %dt.m-profile-record--label
              %abbr{:title => "Won"} W
            %dd 5
            |
            %dt.m-profile-record--label
              %abbr{:title => "Lost"} L
            %dd 5
          %p.m-profile-stats_club
            My club:
            %br
            Newcastle Utd.
            %i.m-jersey_large.jersey-large-newcastle-united
          %button.m-button.small Update club

    .grid-9-and-half
      .m-header-bar_small.solo
        %h1.m-header-bar--heading  My PlayON Status

      %p.m-paragraph_introduction Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at erat nisl.

      .m-division--well
        .m-reward-level.ballboy
          %p.m-reward-level--info Level 1
          %p.m-reward-level--info 500 points
          %p.m-reward-level--info Status: Ballboy
        .m-reward-level.player.selected
          %p.m-reward-level--info Level 2
          %p.m-reward-level--info 5,000 points
          %p.m-reward-level--info Status: Player
        .m-reward-level.manager
          %p.m-reward-level--info Level 3
          %p.m-reward-level--info 20,000 points
          %p.m-reward-level--info Status: Manager
        .m-reward-level.hero
          %p.m-reward-level--info Level 4
          %p.m-reward-level--info 50,000 points
          %p.m-reward-level--info Status: Hero
        .m-reward-level.legend
          %p.m-reward-level--info Level 5
          %p.m-reward-level--info 100,000 points
          %p.m-reward-level--info Status: Legend
      .m-division--well.m-reward--progress
        .m-reward--progress-points
          %p
            PlayON points:
          %p.m-reward--status-value 450
        .m-reward--progress-status
          %p Current status:
          %p.m-reward--status-value Gamer
          .m-reward--progress-meter
            .m-reward--progress-tracker{ data: { percentage_obtained: 50 } }
        .m-reward--progress-next-level
          %p Next level:
          %p.m-reward--status-value Pro

      .m-header-bar.transparent
        %h2.m-header-bar--heading My Club's points:
      .m-division--well
        .m-reward-level.club.green.selected
          %p.m-reward-level--info Level 1
          %p.m-reward-level--info 0 - 500 points
          %p.m-reward-level--info Status: Green
        .m-reward-level.club.bronze
          %p.m-reward-level--info Level 2
          %p.m-reward-level--info 0 - 500 points
          %p.m-reward-level--info Status: Bronze
        .m-reward-level.club.silver
          %p.m-reward-level--info Level 3
          %p.m-reward-level--info 0 - 500 points
          %p.m-reward-level--info Status: Silver
        .m-reward-level.club.gold
          %p.m-reward-level--info Level 4
          %p.m-reward-level--info 0 - 500 points
          %p.m-reward-level--info Status: Gold
        .m-reward-level.club.black
          %p.m-reward-level--info Level 5
          %p.m-reward-level--info 0 - 500 points
          %p.m-reward-level--info Status: Black
      .m-division--well.m-reward--progress
        .m-reward--progress-points
          %p
            PlayON points:
          %p.m-reward--status-value 450
        .m-reward--progress-status
          %p Current status:
          %p.m-reward--status-value Green
          .m-reward--progress-meter
            .m-reward--progress-tracker{ data: { percentage_obtained: 95 } }
        .m-reward--progress-next-level
          %p Next level:
          %p.m-reward--status-value Bronze

    .grid-container.m-profile-page--footer
      .grid-half
        .m-box
          .m-box--header-bar
            %h3.m-box--heading My contacts
          .m-box--body
            .m-form-search-and-filter
              %input.m-input_search{type:"text", name:"first_name", class:"text", placeholder:"search by name..."}
              #dropkick-filters.m-filters--container
                %label.m-label
                  filter
                %select#player_select.dropkick{name:"filter_transactions"}
                  %option All Users
                  %option my contacts
                  %option ambassadors
                %a.m-link{href: "#"} clear filters
            %table.m-table_inline.m-table_scrollable.m-table_my-contacts
              %thead.m-table--header
                %tr
                  %th.name-column Name
                  %th.club-column Club
                  %th.contact-column Contact
                  %th.scrollbar-column &nbsp;
              %tbody.m-table--body
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;
                %tr
                  %td.name-column
                    %a.m-link{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
                  %td.club-column
                    %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                    %span.club-name TOT
                  %td.contact-column
                    %a.icon-plus-one{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact
                    %a{href: "#", title: "Contacts are people you play games with regularly", 'data-toggle' => 'tooltip', 'data-toggle' => 'tooltip', 'data-placement' => 'left'} Add Contact

                  %td.scrollbar-column &nbsp;

      .grid-half.grid-pull-right-half
        .m-box_results
          %a{href: "#"}
            %img.previous-arrow{src:"/images/results-previous.png"}
          .m-box--header-bar_results
            %h1.m-box--heading My Previous Teams: GW 23
          %a.next-arrow{href: "#"}
            %img{src:"/images/results-next.png"}
          .m-box--body.center
            = partial :_profile_pitch
