.m-section.m-section_content
  .m-section--body
    - if request.path_info.include? 'success'
      .m-flash-notice.valid.is-revealed
        Your password has been changed successfully
    .m-content--group
      .grid-8.grid-prefix-4
        %h1.m-content-heading Change your password
      .m-content--body.grid-8.grid-prefix-4
        %form.m-form
          .m-form-element
            %label.m-label{:for => "password"}
              New Password:
              %abbr.m-label--required{:title => "required"} *
            %input.m-input_text.account{:name => "password", :size => "50", :type => "password", :value => ""}/

          .m-form-element
            %label.m-label{:for => "password_confirm"}
              Confirm Password:
              %abbr.m-label--required{:title => "required"} *
            %input.m-input_text.account{:name => "password_confirm", :size => "50", :type => "password", :value => ""}/
          .m-form-actions
            .m-form-actions--next
              %a.m-button{:name => "commit", :href => "/reset-password/success"} change 
