.m-section.m-section_content
  .m-section--body
    .m-content--group
      .grid-10.grid-prefix-4
        %h1.m-content-heading
          Responsible gaming
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Our commitment
        .m-content--body.grid-10
          %p.m-content--body-text
            PlayON is committed to responsible gaming. We promote responsible gaming practices and do everything we can to help you stay in control of your gaming. We want you to have fun playing our games and don’t want PlayON to be the cause of any personal heartache for any of our customers. We encourage each customer to put sensible limits in place regarding the maximum amount they can deposit on a daily basis.
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Stay in Control of your play
        .m-content--body.grid-10
          %p.m-content--body-text
            You can set daily deposit limits, view your transaction history and if necessary, you can exclude yourself from playing games at PlayON through the links below:
          %p.m-content--body-text
            %a{:href => "/account/limit_deposits"}> Deposit Limits
            \: set daily deposit limits so you can control how much you are allowed deposit with PlayON.
          %p.m-content--body-text
            %a{:href => "/account/history"}> Transaction history
            \: monitor your deposits, withdrawals and previous game entries at PlayON.
          %p.m-content--body-text
            %a{:href => "/account/suspend"}> Self exclusion
            \:
            you can exclude yourself from playing games at PlayON for a minimum of 6 months here.
          %p.m-content--body-text
            %a{:href => "/account/history"} Betting history -
            These pages will help you easily keep track of all your past bets on PlayOn.
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading If you do need help
        .m-content--body.grid-10
          %p.m-content--body-text If you feel you are playing too many games at PlayON, we recommend that you contact one of the organisations below to seek their professional guidance and support. We also recommend that you close your PlayON account for a period of at least 6 months and consider closing any other accounts you have with gaming websites.
          %p.m-content--body-text
            %a{:alt => "Gamble Aware", :href => "http://www.gambleaware.co.uk/", :rel => "external", :title => "Gamble Aware"} www.gambleaware.co.uk
            Gamble Aware is managed by the Responsibility in Gambling Trust, an independent charity which funds treatment, research and education about responsible gambling.
          %p.m-content--body-text
            %a{:href => "http://www.gamcare.org.uk/", :rel => "external", :title => "GamCare"} www.gamcare.org.uk
            GamCare provides support, information and advice to anyone suffering through a gambling problem. You can call the HelpLine and speak to a trained Adviser for counseling support, information and advice. 8am – 2am, 7 days a week. 0845 6000 133
          %p.m-content--body-text
            %a{:alt => "gamAid", :href => "http://www.gamaid.com/", :rel => "external", :title => "gamAid"} www.gamaid.com
            Here you'll find support if you are worried by your own or the gambling activities of a family member or friend.
          %p.m-content--body-text
            %a{:alt => "Gambling Therapy", :href => "http://www.gamblingtherapy.org/", :rel => "external", :title => "Gambling Therapy"} www.gamblingtherapy.org
            Gambling Therapy has a wealth of skills and experience in helping those affected by compulsive gambling or affected by a loved one's compulsive gambling.
          %p.m-content--body-text
            We support
            %a{:alt => "The GREaT Foundation", :href => "http://www.thegreatfoundation.org.uk/", :rel => "external", :title => "The GREaT Foundation"} The GREaT Foundation
            and make a donation annually. The GREaT Foundation raises funds through voluntary donations to support research, education and treatment of problem gambling.
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Age Restriction
        .m-content--body.grid-10
          %p.m-content--body-text
            It is illegal for anyone under the age of 18 to open an account or to gamble on PlayOn. We use a third party data reference company to validate the age and identity of all members.
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Disputes
        .m-content--body.grid-10
          %p.m-content--body-text
            PlayON makes every attempt to resolve complaints in a timely manner and to the satisfaction customers. If you do have a complaint, please email us at info@playon.co.uk and we will respond within 24 hours.
          %p.m-content--body-text
            PlayON is a member of the Independent Betting Adjudication Service (IBAS) and is committed to legal, fair and responsible betting. In the instance where we cannot resolve the complaint to your satisfaction, you can approach IBAS.
          %p.m-content--body-text
            For more information on IBAS policies and codes of practice, visit IBAS. Any decision made by IBAS will be final for both parties.
          %p.m-content--body-text
            As a member of IBAS we reserve the right to withhold payment on any event that comes under its investigation for corrupt activity.
          %p.m-content--body-text
            1. No type of dispute can be submitted for legal action or an objection raised until the matter has been submitted and judged by IBAS and the party at fault has not fulfilled the requirements set out in the decision of IBAS.
          %p.m-content--body-text
            2. For any dispute the competent authorities and courts are those in London - United Kingdom.
          %p.m-content--body-text
            In relation to all complaints or disputes, we reserve the right to record all telephone and e-mail communications with you and any other person.
