- if request.path_info.include? 'compare' 
  :javascript
    $(document).ready(function () {
      $("#pitch_compare_modal").modal();
    });
.m-section

  .m-section--body
    .m-hero-unit
      %h1.m-hero-unit-heading
        %span.m-hero-unit-heading--line Match Day Live.
        %span.m-hero-unit-heading--line It's On.
      %span.m-hero-unit--strapline Keep up with the action in real time.
      %span.m-hero-unit--strapline
    #flash_notice.m-flash-notice
    .grid-container
      .grid-7-and-half  
        .grid-7-and-half.m-box_paginate.no-margin-left
          %a{href: "/team/results/empty"}
            %img.previous-arrow{src:"/images/header-bar-previous.png"}
          .m-box--header-bar
            %h2.m-box--heading My Team: GW 24
            .m-amount.total.large 1425 Points
          %a{href: "/team/pick"}
            %img.next-arrow{src:"/images/header-bar-next.png"}
          .m-box--body.center
            .m-team-summary
              %h4.m-team-summary--heading 
                My team summary:
                %br
                No Team Played
              %dl.m-team-summary-list
                %dt.m-team-summary--statistic Goals:
                %dd.m-team-summary--value 0
                %dt.m-team-summary--statistic Assists:
                %dd.m-team-summary--value 0
                %dt.m-team-summary--statistic Shots On Target:
                %dd.m-team-summary--value 0
                %dt.m-team-summary--statistic Yet to play:
                %dd.m-team-summary--value 0
            .m-pitch-overlay_results
              %h2.m-pitch-overlay--heading No team picked
            .m-pitch_matchday.empty
      .grid-7-and-half
        .grid-7-and-half.m-box.no-margin-left
          .m-box--header-bar
            %h1.m-box--heading Results GW 24: Jan 12-19
          .m-box--body
            %input.m-input_search{:placeholder => "Search by name...", :type => "search"}/
            .m-filters#dropkick-filters
              %label.m-label Filter by:
              .m-filters--container
                %select.dropkick{:name => "all-teams"}
                  %option{:value => ""} Club 
                  %option{:value => "422,427,300,522,332,499,533,117,25,253,544"} My Team
                  %option{:value => "ARS"} Arsenal
                  %option{:value => "AST"} Aston Villa
                  %option{:value => "CHL"} Chelsea
                  %option{:value => "EVT"} Everton
                  %option{:value => "FUL"} Fulham
                  %option{:value => "LPL"} Liverpool
                  %option{:value => "MNU"} Man Utd
                  %option{:value => "MNC"} Man City
                  %option{:value => "NEW"} Newcastle
                  %option{:value => "NCH"} Norwich
                  %option{:value => "QPR"} QPR
                  %option{:value => "REA"} Reading
                  %option{:value => "STN"} Southampton
                  %option{:value => "STO"} Stoke City
                  %option{:value => "SUN"} Sunderland
                  %option{:value => "SWA"} Swansea
                  %option{:value => "TOT"} Tottenham
                  %option{:value => "WBA"} WBA
                  %option{:value => "WHU"} West Ham
                  %option{:value => "WIG"} Wigan
                %select.dropkick{:name => "all-players"}
                  %option{:value => "all"} Player 
                  %option{value: 'player'} Assou-Ekotto
                  %option{value: 'player'} Bale
                  %option{value: 'player'} Carroll
                  %option{value: 'player'} Caulker
                  %option{value: 'player'} Defoe
                  %option{value: 'player'} Dembélé
                  %option{value: 'player'} Friedel
                  %option{value: 'player'} Huddlestone
                  %option{value: 'player'} Naughton
                  %option{value: 'player'} Parker
                %select.dropkick{:name => "all-events"}
                  %option{:value => "all"} Event
                  %option{:value => "assist"} Assists
                  %option{:value => "clean_sheet"} Clean sheets
                  %option{:value => "clearances"} Clearances
                  %option{:value => "goal"} Goals
                  %option{:value => "goals_conceded"} Goals conceded
                  %option{:value => "interceptions"} Interceptions
                  %option{:value => "mins_played"} Minutes played
                  %option{:value => "own_goal"} Own goals
                  %option{:value => "red_card"} Red cards
                  %option{:value => "save"} Saves
                  %option{:value => "shot_on_target"} Shots
                  %option{:value => "tackle"} Tackles
                  %option{:value => "yellow_card"} Yellow cards
                %a.m-link{:href => "#"} Clear filters
            %table.m-table_inline.m-table_scrollable.m-table_live-ticker_key-events
              %thead.m-table--header
                %tr
                  %th.time-column Time
                  %th.name-column Name
                  %th.team-column Team
                  %th.event-column Event
                  %th.points-column Points
                  %th.total-column GW Total
                  %th.scrollbar-column &nbsp;
              = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_live-ticker_key-events'><table class='m-table_live-ticker_key-events'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                %tbody.m-table--body
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column 
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Defoe
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Bale
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Assou-Ekotto
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 445
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Dembélé
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
            %table.m-table_inline.m-table_scrollable.m-table_live-ticker_all-events
              = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_live-ticker_all-events'><table class='m-table_live-ticker_all-events'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                %tbody.m-table--body
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd.highlight
                    %td.time-column 17:56
                    %td.name-column Defoe
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Mins Played
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even.highlight
                    %td.time-column 17:56
                    %td.name-column Bale
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Mins Played
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Assou-Ekotto
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Mins played
                    %td.points-column 445
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Dembélé
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Mins Played
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column

                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column

                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column

                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column

      // My Live Games
      .grid-container
        .grid-16
          .m-header-bar.transparent
            %h2.m-header-bar--heading Games Played
        .grid-7-and-half
          .grid-7-and-half.m-box.no-margin-left
            .m-box--header-bar.highlight
              %h3.m-box--heading_small 3 live one on one games. Total won:
              %span.m-amount.total £400.00
            .m-box--body
              .m-options
                %label.m-label Show:
                .m-checkbox
                  %input#my_games_only{type: "checkbox", checked: "checked"}
                  %label{for: "my_games_only"}
                %label.m-label_checkbox{for: "my_games_only"} My games only 

                .m-checkbox
                  %input#me_vs_ambassadors{type: "checkbox", checked: "checked"}
                  %label{for: "me_vs_ambassadors"}
                %label.m-label_checkbox{for: "me_vs_ambassadors"} Me vs. ambassadors 

              %table.m-table_inline.m-table_live-games
                %thead.m-table--header
                  %tr
                    %th.name-column
                      One-on-one-opponent:
                    %th.points-column
                      %abbr{title: "opponent points"} Opp. Pts
                    %th.pot-column
                      Pot
                    %th.rank-column
                      Rank
                    %th.winning-column
                      You Won
                = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_live-games'><table class='m-table_live-games'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                  %tbody.m-table--body
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Dan Smith
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Susan Jakobs
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Dan Smith
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Susan Jakobs
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Dan Smith
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Susan Jakobs
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Dan Smith
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Susan Jakobs
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Dan Smith
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Susan Jakobs
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Dan Smith
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Susan Jakobs
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A

                    %tr
                      %td.name-column
                      %td.points-column
                      %td.pot-column
                      %td.rank-column
                      %td.winning-column
                    %tr
                      %td.name-column
                      %td.points-column
                      %td.pot-column
                      %td.rank-column
                      %td.winning-column
        .grid-7-and-half
          .grid-7-and-half.m-box.no-margin-left
            .m-box--header-bar.highlight
              %h3.m-box--heading_small 3 live multiplayer games. you won:
              %span.m-amount.total.right £210.00

            .m-box--body
              .m-options
                %label.m-label Show:
                .m-checkbox
                  %input#my_multiplayer_games_only{type: "checkbox", checked: "checked"}
                  %label{for: "my_multiplayer_games_only"}
                %label.m-label_checkbox{for: "my_multiplayer_games_only"} My games only 

                .m-checkbox
                  %input#all_public_multiplayer_games{type: "checkbox", checked: "checked"}
                  %label{for: "all_public_multiplayer_games"}
                %label.m-label_checkbox{for: "all_public_multiplayer_games"} All public multiplayer games
              %table.m-table_inline.m-table_live-games
                %thead.m-table--header
                  %tr
                    %th.name-column Game Name:
                    %th.points-column
                      Leader
                      %abbr{title: "points"} Pts
                    %th.pot-column
                      Pot
                    %th.rank-column
                      Rank
                    %th.winning-column
                      You Won
                = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_live-games'><table class='m-table_live-games'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                  %tbody.m-table--body
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Big One
                        %a.icon-chat.icon-chat-empty{href: "#"} chat
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Big One
                        %i.icon-chat.icon-chat-empty
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Big One
                        %i.icon-chat.icon-chat-active
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Big One
                        %i.icon-chat.icon-chat-empty
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Big One
                        %i.icon-chat.icon-chat-active
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Big One
                        %i.icon-chat.icon-chat-empty
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Big One
                        %i.icon-chat.icon-chat-active
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Big One
                        %i.icon-chat.icon-chat-active
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Big One
                        %i.icon-chat.icon-chat-empty
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Big One
                        %i.icon-chat.icon-chat-empty
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Lads
                        %i.icon-tick.right
                      %td.points-column
                        1000
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        367
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} The Big One
                        %i.icon-chat.icon-chat-active
                        %i.icon-tick.right
                      %td.points-column
                        986
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        2
                      %td.winning-column
                        %span.success &pound;4.00
                    %tr
                      %td.name-column
                        %a.name{href: "#"} Everton Fans
                      %td.points-column
                        1621
                      %td.pot-column
                        &pound;2.00
                      %td.rank-column
                        1
                      %td.winning-column
                        N/A

      .grid-container
        .grid-half.m-box.m-box_premier-league
          .m-box--header-bar.transparent
            %ul.m-tab-navigation_fixtures.tabs-2
              %li.m-tab-navigation_fixtures--tab.active
                %a.m-tab-navigation_fixtures--link{"data-toggle" => "tab", :href => "#fixtures"}
                  Fixtures
              %li.m-tab-navigation_fixtures--tab
                %a.m-tab-navigation_fixtures--link{"data-toggle" => "tab", :href => "#premier-league-table"}
                  Premier League Table
          .m-box--body
            #fixtures.m-tab-pane.active
              = partial :_live_fixtures
            #premier-league-table.m-tab-pane
              = partial :'_premier-league-table'            
            %img.m-premier-league-logo{:alt => "Barclays Premier League", :src => "/images/barclays-premier-league.png"}/
        .m-box.grid-half.grid-pull-right-half.m-box_premier-league
          .m-box--header-bar.transparent
            %h3.m-box--heading Scoring Matrix
          .m-box--body
            = partial :_scoring_matrix

