- if request.path_info.include? 'compare' 
  :javascript
    $(document).ready(function () {
      $("#pitch_compare_modal").modal();
    });
.m-section

  .m-section--body
    .m-hero-unit
      %h1.m-hero-unit-heading
        %span.m-hero-unit-heading--line Match Day Live.
        %span.m-hero-unit-heading--line It's On.
      %span.m-hero-unit--strapline Keep up with the action in real time.
      %span.m-hero-unit--strapline
    #flash_notice.m-flash-notice
    .grid-container
      .grid-7-and-half  
        .grid-7-and-half.m-box_paginate.no-margin-left
          %a{href: "/team/results/empty"}
            %img.previous-arrow{src:"/images/header-bar-previous.png"}
          .m-box--header-bar
            %h2.m-box--heading My Team: GW 24
            .m-amount.total.large 1425 Points
          %a{href: "/team/pick"}
            %img.next-arrow{src:"/images/header-bar-next.png"}
          .m-box--body.center
            .m-team-summary
              %h4.m-team-summary--heading My team summary:
              %dl.m-team-summary-list
                %dt.m-team-summary--statistic Goals:
                %dd.m-team-summary--value 2
                %dt.m-team-summary--statistic Assists:
                %dd.m-team-summary--value 14
                %dt.m-team-summary--statistic Shots On Target:
                %dd.m-team-summary--value 12
                %dt.m-team-summary--statistic Yet to play:
                %dd.m-team-summary--value 4
            .m-pitch_matchday#matchday_pitch
              .m-matchday-player-info#matchday-player-info
                %a.icon-close{href: "#"} &times;
                %table.m-table_matchday-player-info
                  %thead.m-table--header
                    %tr
                      %th.name-column Bassong
                      %th.points-column Points
                      %th.count-column Count
                  %tbody.m-table--body
                    %tr
                      %th.name-column{scope: "row"} Saves
                      %td.points-column 300
                      %td.count-column 3
                    %tr
                      %th.name-column{scope: "row"} Clean Sheets
                      %td.points-column 0
                      %td.count-column 0
                    %tr
                      %th.name-column{scope: "row"} Goals Conceded
                      %td.points-column -250
                      %td.count-column 1
                    %tr
                      %th.name-column{scope: "row"} Clearances
                      %td.points-column 50
                      %td.count-column 1
                    %tr
                      %th.name-column{scope: "row"} Interceptions
                      %td.points-column 50
                      %td.count-column 1
                    %tr
                      %th.name-column{scope: "row"} Tackles
                      %td.points-column 2525
                      %td.count-column 1
                    %tr
                      %th.name-column{scope: "row"} Goals
                      %td.points-column 1,000
                      %td.count-column 1
                    %tr
                      %th.name-column{scope: "row"} Assists
                      %td.points-column 400
                      %td.count-column 1
                    %tr
                      %th.name-column{scope: "row"} Shots
                      %td.points-column 200
                      %td.count-column 1
                    %tr
                      %th.name-column{scope: "row"} Yellow Cards
                      %td.points-column -200
                      %td.count-column 1
                    %tr
                      %th.name-column{scope: "row"} Red Cards
                      %td.points-column 0
                      %td.count-column 0
                    %tr
                      %th.name-column{scope: "row"} Minutes Played
                      %td.points-column 315
                      %td.count-column 63


              .m-pitch-row_goalkeeper
                .m-pitch-player.player.l-pitch-position-1.STO{"data-id" => "422"}
                  .player-value.m-pitch-player--points-bar 150 PTS
                  .m-pitch-player--team-bar.player-team STO
                  .m-pitch-player--status-bar.player-status.played Played
                  .m-pitch-player--name-bar.player-name Begovic
                  .m-pitch-player--jersey.player-jersey
                  %a.m-pitch-player--info{:href => "#"}
              .m-pitch-row_defender
                .m-pitch-player.player.STO.l-pitch-position-1{"data-id" => "427"}
                  .player-value.m-pitch-player--points-bar 650 PTS
                  .m-pitch-player--team-bar.player-team STO
                  .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                  .m-pitch-player--name-bar.player-name Huth
                  .m-pitch-player--jersey.player-jersey
                  %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.NCH.l-pitch-position-2{"data-id" => "300"}
                  .player-value.m-pitch-player--points-bar 250 PTS
                  .m-pitch-player--team-bar.player-team NCH
                  .m-pitch-player--status-bar.player-status.played Played
                  .m-pitch-player--name-bar.player-name Bassong
                  .m-pitch-player--jersey.player-jersey
                  %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.TOT.l-pitch-position-3{"data-id" => "522"}
                  .player-value.m-pitch-player--points-bar 2750 PTS
                  .m-pitch-player--team-bar.player-team TOT
                  .m-pitch-player--status-bar.player-status.played Played
                  .m-pitch-player--name-bar.player-name Vertonghen
                  .m-pitch-player--jersey.player-jersey
                  %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.QPR.l-pitch-position-4{"data-id" => "332"}
                  .player-value.m-pitch-player--points-bar 975 PTS
                  .m-pitch-player--team-bar.player-team QPR
                  .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                  .m-pitch-player--name-bar.player-name Nelsen
                  .m-pitch-player--jersey.player-jersey
                  %a.m-pitch-player--info{:href => "#"}
              .m-pitch-row_midfielder
                .m-pitch-player.player.SWA.l-pitch-position-1{"data-id" => "499"}
                  .player-value.m-pitch-player--points-bar 575 PTS
                  .m-pitch-player--team-bar.player-team SWA
                  .m-pitch-player--status-bar.player-status.played Played
                  .m-pitch-player--name-bar.player-name Michu
                  .m-pitch-player--jersey.player-jersey
                  %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.TOT.l-pitch-position-2{"data-id" => "533"}
                  .player-value.m-pitch-player--points-bar 0 PTS
                  .m-pitch-player--team-bar.player-team TOT
                  .m-pitch-player--status-bar.player-status.did-not-play Didn't Play
                  .m-pitch-player--name-bar.player-name Bale
                  .m-pitch-player--jersey.player-jersey
                  %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.EVT.l-pitch-position-3{"data-id" => "117"}
                  .player-value.m-pitch-player--points-bar 475 PTS
                  .m-pitch-player--team-bar.player-team EVT
                  .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                  .m-pitch-player--name-bar.player-name Fellaini
                  .m-pitch-player--jersey.player-jersey
                  %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.ARS.l-pitch-position-4{"data-id" => "25"}
                  .player-value.m-pitch-player--points-bar 4740 PTS
                  .m-pitch-player--team-bar.player-team ARS
                  .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                  .m-pitch-player--name-bar.player-name Cazorla
                  .m-pitch-player--jersey.player-jersey
                  %a.m-pitch-player--info{:href => "#"}
              .m-pitch-row_forward
                .m-pitch-player.player.MNU.l-pitch-position-1{"data-id" => "253"}
                  .player-value.m-pitch-player--points-bar 2275 PTS
                  .m-pitch-player--team-bar.player-team MNU
                  .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                  .m-pitch-player--name-bar.player-name van Persie
                  .m-pitch-player--jersey.player-jersey
                  %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.TOT.l-pitch-position-2{"data-id" => "544"}
                  .player-value.m-pitch-player--points-bar 650 PTS
                  .m-pitch-player--team-bar.player-team TOT
                  .m-pitch-player--status-bar.player-status.played Played
                  .m-pitch-player--name-bar.player-name Defoe
                  .m-pitch-player--jersey.player-jersey
                  %a.m-pitch-player--info{:href => "#"}
      .grid-7-and-half
        .grid-7-and-half.m-box.no-margin-left
          .m-box--header-bar
            %h1.m-box--heading Results GW 24: Jan 12-19
          .m-box--body
            %input.m-input_search{:placeholder => "Search by name...", :type => "search"}/
            .m-filters#dropkick-filters
              %label.m-label Filter by:
              .m-filters--container
                %select.dropkick{:name => "all-teams"}
                  %option{:value => ""} Club 
                  %option{:value => "422,427,300,522,332,499,533,117,25,253,544"} My Team
                  %option{:value => "ARS"} Arsenal
                  %option{:value => "AST"} Aston Villa
                  %option{:value => "CHL"} Chelsea
                  %option{:value => "EVT"} Everton
                  %option{:value => "FUL"} Fulham
                  %option{:value => "LPL"} Liverpool
                  %option{:value => "MNU"} Man Utd
                  %option{:value => "MNC"} Man City
                  %option{:value => "NEW"} Newcastle
                  %option{:value => "NCH"} Norwich
                  %option{:value => "QPR"} QPR
                  %option{:value => "REA"} Reading
                  %option{:value => "STN"} Southampton
                  %option{:value => "STO"} Stoke City
                  %option{:value => "SUN"} Sunderland
                  %option{:value => "SWA"} Swansea
                  %option{:value => "TOT"} Tottenham
                  %option{:value => "WBA"} WBA
                  %option{:value => "WHU"} West Ham
                  %option{:value => "WIG"} Wigan
                %select.dropkick{:name => "all-players"}
                  %option{:value => "all"} Player 
                  %option{value: 'player'} Assou-Ekotto
                  %option{value: 'player'} Bale
                  %option{value: 'player'} Carroll
                  %option{value: 'player'} Caulker
                  %option{value: 'player'} Defoe
                  %option{value: 'player'} Dembélé
                  %option{value: 'player'} Friedel
                  %option{value: 'player'} Huddlestone
                  %option{value: 'player'} Naughton
                  %option{value: 'player'} Parker
                %select.dropkick{:name => "all-events"}
                  %option{:value => "all"} Event
                  %option{:value => "assist"} Assists
                  %option{:value => "clean_sheet"} Clean sheets
                  %option{:value => "clearances"} Clearances
                  %option{:value => "goal"} Goals
                  %option{:value => "goals_conceded"} Goals conceded
                  %option{:value => "interceptions"} Interceptions
                  %option{:value => "mins_played"} Minutes played
                  %option{:value => "own_goal"} Own goals
                  %option{:value => "red_card"} Red cards
                  %option{:value => "save"} Saves
                  %option{:value => "shot_on_target"} Shots
                  %option{:value => "tackle"} Tackles
                  %option{:value => "yellow_card"} Yellow cards
                %a.m-link{:href => "#"} Clear filters
            %table.m-table_inline.m-table_scrollable.m-table_live-ticker_key-events
              %thead.m-table--header
                %tr
                  %th.time-column Time
                  %th.name-column Name
                  %th.team-column Team
                  %th.event-column Event
                  %th.points-column Points
                  %th.total-column GW Total
                  %th.scrollbar-column &nbsp;
              = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_live-ticker_key-events'><table class='m-table_live-ticker_key-events'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                %tbody.m-table--body
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column 
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Defoe
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Bale
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Assou-Ekotto
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 445
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Dembélé
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column GOAL
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
            %table.m-table_inline.m-table_scrollable.m-table_live-ticker_all-events
              = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_live-ticker_all-events'><table class='m-table_live-ticker_all-events'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                %tbody.m-table--body
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd.highlight
                    %td.time-column 17:56
                    %td.name-column Defoe
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Mins Played
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even.highlight
                    %td.time-column 17:56
                    %td.name-column Bale
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Mins Played
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Assou-Ekotto
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Mins played
                    %td.points-column 445
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Dembélé
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Mins Played
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column

                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column

                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column

                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                    %td.scrollbar-column
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      %i.m-jersey_fixture.jersey-thumb-tottenham-hotspur
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 450
                    %td.total-column 0
                    %td.scrollbar-column

      // My Live Games
      .grid-container
        .grid-16
          .m-header-bar.transparent
            %h2.m-header-bar--heading Games Played
        = partial :_results_games_tables
      .grid-container
        .grid-half.m-box.m-box_premier-league
          .m-box--header-bar.transparent
            %ul.m-tab-navigation_fixtures.tabs-2
              %li.m-tab-navigation_fixtures--tab.active
                %a.m-tab-navigation_fixtures--link{"data-toggle" => "tab", :href => "#fixtures"}
                  Fixtures
              %li.m-tab-navigation_fixtures--tab
                %a.m-tab-navigation_fixtures--link{"data-toggle" => "tab", :href => "#premier-league-table"}
                  Premier League Table
          .m-box--body
            #fixtures.m-tab-pane.active
              = partial :_live_fixtures
            #premier-league-table.m-tab-pane
              = partial :'_premier-league-table'            
            %img.m-premier-league-logo{:alt => "Barclays Premier League", :src => "/images/barclays-premier-league.png"}/
        .m-box.grid-half.grid-pull-right-half.m-box_premier-league
          .m-box--header-bar.transparent
            %h3.m-box--heading Scoring Matrix
          .m-box--body
            = partial :_scoring_matrix

