.m-section
  .m-section--body

    .m-content--group
      .grid-10.grid-prefix-4
        %ul.m-tab-navigation_rewards.tabs-2
          %li.m-tab-navigation_rewards--tab.active
            %a.m-tab-navigation_rewards--link{"data-toggle" => "tab", :href => "#playon_points"}
              PlayON Reward Points
          %li.m-tab-navigation_rewards--tab
            %a.m-tab-navigation_rewards--link{"data-toggle" => "tab", :href => "#club_points"}
              PlayON Club Points
    #playon_points.m-tab-pane.active
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %em.m-division--heading-playon PlayON
              Rewards point levels and prizes
        .m-content--body.grid-10
          %p.m-content--body-text PlayON Reward Point Levels:
          .m-division--well
            .m-reward-level.ballboy
              %p.m-reward-level--info Ballboy
              %p.m-reward-level--info 500 points
              %p.m-reward-level--info -
            .m-reward-level.player
              %p.m-reward-level--info Player
              %p.m-reward-level--info 5,000 points
              %p.m-reward-level--info.glow £10 Free
            .m-reward-level.manager
              %p.m-reward-level--info Manager
              %p.m-reward-level--info 20,000 points
              %p.m-reward-level--info.glow £20 Free
            .m-reward-level.hero
              %p.m-reward-level--info Hero
              %p.m-reward-level--info 50,000 points
              %p.m-reward-level--info.glow £50 Free
            .m-reward-level.legend
              %p.m-reward-level--info Legend
              %p.m-reward-level--info 100,000 points
              %p.m-reward-level--info.glow £100 Free
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              ways to earn
              %em.m-division--heading-playon PlayON
              Rewards Points
        .m-content--body.grid-10
          %p.m-content--body-text 
            You can earn PlayON Reward Points in the following ways:
          %table.m-content--table
            %thead
              %tr
                %th Action
                %th Reward
            %tbody
              %tr
                %td.m-content--body-text Invite a friend to join PlayON and they accept and deposit:
                %td.m-content--body-text 1000 points
              %tr
                %td.m-content--body-text Challenge someone to a cash one-on-one game and they accept:
                %td.m-content--body-text 50 points
              %tr
                %td.m-content--body-text Invite someone to a cash multiplayer game and they join:
                %td.m-content--body-text 50 points
              %tr
                %td.m-content--body-text Every time you enter a cash one-on-one game:
                %td.m-content--body-text 10 points
              %tr
                %td.m-content--body-text Every time you enter a cash multiplayer game:
                %td.m-content--body-text 10 points

      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              Invite friends
        .m-content--body.grid-10
          %p.m-content--body-text For every friend who signs-up to PlayON, we'll give you 1,000 Reward Points.
          %p.m-content--body-text Each friend that joins through an invite automatically gets 750 Reward Points versus 500 Reward Points if they join without an invite.

          %p.m-content--body-text Know anyone that likes Fantasy Football?

          %a.m-button{href: "#invite_modal", "data-toggle" => "modal"} Invite to PlayON

    #club_points.m-tab-pane
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Club point levels and prizes
        .m-content--body.grid-10
          %p.m-content--body-text PlayON Club Point Levels:
          .m-division--well
            .m-reward-level.club.green
              %p.m-reward-level--info Status: Green
              %p.m-reward-level--info 0 - 500 points
              %p.m-reward-level--info -
            .m-reward-level.club.bronze
              %p.m-reward-level--info Status: Bronze
              %p.m-reward-level--info 10m points
              %p.m-reward-level--info.glow 10 x £10 Free
            .m-reward-level.club.silver
              %p.m-reward-level--info Status: Silver
              %p.m-reward-level--info 50m points
              %p.m-reward-level--info.glow 10 x £20 Free
            .m-reward-level.club.gold
              %p.m-reward-level--info Status: Gold
              %p.m-reward-level--info 250m points
              %p.m-reward-level--info.glow 10 x £50 Free
            .m-reward-level.club.black
              %p.m-reward-level--info Status: Black
              %p.m-reward-level--info 1bn points
              %p.m-reward-level--info.glow 10 x £100 Free

      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading How to earn club points
        .m-content--body.grid-10
          %p.m-content--body-text Your club earns PlayON Club Points in the following ways:

          %table.m-content--table
            %thead
              %tr
                %th Action
                %th Reward
            %tbody
              %tr
                %td.m-content--body-text
                  Every week when you play cash games on PlayON, your highest team
                  %br
                  total is added to your club total:
                %td.m-content--body-text 9,999 points
              %tr
                %td.m-content--body-text Invite someone to join a club and they join:
                %td.m-content--body-text 1,000 points
              %tr
                %td.m-content--body-text You join a club
                %td.m-content--body-text 500 points
              %tr
                %td.m-content--body-text You leave a club
                %td.m-content--body-text -500 points
          %p.m-content--body-text 
            Know anyone that supports your club?

          %a.m-button{href: "#invite_modal", "data-toggle" => "modal"} Invite to Club
