.m-section.m-section_content
  .m-section--body
    .m-content--group
      .grid-10.grid-prefix-4
        %h1.m-content-heading
          21 results found for
          %span.m-content-heading--search-term
            "southgate"
      .grid-10.grid-prefix-4
        %form.m-form_search{action: "#"}
          %label.m-label{for: "search_again"} Search Again
          %input.m-input_search#search_again{type: 'search', placeholder: 'search site'}
          %a.icon-search{href: '#'} search
      .m-content--group_search-results
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %i.icon-contact
              Contacts
        .m-content--body.grid-10
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
      .m-content--group_search-results
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading 
              %i.icon-ambassador
              Ambassadors
        .m-content--body.grid-10
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
          .m-search-result
            %img.m-search-result--image{src: "/images/adam-carroll.jpg"}
            .m-search-result--details
              %h3.m-search-result--heading Gareth Southgate
              %p Gareth Southgate
            %a.m-button{href: "/profile/southgate"} View profile
      .m-content--group_search-results
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Clubs
        .m-content--body.grid-10
          .m-search-result
            .m-avatar_club.m-search-result--image
              %i.m-jersey_pitch.jersey-pitch-aston-villa
            .m-search-result--details
              %h3.m-search-result--heading Aston Villa
              %p Aston Villa
            %a.m-button{href: "/clubs/aston-villa"} View club
          .m-search-result
            .m-avatar_club.m-search-result--image
              %i.m-jersey_pitch.jersey-pitch-crystal-palace
            .m-search-result--details
              %h3.m-search-result--heading Crystal Palace
              %p Crystal Palace
            %a.m-button{href: "/clubs/crystal-palace"} View club
      .m-content--group_search-results
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Multiplayer Games
        .m-content--body.grid-10
          .m-search-result
            .m-search-result--details
              %h3.m-search-result--heading "The Big One"
              %p Created by Simon Carroll
            %a.m-button{href: "/games/multiplayer/the-big-one"} View Game
