.m-section.m-section_content
  .m-section--body
    .m-content--group
      .grid-10.grid-prefix-4
        %h1.m-content-heading
          Terms & Conditions of use of the
          %em.m-division--heading-playon PlayOn website
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Terms & Conditions of use of the PlayOn website
        .m-content--body.grid-10
          %p.m-content--body-text
            Your participation in PlayON is governed by these terms and conditions (“the Terms and Conditions”). By registering with www.playon.co.uk, you hereby agree to be bound by and to abide by the Terms and Conditions.
          %p.m-content--body-text
            PlayON is solely and wholly owned by Tradeplayer Limited, a limited liability company registered in Scotland, company number SC388174 (“the Company”). Our registered offices are at 5th Floor, Quartermile Two, 2 Lister Square, Edinburgh, EH3 9GL.
          %p.m-content--body-text
            PlayON is open to everyone but real money play is only open to those aged over 18 who have opened an account, been ID checked and have funds available in their PlayON wallet.
          %p.m-content--body-text
            For the purposes hereof, “PlayON”, “we”, “us” means Tradeplayer Limited, trading as PlayON; “Game” means a Game played on the PlayON system; “Match” refers to a sports match which relates to a game; "Player" means you, the player of the Game: "Wallet" means each player’s account balance and “Website” means the website situated at https://www.playon.co.uk.
          %p
          %p.m-content--body-text
            You may access these Terms and Conditions at any time by using the link on the bottom of each page. We reserve the right to change the Terms and Conditions. However, we will make reasonable efforts to ensure that any significant changes to the Terms will be notified to you by an appropriate method depending on the extent of such changes (for example, by email or via a prominent notice on the Website). It remains your responsibility to check the Terms and Conditions periodically to ensure that you continue to agree with them and you are advised to check the Terms every time that you access or use the Website.
          %p.m-content--body-text
            If a change in the Terms and Conditions is made which you do not wish to accept you may cease to use the Website and close your Account. However, your continued access or use of the Website will be deemed to be your acceptance of the Terms and Conditions and any changes to them as at the time of access or use, except that any bets received (but not settled) or other transactions prior to the time of any change to the Terms and Conditions will be subject to the pre-existing Terms and Conditions.
          %p.m-content--body-text
            If there is anything in these Terms and Conditions that you do not understand, please contact our Customer Service team at info@playon.co.uk before you register. Please note: You are deemed to have accepted all the Terms and Conditions on registration.
          %p.m-content--body-text
            If you do not agree with these Terms and Conditions, which include by incorporation Game Rules and Privacy Policy, or do not wish to be bound by them, you should exit the Website immediately and where applicable, remove any software that has been downloaded from the Website onto your computer without delay.
          %p.m-content--body-text
            Gambling must stay an entertainment activity. You understand that there is a risk of losing money by gambling and placing bets on the website and that you are fully responsible for any losses incurred.
      .m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading Important legal notice
        .m-content--body.grid-10
          %p.m-content--body-text
            ATTENTION: THIS LEGAL NOTICE (TOGETHER WITH THE DOCUMENTS REFERRED TO IN IT) APPLIES TO THE ENTIRE CONTENTS OF THE WEBSITE UNDER THE DOMAIN NAMES WWW.PLAYON.CO.UK OPERATED BY TRADEPLAYER LIMITED AND TO ANY CORRESPONDENCE BY E-MAIL BETWEEN US AND YOU. PLEASE READ THESE TERMS CAREFULLY BEFORE REGISTERING WITH THE WEBSITE. EVERY CUSTOMER IS DEEMED TO HAVE ACCEPTED THESE TERMS AND CONDITIONS BY CHECKING THE BOX ON THE REGISTRATION FORM. IF YOU DO NOT ACCEPT THESE TERMS, DO NOT USE THE WEBSITE. THIS NOTICE IS ISSUED BY TRADEPLAYER LIMITED.
          %p.m-content--body-text
            YOU SHOULD READ THE TERMS AND CONDITIONS, GAME RULES, DISPUTE RESOLUTION AND PRIVACY POLICY CAREFULLY BEFORE REGISTERING WITH US, THEN PRINT AND STORE THEM ALONG WITH ALL CONFIRMATION EMAILS, TRANSACTION DATA AND PAYMENT METHODS RELEVANT TO YOUR USE OF THE WEBSITE. WE WILL NOT FILE OUR CONTRACT WITH YOU AND SO YOU SHOULD PRINT IT OUT FOR YOUR RECORDS.
          %ol.m-content--body-text
            %li
              %a{:href => "#one"} Game Rules
            %li
              %a{:href => "#two"} Participation / Signing Up / Opening an account
            %li
              %a{:href => "#three"} Age Verification / Security Checks
            %li
              %a{:href => "#four"} Opening an Account to Play
            %li
              %a{:href => "#five"} Your Wallet
            %li
              %a{:href => "#six"} Deposit and Withdrawal Policy
            %li
              %a{:href => "#seven"} Closure of Accounts, Suspension and Termination
            %li
              %a{:href => "#eight"} Betting and Prize Money
            %li
              %a{:href => "#nine"} Withdrawing from a Game or Cancellation of a Game
            %li
              %a{:href => "#ten"} Self-Exclusion
            %li
              %a{:href => "#eleven"} Promotions and Bonuses
            %li
              %a{:href => "#twelve"} Game Messages and Moderation
            %li
              %a{:href => "#thirteen"} Rights
            %li
              %a{:href => "#fourteen"} Warranties and Indemnity
            %li
              %a{:href => "#fifteen"} Limitation of Liability
            %li
              %a{:href => "#sixteen"} Suspension and Closure of Accounts
            %li
              %a{:href => "#seventeen"} Privacy and Data Protection
            %li
              %a{:href => "#eighteen"} Complaints and Dispute Resolution
            %li
              %a{:href => "#nineteen"} Data Tracking System
            %li
              %a{:href => "#twenty"} How Results are Determined
            %li
              %a{:href => "#twentyone"} Picking Players
            %li
              %a{:href => "#twentytwo"} Disclaimer on Points Calculation
            %li
              %a{:href => "#twentythree"} General
      #one.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 1
              %span.m-content--sub-heading-with-count Definition and terms of use
        .m-content--body.grid-10
          %p.m-content--body-text
            1.1 For rules and information on specific Game rules including choosing players, types of Game, length of Game, changing Player choices, scoring, results, winners policy, withdrawing and match cancellation see the Game Rules;
          %p.m-content--body-text
            1.2 PlayON reserves the right to alter, amend or supplement the Game Rules from time to time at its absolute discretion. You agree that no liability shall attach to PlayON as a result of any such change and so are advised to check the Game Rules regularly;
          %p.m-content--body-text
            1.3 The Game Rules form part of these Terms and Conditions.
      #two.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 2
              %span.m-content--sub-heading-with-count Participation / Signing up / Opening an account
        .m-content--body.grid-10
          %p.m-content--body-text 2.1 You need to sign up before you are able to start playing a Game at PlayON.  You will also need to open and fund an account before placing bets on the Website;
          %p.m-content--body-text 2.2 Upon signing up, we will ask you for your name, your email address and your password. You will be asked to confirm that you are aged eighteen (18) years of age or older if you wish to play for money on the site. You can only hold one PlayON account or be signed up as one Player at a time;
          %p.m-content--body-text 2.3 By signing up you confirm that you have read these TERMS AND CONDITIONS and that you agree to be bound by them and by our Game Rules and our Privacy Policy in their entirety and without any reservation whatsoever, each of which is incorporated by reference into these Terms and Conditions. If there is any inconsistency between the documents listed above, these Terms and Conditions will prevail;
          %p.m-content--body-text
            2.4 By signing up you agree to the use of electronic communications in order to enter into contracts and you waive any rights or requirements under applicable laws or regulations in any jurisdiction which require an original (non-electronic) signature, to the extent permitted under applicable law;
          %p.m-content--body-text
            2.5 To fund your account with a credit or debit card you will need to provide personal information including your name, postal address and date of birth which we will verify before your Wallet is opened;
          %p.m-content--body-text
            2.6 You may only sign up with one account at a time. You may only open one account which must be funded by you. We reserve the right to assess compliance with these requirements for unique email addresses, real word addresses, credit card number and/ or any other payment forms used to establish an account. If you've created more than one account, we reserve the right to prevent you from withdrawing funds;
          %p.m-content--body-text
            2.7 By signing up and opening an account you consent to allow us admittance to your account information to inspect the accuracy of the personal information provided, as well as complaints or other allegations of abuse;
          %p.m-content--body-text
            2.8 You must provide true and accurate information about yourself including your age, full name and surname, place of residence and a valid email address. You represent and warrant that all registration and account information you supply us is complete and accurate and (through timely updates) kept up to date. You are responsible for maintaining the accuracy of this information. Should the registration information provided prove false or misleading, we may suspend or terminate your account;
          %p.m-content--body-text
            2.9 All applications to sign up, open an account or to participate in a Game must be made online at the Website and strictly in accordance with the relevant instructions. No applications to enter made in any other manner will be accepted;
          %p.m-content--body-text
            2.10 Applications must not be submitted by agents or third parties;
          %p.m-content--body-text
            2.11 While there is no limit on the number of entries per household or organisation, you are only allowed to open and register one account with PlayON at any one time and you can only be registered as one Player at a time;
          %p.m-content--body-text
            2.12 When you sign up to play the Game you will be asked to create a password. It is solely your responsibility to ensure that you do not reveal your password to anyone else and to ensure that this information is kept secret at all times. We would advise you not to leave your computer unattended when logged in to avoid anyone else using your account;
          %p.m-content--body-text
            2.13 You must treat your password, or any other piece of information which forms part of our security procedures, as confidential and you must not disclose it to any third party. We have the right to disable any account or password if, in our reasonable opinion, your account information has been compromised. You must tell us immediately if you suspect any unauthorised use of your account or access to your password;
          %p.m-content--body-text
            2.14 You are responsible for the secrecy of your own password. We will not be liable to you for any loss that you may incur as a result of an unauthorised person accessing your account and we accept no liability resulting from its unauthorised use, whether fraudulent or otherwise. As is usual, it is for you to ensure that your account password is kept completely secret;
          %p.m-content--body-text
            2.15 Employees of Tradeplayer Limited and their spouses/partners are not permitted to play the Game;
          %p.m-content--body-text
            2.16 You must inform us as soon as you become aware of any error with your PlayON account or if you believe your account is being misused by a third party;
          %p.m-content--body-text
            2.17 If you lose or forget your password go to the forgotten passwords page for help.
      #three.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 3
              %span.m-content--sub-heading-with-count Age Verification And Security Checks
        .m-content--body.grid-10
          %p.m-content--body-text
            3.1 You may only participate in real money games at PlayON if you are 18 years of age or older. We have the right, at any time, to request you to furnish us with proof of your identity and/or age. Your account may be suspended whilst we await this information from you;
          %p.m-content--body-text
            3.2 In order to assess your details and verify your registration, we may supply the information you have given us to authorised credit reference agencies to confirm your identity and card details. They will check any details we disclose to them against any databases (public or private) to which they have access and will keep a record of that check. You agree that we may process, use, record and disclose personal information which you provide in connection with your registration and that such personal data may be recorded by us or them. For your protection, any telephone calls to PlayON may be recorded and monitored;
          %p.m-content--body-text
            3.3 As well as any other verification processes we may undertake, any account holders depositing from debit and credit cards may be required to provide additional proof of identity to assist with age verification. These additional checks are not generally required for credit card users, however, we reserve the right to request such additional information depending on the circumstances. Additional proof of identity may include but is not limited to: passport number or utility bills;
          %p.m-content--body-text
            3.4 It is an offence to participate in gambling if you are under 18 (eighteen) years of age or under the legal minimum age in your country of residence (whichever is higher). If you are under 18 years of age you are committing an offence if you play for real money on the Website;
          %p.m-content--body-text
            3.5 You are not permitted to play for real money on the Website, unless you are 18 (eighteen) years of age or older and have the legal capacity to contract with us. If you are under 18 years of age or under the legal minimum age in your country of residence (whichever is higher) please leave this Website immediately;
          %p.m-content--body-text
            3.6 By signing up and opening an Account with us, you confirm warrant and represent that you are at least 18 years of age or the legal minimum age in your country of residence (whichever is higher) and that you have the mental capacity to take full responsibility for your own actions and can enter into a binding agreement with us;
          %p.m-content--body-text
            3.7 By signing up and opening an Account with us, you confirm and warrant that online gambling is legal and permitted in the jurisdiction where you are located;
          %p.m-content--body-text
            3.8 Employees of Tradeplayer Limited, trading as PlayON, and their spouses / partners are permitted to play the Game;
          %p.m-content--body-text
            3.9 You must inform us as soon as you become aware of any error with your PlayON account or if you believe your account is being misused by a third party;
          %p.m-content--body-text
            3.10 It is your responsibility when you play to make sure that you are playing in a jurisdiction where it is legal to do so. Access to or use of the PlayON Games offered via the Website may not be legal for some or all residents of or persons in certain countries or jurisdictions including California and you are not authorised to use your payment card to transact via the Website if you are resident or in in any such jurisdiction. We do not intend that the Website should be used for betting, gaming or any other purposes by persons in countries in which such activities are illegal. We make no representation or warranty with respect to the legality or otherwise of the access to and use of the Website, and the making of deposits or receipt of any winning from Wallet. The Website does not constitute an offer, solicitation or invitation by us for the use of or subscription to betting, gaming or other services in any jurisdiction in which such activities are prohibited by law.
      #four.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 4
              %span.m-content--sub-heading-with-count
                Opening an Account to Play a Game
        .m-content--body.grid-10
          %p.m-content--body-text
            4.1 Playing the game for money is only open to those aged 18 years or older. It is your responsibility when you play to make sure that you are playing in a country where it is legal to do so. You should ensure that you will be acting legally in your jurisdiction in opening your account and/or using the Website and you represent, warrant and agree that you will do so;
          %p.m-content--body-text
            4.2 To play a Game you will be asked to provide personal information to enable us to verify your address, identity and age. Once this has been verified, you will be able to deposit. You will need to deposit monies into your Wallet and for the funds to be credited to your Wallet before you can play (please note that there may be some delay before these processes are completed and your Wallet is ready for you to start playing and betting).
      #five.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 5
              %span.m-content--sub-heading-with-count
                Your Wallet
        .m-content--body.grid-10
          %p.m-content--body-text
            5.1 Your PlayON Wallet is not a bank account and is therefore not insured, guaranteed, sponsored or otherwise protected by any deposit or banking insurance system or by any other similar insurance system. Users will not receive interest on monies deposited with PlayON. Monies deposited with PlayON are held by our payment service provider before being transferred into a normal bank account in the UK in the name of PlayON. These monies are not subject to special trust arrangements albeit they are kept in segregated bank accounts.  However, as this does not provide particular protection for the monies deposited in your account in the event of our insolvency, we recommend that you remove the monies once your account reaches £5,000, albeit it is not compulsory for you to do so;
          %p.m-content--body-text
            5.2 All Wallets are opened and transacted in Pound Sterling currency only;
          %p.m-content--body-text
            5.3 You can set your own personal maximum deposit and credit limit on your Wallet at any time by going to the Deposit Limits page. You can decrease these limits at any time, with immediate effect, but any increases will only be put in place after a 24 hour cooling off period;
          %p.m-content--body-text
            5.4 You can view all transactions into and out of your Wallet in the Account section. You are recommended to keep a record of all transactions made via the Website;
          %p.m-content--body-text
            5.5 In order to place a bet with PlayON, you will be required to send money to, and may be required to receive money from, PlayON. PlayON uses third-party electronic payment processors to process such financial transactions. You irrevocably authorise PlayON in your name to instruct such processors to handle deposits and withdrawals from your Wallet and irrevocably agree that PlayON may give such instructions on your behalf in accordance with your requests, or as consequence of your PlayON activity or status.
      #six.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 6
              %span.m-content--sub-heading-with-count
                Deposit and Withdrawal Policy
        .m-content--body.grid-10
          %p.m-content--body-text
            6.1 The maximum deposit you can make into your Wallet in any 24 hour period is £1,000. Deposits can be made by credit card or debit card registered in your name only. Please note that there may be a delay before monies are credited to your Wallet and you are able to start betting;
          %p.m-content--body-text
            6.2 Any funds deposited into your Wallet can only be used for the placing of bets. Due to administrative costs, the minimum amount you can deposit into your Wallet in any one transaction is £10;
          %p.m-content--body-text
            6.3 Due to administrative costs, the minimum amount you can withdraw from your Wallet in any one transaction is £10 unless you are closing your account;
          %p.m-content--body-text
            6.4 Some credit card companies classify gambling transactions as 'cash' and may place a fixed and/or interest charge from the date of payment; 
          %p.m-content--body-text
            6.5 Any funds credited to your Wallet as part of any bonuses or promotions will be subject to the terms set out below in section 11; 
          %p.m-content--body-text
            6.6 To make a withdrawal from your Wallet you will need to fill out the required information on the Withdraw funds page; 
          %p.m-content--body-text
            6.7 We will do our best to process withdrawal requests within 3 to 5 working days of such a request being made. You may withdraw funds from your Wallet at any time provided all payments have been confirmed and provided you have satisfied our identification procedures. This measure is intended as an additional security to you to prevent any unauthorised third parties from withdrawing funds from our account; 
          %p.m-content--body-text
            6.8 If any sum is incorrectly credited to your account/ Wallet you are obliged to notify us, and we are entitled to reverse such credits and/or recover such sums from you, even if withdrawn by you or improperly used to participate in services on the Website. We reserve the right to cancel or reverse any winnings to recover such sums. If you use the sums improperly credited to participate in services on the Website, we can cancel and reverse any winnings; 
          %p.m-content--body-text
            6.9 When you withdraw money from your Wallet the money will be credited to a bank account in your name. We may ask you to provide documentary evidence of your bank account, for instance in the form of a recent bank statement, before we are able to transfer the withdrawal monies into your account. You understand that we may only process withdrawal requests once we are satisfied that we have confirmed your identity; 
          %p.m-content--body-text
            6.10 There may be a delay of several days before the money is actually credited to your bank account; 
          %p.m-content--body-text
            6.11 All deposits and withdrawals to and from your account will be made in £ Sterling;
          %p.m-content--body-text
            6.12 Payments and withdrawals can be made using credit or debit cards registered to your address only. We do not accept American Express cards for payments, deposits or withdrawals.
      #seven.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 7
              %span.m-content--sub-heading-with-count
                Closure of Accounts, Suspension and Termination
        .m-content--body.grid-10
          %p.m-content--body-text
            7.1 Unallocated Funds: From time to time, we will hold funds which are not allocated to Players. This may occur for a number of reasons including where a Player’s winnings are forfeited, or if we are unable to place funds in an account because it has already been closed by the Player. We may use these funds for a variety of purposes including using them for donations to registered charities, developing and improving the Website, increasing winnings in specified games, or anything else we reasonably believe to be appropriate;
          %p.m-content--body-text
            7.2 Account Closure: We reserve the right to close your account at any time. We shall not be obliged to give you prior notice of our action nor to furnish you with any reasons. Any breach by you of the Game Rules shall also be a breach of these Terms and Conditions;
          %p.m-content--body-text
            7.3 You have the right to close your account at any time by emailing info@playon.co.uk providing your account does not show a balance due to us. If the balance on your account does not amount to the minimal withdrawal amount specified in clause 6.3above, you should contact our support services;
          %p.m-content--body-text
            7.4 Freezing Account: We may need to freeze your account for any period we see fit if we reasonably believe that the account may be used for fraudulent purposes or for the purposes of money laundering. We also reserve the right to freeze or immediately terminate the account if we reasonably believe that you (i) are cheating, (ii) are under 18 years of age, (iii) have provided incorrect and/ or false information on registration, or (iv) are in a jurisdiction that renders the provision of our services illegal;
          %p.m-content--body-text
            7.5 Dormant Account: If no transaction has been recorded for 20 months, we will remit the balance in your account to you. If we are unable to locate you, we reserve the right to use these funds for a variety of purposes including using them for donations to registered charities, developing and improving the Website, increasing winnings in specified games, or anything else we reasonably believe to be appropriate;
          %p.m-content--body-text
            7.6 Inappropriate Behaviour: We reserve the right to close your account or decline to limit your participation in any services on the Website for any reason, including but not limited to harassment of other Players, posting of objectionable material, creating numerous accounts, game fraud or any breach of the Terms and Conditions or the Game Rules;
          %p.m-content--body-text
            7.7 Suspension and Termination: Failure to comply with any of the Terms and Conditions, the Game Rules and the Privacy Policy constitutes a material breach of these Terms upon which you are permitted to use the Website, and may result in PlayON taking all or any of the following actions:
          %p.m-content--body-text
            7.7.1 immediate, temporary or permanent withdrawal of your right to use our Website;
          %p.m-content--body-text
            7.7.2 immediate, temporary or permanent removal of any posting or material uploaded by you to the Website; 
          %p.m-content--body-text
            7.7.3 disqualification from the Website and cancelation of your right to claim any winnings; 
          %p.m-content--body-text
            7.7.4 issue of a warning to you; 
          %p.m-content--body-text
            7.7.5 legal action against you including proceedings for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach; 
          %p.m-content--body-text
            7.7.6 disclosure of such information to law enforcement authorities or third party complainants as we reasonably feel is necessary or required; 
          %p.m-content--body-text
            7.7.7 disclosure of your identity to any third party who is claiming that any material posted or uploaded by you to our Website constitutes a violation of their intellectual property rights, right to privacy or other legal rights;
          %p.m-content--body-text
            the responses described in this clause 7.7are not limited, and we may take any other action we reasonably deem appropriate.
          %p.m-content--body-text
            7.8 Any monies associated with closed accounts, including closure of accounts for non-compliance with the Terms and Conditions or the Game Rules, are subject to forfeiture.
      #eight.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 8
              %span.m-content--sub-heading-with-count
                Betting, Prize Money and Bonuses
        .m-content--body.grid-10
          %p.m-content--body-text
            8.1 Entry fees and prize allocations vary depending on the Game. See the Game Rules and Payout Structure for more information.
          %p.m-content--body-text
            8.2 In the instance where a bonus amount is added to a multiplayer game due to the multiplayer game pot reaching a certain threshold level, the same game entrants cannot recreate similar games in order to receive the bonus again. In order for a multiplayer game to be eligible to receive the bonus amount, 80% of the entrants in the game must not have been part of a game that has already received the bonus amount in the relevant gameweek.  
      #nine.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 9
              %span.m-content--sub-heading-with-count
                Withdrawing from a Game or Cancellation of a Game
        .m-content--body.grid-10
          %p.m-content--body-text
            9.1 Once you have joined a Game, you cannot withdraw from it or cancel your entry fee;
          %p.m-content--body-text
            9.2 We reserve the right to suspend betting between parties at any time and will not be liable to you as a result of such action;
          %p.m-content--body-text
            9.3 We reserve the right to withhold payment and to cancel and void any bets at our absolute discretion where (i) there is a technological failure; (ii) we suspect that you have or may have breached any of these Terms and Conditions: (iii) where the integrity of the Game has been called into question, or (iv) collusion between Players has taken place;
          %p.m-content--body-text
            9.4 There may be circumstances where bets may be declared void due to reasons specific to a particular sport and you are therefore advised to check the Game Rules for such situations;
          %p.m-content--body-text
            9.4.1 Where a Game or bet is declared void, any money you have staked in that Game will be credited back to your Wallet as soon as practicable;
          %p.m-content--body-text
            9.4.2 We have the right to recover from you any amount overpaid and have your authority to adjust your account to reflect the true outcome and rectify the mistake.
      #ten.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 10
              %span.m-content--sub-heading-with-count
                Self-exclusion
        .m-content--body.grid-10
          %p.m-content--body-text
            10.1 If at any time you feel as though you are spending too much time or money playing PlayON then we would recommend that you read our section on Responsible Gaming. We also suggest that you follow the link to the Gamble Aware site; 
          %p.m-content--body-text
            10.2 For those Players who wish to restrict their gambling, we provide a voluntary self-exclusion policy, which enables you to close your account or restrict your ability to game on the Website for a minimum period of six months and up to a maximum period of three years. You can ask for your PlayON account to be closed at any time by emailing our customer support team at info@playon.co.uk;
          %p.m-content--body-text
            10.3 During a period of self-exclusion we will not send you any marketing material and we cannot accept any deposits or bets from you. We will close your account and return any money to you. (Any running bets will continue in place and we will forward any winnings after the event is settled). Once you self exclude, we cannot reverse this process for any reason and you may not apply to open a new account. We will not reopen any self excluded account, but after the expiry of the exclusion period you may contact us and ask for your account to be reopened by writing by post to our registered offices at 5
            %sup th
            Floor, Quartermile Two, 2 Lister Square, Edinburgh, EH3 9GL. Legislation requires us to provide you with a 24 hour cooling off period, during which you may elect to keep the exclusion in place;
          %p.m-content--body-text
            10.4 If you wish to self-exclude from PlayON you may do so at any time by going to the self- exclusion page. You must be logged into your account and follow these simple steps:
          %p.m-content--body-text
            10.4.1 Go to the Self Exclusion page;
          %p.m-content--body-text
            10.4.2 Select a "Self exclusion period" (ranging from 6 months to 3 years);
          %p.m-content--body-text
            10.4.3 Click on the "Suspend Account" button;
          %p.m-content--body-text
            10.4.4 We will action your request as soon as we are able to and within 48 hours. We will use our reasonable endeavours to ensure compliance with self-exclusion. However you accept that we have no responsibility or liability whatsoever if you continue gambling and/or seek to use the Website and we fail to recognise or determine that you have requested self exclusion in circumstances which are beyond our reasonable control. For example including but not limited to you opening a new account or using a different name or address;
          %p.m-content--body-text
            10.4.5 In requesting self-exclusion you agree to provide full and accurate personal details, now and in the future, so as to allow access/use of PlayON’s betting and gaming services to be restricted. If you do choose to self-exclude we will use all reasonable endeavours to ensure we comply with your self-exclusion. However in agreeing to self-exclude you accept that you have a parallel undertaking not to seek to circumvent the self-exclusion. Accordingly, PlayON has no responsibility or liability for any subsequent consequences or losses howsoever caused that you may suffer or incur if you commence or continue gambling through additional online accounts where you have changed any of the registration details or you provide misleading, inaccurate or incomplete details or otherwise seek to circumvent the self-exclusion agreed;
          %p.m-content--body-text
            10.4.6 The National Association for Gambling Care Educational Resources and Training GamCare provides information, advice and counselling to individuals, their family and friends who have concerns about problem gambling. The Helpline number for GAMCARE when calling from the UK is 0845 600 0133; this number may not be available from outside the UK;
          %p.m-content--body-text
            10.4.7 If you require further information relating to this facility, please contact us.
      #eleven.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 11
              %span.m-content--sub-heading-with-count
                Participation, Influencer and Group Rewards
        .m-content--body.grid-10
          %p.m-content--body-text
            11.1 PlayON rewards Players' loyalty and participation on the site and each time a Player participates in a Game, he or she will receive PlayON Participation Points which allow a Player to qualify to win virtual trophies and potentially prizes on the site;
          %p.m-content--body-text
            11.2 PlayON Participation, Influencer and Group Points and prizes are allocated in accordance with these Terms and Conditions and the PlayON Participation, Influencer and Group Points Structures available on the user’s Profile page. PlayON reserves the right to alter, amend or supplement the PlayON Participation, Influencer and Group Points Structures from time to time in its absolute discretion. in the instance of Group Points structures, in order to be eligible for any Group prize, the player must have represented that club at least 3x times. You agree that no liability shall attach to PlayON as a result of any such change and so are advised to check the PlayON Participation, Influencer and Group Points Structures regularly;
          %p.m-content--body-text
            11.3 PlayON shall not be liable for any loss including (without limitation) any indirect or consequential loss suffered by the Player as a result of accepting or using a prize except where liability cannot be excluded by law;
          %p.m-content--body-text
            11.4 PlayON reserves the right to substitute any advertised prize with an alternative prize of equivalent value.
      #twelve.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 12
              %span.m-content--sub-heading-with-count
                Game Messages and Moderation
        .m-content--body.grid-10
          %p.m-content--body-text
            12.1 PlayON does not pre-screen any content posted or disseminated in the Game by Players;
          %p.m-content--body-text
            12.2 Because the messages are self-moderated, you should understand that when using the Game, you might come across some content which you find offensive or objectionable. If you do come across such content then you are free to register a complaint in relation to this. You should note that the views expressed in banter fields, on message boards or in a chat room are the views of the individual concerned, not those of PlayON;
          %p.m-content--body-text
            12.3 If you post any content on the Website then you are confirming that:
          %p.m-content--body-text
            12.3.1 the content includes nothing which would be a breach of these Terms and Conditions;
          %p.m-content--body-text
            12.3.2 the content is non-confidential and non-proprietary and that PlayON may make use of that content in any way it sees fit and without acknowledgement;
          %p.m-content--body-text
            12.3.3 players may access the content on terms similar to these;
          %p.m-content--body-text
            12.3.4 if you wish to restrict the use of any content, then you are advised not to submit it;
          %p.m-content--body-text
            12.3.5 you are entirely responsible for any content PlayON, or any other Players may suffer as a result of any content you post, or otherwise as a result of your use of the Game;
          %p.m-content--body-text
            12.3.6 you must ensure that you only use content functionality in order to post content which is (in the reasonable opinion of PlayON) legal, decent, proper and relevant. Without limitation of the foregoing, you must ensure that you:
          %p.m-content--body-text
            12.3.6.1 comply with any instructions from PlayON;
          %p.m-content--body-text
            12.3.6.2 do not defame, threaten, harass, abuse, or otherwise violate the rights of others;
          %p.m-content--body-text
            12.3.6.3 do not post or make available content which is unlawful, defamatory, obscene, objectionable, or inappropriate or which restricts or inhibits any other person from using or enjoying the Website, or which may expose PlayON or other Players to any harm or liability of any type;
          %p.m-content--body-text
            12.3.6.4 do not promote or provide unlawful instructions to others;
          %p.m-content--body-text
            12.3.6.5 do not post any messages which could interfere with the intellectual property rights or confidential information of others;
          %p.m-content--body-text
            12.3.6.6 do not post messages containing commercial messages or advertising;
          %p.m-content--body-text
            12.3.6.7 do not impersonate anyone else, falsely state or otherwise misrepresent yourself, your age or your affiliation with any person or entity;
          %p.m-content--body-text
            12.3.6.8 do not use content functionality to harvest personal information about others;
          %p.m-content--body-text
            12.3.6.9 do not post any content containing pictures, video or personal information of others, unless that use is lawful, or you have their consent;
          %p.m-content--body-text
            12.3.6.10 do not transmit any viruses or other harmful code, files or programmes;
          %p.m-content--body-text
            12.3.6.11 do not add links to external sites (other than by prior agreement of PlayON);
          %p.m-content--body-text
            12.3.6.12 do not use the Website in any unlawful manner or in any other manner that could damage, disable, overburden or impair the Website;
          %p.m-content--body-text
            12.3.6.13 do not use automated scripts to collect information from or otherwise interact with the Website;
          %p.m-content--body-text
            12.3.6.14 do not upload, post or otherwise make available any unsolicited or unauthorised advertising, solicitations, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation;
          %p.m-content--body-text
            12.3.7 Please note that PlayON will seek to use these Terms and Conditions to prohibit all such behaviour. However, PlayON cannot guarantee that you will not be exposed to such behaviour. If you should encounter it, please feel free to make a complaint accordingly. PlayON advises that you exercise caution in revealing any personal information about yourself on any content functionality.
      #thirteen.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 13
              %span.m-content--sub-heading-with-count
                Rights
        .m-content--body.grid-10
          %p.m-content--body-text
            13.1 You acknowledge and agree that the Game, the Website and PlayON are protected by copyright, database rights and other intellectual property and related rights which are owned by us or one of our licensors. You have no rights in such copyright material or trade or service marks and must not use them without PlayON’s written permission. All intellectual property rights in the name "PlayON", the logos, designs, trade marks and other distinctive brand features of PlayON and any content provided by PlayON for inclusion on the Website vest in PlayON. You agree not to display or use such logos, designs, trade marks and other distinctive brand features in any manner without our prior consent.
      #fourteen.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 14
              %span.m-content--sub-heading-with-count
                Warranties and Indemnity
        .m-content--body.grid-10
          %p.m-content--body-text
            14.1 You hereby warrant and represent that you;
          %p.m-content--body-text
            14.1.1 are 18 years of age or older, are of sound mind and are capable of taking responsibility for your own action;
          %p.m-content--body-text
            14.1.2 understand that by playing the Game, you may lose money on bets placed and accept that you are fully responsible for any such loss;
          %p.m-content--body-text
            14.1.3 have furnished us with personal details that are valid, accurate and complete in each and every respect and that you shall advise us immediately in writing should such details change;
          %p.m-content--body-text
            14.1.4 will not use our services to bet via any means where it is prohibited to do so while located in the jurisdiction in which you are located. The availability of the Website does not constitute an offer or invitation by PlayON to bet in any jurisdiction in which such use is illegal;
          %p.m-content--body-text
            14.1.5 are not an undischarged bankrupt or in a voluntary arrangement with your creditors;
          %p.m-content--body-text
            14.1.6 will not attempt to hack, make unauthorised alterations or introduce any kind of malicious code to the Website by any means. Unless given prior written approval by us, you will not make copies, modify, reproduce, transmit, alter or distribute all or any part of the Website or any material or information contained on it;
          %p.m-content--body-text
            14.1.7 will not disguise or interfere in any way the IP address of the computer you are using to access the Website or otherwise take steps to prevent us from correctly identifying the actual IP address of the computer you are using whilst accessing the Website;
          %p.m-content--body-text
            14.1.8 will not abuse in any way any online betting or gaming or any bonus offer or other promotion scheme offered by us;
          %p.m-content--body-text
            14.2 You agree to indemnify us and hold us and our associated companies, affiliates, officers and directors, agents and employees harmless from any liabilities, claims, losses or demands made by any third party arising out of your breach of these Terms and Conditions.
      #fifteen.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 15
              %span.m-content--sub-heading-with-count
                Limitation of Liability
        .m-content--body.grid-10
          %p.m-content--body-text
            15.1 PlayON and its suppliers take reasonable precautions to prevent computer viruses, trojan horses, worms, time bombs, cancelbots, corrupted files, or any other items that may damage the operation of computers or property or otherwise engage in computer misuse on the Website but does not accept any liability for them. You are advised to take precautions yourself such as the use of suitable protective software;
          %p.m-content--body-text
            15.2 Access to the Website is provided by public telecommunications networks and other technology for which PlayON and its suppliers have limited control. PlayON does not accept any liability for failures or breakdowns in network communications and/or end-to-end connectivity across the Internet and/or performance problems experienced on any Internet or other networks outside PlayON’s direct control. You should be aware when playing on PlayON that you may be using a connection or equipment which is slower than such equipment used by others and this may affect your performance in time critical events offered via the Website;
          %p.m-content--body-text
            15.3 PlayON does not give any warranty as to the accuracy of any material on the Website and does not accept any liability for the contents of the Website or for any use of or reliance on it except where PlayON have breached a duty imposed by law. If PlayON have breached such a duty they shall not be liable where it would be reasonable to restrict such liability, for example if the breach is attributable to the fault of you or an unconnected third party or could not have been foreseen or prevented by PlayON using reasonable care;
          %p.m-content--body-text
            15.4 If for any reason the Internet portion of the Website is not capable of running as planned, including infection by computer virus, bugs, tampering, unauthorised intervention, fraud, technical failures, or any other causes beyond the control of PlayON which corrupt or affect the administration, security, fairness, integrity, or proper conduct of the products and services provided on the Website, we reserve the right, at our sole discretion, to disqualify any individual who tampers with the entry process, and to cancel, terminate, modify or postpone any products or services on the Website;
          %p.m-content--body-text
            15.5 PlayON assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line malfunction, theft or destruction or unauthorised access to, or alteration of, entries or transactions. PlayON is not responsible for any problems or technical malfunction of any telephone network or lines, computer on-line systems, servers, or providers, computer equipment, software, failure of any e-mail entry or transaction to be received on account of technical problems or traffic congestion on the Internet or at any Web site, or any combination thereof, including any injury or damage to participant's or any other person's computer related to or resulting from participation or downloading any materials in this contest;
          %p.m-content--body-text
            15.6 PlayON assumes no liability for any losses related to the above outlined failures or caused by any disconnection from the products and/or services on the Website. The majority of internet connections suit the Website’s requirements. However, in some cases, an internet connection may result in unwanted waiting time for all Players. Therefore, it is agreed that if an internet connection should interfere with game flow, the Player using this connection will be automatically disqualified;
          %p.m-content--body-text
            15.7 You agree that PlayON is not liable for any loss caused by any unauthorised use of your credit card or any other method of payment by a third party that has a connection with us. Any attempt to defraud PlayON through the use of credit cards or other methods of payment, regardless of the outcome, or any failure by you to honour legitimate charges or requests for payment will result in instant termination of your account, and forfeiture of any funds you may have won or deposited to which you are otherwise entitled;
          %p.m-content--body-text
            15.8 We may display and make accessible promotions, advertisements, and offers provided by third parties ("Third Party Promotions"). You understand and agree that we shall not be responsible and shall have no liability for any Third Party Promotion, and that you participate in or choose to click on a Third Party Promotion solely at your own risk. You agree that your sole remedy in connection with any Third Party Promotion will be with the third party offering the Third Party Promotion and that you shall have no remedy against PlayON arising from your participation in, or inability to participate in, any Third Party Promotion;
          %p.m-content--body-text
            15.9 We are not responsible for user-generated content on the Website;
          %p.m-content--body-text
            15.10 You agree to indemnify us and hold us and our associated companies affiliates, officers, directors, agents and employees harmless from any liabilities, claims, losses or demands made by any third party arising out of your breach of these Terms including documents incorporated by reference into these Terms or out of your violation of any law or the rights of a third party;
          %p.m-content--body-text
            15.11 You acknowledge that PlayON and its subsidiaries will hold information with respect to your identity, including but not limited to your name, address and payment details. You agree that we rely on this information in entering into these Terms with you and you agree to hold us harmless against any falsehood or inaccuracy contained in the information you provide us.
      #sixteen.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 16
              %span.m-content--sub-heading-with-count
                Privacy and Data Protection
        .m-content--body.grid-10
          %p.m-content--body-text
            16.1 For information on Security and Privacy see Privacy Policy.
      #seventeen.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 17
              %span.m-content--sub-heading-with-count
                Complaints and Dispute Resolution
        .m-content--body.grid-10
          %p.m-content--body-text
            17.1 For details of our complaints policy and dispute resolution see the dispute section under Responsible gaming;
          %p.m-content--body-text
            17.2 It shall be a condition of your agreement with us that any complaints and disputes are and remain confidential both whilst we seek a resolution and afterwards. You agree that you shall not disclose the existence, nature or detail of any complaints and disputes to any third party (which shall include the discussion of any such any complaints and disputes in any chat room or forum offered by ourselves or any third party).
      #eighteen.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 18
              %span.m-content--sub-heading-with-count
                Data Tracking System
        .m-content--body.grid-10
          %p.m-content--body-text
            18.1 The sporting data that PlayON uses is provided by Opta Sports Limited. PlayON then allocates points based on this data as the action unfolds. Both Opta and our points allocation system are accurate. However it is possible that mistakes occur which may then mean that the points are not awarded correctly;
          %p.m-content--body-text
            18.2 We are normally able to correct mistakes within a short period of time and this may then lead to the points you have been awarded being changed, during the course of a Game. The results of each Game of PlayON will be based on the points awarded during that Game and will not be altered once the game has finished, subject to a 30 minute period post the final whistle where any major errors can be corrected;
          %p.m-content--body-text
            18.3 As with any data feed, there will always be a very short delay between a real-life event and that event showing up in our data feed. We are not aware of any faster data sources but others playing PlayON may have more up-to-date information (for example if they are in the stadium where the match is taking place) or have access to some media source that we are not aware of.
      #nineteen.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 19
              %span.m-content--sub-heading-with-count
                How Results are Determined
        .m-content--body.grid-10
          %p.m-content--body-text
            19.1 PlayON results will be based solely on the data provided by Opta which tracks Match events and Player performance. PlayON will seek to ensure that all results of PlayON games are as accurate and correct as possible but the results are dependent upon the veracity and accuracy of the information provided by Opta which is subject to human error and may not be 100% accurate.
      #twenty.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 20
              %span.m-content--sub-heading-with-count
                Picking Players
        .m-content--body.grid-10
          %p.m-content--body-text
            20.1 It is your responsibility to keep abreast of team changes and adjust your choice of Players accordingly;
          %p.m-content--body-text
            20.2 We encourage you to do your own research and check back right up until start of the Match and during the Match to ensure that your choices are based on the official player names and player numbers.
      #twentyone.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 21
              %span.m-content--sub-heading-with-count
                Disclaimer on Points Calculation
        .m-content--body.grid-10
          %p.m-content--body-text
            21.1 The calculation of points for scoring Games is based on the information received from Opta. All Players signing up to and playing PlayON recognise that the data feed may be inaccurate and subject to human error, which may in turn affect the outcome of any Game. By signing up to the site all Players accept that it is possible for the scoring on PlayON to be inaccurate. Points will be allocated and Games decided on the information provided by Opta at the end of each Game, and no alterations will be made to the points allocated or pay outs awarded if the information from the data feed is subsequently corrected or altered;
          %p.m-content--body-text
            21.2 The data feed used in Games and therefore the scoring for the Games may vary significantly from scoring or information about the same Match on other media sources or outlets or betting sites;
          %p.m-content--body-text
            21.3 In some circumstances where there has been an error made in the scoring of a Game, and that error has come to PlayON’s attention, the scoring will be corrected during the course of the Game. However, if the Game has already finished then no corrections or amendments will be made to the scoring or points allocated during that Game, subject to a 30 minute period post the final whistle where any major errors can be corrected;
          %p.m-content--body-text
            21.4 For more information regarding the scoring and points allocation see the Game Rules.
      #twentytwo.m-content--group
        .grid-4
          .grid-3-and-half.anchor-right
            %h2.m-content--sub-heading
              %span.m-content--sub-heading-count 22
              %span.m-content--sub-heading-with-count
                General
        .m-content--body.grid-10
          %p.m-content--body-text
            22.1 We reserve the right to amend these Terms and Conditions from time to time and any such amendments shall become effective upon posting on the Website. We will take appropriate steps to bring any significant changes to your attention (such as by placing a notice of change on a prominent position on the Website). Please check these Terms and Conditions regularly to see if there have been any changes;
          %p.m-content--body-text
            22.2 If any part of these Terms and Conditions is deemed unlawful, void or for any reason unenforceable, then that part shall be deemed to be severable from the rest of these Terms and Conditions and shall not affect the validity and enforceability of the remaining provisions;
          %p.m-content--body-text
            22.3 No indulgence granted by us to you should be construed as a waiver of any of our rights under these Terms and Conditions;
          %p.m-content--body-text
            22.4 Unless otherwise expressly stated, nothing in these Terms and Conditions shall create or confer any rights on any persons not party to these Terms and Conditions;
          %p.m-content--body-text
            22.5 We reserve the right to transfer, assign, sub-license or pledge, in whole or in part, any of the rights and obligations granted to or imposed upon us by these Terms and Conditions. You may not transfer, assign, sub-license or pledge any of the rights and obligations granted to or imposed upon you by these Terms and Conditions;
          %p.m-content--body-text
            22.6 Unless the context otherwise indicates, these Terms and Conditions set out the entire agreement between us and supersede all prior oral or written agreements, arrangements or understandings between us. You acknowledge that you are not relying on any representation, agreement, term or condition that is not set out in these Terms and Conditions;
          %p.m-content--body-text
            22.7 In these Terms and Conditions the headings are used for convenience only and shall not affect its interpretation;
          %p.m-content--body-text
            22.8 We are regulated by the United Kingdom Gambling Commission and subject to the provisions of the Gambling Act 2005 and associated provisions (as the same may be amended from time-to-time). You acknowledge and agree that we may be bound (and shall be entitled) to disclose certain information about you and your Account to the Gambling Commission pursuant to applicable law and regulations. Should you have any queries or complaints about us, you may contact the United Kingdom Gambling Commission at www.gamblingcommission.gov.uk;
          %p.m-content--body-text
            22.9 We are licensed by the Football Data Co to reproduce Licensed Premier League data, including upcoming fixtures. This data is copyright The Football Association Premier League Limited. All rights are reserved. No part of this data may be reproduced, stored in a retrieval system or transmitted in any way or by any means (including photocopying, recording or storing it in any medium by electronic means), without the written permission of the copyright owner. Applications for written permission should be addressed to c/o Football DataCo Ltd, 30 Gloucester Place, London W1U 8PL;
          %p.m-content--body-text
            22.10 The Terms shall be governed by and construed in accordance with English law. Disputes arising in connection with the Terms shall be subject to the exclusive jurisdiction of the English courts.
