.m-section
  .m-section--body
    .m-hero-unit
      %h1.m-hero-unit-heading
        %span.m-hero-unit-heading--line Match Day Live.
        %span.m-hero-unit-heading--line It's On.
      %span.m-hero-unit--strapline Keep up with the action in real time.
      %span.m-hero-unit--strapline
    #flash_notice.m-flash-notice
    .grid-container
      .grid-7-and-half
        .grid-7-and-half.m-box.no-margin-left
          .m-box--header-bar
            %h1.m-box--heading Live Ticker
          .m-box--body
            %input.m-input_search.dark{:placeholder => "Search by name...", :type => "search"}/
            .m-filters#dropkick-filters
              %label.m-label Filter by:
              .m-filters--container
                %select.dropkick{:name => "all-teams"}
                  %option{:value => ""} Club 
                  %option{:value => "422,427,300,522,332,499,533,117,25,253,544"} My Team
                  %option{:value => "ARS"} Arsenal
                  %option{:value => "AST"} Aston Villa
                  %option{:value => "CHL"} Chelsea
                  %option{:value => "EVT"} Everton
                  %option{:value => "FUL"} Fulham
                  %option{:value => "LPL"} Liverpool
                  %option{:value => "MNU"} Man Utd
                  %option{:value => "MNC"} Man City
                  %option{:value => "NEW"} Newcastle
                  %option{:value => "NCH"} Norwich
                  %option{:value => "QPR"} QPR
                  %option{:value => "REA"} Reading
                  %option{:value => "STN"} Southampton
                  %option{:value => "STO"} Stoke City
                  %option{:value => "SUN"} Sunderland
                  %option{:value => "SWA"} Swansea
                  %option{:value => "TOT"} Tottenham
                  %option{:value => "WBA"} WBA
                  %option{:value => "WHU"} West Ham
                  %option{:value => "WIG"} Wigan
                %select.dropkick{:name => "all-players"}
                  %option{:value => "all"} Player 
                  %option{value: 'player'} Assou-Ekotto
                  %option{value: 'player'} Bale
                  %option{value: 'player'} Carroll
                  %option{value: 'player'} Caulker
                  %option{value: 'player'} Defoe
                  %option{value: 'player'} Dembélé
                  %option{value: 'player'} Friedel
                  %option{value: 'player'} Huddlestone
                  %option{value: 'player'} Naughton
                  %option{value: 'player'} Parker
                %select.dropkick{:name => "all-events"}
                  %option{:value => "all"} Event
                  %option{:value => "assist"} Assists
                  %option{:value => "clean_sheet"} Clean sheets
                  %option{:value => "clearances"} Clearances
                  %option{:value => "goal"} Goals
                  %option{:value => "goals_conceded"} Goals conceded
                  %option{:value => "interceptions"} Interceptions
                  %option{:value => "mins_played"} Minutes played
                  %option{:value => "own_goal"} Own goals
                  %option{:value => "red_card"} Red cards
                  %option{:value => "save"} Saves
                  %option{:value => "shot_on_target"} Shots
                  %option{:value => "tackle"} Tackles
                  %option{:value => "yellow_card"} Yellow cards
                %a.m-link{:href => "#"} Clear filters
            %table.m-table_inline.m-table_live-ticker_key-events
              %thead.m-table--header
                %tr
                  %th.time-column Time
                  %th.name-column Name
                  %th.team-column Team
                  %th.event-column Event
                  %th.points-column Points
                  %th.total-column GW Total
              = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_live-ticker_key-events'><table class='m-table_live-ticker_key-events'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                %tbody.m-table--body
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      TOT
                    %td.event-column GOAL
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      TOT
                    %td.event-column GOAL
                    %td.points-column 450
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Defoe
                    %td.team-column
                      TOT
                    %td.event-column GOAL
                    %td.points-column 450
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Bale
                    %td.team-column
                      TOT
                    %td.event-column GOAL
                    %td.points-column 450
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Assou-Ekotto
                    %td.team-column
                      TOT
                    %td.event-column GOAL
                    %td.points-column 445
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Dembélé
                    %td.team-column
                      TOT
                    %td.event-column GOAL
                    %td.points-column 450
                    %td.total-column 0
            %table.m-table_inline.m-table_live-ticker_all-events
              = surround "<!--[if lte IE 9]></table><div class='old-ie-table-wrapper old-ie-table-wrapper_live-ticker_all-events'><table class='m-table_live-ticker_all-events'><![endif]-->", "<!--[if lte IE 9]></table></div><![endif]-->" do
                %tbody.m-table--body
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 450
                    %td.total-column 0
                  %tr.odd.highlight
                    %td.time-column 17:56
                    %td.name-column Defoe
                    %td.team-column
                      TOT
                    %td.event-column Mins Played
                    %td.points-column 450
                    %td.total-column 0
                  %tr.even.highlight
                    %td.time-column 17:56
                    %td.name-column Bale
                    %td.team-column
                      TOT
                    %td.event-column Mins Played
                    %td.points-column 450
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Assou-Ekotto
                    %td.team-column
                      TOT
                    %td.event-column Mins played
                    %td.points-column 445
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Dembélé
                    %td.team-column
                      TOT
                    %td.event-column Mins Played
                    %td.points-column 450
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column

                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 450
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column

                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 450
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Caulker
                    %td.team-column
                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Huddlestone
                    %td.team-column
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Friedel
                    %td.team-column
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Naughton
                    %td.team-column

                      TOT
                    %td.event-column Interception
                    %td.points-column 0
                    %td.total-column 0
                  %tr.odd
                    %td.time-column 17:56
                    %td.name-column Carroll
                    %td.team-column
                      TOT
                    %td.event-column Clearance
                    %td.points-column 0
                    %td.total-column 0
                  %tr.even
                    %td.time-column 17:56
                    %td.name-column Parker
                    %td.team-column
                      TOT
                    %td.event-column Shot on Target
                    %td.points-column 450
                    %td.total-column 0
      .grid-7-and-half  
        .grid-7-and-half.m-box.no-margin-left
          .m-box--header-bar
            %h1.m-box--heading My Trial Team
            .m-amount.total.large 1425 Points
          .m-box--body.center
            .m-team-summary
              %h4.m-team-summary--heading My team summary:
              %dl.m-team-summary-list
                %dt.m-team-summary--statistic Goals:
                %dd.m-team-summary--value 2
                %dt.m-team-summary--statistic Assists:
                %dd.m-team-summary--value 14
                %dt.m-team-summary--statistic Shots On Target:
                %dd.m-team-summary--value 12
                %dt.m-team-summary--statistic Yet to play:
                %dd.m-team-summary--value 4

            .m-pitch_matchday
              .m-pitch-row_goalkeeper
                .m-pitch-player.player.l-pitch-position-1.STO{"data-id" => "422"}
                  .player-value.m-pitch-player--points-bar 150 PTS
                  .m-pitch-player--team-bar.player-team STO
                  .m-pitch-player--status-bar.player-status.played Played
                  .m-pitch-player--name-bar.player-name Begovic
                  .m-pitch-player--jersey.player-jersey
                  %i.info{"data-id" => "422"}
                    %a.m-pitch-player--info{:href => "#"}
              .m-pitch-row_defender
                .m-pitch-player.player.STO.l-pitch-position-1{"data-id" => "427"}
                  .player-value.m-pitch-player--points-bar 650 PTS
                  .m-pitch-player--team-bar.player-team STO
                  .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                  .m-pitch-player--name-bar.player-name Huth
                  .m-pitch-player--jersey.player-jersey
                  %i.info{"data-id" => "427"}
                    %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.NCH.l-pitch-position-2{"data-id" => "300"}
                  .player-value.m-pitch-player--points-bar 250 PTS
                  .m-pitch-player--team-bar.player-team NCH
                  .m-pitch-player--status-bar.player-status.played Played
                  .m-pitch-player--name-bar.player-name Bassong
                  .m-pitch-player--jersey.player-jersey
                  %i.info{"data-id" => "300"}
                    %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.TOT.l-pitch-position-3{"data-id" => "522"}
                  .player-value.m-pitch-player--points-bar 2750 PTS
                  .m-pitch-player--team-bar.player-team TOT
                  .m-pitch-player--status-bar.player-status.played Played
                  .m-pitch-player--name-bar.player-name Vertonghen
                  .m-pitch-player--jersey.player-jersey
                  %i.info{"data-id" => "522"}
                    %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.QPR.l-pitch-position-4{"data-id" => "332"}
                  .player-value.m-pitch-player--points-bar 975 PTS
                  .m-pitch-player--team-bar.player-team QPR
                  .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                  .m-pitch-player--name-bar.player-name Nelsen
                  .m-pitch-player--jersey.player-jersey
                  %i.info{"data-id" => "332"}
                    %a.m-pitch-player--info{:href => "#"}
              .m-pitch-row_midfielder
                .m-pitch-player.player.SWA.l-pitch-position-1{"data-id" => "499"}
                  .player-value.m-pitch-player--points-bar 575 PTS
                  .m-pitch-player--team-bar.player-team SWA
                  .m-pitch-player--status-bar.player-status.played Played
                  .m-pitch-player--name-bar.player-name Michu
                  .m-pitch-player--jersey.player-jersey
                  %i.info{"data-id" => "499"}
                    %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.TOT.l-pitch-position-2{"data-id" => "533"}
                  .player-value.m-pitch-player--points-bar 0 PTS
                  .m-pitch-player--team-bar.player-team TOT
                  .m-pitch-player--status-bar.player-status.did-not-play Didn't Play
                  .m-pitch-player--name-bar.player-name Bale
                  .m-pitch-player--jersey.player-jersey
                  %i.info{"data-id" => "533"}
                    %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.EVT.l-pitch-position-3{"data-id" => "117"}
                  .player-value.m-pitch-player--points-bar 475 PTS
                  .m-pitch-player--team-bar.player-team EVT
                  .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                  .m-pitch-player--name-bar.player-name Fellaini
                  .m-pitch-player--jersey.player-jersey
                  %i.info{"data-id" => "117"}
                    %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.ARS.l-pitch-position-4{"data-id" => "25"}
                  .player-value.m-pitch-player--points-bar 4740 PTS
                  .m-pitch-player--team-bar.player-team ARS
                  .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                  .m-pitch-player--name-bar.player-name Cazorla
                  .m-pitch-player--jersey.player-jersey
                  %i.info{"data-id" => "25"}
                    %a.m-pitch-player--info{:href => "#"}
              .m-pitch-row_forward
                .m-pitch-player.player.MNU.l-pitch-position-1{"data-id" => "253"}
                  .player-value.m-pitch-player--points-bar 2275 PTS
                  .m-pitch-player--team-bar.player-team MNU
                  .m-pitch-player--status-bar.player-status.yet-to-play Yet To Play
                  .m-pitch-player--name-bar.player-name van Persie
                  .m-pitch-player--jersey.player-jersey
                  %i.info{"data-id" => "253"}
                    %a.m-pitch-player--info{:href => "#"}
                .m-pitch-player.player.TOT.l-pitch-position-2{"data-id" => "544"}
                  .player-value.m-pitch-player--points-bar 650 PTS
                  .m-pitch-player--team-bar.player-team TOT
                  .m-pitch-player--status-bar.player-status.played Played
                  .m-pitch-player--name-bar.player-name Defoe
                  .m-pitch-player--jersey.player-jersey
                  %i.info{"data-id" => "544"}
                    %a.m-pitch-player--info{:href => "#"}

            %a.m-button.right{href:"#"} Change Trial Team

      // My Live Games
      .grid-container
        .grid-16
          .m-header-bar.transparent
            %h2.m-header-bar--heading Trial team performance:
        .grid-7-and-half
          .grid-7-and-half.m-box.no-margin-left
            .m-box--header-bar.highlight
              %h3.m-box--heading_small Versus Playon ambassadors:
            .m-box--body
              .m-trial-callout_fowler
                %span.points 1025 points
        .grid-7-and-half
          .grid-7-and-half.m-box.no-margin-left
            .m-box--header-bar.highlight
              %h3.m-box--heading_small Sign up to play next week:

            .m-box--body
              %a{href: "#"}
                %img{src: "/images/trial-callouts/ready-to-play-for-real.png"}

      // Fixtures, Scoring matrix and premier league table
      .grid-container
        .grid-7-and-half
          .grid-7-and-half.no-margin-left.m-box
            .m-box--header-bar.transparent
              %ul.m-tab-navigation_fixtures.tabs-2
                %li.m-tab-navigation_fixtures--tab.active
                  %a.m-tab-navigation_fixtures--link{"data-toggle" => "tab", :href => "#fixtures"}
                    Fixtures &amp; Lineups
                %li.m-tab-navigation_fixtures--tab
                  %a.m-tab-navigation_fixtures--link{"data-toggle" => "tab", :href => "#scoring-matrix"}
                    Scoring Matrix
            .m-box--body
              #fixtures.m-tab-pane.active
                = partial :_live_fixtures
              #scoring-matrix.m-tab-pane
                = partial :_scoring_matrix
        .grid-7-and-half
          .grid-7-and-half.no-margin-left.m-box
            .m-box--header-bar.transparent
              %h3.m-box--heading Premier League Table
            .m-box--body
              %table.m-table_inline.m-table_league.dark
                %thead.m-table--header
                  %tr
                    %th.position
                      %abbr{title: "Position"} Pos
                    %th.team-name Team
                    %th.played
                      %abbr{title: "Played"} P
                    %th.win
                      %abbr{title: "Won"} W
                    %th.loss
                      %abbr{title: "Lost"} L
                    %th.drew 
                      %abbr{title: "Drawn"} D
                    %th.points 
                      %abbr{title: "Points"} Pts
                %tbody.m-table--body
                  %tr
                    %td.position 1
                    %td.team-name
                      %i.jersey-thumb-manchester-united.m-jersey_fixture
                      Manchester United
                    %td.played 28
                    %td.win 23
                    %td.loss 3
                    %td.drew 2
                    %td.points 71
                  %tr.odd
                    %td.position 2
                    %td.team-name
                      %i.jersey-thumb-manchester-city.m-jersey_fixture
                      Manchester City
                    %td.played 28
                    %td.win 17
                    %td.loss 3
                    %td.drew 8
                    %td.points 59
                  %tr
                    %td.position 3
                    %td.team-name
                      %i.jersey-thumb-tottenham-hotspur.m-jersey_fixture
                      Tottenham Hotspur
                    %td.played 28
                    %td.win 16
                    %td.loss 6
                    %td.drew 6
                    %td.points 54
                  %tr.odd
                    %td.position 4
                    %td.team-name
                      %i.jersey-thumb-chelsea.m-jersey_fixture
                      Chelsea
                    %td.played 28
                    %td.win 15
                    %td.loss 6
                    %td.drew 7
                    %td.points 52
                  %tr
                    %td.position 5
                    %td.team-name
                      %i.jersey-thumb-arsenal.m-jersey_fixture
                      Arsenal
                    %td.played 28
                    %td.win 13
                    %td.loss 7
                    %td.drew 8
                    %td.points 47
                  %tr.odd
                    %td.position 6
                    %td.team-name
                      %i.jersey-thumb-everton.m-jersey_fixture
                      Everton
                    %td.played 28
                    %td.win 11
                    %td.loss 5
                    %td.drew 12
                    %td.points 45
                  %tr
                    %td.position 7
                    %td.team-name
                      %i.jersey-thumb-liverpool.m-jersey_fixture
                      Liverpool
                    %td.played 28
                    %td.win 11
                    %td.loss 8
                    %td.drew 9
                    %td.points 42
                  %tr.odd
                    %td.position 8
                    %td.team-name
                      %i.jersey-thumb-swansea-city.m-jersey_fixture
                      Swansea City
                    %td.played 28
                    %td.win 10
                    %td.loss 8
                    %td.drew 10
                    %td.points 40
                  %tr
                    %td.position 9
                    %td.team-name
                      %i.jersey-thumb-west-bromwich-albion.m-jersey_fixture
                      West Bromwich Albion
                    %td.played 28
                    %td.win 12
                    %td.loss 12
                    %td.drew 4
                    %td.points 40
                  %tr.odd
                    %td.position 10
                    %td.team-name
                      %i.jersey-thumb-fulham.m-jersey_fixture
                      Fulham
                    %td.played 28
                    %td.win 8
                    %td.loss 11
                    %td.drew 9
                    %td.points 33
                  %tr
                    %td.position 11
                    %td.team-name
                      %i.jersey-thumb-stoke-city.m-jersey_fixture
                      Stoke City
                    %td.played 28
                    %td.win 7
                    %td.loss 9
                    %td.drew 12
                    %td.points 33
                  %tr.odd
                    %td.position 12
                    %td.team-name
                      %i.jersey-thumb-west-ham-united.m-jersey_fixture
                      West Ham United
                    %td.played 28
                    %td.win 9
                    %td.loss 13
                    %td.drew 6
                    %td.points 33
                  %tr
                    %td.position 13
                    %td.team-name
                      %i.jersey-thumb-norwich-city.m-jersey_fixture
                      Norwich City
                    %td.played 28
                    %td.win 7
                    %td.loss 10
                    %td.drew 11
                    %td.points 32
                  %tr.odd
                    %td.position 14
                    %td.team-name
                      %i.jersey-thumb-sunderland.m-jersey_fixture
                      Sunderland
                    %td.played 28
                    %td.win 7
                    %td.loss 12
                    %td.drew 9
                    %td.points 30
                  %tr
                    %td.position 15
                    %td.team-name
                      %i.jersey-thumb-newcastle-united.m-jersey_fixture
                      Newcastle United
                    %td.played 28
                    %td.win 8
                    %td.loss 14
                    %td.drew 6
                    %td.points 30
                  %tr.odd
                    %td.position 16
                    %td.team-name
                      %i.jersey-thumb-southampton.m-jersey_fixture
                      Southampton
                    %td.played 28
                    %td.win 6
                    %td.loss 13
                    %td.drew 9
                    %td.points 27
                  %tr
                    %td.position 17
                    %td.team-name
                      %i.jersey-thumb-wigan-athletic.m-jersey_fixture
                      Wigan Athletic
                    %td.played 28
                    %td.win 6
                    %td.loss 16
                    %td.drew 6
                    %td.points 24
                  %tr.odd
                    %td.position 18
                    %td.team-name
                      %i.jersey-thumb-aston-villa.m-jersey_fixture
                      Aston Villa
                    %td.played 28
                    %td.win 5
                    %td.loss 14
                    %td.drew 9
                    %td.points 24
                  %tr
                    %td.position 19
                    %td.team-name
                      %i.jersey-thumb-reading.m-jersey_fixture
                      Reading
                    %td.played 28
                    %td.win 5
                    %td.loss 15
                    %td.drew 8
                    %td.points 23
                  %tr.odd
                    %td.position 20
                    %td.team-name
                      %i.jersey-thumb-queens-park-rangers.m-jersey_fixture
                      Queens Park Rangers
                    %td.played 28
                    %td.win 3
                    %td.loss 14
                    %td.drew 11
                    %td.points 20
              %img.premier-league-logo{:alt => "Barclays Premier League", :src => "/images/barclays-premier-league.png"}/
