@mixin border-gradient($top-color, $bottom-color, $top-border-width: 1px, $right-border-width: 1px, $bottom-border-width: 1px, $left-border-width: 1px) {
  position: relative;
  
  border-top: $top-border-width solid $top-color;
  border-bottom: $bottom-border-width solid $bottom-color;
  
  &:before, &:after {
    content: "";
    
    position: absolute;
    top: -$top-border-width;
    bottom: -$bottom-border-width;
    
    @include background(
      linear-gradient( top, $top-color, $bottom-color )
    );
  }

  &:before {
    width: $left-border-width;
    left: -$left-border-width;
  }
  
  &:after {
    width: $right-border-width;
    right: -$right-border-width;
  }
}
