@mixin button-background( $start-color, $end-color, $text-color: #fff, $text-shadow: 0 -1px 1px rgba( 19, 65, 88,.8 ) ) {
  border: 0;
  *border: 0;
  
  border-top: 1px solid;
  border-top-color: lighten( $start-color, 20% );
  border-bottom-color: darken( $end-color, 10% );
  @include border-radius( 1px 1px 1px 1px );
  
  // gradient-bar will set the background to a pleasing blend of these, to support IE<=9
  @include gradient-bar( $start-color, $end-color, $text-color, $text-shadow );
  *background-color: $end-color; /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient( enabled=false );

  &:hover {
    @include gradient-bar( darken( $start-color, 5% ), darken( $end-color, 5% ) );
  }
 
  &:active,
  &.active {
   @include gradient-bar( $end-color, $start-color );
  }
}
