@mixin scrollable-table($table-name, $table-width, $table-body-height) {
  .m-table_#{$table-name} {
    width: $table-width;
    
    .m-table--body {
      height: $table-body-height;   
    }
  }

  // the table wrapper is interpreted by IE9 as being outside of the table element, so we have to declare it separately for each table

  .old-ie-table-wrapper_#{$table-name} {
    width:  $table-width;
    height: $table-body-height;

    tbody {
      height: auto; 
    }

  }
}
