@mixin shine( $element-height ) {
  position:     relative;

  &:before {
    content:    '';
    position:   absolute;

    top:        0px;
    right:      0px;

    width:      100%;
    height:     $element-height;

    @include border-radius( 0 0 0 $element-height );

    background: linear-gradient( rgba($white, .05), rgba($white, .2) );
  }

  &:after {
    content:    '';
    position:   absolute;

    bottom:     0px;
    left:       0px;
    right:      0px;

    height:     $element-height;

    background: linear-gradient( rgba($black, 0), rgba($black, .5) );
  }
}
