// quick fixes for go live

// - entry slider

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: 1%; display: block; border: 0; }

.slider-container {
  float: left;
  clear: left;

  width: 242px;
  padding-left: 10px;
  
  background-repeat: no-repeat;
  background-image: image-url('/images/modules/tickets/slider-background.png');
  
  &.black {
    background-image: image-url('/images/modules/tickets/slider-background_black.png');
  }

  &.ambassador {
    background-image: image-url('/images/modules/tickets/slider-background_ambassador.png');
  }
}

.ui-slider-horizontal { 
  position: relative;
  width: 226px;
  height: 1.4em;
}

.ui-slider-horizontal .ui-slider-handle { 
  top: -.5em; 
  margin-left: -.6em;
  outline: none;
  background: image-url('/images/modules/tickets/slider-handle.png') no-repeat;
}
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.input_multiplayer-name {
  float: right;
  width: 220px;
}

#create_games {
  .m-form-search-and-filter {
    clear: left;
    margin-bottom: 5px;
  }
}


// live challenges box min-height

#my_live_challenges_box {
 .m-box--body {
   padding-top:   6px;
    min-height: 285px;
 } 
}

#awaiting_response_box {
  margin-bottom: 62px;
}

#recreate_games_box {
  margin-bottom: 25px;

  .m-box--body {
    padding-top:  5px;
  }

}

.games-container {
  position: relative;
  @extend %clearfix;
}
