.l-header,.slider-arrows,.m-value_ticket,.carousel .carousel-inner,#challenge_invites .containerInner,#league_invites .containerInner,.m-ticket,.m-ticket_one-on-one,.m-ticket_multiplayer,.m-ticket_ambassador,.m-ticket_empty,.m-tab-navigation,.m-tab-navigation_games,.m-tab-navigation_fixtures,.m-tab-navigation_player-info,.m-form-element,.m-form-element_inline,.m-form,.m-form_account,.m-form_contact,.m-form_modal,.m-tab-navigation_games .m-tab-navigation_games--tab,.open-challenge-create .open-challenge-actions,.open-challenge-create .entry-values .entry-values-inputs,.open-challenge-create .m-value {
    *zoom: 1
}

.l-header:before,.slider-arrows:before,.m-value_ticket:before,.carousel .carousel-inner:before,#challenge_invites .containerInner:before,#league_invites .containerInner:before,.m-ticket:before,.m-ticket_one-on-one:before,.m-ticket_multiplayer:before,.m-ticket_ambassador:before,.m-ticket_empty:before,.m-tab-navigation:before,.m-tab-navigation_games:before,.m-tab-navigation_fixtures:before,.m-tab-navigation_player-info:before,.m-form-element:before,.m-form-element_inline:before,.m-form:before,.m-form_account:before,.m-form_contact:before,.m-form_modal:before,.m-tab-navigation_games .m-tab-navigation_games--tab:before,.open-challenge-create .open-challenge-actions:before,.open-challenge-create .entry-values .entry-values-inputs:before,.open-challenge-create .m-value:before,.l-header:after,.slider-arrows:after,.m-value_ticket:after,.carousel .carousel-inner:after,#challenge_invites .containerInner:after,#league_invites .containerInner:after,.m-ticket:after,.m-ticket_one-on-one:after,.m-ticket_multiplayer:after,.m-ticket_ambassador:after,.m-ticket_empty:after,.m-tab-navigation:after,.m-tab-navigation_games:after,.m-tab-navigation_fixtures:after,.m-tab-navigation_player-info:after,.m-form-element:after,.m-form-element_inline:after,.m-form:after,.m-form_account:after,.m-form_contact:after,.m-form_modal:after,.m-tab-navigation_games .m-tab-navigation_games--tab:after,.open-challenge-create .open-challenge-actions:after,.open-challenge-create .entry-values .entry-values-inputs:after,.open-challenge-create .m-value:after {
    content: " ";
    display: table
}

.l-header:after,.slider-arrows:after,.m-value_ticket:after,.carousel .carousel-inner:after,#challenge_invites .containerInner:after,#league_invites .containerInner:after,.m-ticket:after,.m-ticket_one-on-one:after,.m-ticket_multiplayer:after,.m-ticket_ambassador:after,.m-ticket_empty:after,.m-tab-navigation:after,.m-tab-navigation_games:after,.m-tab-navigation_fixtures:after,.m-tab-navigation_player-info:after,.m-form-element:after,.m-form-element_inline:after,.m-form:after,.m-form_account:after,.m-form_contact:after,.m-form_modal:after,.m-tab-navigation_games .m-tab-navigation_games--tab:after,.open-challenge-create .open-challenge-actions:after,.open-challenge-create .entry-values .entry-values-inputs:after,.open-challenge-create .m-value:after {
    clear: both
}

.__clearfix,.grid-clearfix,.grid-pie-clearfix,.grid-container,.nested-grid-container,.grid-block,.grid-1,.grid-2,.grid-2-9,.grid-3,.grid-4,.m-profile,.grid-5,.m-form_account .m-form-element,.m-form_contact .m-form-element,.grid-6,.grid-7,.grid-7-and-half,.grid-half,.grid-3-and-half,.grid-8,.m-ticket,.m-ticket_one-on-one,.m-ticket_multiplayer,.m-ticket_ambassador,.m-ticket_empty,.grid-9,.grid-9-and-half,.grid-10,.grid-11,.grid-12,.grid-13,.grid-14,.grid-15,.grid-whole,.grid-16,.m-hero-unit,.grid-full {
    zoom: 1
}

.__clearfix:before,.grid-clearfix:before,.grid-pie-clearfix:before,.grid-container:before,.nested-grid-container:before,.grid-block:before,.grid-1:before,.grid-2:before,.grid-2-9:before,.grid-3:before,.grid-4:before,.m-profile:before,.grid-5:before,.m-form_account .m-form-element:before,.m-form_contact .m-form-element:before,.grid-6:before,.grid-7:before,.grid-7-and-half:before,.grid-half:before,.grid-3-and-half:before,.grid-8:before,.m-ticket:before,.m-ticket_one-on-one:before,.m-ticket_multiplayer:before,.m-ticket_ambassador:before,.m-ticket_empty:before,.grid-9:before,.grid-9-and-half:before,.grid-10:before,.grid-11:before,.grid-12:before,.grid-13:before,.grid-14:before,.grid-15:before,.grid-whole:before,.grid-16:before,.m-hero-unit:before,.grid-full:before,.__clearfix:after,.grid-clearfix:after,.grid-pie-clearfix:after,.grid-container:after,.nested-grid-container:after,.grid-block:after,.grid-1:after,.grid-2:after,.grid-2-9:after,.grid-3:after,.grid-4:after,.m-profile:after,.grid-5:after,.m-form_account .m-form-element:after,.m-form_contact .m-form-element:after,.grid-6:after,.grid-7:after,.grid-7-and-half:after,.grid-half:after,.grid-3-and-half:after,.grid-8:after,.m-ticket:after,.m-ticket_one-on-one:after,.m-ticket_multiplayer:after,.m-ticket_ambassador:after,.m-ticket_empty:after,.grid-9:after,.grid-9-and-half:after,.grid-10:after,.grid-11:after,.grid-12:after,.grid-13:after,.grid-14:after,.grid-15:after,.grid-whole:after,.grid-16:after,.m-hero-unit:after,.grid-full:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0
}

.__clearfix:after,.grid-clearfix:after,.grid-pie-clearfix:after,.grid-container:after,.nested-grid-container:after,.grid-block:after,.grid-1:after,.grid-2:after,.grid-2-9:after,.grid-3:after,.grid-4:after,.m-profile:after,.grid-5:after,.m-form_account .m-form-element:after,.m-form_contact .m-form-element:after,.grid-6:after,.grid-7:after,.grid-7-and-half:after,.grid-half:after,.grid-3-and-half:after,.grid-8:after,.m-ticket:after,.m-ticket_one-on-one:after,.m-ticket_multiplayer:after,.m-ticket_ambassador:after,.m-ticket_empty:after,.grid-9:after,.grid-9-and-half:after,.grid-10:after,.grid-11:after,.grid-12:after,.grid-13:after,.grid-14:after,.grid-15:after,.grid-whole:after,.grid-16:after,.m-hero-unit:after,.grid-full:after {
    clear: both
}

.grid-container {
    margin-right: auto;
    margin-left: auto;
    width: 960px
}

.nested-grid-container {
    display: inline-block;
    margin-left: -10px;
    margin-right: -10px;
    width: auto
}

.grid-block,.grid-1,.grid-2,.grid-2-9,.grid-3,.grid-4,.m-profile,.grid-5,.m-form_account .m-form-element,.m-form_contact .m-form-element,.grid-6,.grid-7,.grid-7-and-half,.grid-half,.grid-3-and-half,.grid-8,.m-ticket,.m-ticket_one-on-one,.m-ticket_multiplayer,.m-ticket_ambassador,.m-ticket_empty,.grid-9,.grid-9-and-half,.grid-10,.grid-11,.grid-12,.grid-13,.grid-14,.grid-15,.grid-whole,.grid-16,.m-hero-unit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-left: 10px
}

.grid-full {
    width: 940px
}

.grid-1 {
    width: 40px
}

.grid-2,.grid-2-9 {
    width: 100px
}

.grid-3 {
    width: 160px
}

.grid-4,.m-profile {
    width: 220px
}

.grid-5,.m-form_account .m-form-element,.m-form_contact .m-form-element {
    width: 280px
}

.grid-6 {
    width: 340px
}

.grid-7,.grid-7-and-half,.grid-half,.grid-3-and-half {
    width: 400px
}

.grid-8,.m-ticket,.m-ticket_one-on-one,.m-ticket_multiplayer,.m-ticket_ambassador,.m-ticket_empty {
    width: 460px
}

.grid-9,.grid-9-and-half {
    width: 520px
}

.grid-10 {
    width: 580px
}

.grid-11 {
    width: 640px
}

.grid-12 {
    width: 700px
}

.grid-13 {
    width: 760px
}

.grid-14 {
    width: 820px
}

.grid-15,.grid-whole {
    width: 880px
}

.grid-16,.m-hero-unit {
    width: 940px
}

.grid-prefix-1 {
    margin-left: 70px
}

.grid-prefix-2 {
    margin-left: 130px
}

.grid-prefix-3 {
    margin-left: 190px
}

.grid-prefix-4 {
    margin-left: 250px
}

.grid-prefix-5 {
    margin-left: 310px
}

.grid-prefix-6 {
    margin-left: 370px
}

.grid-prefix-7 {
    margin-left: 430px
}

.grid-prefix-8 {
    margin-left: 490px
}

.grid-prefix-9 {
    margin-left: 550px
}

.grid-prefix-10 {
    margin-left: 610px
}

.grid-prefix-11 {
    margin-left: 670px
}

.grid-prefix-12 {
    margin-left: 730px
}

.grid-prefix-13 {
    margin-left: 790px
}

.grid-prefix-14 {
    margin-left: 850px
}

.grid-prefix-15 {
    margin-left: 910px
}

.grid-suffix-1 {
    margin-right: 70px
}

.grid-suffix-2 {
    margin-right: 130px
}

.grid-suffix-3 {
    margin-right: 190px
}

.grid-suffix-4 {
    margin-right: 250px
}

.grid-suffix-5 {
    margin-right: 310px
}

.grid-suffix-6 {
    margin-right: 370px
}

.grid-suffix-7 {
    margin-right: 430px
}

.grid-suffix-8 {
    margin-right: 490px
}

.grid-suffix-9 {
    margin-right: 550px
}

.grid-suffix-10 {
    margin-right: 610px
}

.grid-suffix-11 {
    margin-right: 670px
}

.grid-suffix-12 {
    margin-right: 730px
}

.grid-suffix-13 {
    margin-right: 790px
}

.grid-suffix-14 {
    margin-right: 850px
}

.grid-suffix-15 {
    margin-right: 910px
}

.grid-push-1 {
    left: 60px
}

.grid-push-2 {
    left: 120px
}

.grid-push-3 {
    left: 180px
}

.grid-push-4 {
    left: 240px
}

.grid-push-5 {
    left: 300px
}

.grid-push-6 {
    left: 360px
}

.grid-push-7 {
    left: 420px
}

.grid-push-8 {
    left: 480px
}

.grid-push-9 {
    left: 540px
}

.grid-push-10 {
    left: 600px
}

.grid-push-11 {
    left: 660px
}

.grid-push-12 {
    left: 720px
}

.grid-push-13 {
    left: 780px
}

.grid-push-14 {
    left: 840px
}

.grid-push-15 {
    left: 900px
}

.grid-pull-1 {
    left: -20px
}

.grid-pull-2 {
    left: -40px
}

.grid-pull-3 {
    left: -60px
}

.grid-pull-4 {
    left: -80px
}

.grid-pull-5 {
    left: -100px
}

.grid-pull-6 {
    left: -120px
}

.grid-pull-7 {
    left: -140px
}

.grid-pull-8 {
    left: -160px
}

.grid-pull-9 {
    left: -180px
}

.grid-pull-10 {
    left: -200px
}

.grid-pull-11 {
    left: -220px
}

.grid-pull-12 {
    left: -240px
}

.grid-pull-13 {
    left: -260px
}

.grid-pull-14 {
    left: -280px
}

.grid-pull-15 {
    left: -300px
}

.grid-7-and-half {
    width: 430px
}

.grid-half {
    width: 435px
}

.grid-whole {
    width: 890px
}

.grid-9-and-half {
    width: 530px
}

.grid-3-and-half {
    width: 180px
}

.grid-2-9 {
    width: 150px
}

.pull-right {
    float: right
}

.align-right {
    text-align: right
}

.anchor-right {
    float: right;
    text-align: right
}

.grid-pull-left-half {
    margin-left: -10px
}

.grid-push-left-to-fill {
    margin-left: 25px !important
}

.grid-pull-right-half {
    margin-right: -10px
}

.l-header {
    position: relative;
    height: 75px
}

.m-censor {
    width: 100%;
    height: 100%;
    padding: 30px
}

.m-censor .m-censor--message {
    font-family: "TradeGothicLTPro-BdCn20",Helvetica,Arial,sans-serif;
    font-size: 28px;
    text-transform: uppercase
}

.m-table,.m-table_inline,.m-table_users,.m-table_fixtures {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px
}

.m-table tr,.m-table_inline tr,.m-table_users tr,.m-table_fixtures tr {
    vertical-align: middle
}

.m-table td,.m-table_inline td,.m-table_users td,.m-table_fixtures td {
    padding-right: 5px;
    vertical-align: middle
}

.m-table td:last-child,.m-table_inline td:last-child,.m-table_users td:last-child,.m-table_fixtures td:last-child {
    border-right: none
}

.m-table .m-table--header>tr,.m-table_inline .m-table--header>tr,.m-table_users .m-table--header>tr,.m-table_fixtures .m-table--header>tr,.m-table thead>tr,.m-table_inline thead>tr,.m-table_users thead>tr,.m-table_fixtures thead>tr {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI5JSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIvPjxzdG9wIG9mZnNldD0iOTMlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjIyMjIyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(9%, #555555), color-stop(93%, #000000), color-stop(100%, #222222));
    background: -webkit-linear-gradient(#555555 9%,#000000 93%,#222222);
    background: -moz-linear-gradient(#555555 9%,#000000 93%,#222222);
    background: -o-linear-gradient(#555555 9%,#000000 93%,#222222);
    background: linear-gradient(#555555 9%,#000000 93%,#222222);
    color: #fff;
    font-family: "TradeGothicLTPro-BdCn20",Helvetica,Arial,sans-serif;
    font-size: 13px;
    text-transform: uppercase
}

.m-table .m-table--header>tr.highlight,.m-table_inline .m-table--header>tr.highlight,.m-table_users .m-table--header>tr.highlight,.m-table_fixtures .m-table--header>tr.highlight,.m-table thead>tr.highlight,.m-table_inline thead>tr.highlight,.m-table_users thead>tr.highlight,.m-table_fixtures thead>tr.highlight {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI5JSIgc3RvcC1jb2xvcj0iIzViZmYwMiIvPjxzdG9wIG9mZnNldD0iOTMlIiBzdG9wLWNvbG9yPSIjMzM5MTAxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(9%, #5bff02), color-stop(93%, #339101));
    background: -webkit-linear-gradient(#5bff02 9%,#339101 93%);
    background: -moz-linear-gradient(#5bff02 9%,#339101 93%);
    background: -o-linear-gradient(#5bff02 9%,#339101 93%);
    background: linear-gradient(#5bff02 9%,#339101 93%)
}

.m-table .m-table--header>th,.m-table_inline .m-table--header>th,.m-table_users .m-table--header>th,.m-table_fixtures .m-table--header>th,.m-table thead>th,.m-table_inline thead>th,.m-table_users thead>th,.m-table_fixtures thead>th {
    padding: 6px 5px;
    border-right: 1px solid #535152
}

.m-table .m-table--body,.m-table_inline .m-table--body,.m-table_users .m-table--body,.m-table_fixtures .m-table--body,.m-table tbody,.m-table_inline tbody,.m-table_users tbody,.m-table_fixtures tbody {
    font-size: 11px;
    font-family: "HelveticaNeueLT-Medium",Helvetica,Arial,sans-serif
}

.m-table .m-table--body tr.success td,.m-table_inline .m-table--body tr.success td,.m-table_users .m-table--body tr.success td,.m-table_fixtures .m-table--body tr.success td,.m-table tbody tr.success td,.m-table_inline tbody tr.success td,.m-table_users tbody tr.success td,.m-table_fixtures tbody tr.success td {
    background: #c7f6a6
}

.m-table .m-table--body tr.waiting td,.m-table_inline .m-table--body tr.waiting td,.m-table_users .m-table--body tr.waiting td,.m-table_fixtures .m-table--body tr.waiting td,.m-table tbody tr.waiting td,.m-table_inline tbody tr.waiting td,.m-table_users tbody tr.waiting td,.m-table_fixtures tbody tr.waiting td {
    background: #f19871
}

.m-table_inline tr,.m-table_users tr,.m-table_fixtures tr {
    height: 30px
}

.m-table_inline td,.m-table_users td,.m-table_fixtures td {
    height: 30px;
    padding-left: 5px;
    padding-right: 5px
}

.m-table_inline td.figure,.m-table_users td.figure,.m-table_fixtures td.figure {
    text-align: right
}

.m-table_inline a,.m-table_users a,.m-table_fixtures a {
    color: #000;
    text-decoration: underline
}

.m-table_inline a:hover,.m-table_users a:hover,.m-table_fixtures a:hover {
    text-decoration: none
}

.m-table_users {
    width: 465px;
    margin: 0 auto
}

.m-table_users td.namename a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-top: 4px
}

.m-table_users td.namename .ambassador {
    float: right
}

.m-table_users td.contact {
    text-align: center
}

.m-table_users td.challenge {
    width: 130px;
    text-align: center
}

.m-table_users td.contact-added {
    color: #666
}

.m-table_fixtures .m-table_fixtures--date-column {
    padding-left: 10px;
    text-align: left
}

.m-table_fixtures .m-table_fixtures--home-jersey-column {
    padding-left: 10px;
    border-right: none;
    text-align: center
}

.m-table_fixtures .m-table_fixtures--away-jersey-column {
    padding-right: 10px;
    border-right: none;
    text-align: center
}

.m-table_fixtures .m-table_fixtures--vs-column {
    padding-right: 0;
    border-right: none;
    text-align: center
}

.m-table_fixtures .m-table_fixtures--home-team-column {
    padding-right: 10px;
    border-right: none;
    text-align: right
}

.m-table_fixtures .m-table_fixtures--away-team-column {
    padding-left: 10px;
    border-right: none;
    text-align: left
}

th.name,th.position,th.team-name {
    padding-left: 5px;
    text-align: left
}

th.sorting_asc,th.sorting_desc {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iOTMlIiBzdG9wLWNvbG9yPSIjNTU1NTU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjIyMjIyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(9%, #000000), color-stop(93%, #555555), color-stop(100%, #222222));
    background: -webkit-linear-gradient(#000000 9%,#555555 93%,#222222);
    background: -moz-linear-gradient(#000000 9%,#555555 93%,#222222);
    background: -o-linear-gradient(#000000 9%,#555555 93%,#222222);
    background: linear-gradient(#000000 9%,#555555 93%,#222222);
    color: #5bff02
}

td.team,th.team {
    width: 65px
}

.invite-cell {
    text-align: center
}

.invite-column {
    width: 133px;
    text-align: center
}

.slider-arrows {
    overflow: hidden;
    margin-top: 10px
}

.slider-arrows a,.slider-arrows p {
    float: right
}

.slider-arrows p {
    margin-top: 0px;
    padding: 0px 10px
}

.m-table-pagination {
    float: right;
    margin-top: 5px
}

.m-table-pagination .m-table-pagination--info {
    float: left;
    margin-left: 10px;
    margin-right: 10px
}

.m-table-pagination .m-table-pagination--arrow {
    float: left;
    margin-top: 3px
}

.m-amount,.m-amount_ticket {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    min-width: 60px;
    padding: 9px 5px 5px;
    margin-top: -7px;
    background: #d6d6d6;
    color: #000;
    font-size: 14px;
    line-height: 1em;
    -webkit-box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.2)
}

.total.m-amount,.total.m-amount_ticket {
    background: #000;
    color: #5bff02
}

.m-value_ticket {
    display: inline-block;
    float: left;
    margin-right: 10px
}

.m-value_ticket .m-value--label {
    float: left;
    clear: left;
    padding-bottom: 10px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase
}

.m-value_ticket.pot {
    float: right
}

.m-amount_ticket {
    float: left;
    clear: left;
    width: 60px;
    height: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    font-family: "TradeGothicLTPro-BdCn20",Helvetica,Arial,sans-serif;
    font-size: 18px
}

.m-amount_ticket.total {
    background: none;
    color: #5bff02
}

.m-amount_ticket.small {
    height: 15px;
    width: 45px;
    font-size: 14px
}

.carousel {
    position: relative;
    margin-bottom: 20px;
    line-height: 1
}

.carousel .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel .carousel-inner .carousel-item {
    display: none;
    position: relative;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}

.carousel .carousel-inner>.active,.carousel .carousel-inner>.next,.carousel .carousel-inner>.prev {
    display: block
}

.carousel .carousel-inner>.active {
    left: 0
}

.carousel .carousel-inner>.next,.carousel .carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel .carousel-inner>.next {
    left: 100%
}

.carousel .carousel-inner>.prev {
    left: -100%
}

.carousel .carousel-inner>.next.left,.carousel .carousel-inner>.prev.right {
    left: 0
}

.carousel .carousel-inner>.active.left {
    left: -100%
}

.carousel .carousel-inner>.active.right {
    left: 100%
}

.carousel .carousel-control {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px
}

.carousel .carousel-control.right {
    left: auto;
    right: 15px
}

.carousel .carousel-control:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=9000);
    opacity: 90
}

.carousel-indicators {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 10px
}

.carousel-indicators .carousel-indicator {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    float: left;
    height: 10px;
    width: 10px;
    margin-left: 10px;
    background: #666
}

.carousel-indicators .carousel-indicator.active {
    background: #5bff02
}

#banner-carousel {
    margin-bottom: 0px
}

.m-carousel--control {
    position: absolute;
    top: 60%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px
}

.m-carousel--control.right {
    left: auto;
    right: 15px;
    background-image: no-repeat url("../images/modules/carousels/arrow-right.png")
}

.m-carousel--control:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=9000);
    opacity: 90
}

#challenge_invites .containerInner,#league_invites .containerInner {
    width: 465px;
    margin: 0 auto
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTllOWU5Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e9e9e9), color-stop(50%, #ffffff), color-stop(100%, #e9e9e9));
    background-image: -webkit-linear-gradient(left, #e9e9e9 0%,#ffffff 50%,#e9e9e9 100%);
    background-image: -moz-linear-gradient(left, #e9e9e9 0%,#ffffff 50%,#e9e9e9 100%);
    background-image: -o-linear-gradient(left, #e9e9e9 0%,#ffffff 50%,#e9e9e9 100%);
    background-image: linear-gradient(left, #e9e9e9 0%,#ffffff 50%,#e9e9e9 100%);
    outline: none
}

.fade.modal {
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear
}

.modal p a {
    color: #000;
    text-decoration: underline
}

.modal .m-modal-actions .m-button,.modal .m-modal-actions .m-link_muted {
    margin-bottom: 10px
}

.modal .m-modal-actions .m-button.right,.modal .m-modal-actions .m-link_muted.right {
    clear: right
}

.modal .m-modal-close {
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer
}

.m-modal-body,.m-modal_sign-up .modal-body,.m-modal_show-league .modal-body,.m-modal_show-challenge .modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 800px
}

.modal-backdrop,#cboxOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade.in,#cboxOverlay.fade.in {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8
}

#modal.new #sign_in_form {
    display: none
}

#modal.create #sign_up_form {
    display: none
}

#cboxWrapper {
    z-index: 1050;
    position: relative
}

.m-modal_sign-up,.m-modal_show-league,.m-modal_show-challenge {
    width: 450px;
    min-height: 380px;
    padding: 40px 80px;
    margin: -350px 0 0 -280px
}

.m-modal_sign-up .modal-body,.m-modal_show-league .modal-body,.m-modal_show-challenge .modal-body {
    padding: 15px 40px
}

.m-modal_show-league {
    width: 600px;
    padding: 20px
}

.m-modal_show-challenge {
    width: 540px;
    min-height: 260px;
    padding: 20px
}

.m-modal_show-challenge .modal-body {
    padding: 15px 20px
}

.m-modal--encouragement {
    font-family: "TradeGothicLTPro-BdCn20",Helvetica,Arial,sans-serif;
    color: #339101
}

#cboxTopRight {
    position: absolute;
    right: 20px
}

.m-profile {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    float: left;
    height: 75px;
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 10px;
    background: #000
}

.m-profile .supports {
    float: left;
    clear: left;
    width: 100%;
    margin-top: 5px
}

.m-profile--details {
    float: left;
    width: 125px
}

.m-profile--name {
    padding: 0;
    margin: 0 0 3px 0;
    color: #5bff02;
    text-transform: uppercase;
    font-size: 12px
}

.m-profile-record {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: "TradeGothicLTPro-BdCn20",Helvetica,Arial,sans-serif
}

.m-profile-record .m-profile-record--label {
    color: #5bff02
}

.m-profile--image {
    float: left;
    width: 55px;
    padding-bottom: 5px;
    margin-right: 10px
}

.small-gradients-sprite,.m-ticket_one-on-one .m-ticket-supports--team-bar {
    background: url('../images/gradients/small-gradients-sd6fdecd68d.png') no-repeat
}

.m-ticket .m-ticket--details,.m-ticket_one-on-one .m-ticket--details,.m-ticket_multiplayer .m-ticket--details,.m-ticket_ambassador .m-ticket--details,.m-ticket_empty .m-ticket--details,.m-ticket-sidebar {
    position: relative;
    float: left;
    height: 178px;
    padding: 10px
}

.m-ticket,.m-ticket_one-on-one,.m-ticket_multiplayer,.m-ticket_ambassador,.m-ticket_empty {
    width: 465px;
    height: 223px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    color: #fff;
    font-family: "TradeGothicLTPro-BdCn20",Helvetica,Arial,sans-serif;
    text-transform: uppercase
}

.m-ticket .m-ticket--heading,.m-ticket_one-on-one .m-ticket--heading,.m-ticket_multiplayer .m-ticket--heading,.m-ticket_ambassador .m-ticket--heading,.m-ticket_empty .m-ticket--heading {
    margin-top: 8px;
    margin-bottom: 40px
}

.m-ticket .m-ticket--details,.m-ticket_one-on-one .m-ticket--details,.m-ticket_multiplayer .m-ticket--details,.m-ticket_ambassador .m-ticket--details,.m-ticket_empty .m-ticket--details {
    width: 100%;
    text-align: center
}

.m-ticket--actions {
    position: absolute;
    top: 125px;
    right: 10px
}

.m-ticket--actions .m-button,.m-ticket--actions .m-link_muted {
    float: right;
    clear: right;
    margin-bottom: 7px
}

.m-ticket--summary {
    position: absolute;
    bottom: 0px
}

.m-ticket--summary .m-link_muted {
    float: left;
    clear: left
}

.m-ticket--summary .amount {
    width: 80px
}

.m-ticket-payout {
    position: absolute;
    bottom: 8px;
    left: 9px
}

.m-ticket-payout-list {
    list-style: none
}

.m-ticket-payout-list li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0
}

.m-ticket-payout-list .m-ticket-payout-list--item {
    padding: 2px 0px
}

.m-ticket_one-on-one,.m-ticket_multiplayer {
    background-image: url("../images/modules/tickets/background-with-sidebar.png");
    background-repeat: no-repeat
}

.m-ticket_one-on-one .m-ticket--details,.m-ticket_multiplayer .m-ticket--details {
    float: right;
    width: 360px;
    margin-left: 0px;
    margin-right: 0px
}

.m-ticket_one-on-one {
    background-image: url("../images/modules/tickets/one-on-one.png")
}

.m-ticket_one-on-one .slider {
    float: left;
    clear: left
}

.m-ticket_one-on-one .m-ticket-supports {
    position: absolute;
    bottom: 24px;
    left: 8px
}

.m-ticket_one-on-one .m-ticket-supports--team-bar {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 100%;
    background-position: 0 -32px;
    background-repeat: repeat-x;
    color: #000
}

.m-ticket_one-on-one .m-jersey_thumb {
    bottom: 0px
}

.m-ticket_multiplayer {
    background-image: url("../images/modules/tickets/multiplayer.png")
}

.m-ticket_multiplayer .m-ticket--heading {
    margin-top: 3px
}

.m-ticket-sidebar {
    width: 98px;
    font-size: 11px
}

.m-ticket-sidebar .m-ticket-sidebar--heading {
    padding-bottom: 5px;
    margin: 0px;
    color: #5bff02;
    font-size: 1em
}

.m-ticket_ambassador.fowler_create {
    background: no-repeat url("../images/modules/tickets/ambassadors/challenge-fowler.png")
}

.m-ticket_ambassador.fowler_accept {
    background: no-repeat url("../images/modules/tickets/ambassadors/fowler-challenged-you.png")
}

.m-ticket_ambassador.southgate_create {
    background: no-repeat url("../images/modules/tickets/ambassadors/challenge-southgate.png")
}

.m-ticket_ambassador.southgate_accept {
    background: no-repeat url("../images/modules/tickets/ambassadors/southgate-challenged-you.png")
}

.m-ticket_ambassador.collymore_create {
    background: no-repeat url("../images/modules/tickets/ambassadors/challenge-collymore.png")
}

.m-ticket_ambassador.collymore_accept {
    background: no-repeat url("../images/modules/tickets/ambassadors/collymore-challenged-you.png")
}

.m-ticket_ambassador.joe_create {
    background: no-repeat url("../images/modules/tickets/ambassadors/challenge-joe.png")
}

.m-ticket_ambassador.joe_accept {
    background: no-repeat url("../images/modules/tickets/ambassadors/joe-challenged-you.png")
}

.m-ticket_ambassador.ferdinand_create {
    background: no-repeat url("../images/modules/tickets/ambassadors/challenge-ferdinand.png")
}

.m-ticket_ambassador.ferdinand_accept {
    background: no-repeat url("../images/modules/tickets/ambassadors/ferdinand-challenged-you.png")
}

.m-ticket_ambassador .m-ticket--summary {
    bottom: 40px;
    left: 20px
}

.m-ticket_ambassador .slider {
    float: left;
    clear: left
}

.m-ticket_ambassador .slider .numbers {
    margin-top: -2px
}

.m-ticket_empty {
    bottom: -6px;
    background: no-repeat url("../images/modules/tickets/empty.png")
}

.m-ticket_empty.league {
    background-image: url("../images/modules/tickets/empty_league.png");
    bottom: inherit
}

.m-ticket_empty .m-ticket_empty-content {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-left: 10px
}

.m-ticket_empty .m-ticket_empty-section {
    float: left;
    width: 150px;
    padding: 10px;
    text-align: center
}

.m-ticket_empty .m-ticket_empty--heading {
    font-size: 12px
}

.ribbon-sprite,.ribbon-large-success,.m-ribbon_large.success,.ribbon-large-waiting,.m-ribbon_large.waiting,.ribbon-small-success,.m-ribbon_small.success,.ribbon-small-waiting,.m-ribbon_small.waiting {
    background: url('../images/ribbon-s297da3838c.png') no-repeat
}

.ribbon-large-success,.m-ribbon_large.success {
    background-position: 0 0
}

.ribbon-large-waiting,.m-ribbon_large.waiting {
    background-position: 0 -53px
}

.ribbon-small-success,.m-ribbon_small.success {
    background-position: 0 -106px
}

.ribbon-small-waiting,.m-ribbon_small.waiting {
    background-position: 0 -131px
}

.m-ribbon,.m-ribbon_small,.m-ribbon_large {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    float: right;
    color: #fff;
    font-family: "TradeGothicLTPro-BdCn20",Helvetica,Arial,sans-serif;
    text-transform: uppercase
}

.m-ribbon_small {
    height: 25px;
    width: 131px;
    padding-top: 3px;
    margin-top: 4px;
    margin-right: -9px;
    text-indent: 14px;
    font-size: 14px
}

.m-ribbon_large {
    height: 53px;
    width: 203px;
    padding: 3px;
    margin-right: -16px;
    text-align: center
}

.m-ribbon_large .m-ribbon_large--title {
    display: block;
    font-size: 25px
}

.m-ribbon_large .m-ribbon_large--strapline {
    display: block;
    margin-top: -3px;
    font-size: 13px
}

.m-hero-unit {
    position: relative;
    display: block;
    padding-top: -30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-top: -30px;
    margin-bottom: 30px;
    margin-left: -15px;
    border-bottom: 3px solid #5bff02;
    background-image: url('../images/../images/hero-unit.png?1366213369'),url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMGEwYTBhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: url('../images/../images/hero-unit.png?1366213369'),-webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(50%, #0a0a0a));
    background-image: url('../images/../images/hero-unit.png?1366213369'),-webkit-linear-gradient(left, #000000 0%,#0a0a0a 50%);
    background-image: url('../images/../images/hero-unit.png?1366213369'),-moz-linear-gradient(left, #000000 0%,#0a0a0a 50%);
    background-image: url('../images/../images/hero-unit.png?1366213369'),-o-linear-gradient(left, #000000 0%,#0a0a0a 50%);
    background-image: url('../images/../images/hero-unit.png?1366213369'),linear-gradient(left, #000000 0%,#0a0a0a 50%);
    background-size: auto;
    background-position: bottom right;
    background-repeat: no-repeat
}

.m-hero-unit .m-hero-unit--strapline {
    float: left;
    clear: left;
    color: #aaa;
    font-size: 20px;
    font-family: "TradeGothicLTPro-BdCn20",Helvetica,Arial,sans-serif;
    text-transform: uppercase
}

.m-hero-unit .m-hero-unit-heading {
    font-size: 50px;
    font-weight: normal;
    color: #fff
}

.m-hero-unit .m-hero-unit-heading .m-hero-unit-heading--line {
    float: left;
    clear: left
}

.m-tab-navigation,.m-tab-navigation_games,.m-tab-navigation_fixtures,.m-tab-navigation_player-info {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    width: 100%;
    margin: 0 0;
    color: #000;
    font-family: "TradeGothicLTPro-BdCn20",Helvetica,Arial,sans-serif;
    text-transform: uppercase
}

.m-tab-navigation li,.m-tab-navigation_games li,.m-tab-navigation_fixtures li,.m-tab-navigation_player-info li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap
}

.tabs-1.m-tab-navigation>li,.tabs-1.m-tab-navigation_games>li,.tabs-1.m-tab-navigation_fixtures>li,.tabs-1.m-tab-navigation_player-info>li {
    width: 99%
}

.tabs-2.m-tab-navigation>li,.tabs-2.m-tab-navigation_games>li,.tabs-2.m-tab-navigation_fixtures>li,.tabs-2.m-tab-navigation_player-info>li {
    width: 49%
}

.tabs-3.m-tab-navigation>li,.tabs-3.m-tab-navigation_games>li,.tabs-3.m-tab-navigation_fixtures>li,.tabs-3.m-tab-navigation_player-info>li {
    width: 33%
}

.tabs-4.m-tab-navigation>li,.tabs-4.m-tab-navigation_games>li,.tabs-4.m-tab-navigation_fixtures>li,.tabs-4.m-tab-navigation_player-info>li {
    width: 24%
}

.tabs-5.m-tab-navigation>li,.tabs-5.m-tab-navigation_games>li,.tabs-5.m-tab-navigation_fixtures>li,.tabs-5.m-tab-navigation_player-info>li {
    width: 19%
}

.m-tab-navigation--tab,.m-tab-navigation_games--tab,.m-tab-navigation_fixtures--tab,.m-tab-navigation_player-info--tab {
    background: #c7c5c6
}

.m-tab-navigation--tab:last-child,.m-tab-navigation_games--tab:last-child,.m-tab-navigation_fixtures--tab:last-child,.m-tab-navigation_player-info--tab:last-child {
    border: none
}

.active.m-tab-navigation--tab,.active.m-tab-navigation_games--tab,.active.m-tab-navigation_fixtures--tab,.active.m-tab-navigation_player-info--tab {
    background: none
}

.active.m-tab-navigation--tab a,.active.m-tab-navigation_games--tab a,.active.m-tab-navigation_fixtures--tab a,.active.m-tab-navigation_player-info--tab a {
    color: #000
}

.m-tab-navigation--link,.m-tab-navigation_games--tab .m-tab-navigation_games--link,.m-tab-navigation_fixtures--tab .m-tab-navigation_fixtures--link,.m-tab-navigation_player-info--tab .m-tab-navigation_player-info--link {
    display: block;
    text-align: center;
    color: #555
}

.m-tab-pane {
    display: none
}

.m-tab-pane.active {
    display: block
}

.m-tab-navigation_games {
    margin-bottom: 60px
}

.m-tab-navigation_games--tab {
    height: 50px;
    padding-top: 12px
}

.m-tab-navigation_games--tab .m-tab-navigation_games--link {
    font-size: 25px
}

.m-tab-navigation_games--tab.active {
    background: none
}

.m-tab-navigation_games--tab.active .m-tab-navigation_games--link {
    font-size: 32px
}

.m-tab-navigation_fixtures--tab {
    width: auto !important;
    padding: 10px;
    border-right: 1px solid #d6d6d6;
    background: none;
    font-size: 28px
}

.m-tab-navigation_fixtures--tab .m-tab-navigation_fixtures--link {
    color: #999
}

.m-tab-navigation_fixtures--tab .m-tab-navigation_fixtures--link:hover {
    color: #000
}

.m-tab-navigation_player-info {
    margin-bottom: 20px
}

.m-tab-navigation_player-info--tab {
    height: 40px;
    padding: 15px
}

.m-tab-navigation_player-info--tab .m-tab-navigation_player-info--link {
    color: #000
}

.m-tab-navigation_player-info--tab .m-tab-navigation_player-info--link:hover {
    color: #000
}

.m-input,.m-input_text,.m-input_select,.m-input_textarea {
    border: 1px solid #c7c5c6;
    padding: 7px 1%
}

.m-input:focus,.m-input_text:focus,.m-input_select:focus,.m-input_textarea:focus {
    outline: none;
    border-color: #5bff02
}

.error.m-input,.error.m-input_text,.error.m-input_select,.error.m-input_textarea {
    border-color: #f52346
}

.m-input_text {
    width: 96%;
    padding: 2%
}

.m-input_text.short {
    width: 50px
}

.m-checkbox {
    margin-right: 5px
}

.m-form-element,.m-form-element_inline {
    display: block
}

.m-form-element_inline {
    vertical-align: middle
}

.m-form-element_inline .m-label {
    display: inline;
    margin-right: 10px
}

.m-form-element_inline .m-input_text {
    display: inline
}

.m-form .m-form--info,.m-form_account .m-form--info,.m-form_contact .m-form--info,.m-form_modal .m-form--info {
    margin-top: 0;
    font-family: "HelveticaNeueLT-Medium",Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-style: italic;
    line-height: 1.5;
    text-transform: none;
    color: #999
}

.m-form .m-form-actions,.m-form_account .m-form-actions,.m-form_contact .m-form-actions,.m-form_modal .m-form-actions {
    display: table;
    width: 100%;
    margin-bottom: 22px
}

.m-form .m-form-actions .m-button,.m-form_account .m-form-actions .m-button,.m-form_contact .m-form-actions .m-button,.m-form_modal .m-form-actions .m-button {
    width: 150px
}

.m-form .m-form-actions--previous,.m-form_account .m-form-actions--previous,.m-form_contact .m-form-actions--previous,.m-form_modal .m-form-actions--previous {
    float: left;
    text-align: left
}

.m-form .m-form-actions--next,.m-form_account .m-form-actions--next,.m-form_contact .m-form-actions--next,.m-form_modal .m-form-actions--next {
    float: right;
    text-align: right
}

.m-form .m-form-actions--info,.m-form_account .m-form-actions--info,.m-form_contact .m-form-actions--info,.m-form_modal .m-form-actions--info {
    text-transform: none;
    font-family: "HelveticaNeueLT-Medium",Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-style: italic;
    color: #999
}

.m-form_contact {
    border-right: 1px solid #d6d6d6
}

.m-form_contact .m-input_text,.m-form_contact .m-input_textarea {
    background-color: #e9e9e9
}

.m-form_modal .m-input_text {
    color: #999;
    background-color: #e9e9e9
}

.new-session-form {
    display: none
}

.titans-leader-sprite,.titans-leader-one,.m-lot-leader--position.one,.titans-leader-three,.m-lot-leader--position.three,.titans-leader-two,.m-lot-leader--position.two {
    background: url('../images/titans-leader-sedd8ed17e7.png') no-repeat
}

.titans-leader-one,.m-lot-leader--position.one {
    background-position: 0 -229px
}

.titans-leader-three,.m-lot-leader--position.three {
    background-position: 0 -120px
}

.titans-leader-two,.m-lot-leader--position.two {
    background-position: 0 0
}

.m-lot-leaders {
    background: linear-gradient(#000000,#ffffff);
    overflow: hidden
}

.m-lot-leader {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    color: #e9e9e9;
    text-transform: uppercase;
    background: #000;
    margin: 30px 20px 60px 20px
}

.m-lot-leader.two {
    width: 270px;
    margin: 30px 0 30px 0
}

.m-lot-leader.three {
    width: 240px
}

.m-lot-leader--header {
    position: relative;
    height: 26px
}

.m-lot-leader--header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 98%;
    height: 9px;
    border-radius: 0 0 0 9px;
    background: linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0.2))
}

.m-lot-leader--header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 9px;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5))
}

.m-lot-leader--body {
    height: 123px;
    border-top: solid 1px #d6d6d6;
    background-color: #000;
    background-image: -moz-radial-gradient(50% -24%, circle closest-corner, #555, #000 100%);
    background-image: -webkit-radial-gradient(50% -24%, circle closest-corner, #555, #000 100%);
    background-image: -o-radial-gradient(50% -24%, circle closest-corner, #555, #000 100%);
    background-image: -ms-radial-gradient(50% -24%, circle closest-corner, #555, #000 100%);
    background-image: radial-gradient(50% -24%, circle closest-corner, #555555,#000000 100%)
}

.m-lot-leader--body .m-jersey {
    bottom: 40px;
    right: -10px
}

.m-lot-leader--body-text {
    width: 70%;
    margin-top: 10px;
    text-align: center
}

.m-lot-leader--footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 45px;
    line-height: 45px;
    background: asset-url("gradients/lot.png", image) repeat-x;
    font-size: 18px;
    text-indent: 13px
}

.m-lot-leader--footer:before {
    content: 'Current league of titans position';
    position: absolute;
    bottom: -45px;
    left: 0;
    right: 0;
    height: 45px;
    background: linear-gradient(rgba(0,0,0,0),#000000);
    opacity: 0.3;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV"
}

.m-lot-leader--large {
    font-size: 28px;
    margin-bottom: 0.20em
}

.m-lot-leader--position {
    position: absolute;
    bottom: -50px;
    overflow: hidden;
    text-indent: -999em
}

.m-lot-leader--position.one {
    right: -23px;
    width: 65px;
    height: 150px
}

.m-lot-leader--position.two {
    right: -18px;
    width: 63px;
    height: 120px
}

.m-lot-leader--position.three {
    right: -18px;
    width: 59px;
    height: 109px
}

.m-lot-leader.two {
    width: 270px;
    height: 180px;
    margin: 40px 0 30px 0
}

.m-lot-leader.two .m-lot-leader--header {
    height: 17px
}

.m-lot-leader.two .m-lot-leader--header:before {
    height: 7px;
    border-radius: 0 0 0 7px
}

.m-lot-leader.two .m-lot-leader--header:after {
    height: 7px
}

.m-lot-leader.two .m-lot-leader--body {
    height: 114px
}

.m-lot-leader.two .m-lot-leader--body .m-jersey {
    bottom: 25px;
    right: -10px
}

.m-lot-leader.two .m-lot-leader--body-text {
    margin-top: 13px;
    font-size: 13px
}

.m-lot-leader.two .m-lot-leader--large {
    font-size: 24px
}

.m-lot-leader.two .m-lot-leader--footer {
    height: 40px;
    line-height: 40px;
    font-size: 15px
}

.m-lot-leader.two .m-lot-leader--footer:before {
    bottom: -40px;
    height: 40px;
    line-height: 40px
}

.m-lot-leader.three {
    width: 240px;
    height: 160px;
    margin-top: 50px
}

.m-lot-leader.three .m-lot-leader--header {
    height: 14px
}

.m-lot-leader.three .m-lot-leader--header:before {
    height: 5px;
    border-radius: 0 0 0 5px
}

.m-lot-leader.three .m-lot-leader--header:after {
    height: 5px
}

.m-lot-leader.three .m-lot-leader--body {
    height: 98px
}

.m-lot-leader.three .m-lot-leader--body .m-jersey {
    bottom: 10px;
    right: -10px
}

.m-lot-leader.three .m-lot-leader--body-text {
    margin-top: 16px;
    font-size: 12px
}

.m-lot-leader.three .m-lot-leader--large {
    font-size: 20px
}

.m-lot-leader.three .m-lot-leader--footer {
    height: 34px;
    line-height: 34px;
    font-size: 13px
}

.m-lot-leader.three .m-lot-leader--footer:before {
    bottom: -34px;
    height: 34px;
    line-height: 34px
}

.m-clubs--table,.m-lot--table {
    width: 100%
}

.m-clubs--table th,.m-lot--table th {
    padding: 3px;
    color: #fff;
    background: linear-gradient(#555555,#000000)
}

.m-clubs--table th:nth-child(1),.m-lot--table th:nth-child(1) {
    text-align: left;
    text-indent: 10px
}

.m-clubs--table td,.m-lot--table td {
    padding: 10px;
    font-family: "HelveticaNeueLT-Medium",Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-align: center
}

.m-clubs--table td .m-jersey,.m-lot--table td .m-jersey {
    position: relative;
    float: left;
    margin: -8px 5px 0 0
}

.m-clubs--table td a,.m-lot--table td a {
    color: #000;
    text-decoration: underline
}

.m-lot--table th {
    background: url("/images/gradients/lot.png") repeat-x
}

.m-lot--table td .m-jersey {
    float: right;
    margin: -3px0 0 0 5px
}

.ui-slider {
    position: relative;
    text-align: left
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 1%;
    display: block;
    border: 0
}

.slider-container {
    float: left;
    clear: left;
    width: 242px;
    padding-left: 10px;
    background-repeat: no-repeat;
    background-image: url('../images/modules/tickets/slider-background.png?1370094874')
}

.slider-container.black {
    background-image: url('../images/modules/tickets/slider-background_black.png?1370094874')
}

.slider-container.ambassador {
    background-image: url('../images/modules/tickets/slider-background_ambassador.png?1370094874')
}

.ui-slider-horizontal {
    position: relative;
    width: 226px;
    height: 1.2em
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
    outline: none;
    background: url('../images/modules/tickets/slider-handle.png?1370094874') no-repeat
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0
}

.m-hero-unit {
    margin-bottom: 0px
}

.m-tab-navigation_games {
    width: 940px;
    margin-left: -15px
}

.m-tab-navigation_games .m-tab-navigation_games--tab {
    width: 311px !important
}

.open-challenge-create {
    width: 460px
}

.open-challenge-create .open-challenge--body {
    width: 385px;
    margin: 0 auto
}

.open-challenge-create .open-challenge--body p,.open-challenge-create .open-challenge--body label {
    font-size: 14px
}

.open-challenge-create .m-header-bar {
    padding: 0px 20px
}

.open-challenge-create .open-challenge-actions .m-button,.open-challenge-create .open-challenge-actions .m-link_muted {
    float: right;
    clear: right;
    margin-bottom: 10px
}

.open-challenge-create .game-entry-label {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    float: left;
    height: 100%
}

.open-challenge-create .entry-values {
    float: right
}

.open-challenge-create .entry-values .entry-values-inputs {
    display: block;
    padding-bottom: 15px
}

.open-challenge-create .m-value {
    width: 80px
}

.open-challenge-create .m-value label,.open-challenge-create .m-value input {
    float: left;
    clear: left
}

.open-challenge-create .m-value.open-challenge-stake {
    float: left
}

.open-challenge-create .m-value.open-challenge-fee {
    float: right
}

.modal p {
    font-size: 14px
}

.input_multiplayer-name {
    float: right;
    width: 220px
}


