.m-modal_compare-list {
  @extend .m-modal_multiplayer;
  @include modal-position( 450px );

  .m-leaderboard-summary {
    width: 450px;
  }
  
  .m-modal_multiplayer--body { 
    overflow-y: scroll;
    max-height: 640px;
  }

  .m-modal_compare-list--buttons {
    @extend %clearfix;
    display:       block;
    margin-bottom: 30px;

    .m-button {
      float:        left;
      margin-right: 5px;
    }
  }
}
