.m-modal_create-games {
  @extend %modal; 

  @include modal-position( 460px );
  padding:  10px;


  .m-modal--body {
    width: 380px;
    @include no-ms-filter;
    margin: 0 auto;

    p, label {
      font-size: $medium-text-font-size; 
    }
  }

  .m-modal_create-games--intro {
    font-size: 13px;
    text-transform: uppercase;
    font-family: $trade-gothic;
  }

  .m-modal_create-games-actions {
    @extend %clearfix;
    padding-top: 20px;

    .m-button, .m-link_muted {
      float: right;
      clear: right;
      margin-bottom: 10px;
    }

    .m-link_muted:hover {
      color: $empress-grey !important;
      text-decoration: none !important;
    }   
  }

  .entry-values {
    float: right;

    
    .entry-values-inputs {
      @extend %clearfix;
      display: block;
      padding-bottom: 15px;
    }

  }

  .m-value {
    @extend %clearfix;
    width: 80px; 

    label, input {
      float: left;
      clear: left;
    }

    .m-input_text {
      padding: 8px;
    }
    
    &.m-modal_create-games-stake {
      float: left;
    }

    &.m-modal_create-games-fee {
      float: right;
    }
  }

  .m-form-section {

    &.game-type {
      height: 36px;

      .m-label {
        padding-top: 0px;
    }
  }

    &.game-name {
      padding-bottom: 5px !important;
      border-top: none;
      
      .m-input_text {
        width: 235px;
        font-family: $helvetica;
        font-size:   12px;

      }
    }

    &.invites {
     .m-label {
       padding-top:     5px;
     }

     .m-checkbox {
      float: left;
      clear: left;
      margin-right: 5px;
     }

     .m-label_checkbox {
        float: left;
     }
    }

    &.prize-breakdown {
      position: relative;

      .m-label {
        display: block;
        width: 100%;
        padding-top: 0px !important;
      } 
      
      .m-form--help {
        position: absolute;

        top: 5px;
        right: 5px;
      }

    }
  }

.radios-inline {
  @include inline-block;
  float: right;
  padding-left: 40px;
  
  .m-form-element {
    @include inline-block;
    float: left;
  }

  .m-radio {
    float: left;
  }

  .m-label_radio {
    display: inline;
    float: left;

    padding-top: 0px;
    width: 100px;
  }
}

.m-label_radio {
  text-transform: uppercase;
}

}
