.m-modal_invite {
  @extend %modal; 

  @include modal-position( 460px );
  padding: 10px 10px 40px;

  font-size:   13px;
  font-family: $trade-gothic;

  .m-modal--header-bar {
    background: $black;

    .m-header-bar--heading {
      padding-left: 10px;
      font-size:    30px;
      color:        $green;

      .logo {
        float: right;
      }

      &.club {
        color: $white;
      }
    }
  }

  .m-modal_invite--heading {
    font-size:     30px;
    margin-bottom: 10px;
  }
 
  img {
    float:  left;
    margin: 1px 0px 10px;
  }

  p {
    text-transform: uppercase;
  }

  .m-reward--status {
    @extend %clearfix;
    float: left;

    .m-reward-level {
      color:        $green;
      margin-right: 0px !important;
    }
  }

  .m-10-free-progress-well {
    float:  right;

    width:  317px;
    height: 102px;
    padding: 20px;
  }

  .m-modal_invite--section {
    @extend %clearfix;
    display: block;
    padding: 0px 10px;
  }

  .m-button_invite {
    width:        135px;
    height:        30px;
    padding:        6px 5px;
    margin-right:   5px;

    font-size:     12px;

    &:last-child {
      margin-right: 0px;
    }

    i {
      margin-right: 0px;
    }

    .icon-email-invite-button {
      margin-right: 5px;
    }
  }
}
