.m-modal_league-of-titans {
  @extend %modal;

  @include modal-position( 460px );
  
  .m-modal--body {
    min-height: 300px;
    padding:     40px 20px;

    p {
      font-size: 12px;
    }
  }
     
}
