.m-modal_multiplayer-game {
  @extend %modal;
  top: 5%;

  @include modal-position( 600px );  
  height:  720px;
  padding:  10px;

  .m-modal--body {
    @extend %clearfix;

    overflow-x: hidden;
    overflow-y: scroll;

    height:     630px;
    padding:      0px 40px;
    margin-top:  20px;

   .m-ticket_multiplayer, .m-ticket_ambassador {
    margin: 0 auto;
   }

    .m-tab-navigation_multiplayer-details {
      width: 482px;
    }
  } 

  .m-modal_multiplayer-details {
    @extend %clearfix;
    width: 480px;
    @include background( $light-section-body-background-gradient );
    @include box-shadow( 0px 3px 3px 3px rgba($mortar-grey, .2) );
  }

  .m-tab-pane {
    @extend %clearfix;
    width:   480px;
    padding:  30px 10px 20px;
    margin:    0 auto;
  }

}
