.m-modal_one-on-one_invite {
  @extend %modal;
  top: 5%;

  @include modal-position( 600px );  
  height:  670px;
  padding:  10px;

  .m-modal--body {
    @extend %clearfix;

    overflow-y: scroll;
    overflow-x: hidden;

    height:     580px;
    padding:      0px 50px;
    margin-top:  20px;

   .m-ticket_one-on-one, .m-ticket_ambassador {
    margin: 0 auto;
   }

  } 

  .m-modal_details {
    @extend %clearfix;
    width:   480px;
    padding: 10px;

    @include background( linear-gradient(left, $light-grey, $white-smoke, $light-grey) ); 
    @include box-shadow( inset 0px 0px 3px 3px rgba($mortar-grey, .2) );
    @include box-shadow( 0px 0px 3px 3px rgba($mortar-grey, .2) );
  }
}
