.m-modal_payout-structure {

  @extend %modal;
  top: 5%;

  @include modal-position( 800px );  
  height:  720px;
  padding:  10px;

  .m-modal--body {
    @extend %clearfix;

    overflow-x: hidden;

    height:     630px;
    padding:      0px 40px;
    margin-top:  20px;
  }
}
