.m-modal_pick-team {
  @extend %m-modal_sign-up;

  @include modal-position( 460px );
  min-height: 340px;
  .m-modal--header-bar {
    display: block;

    width:         440px;
    height:         70px;
    padding:         0px;
    margin-bottom:  30px;
  }
  p {
    text-transform: none;
  }

  .m-modal-body {
    padding-left:  30px;
    padding-right: 30px;
  }

  .m-form-actions {
    margin-top: 50px;
  }
}
