.m-modal_pitch-compare {
  @extend %modal;
  top: 2%;

  @include modal-position(1000px);  
  height:  760px;
  padding:  10px;

  .m-modal--body {
    @extend %clearfix;
    position: relative;
    overflow: hidden;

    height:     740px;
    padding:      0px 17px;
    margin-top:  15px;

    .m-ticket {
      margin: 0px auto;
    }

    .m-vs-heading {
      position: absolute;
      top:  233px;
      left: 456px;

      width:   68px;
      height:  51px;
      padding: 10px;
      margin:   0px;

      color: $white;
      background-image: linear-gradient(#555555 9%,#000000,#222222 93%);

      font-size:  26px;
      text-align: center;
    }

    .m-compare--home {

      .m-box--header-bar {

        .m-box--heading {
          float: right;
          text-align: right;
        }

        .m-amount {
          float: left;
        }
      }
    }
  } 
  .m-modal_pitch-compare-buttons {
      position: absolute;
      top:   0px;
      left: 10px;

      .m-button {
        display:       block;
        margin-bottom: 10px;
      }
  }

  &#team_challenge_modal {
    .m-compare_home, .m-compare_away {
      padding-top: 0px;
      margin-top:  0px;
      background:  none;
    }

    .m-vs-heading {
      top: 0px;
    }

    .m-pitch_compare {
      margin-top: 25px;
    }
  }
}
