.m-modal_ticket {
  @extend %modal;
  top: 10%;
  @include modal-position(580px);  
  padding: 10px;

  .m-modal--body {
    @extend %clearfix;
    margin-top: 20px;

    .m-ticket_one-on-one {
      margin: 0 auto;
    }
  }

}


