.m-tab-navigation_fixtures {
  @extend %m-tab-navigation;
}

.m-tab-navigation_fixtures--tab {
  @extend %m-tab-navigation--tab;

  width: auto !important;
  padding-left:  10px;
  padding-right: 10px;

  background: none;
  font-size: $heading-font-size;

  .m-tab-navigation_fixtures--link {
    @extend %m-tab-navigation--link;
  }
}
