$multiplayer-details-tab-width: 240px;

.m-tab-navigation_multiplayer-details {
  @extend %m-tab-navigation;
  overflow: visible;
}

.m-tab-navigation_multiplayer-details--tab {
  @extend %m-tab-navigation--tab;

  float: left;

  width:   $multiplayer-details-tab-width;
  height:  60px;
  padding: 10px;

  margin-right: 1px;
  margin-left:  1px;

  @include border-gradient( rgba($white, 0), $silver, 0px, 1px, 0px, 0px );
  @include box-shadow( inset 0px -10px 5px -5px rgba($mortar-grey, .2) );

  font-size: $heading-font-size;

  &.active {
    z-index: $modal-tab-navigation-active-tab-z-index;
    @include box-shadow( 0px -7px 5px -5px rgba( $mortar-grey, .2 ) );
  }

  // remove border-gradient from last item and set width to take up remaining pixel
  &:last-child {
    width:        $multiplayer-details-tab-width + 1;
    margin-right: 0px;

    &:after {
      width: 0px;
      background: none;
    }
  }

  .m-tab-navigation_multiplayer-details--link {
    @extend %m-tab-navigation--link;
    color: $black;

    &:hover {
      color: $black;
    }
  }
}
