$player-info-tab-width: 145px;

.m-tab-navigation_player-info {
  @extend %m-tab-navigation;
  overflow: visible;
  margin-bottom: 20px;
}

.m-tab-navigation_player-info--tab {
  @extend %m-tab-navigation--tab;

  float: left;

  width:   $player-info-tab-width;
  height:  40px;
  padding: 15px;

  margin-right: 1px;
  margin-left:  1px;

  @include border-gradient( rgba($white, 0), $silver, 0px, 1px, 0px, 0px );
  @include box-shadow( inset 0px -10px 5px -5px rgba( $mortar-grey, .2 ) );


  &.active {
    z-index: $modal-tab-navigation-active-tab-z-index;
    @include box-shadow( 0px -8px 5px 5px rgba( $mortar-grey, .2 ) );
  }

  // remove border-gradient from last item and set width to take up remaining pixel
  &:last-child {
    width:        $player-info-tab-width + 1;
    margin-right: 0px;

    &:after {
      width: 0px;
      background: none;
    }
  }

  .m-tab-navigation_player-info--link {
    @extend %m-tab-navigation--link;
    color: $black;

    &:hover {
      color: $black;
    }
  }
}
