.m-tab-navigation_rewards {
  @extend %m-tab-navigation;
  padding:          5px 0px 10px 0px;
}

.m-tab-navigation_rewards--tab {
  @extend %m-tab-navigation--tab;

  width:           auto !important;
  background:      none;
  font-size:       24px;

  &:first-child {
    padding-right: 20px;
    padding-left:   0px;
    border-right:   1px solid $empress-grey;
  }

  &:last-child {
    padding-right:  0px;
    padding-left:  20px;
  }

  .m-tab-navigation_rewards--link {
    @extend %m-tab-navigation--link;
  }
}
