.m-tab-navigation_titans-standings {
  @extend %m-tab-navigation;

  padding-top:   10px;
  border-top:     2px solid $silver;
  margin-bottom: 10px;

  .m-tab-navigation_titans-standings--tab {
    @extend %m-tab-navigation--tab;

    border-right: 1px solid $silver;

    background: none;

    font-size: 19px;
  }

  .m-tab-navigation_titans-standings--link {
    @extend %m-tab-navigation--link;
    padding: 5px;
    color: $dark-grey;
  }
}
