

  .m-confirm-box
    %p You are about to enter a one-on-one game:
    .m-confirm-box-game
      %span.m-confirm-box--label Game Name: 
      %span.m-confirm-box--game-name.who
      .m-confirm-box--values  
        .m-value.entry
          %span.m-value--label Entry:
          %span.m-amount.entry_amount 
        .m-value.pot
          %span.m-value--label Pot:
          %span.m-amount.pot_amount.total 
    .btn-box
      %a.m-button.confirm.btn{:href => "#"} Confirm
      %a.m-link_muted.m-confirm-box--cancel{href: "#", "data-dismiss" => "modal"} or cancel
%div{style: "display: none;"}
  #pick-team-to-play
    %h1 Pick a team to play
    %p To enter this game, you will need to pick a team. You can change it as many times as you like before Live Matchday.

    .m-modal-actions.right
      = link_to "Pick Team Now", new_user_team_path, class: "m-button right"
      %a.m-link_muted.right{ href: "#", "data-dismiss" => "modal"} or cancel

%div{style: "display: none;"}
  #check-email
    %h1 Please Check your email to continue
    %p 
      We've sent a confirmation email to
      %em= active_user.email
      \.
      Please click on the link in the email to confirm your account.

    %p 
      to resend the email
      %a{href: "#"} click here
      \.
    .right
      %a.m-link_muted.right{ href: "#", "data-dismiss" => "modal"} or cancel

