#colorbox{:style => "padding-bottom: 20px; padding-right: 20px; display: block; top: 758px; left: 470px; position: absolute; overflow: hidden; width: 480px; height: 560px;"}
  #cboxWrapper{:style => "height: 580px; width: 500px;"}
    %div
      #cboxTopLeft{:style => "float: left;"}
      #cboxTopCenter{:style => "float: left; width: 480px;"}
      #cboxTopRight{:style => "float: left;"}
        %a.m-modal-close.icon-close{:href => "javascript:$.colorbox.close();"}
    %div{:style => "clear: left;"}
      #cboxMiddleLeft{:style => "float: left; height: 560px;"}
      #cboxContent{:style => "float: left; width: 480px; height: 560px;"}
        #cboxLoadedContent{:style => "width: 480px; overflow: auto; height: 560px;"}
          #open-challenge-create.open-challenge-create
            .main
              .create-form-wrapper
                .m-header-bar
                  %h1.m-header-bar--heading Create Open Challenge
                .open-challenge--body
                  %p.open-challenge--intro Feeling confident? You can create an open challenge that anyone on playon can accept. You just need to set your stake below, and any user can accept the challenge.
                  %form#new_challenge.new_challenge{"accept-charset" => "UTF-8", :action => "/challenges", :method => "post"}
                    %div{:style => "margin:0;padding:0;display:inline"}
                      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                      %input{:name => "authenticity_token", :type => "hidden", :value => "HJwUwI6hdfoPSS2NFMbe5MNupvS3X7QbIdh2Y8CSrEk="}/
                    %fieldset
                      .m-form-section
                        %label.m-form-element--label.game-entry-label Game Entry:
                        .entry-values
                          .entry-values-inputs
                            .m-value.open-challenge-stake
                              %label.m-value--label{:for => "stake"} Stake:
                              %input#stake.input{:name => "challenge[entry_fee]", :readonly => "readonly", :size => "30", :type => "text", :value => "£2.00"}/
                            .m-value.open-challenge-fee
                              %label.m-value--label.fee{:for => "fee"} Fee:
                              %input#fee.input{:name => "challenge[fee]", :readonly => "readonly", :size => "30", :type => "text", :value => "£0.20"}/
                          .slider-container.black
                            .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
                              %a.ui-slider-handle.ui-state-default.ui-corner-all{:href => "#", :style => "left: 22.22222222222222%;"}
                      .m-form-section.last
                        .m-form-element
                          %label.m-form-element--label{:for => "slots"} Number of open challenges you want to create:
                          %input#challenge_slots.input.m-form-element--input{:name => "challenge[slots]", :size => "30", :type => "number", :value => "1"}/
                        .m-form-element
                          %label.m-form-element--label.total{:for => "total"} Total cost:
                          %input#total.input.m-form-element--input{:name => "challenge[total]", :readonly => "readonly", :size => "30", :type => "text", :value => "£2.20"}/
                      .field-sub-wrapper.create.open-challenge-actions
                        %input.m-button{:type => "submit", :value => "Create open challenge"}/
                        %span.cancel
                          %a.m-link_muted
                            or Cancel
                      .field-sub-wrapper.funds{:style => "display: none;"}
                        %p#submit.m-form-error
                          You do not have sufficient funds in your account to create this challenge. Please make a deposit.
                        .open-challenge-actions
                          %a.deposit-btn.m-button{:href => "/deposits/new"}
                            Deposit
                          %span.cancel
                            %a.m-link_muted
                              or Cancel
        #cboxLoadingOverlay{:style => "float: left; height: 560px; display: none;"}
        #cboxLoadingGraphic{:style => "float: left; height: 560px; display: none;"}
        #cboxTitle{:style => "float: left; display: block;"}
        #cboxCurrent{:style => "float: left; display: none;"}
        #cboxNext{:style => "float: left; display: none;"}
        #cboxPrevious{:style => "float: left; display: none;"}
        #cboxSlideshow{:style => "float: left; display: none;"}
        #cboxClose{:style => "float: left;"} close
      #cboxMiddleRight{:style => "float: left; height: 560px;"}
    %div{:style => "clear: left;"}
      #cboxBottomLeft{:style => "float: left;"}
      #cboxBottomCenter{:style => "float: left; width: 480px;"}
      #cboxBottomRight{:style => "float: left;"}
  %div{:style => "position: absolute; width: 9999px; visibility: hidden; display: none;"}
