#colorbox{:style => "padding-bottom: 20px; padding-right: 20px; display: block; top: 768px; left: 470px; position: absolute; overflow: hidden; width: 480px; height: 560px;"}
  #cboxWrapper{:style => "height: 580px; width: 500px;"}
    %div
      #cboxTopLeft{:style => "float: left;"}
      #cboxTopCenter{:style => "float: left; width: 480px;"}
      #cboxTopRight{:style => "float: left;"}
        %a.m-modal-close.icon-close{:href => "javascript:$.colorbox.close();"}
    %div{:style => "clear: left;"}
      #cboxMiddleLeft{:style => "float: left; height: 560px;"}
      #cboxContent{:style => "float: left; width: 480px; height: 560px;"}
        #cboxLoadedContent{:style => "width: 480px; overflow: auto; height: 560px;"}
          #league-create.league-create.open-challenge-create
            .main
              .create-form-wrapper
                .m-header-bar
                  %h1.m-heading_small Create Multiplayer
                .open-challenge--body
                  %form#new_league.new_league{"accept-charset" => "UTF-8", :action => "/leagues", :method => "post"}
                    %div{:style => "margin:0;padding:0;display:inline"}
                      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                      %input{:name => "authenticity_token", :type => "hidden", :value => "HJwUwI6hdfoPSS2NFMbe5MNupvS3X7QbIdh2Y8CSrEk="}/
                    %input#league_is_public{:name => "league[is_public]", :type => "hidden", :value => "false"}/
                    %input#league_gameweek_id{:name => "league[gameweek_id]", :type => "hidden", :value => "152"}/
                    %input#league_creator_id{:name => "league[creator_id]", :type => "hidden", :value => "224"}/
                    %fieldset
                      .m-form-section.game-name
                        .m-form-element
                          %label.m-form-element--label{:for => "name"} Name:
                          %input#name.input.input_multiplayer-name{:name => "league[name]", :placeholder => "Type multiplayer name...", :size => "30", :type => "text"}/
                      .m-form-section
                        %label.m-form-element--label.game-entry-label Game Entry:
                        .entry-values
                          .entry-values-inputs
                            .m-value.open-challenge-stake
                              %label.m-value--label{:for => "stake"} Stake:
                              %input#stake.input{:name => "league[entry_fee]", :readonly => "readonly", :size => "30", :type => "text", :value => "£2.00"}/
                            .m-value.open-challenge-fee
                              %label.m-value--label.fee{:for => "fee"} Fee:
                              %input#fee.input{:name => "league[fee]", :readonly => "readonly", :size => "30", :type => "text", :value => "£0.20"}/
                          .slider-container.black
                            .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
                              %a.ui-slider-handle.ui-state-default.ui-corner-all{:href => "#", :style => "left: 22.22222222222222%;"}
                      .m-form-section.game-type
                        %label.m-form-element--label.game-type-label Game Type:
                        .radios-inline
                          .m-form-element
                            %input#switch-privacy_false.private{:checked => "checked", :name => "switch-privacy", :type => "radio", :value => "false"}/
                            %label.m-form-element--label{:for => "switch-privacy_false"} Private
                          .m-form-element
                            %input#switch-privacy_true.public{:name => "switch-privacy", :type => "radio", :value => "true"}/
                            %label.m-form-element--label{:for => "switch-privacy_true"} Public
                      .m-form-section.invite-all
                        %label.m-form-element--label Invites
                        %input#invite-all.m-form-element--input.invite-all{:name => "invite-all", :style => "float: left; clear: left;", :type => "checkbox"}/
                        %label.m-form-element--label{:for => "invite-all"}
                          Anyone can invite players to this multiplayer
                      .field-sub-wrapper
                        .m-form-section.prize-field.no-left-margin.no-lower-margin
                          .label-long Prize breakdown:
                          %a#breakdown.lightbox.info-create.cboxElement{:href => "images/prize-breakdown.png"} i
                        .sub-menu.sub-menu-b
                          %label.m-form-element--label{:for => "takes-all"}
                            %input#takes-all.takes-all{:name => "league[winner_takes_all]", :type => "radio", :value => "true"}/
                            Winner takes all
                          %label.m-form-element--label{:for => "split-pot"}
                            %input#split-pot.split-pot{:checked => "checked", :name => "league[winner_takes_all]", :type => "radio", :value => "false"}/
                            1st 50%, 2nd 30%, 3rd 20%
                      .field-sub-wrapper
                        %input.m-form-element--input.m-form-element--input.multiplayer-btn.m-button{:disabled => "disabled", :type => "submit", :value => "Create Multiplayer"}/
                        %span.cancel
                          or
                          %a
                            Cancel
        #cboxLoadingOverlay{:style => "float: left; height: 560px; display: none;"}
        #cboxLoadingGraphic{:style => "float: left; height: 560px; display: none;"}
        #cboxTitle{:style => "float: left; display: block;"}
        #cboxCurrent{:style => "float: left; display: none;"}
        #cboxNext{:style => "float: left; display: none;"}
        #cboxPrevious{:style => "float: left; display: none;"}
        #cboxSlideshow{:style => "float: left; display: none;"}
        #cboxClose{:style => "float: left;"} close
      #cboxMiddleRight{:style => "float: left; height: 560px;"}
    %div{:style => "clear: left;"}
      #cboxBottomLeft{:style => "float: left;"}
      #cboxBottomCenter{:style => "float: left; width: 480px;"}
      #cboxBottomRight{:style => "float: left;"}
  %div{:style => "position: absolute; width: 9999px; visibility: hidden; display: none;"}
