.grid-10.m-box
  .m-box--header-bar
    %h2.m-box--heading Create a challenge
  .m-box--body
    #create_games
      .m-suggestion.open-challenge
        %p.m-suggestion--instructions Create an open challenge so that anyone on the site can play you one-on-one:
        %a.js-open-challenge-button.m-button.cboxElement{:href => ".open-challenge-create"} Create Open Challenge
      .m-suggestion
        %p.m-suggestion--instructions
          You can enter any of the challenges below, or search to find challenges from your contacts or ex-players.
        .js-table-wrapper
          .controls-wrapper
            %input#search-users.search-field{:placeholder => "Search by name...", :type => "search"}/
            %label{:for => "filter"}
              Filter by:
              %select#filter{:name => "categories"}
                %option{:selected => "selected", :value => ""} All Players
                %option{:value => "contacts"} My Contacts
                %option{:value => "ambassador"} Ambassadors
              %a#clear-users-filter{:href => "#"} Clear filters
          #all-users_wrapper.dataTables_wrapper{:role => "grid"}
            #all-users_processing.dataTables_processing{:style => "visibility: hidden;"} Processing...
            %table#all-users.users-table.m-table_users.dataTable{"aria-describedby" => "all-users_info", "data-source" => "/users/data_table"}
              %thead.m-table--header
                %tr{:role => "row"}
                  %th.sorting_disabled.namename{"aria-label" => "Name", :colspan => "1", :role => "columnheader", :rowspan => "1"} Name
                  %th.sorting_disabled.group{"aria-label" => "Club", :colspan => "1", :role => "columnheader", :rowspan => "1"} Club
                  %th.sorting_disabled.contact{"aria-label" => "Contact", :colspan => "1", :role => "columnheader", :rowspan => "1"} Contact
                  %th.sorting_disabled.challenge{"aria-label" => "One-On-One", :colspan => "1", :role => "columnheader", :rowspan => "1"} One-On-One
              %tbody.m-table--body{"aria-live" => "polite", "aria-relevant" => "all", :role => "alert"}
                %tr.odd.user_row
                  %td.namename.profile_373
                    %a{:href => "/users/373/profile"} Ad Mouse
                  %td.group
                  %td.contact
                    %a.contact.add-contact{:href => "#"} Add contact
                  %td.challenge
                    %a.m-button.js-show-challenge.table{"data-target" => "#modal_show_challenge", "data-toggle" => "modal", :href => "/challenges/render_event_response?source=challenges&type=show_challenge&user_id=373&ticket_layout=create"} View
                %tr.even.user_row
                  %td.namename.profile_369
                    %a{:href => "/users/369/profile"} Adam Dawkins
                  %td.group
                  %td.contact
                    %a.contact.add-contact{:href => "#"} Add contact
                  %td.challenge
                    %a.m-button.js-show-challenge.table{"data-target" => "#modal_show_challenge", "data-toggle" => "modal", :href => "/challenges/render_event_response?source=challenges&type=show_challenge&user_id=369&ticket_layout=create"} View
                %tr.odd.user_row
                  %td.namename.profile_213
                    %a{:href => "/users/213/profile"} Chipper Jones
                  %td.group
                  %td.contact.contact-added
                    Added
                    %i.icon-contact
                  %td.challenge
                    %a.m-button.js-show-challenge.table{"data-target" => "#modal_show_challenge", "data-toggle" => "modal", :href => "/challenges/render_event_response?source=challenges&type=show_challenge&user_id=213&ticket_layout=create"} View
                %tr.even.user_row
                  %td.namename.profile_34
                    %a{:href => "/users/34/profile"} Daniel PlayON Team
                  %td.group
                  %td.contact.contact-added
                    Added
                    %i.icon-contact
                  %td.challenge
                    %a.m-button.js-show-challenge.table{"data-target" => "#modal_show_challenge", "data-toggle" => "modal", :href => "/challenges/render_event_response?source=challenges&type=show_challenge&user_id=34&ticket_layout=create"} View
                %tr.odd.user_row
                  %td.namename.profile_314
                    %a{:href => "/users/314/profile"} David Carroll
                  %td.group
                  %td.contact
                    %a.contact.add-contact{:href => "#"} Add contact
                  %td.challenge
                    %a.m-button.js-show-challenge.table{"data-target" => "#modal_show_challenge", "data-toggle" => "modal", :href => "/challenges/render_event_response?source=challenges&type=show_challenge&user_id=314&ticket_layout=create"} View
                %tr.even.user_row
                  %td.namename.profile_202
                    %a{:href => "/users/202/profile"} Dider Drogba
                  %td.group
                  %td.contact.contact-added
                    Added
                    %i.icon-contact
                  %td.challenge
                    %a.m-button.js-show-challenge.table{"data-target" => "#modal_show_challenge", "data-toggle" => "modal", :href => "/challenges/render_event_response?source=challenges&type=show_challenge&user_id=202&ticket_layout=create"} View
                %tr.odd.user_row
                  %td.namename.profile_75
                    %a{:href => "/users/75/profile"} Donald Duck
                  %td.group
                  %td.contact.contact-added
                    Added
                    %i.icon-contact
                  %td.challenge
                    %a.m-button.js-show-challenge.table{"data-target" => "#modal_show_challenge", "data-toggle" => "modal", :href => "/challenges/render_event_response?source=challenges&type=show_challenge&user_id=75&ticket_layout=create"} View
                %tr.even.user_row
                  %td.namename.profile_200
                    %a{:href => "/users/200/profile"} Gianfranco Zola
                  %td.group
                  %td.contact.contact-added
                    Added
                    %i.icon-contact
                  %td.challenge
                    %a.m-button.js-show-challenge.table{"data-target" => "#modal_show_challenge", "data-toggle" => "modal", :href => "/challenges/render_event_response?source=challenges&type=show_challenge&user_id=200&ticket_layout=create"} View
                %tr.odd.user_row
                  %td.namename.profile_125
                    %a{:href => "/users/125/profile"} Glaceau Water
                  %td.group
                  %td.contact.contact-added
                    Added
                    %i.icon-contact
                  %td.challenge
                    %a.m-button.js-show-challenge.table{"data-target" => "#modal_show_challenge", "data-toggle" => "modal", :href => "/challenges/render_event_response?source=challenges&type=show_challenge&user_id=125&ticket_layout=create"} View
                %tr.even.user_row
                  %td.namename.profile_274
                    %a{:href => "/users/274/profile"} Glaceau Water
                  %td.group
                  %td.contact.contact-added
                    Added
                    %i.icon-contact
                  %td.challenge
                    %a.m-button.js-show-challenge.table{"data-target" => "#modal_show_challenge", "data-toggle" => "modal", :href => "/challenges/render_event_response?source=challenges&type=show_challenge&user_id=274&ticket_layout=create"} View
            #all-users_info.dataTables_info{:style => "display: none;"} Showing 1-10
          .pagination-buttons-wrapper
            %span#info Showing 1-10
            .pagination-buttons
              %button#prevPage.icon-pagination.icon-pagination-left{:href => "#"}
              %button#nextPage.icon-pagination.icon-pagination-right.right{:href => "#"}
