.slider-container {
  float: left;
  clear: left;
  width: 242px;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-image: url('../images/modules/tickets/slider-background.png?1370094874');
}

.slider-container.black {
  background-image: url('../images/modules/tickets/slider-background_black.png?1370094874');
}

.slider-container.ambassador {
  background-image: url('../images/modules/tickets/slider-background_ambassador.png?1370094874');
}

.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}

.carousel .carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel .carousel-inner .carousel-item {
  display: none;
  position: relative;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
