.grid-10.m-box
  .m-box--header-bar
    %h1.m-box--heading.challenges_received
      1  challenge received:
  .m-box--body
    #challenge_invites.slider.invites.small-tickets
      .containerInner{"data-slider" => "challenge_invites"}
        .bx-wrapper{:style => "width:465px; position:relative;"}
          .bx-window{:style => "position:relative; overflow:hidden; width:465px;"}
            .js-wrapper{:style => "width: 999999px; position: relative; left: -930px;"}
              .m-ticket_empty{:style => "width: 465px; float: left; list-style: none; padding-top: 6px;"}
                .m-ticket_empty-content
                  .m-ticket_empty-section
                    %h3.m-ticket-empty--heading Create a challenge
                    %a.js-open-challenge-button.m-button.cboxElement{:href => "#all-users"} Create
                  .m-ticket_empty-section
                    %h3.m-ticket-empty--heading Enter a game below
                    %a{:href => "#all-users"}
                      %img{:alt => "downward arrow", :src => "/images/modules/tickets/game-below-arrow.png"}/
                  .m-ticket_empty-section
                    %h3.m-ticket-empty--heading Invite friends
                    %a.m-button{:href => "/invite"} Invite
              .pendingChallenge.pager{:style => "width: 465px; float: left; list-style: none; padding-top: 6px;"}
                .challenge-ticket.collymore_accept.js-ticket-wrapper.m-ticket_ambassador
                  %span.user_name.hide Stan Collymore
                  .m-ticket--summary
                    #value_61
                      .m-value_ticket
                        %label.m-value--label{:for => "stake"}
                          Entry:
                        %input#stake.m-amount_ticket{:readonly => "readonly", :type => "text", :value => "£2.20"}/
                      .m-value_ticket
                        %label.m-value--label{:for => "pot"} Pot:
                        %input#pot.m-amount_ticket.total{:readonly => "readonly", :type => "text", :value => "£4.00"}/
                      %a.m-link_muted{"data-remote" => "true", :href => "/challenges/render_event_response?challenge_id=61&source=value&type=change_amount"} or change amount
                  #action
                    .m-ticket--actions
                      %a.challenge-btn.m-button.decBtn.accept{"data-action" => "accept", "data-ajax_status" => "off", "data-invitation" => "42", :style => "left: 195px"} Accept
                      %a.m-link_muted.decline-btn{"data-action" => "reject", "data-invitation" => "42"} or decline
              .m-ticket_empty.pager{:style => "width: 465px; float: left; list-style: none; padding-top: 6px;"}
                .m-ticket_empty-content
                  .m-ticket_empty-section
                    %h3.m-ticket-empty--heading Create a challenge
                    %a.js-open-challenge-button.m-button.cboxElement{:href => "#all-users"} Create
                  .m-ticket_empty-section
                    %h3.m-ticket-empty--heading Enter a game below
                    %a{:href => "#all-users"}
                      %img{:alt => "downward arrow", :src => "/images/modules/tickets/game-below-arrow.png"}/
                  .m-ticket_empty-section
                    %h3.m-ticket-empty--heading Invite friends
                    %a.m-button{:href => "/invite"} Invite
              .pendingChallenge{:style => "width: 465px; float: left; list-style: none; padding-top: 6px;"}
                .challenge-ticket.collymore_accept.js-ticket-wrapper.m-ticket_ambassador
                  %span.user_name.hide Stan Collymore
                  .m-ticket--summary
                    #value_61
                      .m-value_ticket
                        %label.m-value--label{:for => "stake"}
                          Entry:
                        %input#stake.m-amount_ticket{:readonly => "readonly", :type => "text", :value => "£2.20"}/
                      .m-value_ticket
                        %label.m-value--label{:for => "pot"} Pot:
                        %input#pot.m-amount_ticket.total{:readonly => "readonly", :type => "text", :value => "£4.00"}/
                      %a.m-link_muted{"data-remote" => "true", :href => "/challenges/render_event_response?challenge_id=61&source=value&type=change_amount"} or change amount
                  #action
                    .m-ticket--actions
                      %a.challenge-btn.m-button.decBtn.accept{"data-action" => "accept", "data-ajax_status" => "off", "data-invitation" => "42", :style => "left: 195px"} Accept
                      %a.m-link_muted.decline-btn{"data-action" => "reject", "data-invitation" => "42"} or decline
      %a.arrows.m-carousel--control.left.lefta{:href => "#"}
        %img{:alt => "left", :src => "/images/modules/carousels/arrow-left.png"}/
      %a.arrows.m-carousel--control.right.righta{:href => "#"}
        %img{:alt => "right", :src => "/images/modules/carousels/arrow-right.png"}/
