#modal_show_league.modal.m-modal_show-league.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "modal-header", :role => "dialog", :style => "display: block;", :tabindex => "-1"}
  %i.m-modal-close.m-icon.icon-close{"data-dismiss" => "modal"}
  .modal-body
    .m-header-bar
      %h1.m-header-bar--heading The Big One
    .m-ticket_multiplayer.js-ticket-wrapper.multiplayer-wrapper
      .m-ticket-sidebar
        %h5.m-ticket-sidebar--heading Created By:
        .m-profile_small
          / %img.m-profile--avatar{alt: "#{@first_name}'s Avatar"}
          / %a.m-profile--name{href: @profile_url}= @name
          %img.m-profile--avatar{:alt => "Chipper's Avatar", :src => "/images/avatars/football-blue-thumbnail.jpg"}/
          %a.m-profile--name{:href => "#"}
            Chipper Jones
        .m-ticket-payout
          %h5.m-ticket-sidebar--heading
            %a.icon-more-info-small{href:"#"}
            Payout
          %ul.m-ticket-payout-list
          %li.m-ticket-payout-list--item 1st place: 50%
          %li.m-ticket-payout-list--item 2nd place: 30%
          %li.m-ticket-payout-list--item 3rd place: 20%
      .m-ticket--details
        %h4.m-ticket--heading The Big One
        %span.m-ticket--involved
          1 Player
          |
          1 Contact
          |
          0 Ambassadors
        .m-ticket--summary
          .m-value_ticket
            %label.m-value--label{:for => "entry"} Entry
            %input#entry.m-amount_ticket{:readonly => "readonly", :type => "text", :value => "£2.20"}/
          .m-value_ticket
            %label.m-value--label{:for => "pot"} Pot:
            %input#pot.m-amount_ticket.total{:readonly => "readonly", :type => "text", :value => "£2.00"}/
        .m-ticket--actions
          .m-ribbon_large.success
            %span.m-ribbon_large--title Live Game
            %span.m-ribbon_large--strapline You are in this live game
    %ul.m-tab-navigation
      %li.m-tab-navigation--tab.active
        %a.m-tab-navigation--link{"data-toggle" => "tab", :href => "#whos-in"} Who's In:
      %li.m-tab-navigation--tab
        %a.m-tab-navigation--link{"data-toggle" => "tab", :href => "#invite"} Invite to game
    #whos-in.m-tab-pane.grid-9.active
      Who's in section
    #invite.m-tab-pane.grid-9
      %h2 Invite your Contacts
      %table.m-table_inline
        %thead.m-table--header
          %tr
            %th.name-column Name
            %th.club-column Club
            %th.contact-column Contact
            %th.invite-column Invite
        %tbody.m-table--body
          %tr
            %td.name-column
              %a.load-user-module{"data-user-id" => "34", :href => "#"} Daniel PlayON Team
            %td.club-column
            %td.contact-column
              %a.contact.add-contact{:href => "#"} Add contact
            %td.invite-column
              %a.m-button.table.js-invite-link{"data-friend-email" => "daniel@playon.co.uk", "data-league-id" => "71", :href => "#"} Invite
          %tr
            %td.name-column
              %a.load-user-module{"data-user-id" => "35", :href => "#"} Lucy PlayON Team
            %td.club-column
            %td.contact-column
              %a.contact.add-contact{:href => "#"} Add contact
            %td.invite-column
              %a.m-button.table.js-invite-link{"data-friend-email" => "lucy@playon.co.uk", "data-league-id" => "71", :href => "#"} Invite
          %tr
            %td.name-column
              %a.load-user-module{"data-user-id" => "69", :href => "#"} Mickey Mouse
            %td.club-column
            %td.contact-column
              %a.contact.add-contact{:href => "#"} Add contact
            %td.invite-column
              %a.m-button.table.js-invite-link{"data-friend-email" => "mickey.mouse@disney.com", "data-league-id" => "71", :href => "#"} Invite
          %tr
            %td.name-column
              %a.load-user-module{"data-user-id" => "75", :href => "#"} Donald Duck
            %td.club-column
            %td.contact-column
              %a.contact.add-contact{:href => "#"} Add contact
            %td.invite-column
              %a.m-button.table.js-invite-link{"data-friend-email" => "donald.duck@disney.com", "data-league-id" => "71", :href => "#"} Invite
          %tr
            %td.name-column
              %a.load-user-module{"data-user-id" => "90", :href => "#"} Michael Jordan
            %td.club-column
            %td.contact-column
              %a.contact.add-contact{:href => "#"} Add contact
            %td.invite-column
              %a.m-button.table.js-invite-link{"data-friend-email" => "mj@bulls.com", "data-league-id" => "71", :href => "#"} Invite
          %tr
            %td.name-column
              %a.load-user-module{"data-user-id" => "125", :href => "#"} Glaceau Water
            %td.club-column
            %td.contact-column
              %a.contact.add-contact{:href => "#"} Add contact
            %td.invite-column
              %a.m-button.table.js-invite-link{"data-friend-email" => "newaccantu@aeou.com", "data-league-id" => "71", :href => "#"} Invite
          %tr
            %td.name-column
              %a.load-user-module{"data-user-id" => "200", :href => "#"} Gianfranco Zola
            %td.club-column
            %td.contact-column
              %a.contact.add-contact{:href => "#"} Add contact
            %td.invite-column
              %a.m-button.table.js-invite-link{"data-friend-email" => "gzola@gmail.com", "data-league-id" => "71", :href => "#"} Invite
          %tr
            %td.name-column
              %a.load-user-module{"data-user-id" => "202", :href => "#"} Dider Drogba
            %td.club-column
            %td.contact-column
              %a.contact.add-contact{:href => "#"} Add contact
            %td.invite-column
              %a.m-button.table.js-invite-link{"data-friend-email" => "dd@galatasary.com", "data-league-id" => "71", :href => "#"} Invite
          %tr
            %td.name-column
              %a.load-user-module{"data-user-id" => "213", :href => "#"} Chipper Jones
            %td.club-column
            %td.contact-column
              %a.contact.add-contact{:href => "#"} Add contact
            %td.invite-column
              %a.m-button.table.js-invite-link{"data-friend-email" => "chipper.jones@atlanta.com", "data-league-id" => "71", :href => "#"} Invite
          %tr
            %td.name-column
              %a.load-user-module{"data-user-id" => "234", :href => "#"} Robbie Fowler
            %td.club-column
            %td.contact-column
              %a.contact.add-contact{:href => "#"} Add contact
            %td.invite-column
              %a.m-button.table.js-invite-link{"data-friend-email" => "robbie.fowler@liverpool.com", "data-league-id" => "71", :href => "#"} Invite
          %tr
            %td.name-column
              %a.load-user-module{"data-user-id" => "247", :href => "#"} Modal Viewer
            %td.club-column
            %td.contact-column
              %a.contact.add-contact{:href => "#"} Add contact
            %td.invite-column
              %a.m-button.table.js-invite-link{"data-friend-email" => "eou.oeuoe@ouoeu.com", "data-league-id" => "71", :href => "#"} Invite
          %tr
            %td.name-column
              %a.load-user-module{"data-user-id" => "274", :href => "#"} Glaceau Water
            %td.club-column
            %td.contact-column
              %a.contact.add-contact{:href => "#"} Add contact
            %td.invite-column
              %a.m-button.table.js-invite-link{"data-friend-email" => "water@bottle.com", "data-league-id" => "71", :href => "#"} Invite
          %tr
            %td.name-column
              %a.load-user-module{"data-user-id" => "286", :href => "#"} Stan Collymore
            %td.club-column
            %td.contact-column
              %a.contact.add-contact{:href => "#"} Add contact
            %td.invite-column
              %a.m-button.table.js-invite-link{"data-friend-email" => "stan.collymore@villa.com", "data-league-id" => "71", :href => "#"} Invite
      %h2 Invite your Facebook Friends
      (Sent to friends' inbox)
      .fb-send.fb_iframe_widget{"data-href" => "http://localhost:3000/s/68b641a04788", "data-ref" => "224", "fb-xfbml-state" => "rendered"}
        %span{:style => "vertical-align: bottom; width: 0px; height: 0px;"}
          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "1000px", :name => "f1c5e14db", :scrolling => "no", :src => "http://www.facebook.com/plugins/send.php?href=http%3A%2F%2Flocalhost%3A3000%2Fs%2F68b641a04788&ref=224&app_id=434240253320828&locale=en_GB&sdk=joey&channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D25%23cb%3Df3b9745514%26origin%3Dhttp%253A%252F%252Flocalhost%253A3000%252Ff2d481c95%26domain%3Dlocalhost%26relation%3Dparent.parent", :style => "border: none; visibility: visible; width: 0px; height: 0px;", :title => "fb:send Facebook Social Plugin", :width => "1000px"}
      %h2 Invite your Email Contacts
      %form#email_contacts{:action => "/contacts", :method => "get"}
        %input{:name => "league_id", :type => "hidden", :value => "71"}/
        %input{:name => "login", :placeholder => "Email address", :type => "text"}/
        %input{:name => "password", :placeholder => "Password", :type => "password"}/
        %input{:text => "OK", :type => "submit"}/
