.m-box--header-bar {
  &.transparent {
    border-top: $box-transparent-header-bar-border-top;
    
    .m-box--heading {
      color: $box-transparent-heading-color;
    }
  }
}

.m-box--body {
  @include filter-gradient( $box-background-filter-gradient-start-color, $box-background-filter-gradient-end-color);
  @include background( $box-background );
  color: $box-body-color;
}
