.m-tab-navigation_fixtures--tab {

  border-right: $fixtures-tab-navigation-tab-border-right;

  &.active {
    a {
      color: $fixtures-tab-navigation-tab-active-color;
    }
  }

  .m-tab-navigation_fixtures--link {
    color: $fixtures-tab-navigation-tab-color;

    &:hover {
      color: $fixtures-tab-navigation-tab-active-color;
    }
  }
}
