.m-table_inline {
  border: $inline-table-border;

  .m-table--header {
    tr {
      border: $inline-table-header-border;

      &.highlight {
        border: none;
      }
    }
  }

  td {    
    border: $table-cell-border;
  }

  .m-table--body, tbody {
    color: $table-text-color;

    a {
      color: $table-text-color;
    }

    > tr {

      &:nth-child(odd), &.odd {
        td {
          background: $odd-table-row-background-color;
        }
      }

      &:nth-child(even), &.even {
        td {
          background: $even-table-row-background-color;
        }
      }

      &:last-child {
        td {
          border-bottom: none;
        }
      }

      &.success {
        td {
          background: $pale-green;
        }
      }

      &.highlight {
        td {
          color:       $emphasis-color;
          font-weight: $emphasis-font-weight;
        }
      }    
    }
  }
}

.m-table_scrollable {
  .m-table--body {
    > tr {

      &.waiting {
        td {
          background: $atomic-tangerine;
        }
      }
    }
  } 
}

.m-table_live-games {
  .success {
    color:       $emphasis-color;
    font-weight: $emphasis-font-weight;
  }
}

.m-table_live-fixtures {
  border: $live-fixtures-table-border;
  color:  $live-fixtures-table-color;


  .m-table_live-fixtures--fixture {
    &:hover, &.open {
      td {
        color:       $emphasis-color;
        font-weight: $emphasis-font-weight;
      }
    }
    .score-column {
      border-right: $table-cell-border;
      border-left:  $table-cell-border;
    }

    // nth-child selectors don't work on class names, so we need to add odd/even classes for this table.
    &.odd {
      td {
        background: $odd-table-row-background-color;
      }
    }

    &.even {
      td {
        background: $even-table-row-background-color;

      }
    }
  }
}

.m-table_fixture-details {
  td {
    background: $live-fixtures-table-details-background-color;
  }  
}

.m-table_fixture-details--result {
  td {
    color:       $emphasis-color;
    font-weight: $emphasis-font-weight;
  }
}

.m-table_fixture-details-summary {

  .time-column, .jersey-column {
    background-color: $fixture-details-outer-background-color; 
  }

  .score-column {
    @include background(linear-gradient(top, $fixture-details-top-background-color 30%, $fixture-details-central-background-color 100%));
  }

  .home-team-column {
    border-right: $table-cell-border;
    @include background(linear-gradient(left, $fixture-details-outer-background-color 40%, $fixture-details-central-background-color 100%));
  }

  .away-team-column {
    border-left: $table-cell-border;
    @include background(linear-gradient(right, $fixture-details-outer-background-color 40%, $fixture-details-central-background-color 100%));
  }

  .m-fixture-incident {
    td {
      border-bottom: $table-cell-border;
    }
  }

}

.m-table_fixture-details-lineup {

  th.score-column {
    border-right: $table-cell-border;
    border-left:  $table-cell-border;

    color:       $emphasis-color;
    font-weight: $emphasis-font-weight;
  }

  .highlight {
    color:       $emphasis-color;
    font-weight: $emphasis-font-weight;
  }

  .home-team-column {
    @include background(linear-gradient(left, $fixture-details-outer-background-color 40%, $fixture-details-central-background-color 100%));
  }

  .away-team-column {
    @include background(linear-gradient(right, $fixture-details-outer-background-color 40%, $fixture-details-central-background-color 100%));
  }
  .time-column, .jersey-column {
    background-color: $fixture-details-outer-background-color; 
  }

  .score-column, .home-incident-column, .away-incident-column {
    background: $fixture-details-central-background-color;  
  }

  .home-lineup-column {
    @include background(linear-gradient(left, $fixture-details-outer-background-color 40%, $fixture-details-central-background-color 100%));
  }
  .away-lineup-column {
    @include background(linear-gradient(right, $fixture-details-outer-background-color 40%, $fixture-details-central-background-color 100%));
  }

  .home-incident-column {
    border-left: $table-cell-border;
  }

  .away-incident-column {
    border-right: $table-cell-border;
  }

  .jersey-number {
    color: $live-fixture-table-lineup-jersey-number-color;
    font-weight: bold;
  }
}

.m-table_live-ticker_key-events {
  td {
    color: $emphasis-color;
    font-weight: $emphasis-font-weight;

    &.total-column {
      border-right: none !important;
    }
  }
}

.m-table_live-ticker_all-events {
  border-top: $live-ticker-all-events-border-top;

  .m-table--body {

    tr.highlight {

      td {
        color: $emphasis-color;
        font-weight: $emphasis-font-weight;
      }

    }

    .total-column {
      border-right: none !important;
    }

    > tr:first-child {

      td, td:first-child, td:nth-last-child(2), td:last-child {
        @include background($live-ticker-all-events-first-row-background);
      }

    }

  }
}

.m-table_league {
  .m-table--body {

    > tr {

      &:nth-child(odd) {

        td {
          background: $odd-table-row-background-color;

          &:first-child {
            background: $league-table-odd-first-column-color ;
          }
        }

      }

      &:nth-child(even) {
        td {
          background: $even-table-row-background-color;

          &:first-child {
            background: $league-table-even-first-column-color ;
          }
        }
      }

    }

  }
}

.m-table_compare {
  .m-table_compare--body {

    // there's a lot of duplication here, as part of this table shares styles with other tables; namely the alternating rows
    > tr {

      &:nth-child(odd) {
        td, th {
          background: $odd-table-row-background-color;
        }
      }

      &:nth-child(even) {
        td, th {
          background: $even-table-row-background-color;
        }
      }
    }
  }

}

.m-table_team-comparison {
  .m-table--body {
    td {
      border: none;
    }
  }
}

