$meter-height: 8px;

.m-10-free-progress-well {
  @include inline-block;

  background: $light-nero-black;
  @include box-shadow( inset 0 0 50px $near-black );

  .m-10-free-progress-content {
    width:  100%;
    height: 100%;
  }

  .m-10-free-progress--reward {
    display:        block;
    margin-bottom:  10px;

    color:          $green;

    font-size:      20px;
    font-family:    $trade-gothic;

    text-transform: uppercase;
    text-align:     right;
  }
  .m-10-free-progress-meter {
    position:   relative;

    width:      100%;
    height:     $meter-height;

    background: $white-smoke;
    @include box-shadow( inset 2px 2px 2px 2px rgba( $empress-grey, .5 ) );
  }

  .m-10-free-progress-tracker {

    position:   absolute;
    left:       0%;

    width:      40%;
    height:     $meter-height;
    border-top: 1px solid $reef-green;

    @include background( linear-gradient( top, $bright-green 20%, $atlantis-green 50% ) );
  }


  .m-10-free-progress-labels {
    @extend %clearfix;
    position:    relative;
    width:       100% ;
    padding-top:  10px;

    .m-10-free-progress--label {
      position:       absolute;

      margin-left:    -10px;
      color:          $white;

      font-size:       12px;
      font-family:    $trade-gothic;

      text-transform: uppercase;

      &.passed {
        color: $green;
      }

      &:after {
        content:     " ";
        display:     block;

        position:    absolute;
        top:         -10px;
        left:         50% ;

        height:        5px;
        width:         2px;
        margin-left:  -1px;

        background:  $white-smoke;
      }

      
     $marker-positions: 0%, 20%, 40%, 60%, 80%, 100%; 
     $marker-classes: 0, 20, 40, 60, 80, 100; 

      @for $i from 1 through length($marker-classes) {
        $class: nth($marker-classes, $i);
        $position: nth($marker-positions, $i);
        &.label-#{$class} {
        left: $position; 
        }
      }
      &:first-child {
        margin-left: -2px;

        &:after {
          margin-left: 0px;
        }
      }

      &:last-child {
        right: 0%;
        left:  auto;

        &:after {
          right: 0%;
          left:  auto;
        }
      }
    }
  }
}
