.m-account-panel--container {
  height: auto !important;
  padding: 6px 10px 12px;
}

.m-account-panel {
  width:      135px;
  padding:     10px;
  border-top:   1px solid $mortar-grey;
  @include box-shadow(  0 0 5px $black );

  background-color: $charcoal-grey;

  font-family: $trade-gothic;
  font-size: 13px;
  text-transform: uppercase;

  .m-account-panel--greeting {
    display:       block;
    margin-bottom: 5px;
    color:         $white;
  }
  .m-account-panel--balance {
    display:       block;
    margin-bottom: 5px;
    color:         $green;
  }

    .m-account-panel-links {
      color: $silver;

      .m-account-panel-links--divider {
        color: $silver;
        margin: 0px 8px;
      }

      .m-account-panel--link {
        color: $silver;
        text-decoration: underline;

        &:hover {
          color: $white;
      }

    }
  }
}
