.m-account-navigation {
	margin: 0 20px;
}

.m-account-navigation-item {
  margin: 0 0 10px;
  
  @include background( $account-navigation-background-gradient );
  
  list-style: none;
  text-transform: uppercase;

  box-shadow: 0 2px 5px rgba( $black, 0.7 );

  &.deposit {
    box-shadow: 0 2px 5px rgba( $black, 0.7 ), inset 0 0 50px rgba( $reef-green, 0.7 );
  }

  &.group > .m-account-navigation-item--link {
    position: relative;

    &:after {
      content: '';

      position: absolute;
      top:   15px;
      right: 15px;

      width:  0;
      height: 0;
      
      border-top:   3px solid $empress-grey;
      border-left:  3px solid transparent;
      border-right: 3px solid transparent;
    }

    &:hover:after {
      border-top-color: $islamic-green;
    }

    &.open {
      color: $islamic-green;
      
      &:after {
        border-top:    0px;
        border-left:   3px solid transparent;
        border-right:  3px solid transparent;
        border-bottom: 3px solid $islamic-green;
      }
    }
  }

  &.group > .m-account-navigation-item--link:after {
  }
}

.m-account-navigation-item--link {
  display: block;

  width: 100%;
  padding: 10px;
  
  color: $empress-grey;
  text-shadow: 1px 1px 1px rgba( $white, 0.5 );

  &:hover, &.active {
    color: $islamic-green;
  }

}

.m-account-navigation-item--list {
  display: none;
  padding-bottom: 10px;
}

.m-account-navigation-sub-item {
  margin: 0;

  list-style: none;

  font-family: $helvetica;
  font-size: $small-text-font-size;
}

.m-account-navigation-sub-item--link {
  display: block;
  padding: 5px 0 10px 25px;
  color: $mortar-grey;
  text-shadow: 1px 1px 1px rgba( $white, 0.7 );

  &:hover, &.active {
    color: $islamic-green;
  }

}
