.m-account-progress {
  height:40px;
  margin:0 7px 34px;
  list-style:none;
  background: url('/images/modules/progress/steps.png') no-repeat;
  overflow:hidden;

  &.step-2 {
    background-position:0 -41px;
  }
  &.step-3 {
    background-position:0 -82px;
  }
  &.step-4 {
    background-position:0 -123px;
  }
}

.m-account-progress-step {
  float:left;
  width:132px;
  padding:10px 0 0 20px;
  text-shadow:1px 1px 1px $white;
  color:$grey;
  cursor:default;

  &.selected {
    color:$islamic-green;
  }
}

.m-account-progress-step-number {
  text-transform:uppercase;
}
.m-account-progress-step-name {
  font-family:Arial, sans-serif;
  font-size:$small-text-font-size;
  font-style:italic;
}
