.m-reward-level {
  float: left;
  width: 98px;
  padding: 65px 0 5px 0;
  margin: 0 2px;
  
  text-align: center;
  color: $white;
  text-shadow: 0 0 3px $black;

  box-shadow: inset 0 0 50px $near-black;
  background: $light-nero-black url('/images/icons/levels.png') 30px 10px no-repeat;

  &.player {
    background-position:-72px 10px;
  }

  &.manager {
    background-position:-173px 10px;
  }

  &.hero {
    background-position:-275px 10px;
  }

  &.legend {
    background-position:-376px 10px;
  }
}

.m-reward-level.club {
  background: $light-nero-black url('/images/icons/club-levels.png') 27px 10px no-repeat;

  &.bronze {
    background-position:-75px 10px;
  }

  &.silver {
    background-position:-177px 10px;
  }

  &.gold {
    background-position:-278px 10px;
  }

  &.black {
    background-position:-380px 10px;
  }

  &.chelsea {
    background: $light-nero-black url('/images/icons/club-shirts.png') 13px bottom no-repeat;
  }
}

.m-reward-level-badge {
  position: absolute;
  bottom:-20px;
  left:-10px;
  width: 46px;
  height: 54px;
  background: url('/images/icons/club-levels.png') 0 0 no-repeat;

  &.bronze {
    background-position:-102px 0;
  }

  &.silver {
    background-position:-204px 0;
  }

  &.gold {
    background-position:-305px 0;
  }

  &.black {
    background-position:-407px 0;
  }
}

.m-reward--status .club {
  position: relative;
  padding-top: 90px;
}
 
.m-reward--status .m-reward-level {
  margin-right: 20px;
}

.m-reward--status .m-reward--status-info {
  font-size: $small-heading-font-size;
  margin: 5px 0;
}

.m-reward--status-value {
  font-style: normal;
  color: $islamic-green;
}

.m-reward-level .m-reward-level--info {
  line-height: $table-button-font-size;
  margin: 4px 0;

  &.glow {
    color: $atlantis-green;
    text-shadow: 0 0 5px rgba($atlantis-green, .7);
  }
}
