.m-avatar_club {
  position: relative;
  overflow: hidden;

  width:  52px;
  height: 52px;
  
  background: $light-grey;
  @include box-shadow( inset 1px 1px 4px 4px rgba( $black, .1 ) );
  
  .m-jersey_pitch {
    position: absolute;
    bottom: -15px;
    left:     3px;
  }

}
