// not generated as a class because background image and repeat are decided at a per-sub-module level
%m-bar {
  height: 15px;
  width: 100%;
  padding: 2px 5px 2px;
  margin-bottom: 1px;
    
 
  text-align: right;
  
  font-size: $info-font-size;
  font-family: $trade-gothic;
}

