// flattened structure so that helpers can beat the cascade

// box
%m-box {
  margin-bottom: 20px;
  
  font-family: $trade-gothic;
}

.m-box {
  @extend %m-box;
}

// box header bar
%m-box--header-bar {
  @extend %m-header-bar;
  
  &.highlight {
   @include background( $green-bar-background-gradient); 

   .total {
    background: url('/images/total-small.png') center no-repeat;
    @include box-shadow(none);

   }

  }

  &.transparent {
    background: none;
  }

  .total {
    float:          right;

    margin-top:     -2px;
    padding-top:     6px;

    text-align:     center;

    &.large {
      min-width:   122px;
      min-height:   35px;
      padding-top:   8px;

      background:  url('/images/total-large.png') center no-repeat;

      font-size: $large-text-font-size; 
      @include box-shadow(none);
      text-transform: uppercase;
      border: none;
    }
  }

}

.m-box--header-bar {@extend %m-box--header-bar;}

.m-box--header-bar_small {
  @extend %m-header-bar_small;
}

.m-box_paginate {
  @extend %m-box;

  .previous-arrow, .next-arrow {
    @include inline-block;
    float: left;
  }

.m-box--header-bar {
  @extend %m-box--header-bar;

  @include inline-block;
  float: left;

  width:  344px;
  height:  51px;

  margin-right:   1px;
  margin-bottom: 10px;
  margin-left:    1px;
 }

 &.last {
   .m-box--header-bar {
     margin-right: 0px;
     width: 386px;
   }

   .m-team-summary {
     right:     1px;
     width:   140px;
     padding:  10px 20px;

     .m-team-summary--heading {
       font-size: 13px;
     }
   }
 }

 &.pick_team {
   .m-box--header-bar {
     width: 349px;
   }

   &.last {
     .m-box--header-bar {
       width: 391px;
     }
   }
 }

}


// box heading (for h.. elements)
%m-box--heading {
  float: left;
  margin: 0px;
  font-size: $heading-font-size;
}

.m-box--heading {
  @extend %m-box--heading;
}

.m-box--heading_small {
  @extend %m-box--heading;
  margin-top: 3px;
  font-size:  $small-heading-font-size;
}

// box body
.m-box--body {
  @extend %clearfix;
  padding: 20px 10px 10px;
}

.m-box--footer {
  @extend %clearfix;

  padding-top: 15px;
  border-top:  1px solid $silver;
  margin-top:  20px;
  
  p.m-action-encouragement {
    float: right;
    clear: right;

    margin-top:     0px;
    margin-bottom: 10px;

    text-transform: uppercase;
  }

  .m-button {
    float: right;
    clear: right;
  }


}

.m-box_small {
  @extend %m-box;
  .m-box--header-bar {
    padding-top: 12px;
  }

  .m-box--body {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@import 'boxes/*';

