.m-budget {
  @extend %clearfix;
  display: block;
  
  width: 100%;
  height: 25px;

  margin-top:    17px;
  margin-bottom: 35px;

  .m-budget--label {
    @include inline-block;
    float: left;
    
    height: 25px;
    padding-top: 5px;

    color:$black;
    font-family: $trade-gothic;
    text-transform: uppercase;

  }
}

.m-budget-status {
  @include inline-block;
  position: relative;
  float: left;
  overflow: hidden;

  height: 25px;
  width: 350px;
  margin-left: 10px;
  @include border-radius (6px);

  background: $white;
  @include box-shadow( inset 0px 0px 3px 2px rgba( $black, 0.2 ) ); 

  font-family: $trade-gothic;

  .m-budget-status--value {
   // @include inline-block;
    float: left;

    height: 100%;
    width: 60px;
    padding-top:5px;
    padding-left: 10px;

    @include border-radius (6px 0px 0px 6px);

    @include background($header-bar-background-gradient);
    color: $white;

   
  }

  .m-budget-status--bar {
  //  @include inline-block;
    position: relative;
    float: left;

    height: 100%;
    width:350 - 60px;

    @include background($green-bar-background-gradient);
  }

  .m-budget-status--label {
    position: absolute;
    left: 70px;
    
    padding-top:5px;

    color: $black;
    text-transform: uppercase;
  }

  &.exceeded {
    .m-budget-status--value {
      @include background( $exceeded-budget-value-background-gradient );
    }

    .m-budget-status--label {
      display: none;
    }
  }
}


