%small-button-properties {
  height:  30px;
  padding:  5px 1em;
  font-size: $small-button-font-size;
}

%extra-small-button-properties {
  height: 20px;
  padding: 3px 3px;
  font-size: $extra-small-button-font-size;
}

%m-button {
  @include inline-block;
  
  padding:       8px 1em;
  margin-bottom: 0; // for input.m-button
  
  // button background sets the background gradient, border radius, borders and :hover and :active background states
  @include button-background( $light-button-background-color, $dark-button-background-color, $white );

  font-family:     $button-font-family;
  font-size:       $button-font-size;

  text-transform:  uppercase;
  text-align:      center;
  text-decoration: none !important; // !important needed because of settings on anchor elements for tables
  text-shadow: 0 0 3px rgba( $black, .3 );

  vertical-align: middle;
  cursor: pointer;

  @include box-shadow( 0 4px 2px -2px rgba( $black, .3 ) );
   
   // ---- modifiers ---- //

   &.active,
   &:active {
    outline: 0;
  }
  
  &.disabled,
  &[disabled] {
    cursor: default;

    @include background( linear-gradient(darken($light-button-background-color, 15%), darken($dark-button-background-color, 15%)) );
    color: $light-grey;
  }

  &.small {
    @extend %small-button-properties;
  }

  &.extra-small {
    @extend %extra-small-button-properties;
  }

  &.large {
    font-size: $large-button-font-size;
  }

  &.depressed {
    @include button-background( $dark-button-background-color, $light-button-background-color, $white );
  }
}

.m-button {
  @extend %m-button;
}

.m-button_callout {
  @extend %m-button;
  
  @include button-background( $light-callout-button-background-color, $dark-callout-button-background-color, $white );
  
}

.m-button_secondary {
  @extend %m-button;
  @include button-background( $light-secondary-button-background-color, $dark-secondary-button-background-color, $white );


}

%m-button_table {
  @extend %m-button;
  height:  22px;
  padding: 3px 1em;

  color:           $white !important;
  font-size:       $small-button-font-size;
  text-decoration: none;
}

.m-button_table {
  @extend %m-button_table;
}

.m-button_one-on-one-table {
  @extend %m-button_table;
  width: 130px;
  
  &.waiting {
    @include button-background( $tacao-orange, $red-orange, $white );
  }
}

.m-button_multiplayer-table {
  @extend %m-button_table;
  width: 80px;
}

.m-button_account-panel {
  @extend %m-button;
  width: 48%;
  padding: 0.1em 0.7em;
  font-size: $small-text-font-size;
}

.m-button_invite {
  @extend %m-button;
  @extend %small-button-properties;
  
  width: 160px;

  @include button-background( $charcoal-grey, $near-black, $white );

  font-size: 12px;
  text-align: left;

  .caret {
    float: right;
    margin-top: 4px;
  }
  
  i {
    margin-right: 10px;
  }

  &.facebook {
    @include button-background( $light-facebook-button-background-color, $dark-facebook-button-background-color, $white );

    .icon-facebook-button {
      margin-top:    -3px;
    }
  }
  &.twitter {
    @include button-background( $light-twitter-button-background-color, $dark-twitter-button-background-color, $white );

    .icon-twitter-share-button {
      margin-left: 0px;
    }
  }
}

// links
%m-link_muted {
  color: $empress-grey;

  &:visited {
    color: $empress-grey;
  }

  text-transform: uppercase;
  text-decoration: underline;
  
  font-family: $trade-gothic;
  font-size: $small-text-font-size;

  cursor: pointer;
  &:hover {
    color: $white;
  }
}

.m-link_muted {
  @extend %m-link_muted;
}

.m-link_secondary {
  @extend %m-link_muted;
  
  float: right;
  clear: right;
  
  margin-top: 10px;
}

// paragraphs
.m-paragraph_introduction {
  padding-left:  15px;
  padding-right: 15px;

  font-family:    $trade-gothic;
  text-transform: uppercase;
}


.m-button_share {
  @extend %m-button;
  width: 95px;
  
  &.facebook {
    @include button-background( $light-facebook-button-background-color, $dark-facebook-button-background-color, $white );

    .icon-facebook-share-button {
      margin-left: -20px;
    }
  }

  &.twitter {
    @include button-background( $light-twitter-button-background-color, $dark-twitter-button-background-color, $white );

    .icon-twitter-share-button {
      margin-left: -20px;
    }
  }
}


@each $team in $team_colours {
  $team-slug:        nth( $team, 1 );
  $primary-colour:   nth( $team, 2 );
  $secondary-colour: nth( $team, 3 );

  .m-button_#{$team-slug} {
    @include button-background( $primary-colour, darken($primary-colour, 10%) );
  }
}


