.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;

  .carousel-inner {
    @extend %clearfix;
    position: relative;
    overflow: hidden;

    width: 100%;

    .carousel-item {
      position: relative;
      display:  none;

      @include transition-property( left );
      @include transition-duration( 0.5s );
      @include transition-timing-function( ease-in-out );
    }

    // Bootsrap carousel plugin controls
    > .active,
    > .next,
    > .prev { display: block; }

    > .active {
      left: 0;
    }

    > .next,
    > .prev {
      position: absolute;
      top: 0;
      width: 100%;
    }

    > .next {
      left: 100%;
    }

    > .prev {
      left: -100%;
    }

    > .next.left,
    > .prev.right {
      left: 0;
    }

    > .active.left {
      left: -100%;
    }

    > .active.right {
      left: 100%;
    }
  }

  .carousel-control {
    position: absolute;

    top:  30%;
    left: 15px;

    width:      40px;
    height:     40px;
    margin-top:  -20px;

    // Reposition the right one
    &.right {
      left:  auto;
      right: 15px;
    }

    // Hover state
    &:hover {
      @include opacity(90);
    }
  }
}

.carousel-progress {
  position: absolute;
  z-index:  10;

  right:    20px;
  bottom:   15px;
}

.carousel-arrow {
  @include inline-block;
  float:       left;

  width:       11px;
  margin-left: 10px;
}
.carousel-indicators {
  display: inline;
  float:   left;

  padding: 0px;
  margin:  0px;
}
.carousel-indicator {
  @include inline-block;
  float: left;    
  width:       11px;
  height:      11px;
  margin-left: 10px;

  background: $silver;
  @include box-shadow( inset 3px 3px 3px 3px rgba( $empress-grey, .3 ) );

  cursor: pointer;

  &.active {
    background: $green;
  }

  &:first-child {
    margin-left: 8px;
  }
}


#banner-carousel {
  margin-bottom: 0px;
}

.m-carousel--control {
  position: absolute;

  top:  46%;
  left: 15px;

  width:         40px;
  height:        40px;

  // Reposition the right one
  &.right {
    left:  auto;
    right: 15px;
    background-image: no-repeat url('images/modules/carousels/arrow-right.png');
  }

  // Hover state
  &:hover {
    @include opacity(90);
  }
}

#ticket_carousel .carousel-inner {
  @extend %clearfix;
  width: 465px;
  margin: 0 auto;
}
