.m-censor {
  width: 100%;
  height: 100%;
  padding: 30px;

 // background: rgba($white, 0.2);

  .m-censor--message {
    font-family: $trade-gothic;
    font-size: $heading-font-size;
    text-transform: uppercase;
  }
}