.m-chat {
  z-index:      $chat-z-index;
  visibility:   hidden;
  position:     absolute;

  top:            0px;
  right:          0px;
  width:        307px;
  height:       400px;
  padding-top:   15px;
  padding-left:  25px;

  background:   url('/images/modules/chat/background.png') no-repeat;

  .m-chat--heading {
    margin: 0px 0px 10px 10px;
    color: $green;
    font-family: $trade-gothic;
    font-size: 16px;

    text-transform: uppercase;
  }

  .icon-close {
    position: absolute;
    top:      15px;
    right:    10px;
  }

  .m-chat-conversation {
    overflow-y: scroll;

    width: 270px;
    height: 280px;
    padding: 10px;

    background: $white;

    @include box-shadow ( inset 0px 0px 2px 4px rgba($mortar-grey, .2) );
  }
 
  .m-chat-comment {
    @extend %clearfix;
    background: $white;
    border-bottom: 1px solid $light-grey;
    padding: 10px 0px;
    width: 230px;

    &:last-child {
      border-bottom: none;
    }

    .m-chat-comment--avatar {
      float: left;
    }

    .m-chat-comment--body {
      float: left;
      width: 150px;
      margin-left: 10px;
    }
    .m-chat-comment--user-name {
      font-size: 11px;
      font-weight: bold;
      font-family: $helvetica;
      text-transform: none;
      margin: 0px;
    }
    
    .m-chat-comment--text {
      color: $mortar-grey;
      font-size: 11px;
      p {
        margin: 0px 0px 5px;
      }
    }

    .m-chat-comment--time {
      color: $mortar-grey;
      font-size: 9px;
    }
  }

  .m-chat-reply {
    @extend %clearfix;
    display: block;
    height: 16px;
    margin-top: 5px;

    .m-input_text {
      float: left;
      width: 200px;
      margin-top: 0px;
    }

    .m-button {
      float: left;
      height: 16px;
      padding-top:    7px;  // match dimensions of .m-input_text for alignment
      padding-bottom: 8px;  // match dimensions of .m-input_text for alignment
      margin-left: 5px;
    }
  }
}
