.m-checkbox {
  position: relative;
  @include inline-block;

  width:        15px;
  height:       15px;
  margin-top:   -2px;
  margin-right:  3px;

  input{
    display: none; 
  }


  label {
    position: absolute;
    top: 0;

    width:  15px;
    height: 15px;

    @include border-radius( 1px );

    @include background( $checkbox-background-gradient );
    @include box-shadow( inset 0px 1px 1px rgba($black, .5), 0px 1px 0px rgba($white, .4));

    cursor: pointer;

    &:after {
      @include opacity(0);
      content:  '';
      position: absolute;

      top:  4px;
      left: 3px;

      width:  7px;
      height: 3px;

      border:       2px solid $white-smoke;
      border-top:   none;
      border-right: none;

      background: transparent;

      @include rotate(-50deg);
    }

  }

  input:checked + label:after {
    @include opacity(1);
  }
}

.m-checkbox_light {
  @extend .m-checkbox; // todo: make this a %m-checkbox placeholder

    label {
      @include background( linear-gradient(top, $white, $white-smoke) ); 

      &:after {
        border:       2px solid $green;
        border-top:   none;
        border-right: none;
      }
    }

}
