.m-club-leaders {
  background: linear-gradient($black, $white);
  overflow: hidden;
}

.m-club-leader {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  color: $white-smoke;
  text-transform: uppercase;
  background: $black;
  margin: 30px 20px 60px 20px;

  &.two {
    width: 270px;
    margin: 30px 0 30px 0;
  }

  &.three {
    width: 240px;
  }
}
.m-club-leader--header {
  height: 26px;  
  @include shine( 9px );

}

.manchester-city .m-club-leader--header {
  background-position: 0 -26px;
}

.norwich-city .m-club-leader--header {
  background-position: 0 -52px;
}

.m-club-leader--body {
  height: 123px;
  border-top: solid 1px $light-grey;
  background-color: $black;
  @include background( radial-gradient(135px -10px, circle closest-corner, $mortar-grey, $black 123px) );

  .m-jersey {
    @include scaleX(-1); 
    bottom: 40px  ;
    right:   -10px;
  }

}
.m-club-leader--body-text {
  width: 70%;
  margin-top: 10px;
  text-align: center;
}
.m-club-leader--footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  text-indent: 13px;
  background: url('/images/gradients/lot.png') repeat-x;

  &:before {
    content: 'Current league of titans position';
    position: absolute;
    bottom: -45px;
    left: 0;
    right: 0;
    height: 45px;
    background: linear-gradient(rgba($black, 0), $black);
    opacity: 0.3;

    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
  }
}
.m-club-leader--large {
  font-size: 28px;
  margin-bottom: 0.20em;
}
.m-club-leader--position {
  position: absolute;
  bottom: -50px;
  right: -23px;
  width: 65px ;
  height: 150px;
  background: url('/images/icons/lot-numbers.png') no-repeat;
  text-indent: -999em;
  overflow: hidden;

  &.two {
    right: -38px;
    width: 80px;
    background-position: -275px 8px;
  }

  &.three {
    background-position: -516px 24px;
  }
}

.m-club-leader.two {
  width: 270px;
  height: 180px;
  margin: 40px 0 30px 0;

  .m-club-leader--header {
    height: 17px;

    &:before {
      height: 7px;
      border-radius: 0 0 0 7px;
    }

    &:after {
      height: 7px;
    }
  }

  .m-club-leader--body {
    height: 114px;

    .m-jersey {
      bottom: 25px;
      right: -10px;
    }
  }

  .m-club-leader--body-text {
    margin-top: 13px;
    font-size: 13px;
  }

  .m-club-leader--large {
    font-size: 24px;
  }

  .m-club-leader--footer {
    height: 40px;
    line-height: 40px;
    font-size: 15px;

    &:before {
      bottom: -40px;
      height: 40px;
      line-height: 40px;
    }
  }
}

.m-club-leader.three {
  width: 240px;
  height: 160px;
  margin-top: 50px;

  .m-club-leader--header {
    height: 14px;

    &:before {
      height: 5px;
      border-radius: 0 0 0 5px;
    }

    &:after {
      height: 5px;
    }
  }

  .m-club-leader--body {
    height: 98px;

    .m-jersey {
      bottom: 10px;
      right: -10px;
    }
  }

  .m-club-leader--body-text {
    margin-top: 16px;
    font-size: 12px;
  }

  .m-club-leader--large {
    font-size: 20px;
  }

  .m-club-leader--footer {
    height: 34px;
    line-height: 34px;
    font-size: 13px;

    &:before {
      bottom: -34px;
      height: 34px;
      line-height: 34px;
    }
  }
}
