.m-club-details {
  @extend %clearfix;
  @include inline-block;
  position:      relative;

  width:         700px;
  height:        256px;
  margin-bottom:  60px;

  background:    url('/images/club-banner.png') no-repeat;

  .m-club-details--jersey {
    position:    relative;
    display:     block;
    overflow:    hidden;

    height:      156px;
    margin-top:   12px;
    margin-left:  10px;
  }

  .m-club-details-totals {
    @extend %clearfix;

    position: absolute;
    top:       75px;
    left:     142px;

    width:    100%;

    .m-club-details-totals--item {
      @include inline-block;
      float:      left;

      width:      135px;
      margin:       0px;

      text-align: center;
    }

    .m-club-details-totals--label {
      display:        block;

      margin-bottom:  20px;

      color:          $white;
      font-size:      16px;

      font-family:    $trade-gothic;
      text-transform: uppercase;
      @include text-shadow( 1px 1px 1px rgba( $black, 0.5 ) );
    }

    .m-club-details-totals--value {
      color:       $green;

      font-size:   24px;
      font-family: $trade-gothic;

      @include text-shadow( 1px 1px 1px rgba( $green, 0.5 ) );
    }
  }

  .m-club-details-footer {
    position: absolute;
    display:  block;

    bottom:   0px;
    left:     0px;

    width:   100%;
    height:   85px;
    padding:   7px 15px 30px;

    .m-club-details-footer--heading {
      margin:          0px;

      color:          $white;

      font-family:    $trade-gothic;
      font-size:      17px;

      text-transform: uppercase;
    }

    .m-club-details-footer--body {
      @extend %clearfix;
      display:    block;

      height:     14px;
      margin-top: 20px;

      .m-reward--progress-meter {
        margin-top: -5px;
      }

      .m-reward--progress-points, .m-reward--progress-status, .m-reward--progress-next-level{
        @include inline-block;

        p {
          display:      inline;
          float:        left;
          margin-right: 5px;

          color:        $white;

          &.m-reward--status-value {
            color:      $green;
          }
        }
      }

      .m-reward--progress-points, .m-reward--progress-next-level{
        width: auto;
      }
    }
    .m-level {
      float:      right;
      margin-top: -30px;
    }
  }
}

.m-club-actions {

  .m-button {
    display:       block;
    margin-bottom: 10px;
    font-size: 14px; // reduce font-size to fit 'back to club lobby' in
  }
}
