%m-compare {
  @extend %m-box;
  position: relative;
  float: left;

  width:      443px;
  margin-top: -40px;
  
  .m-box--header-bar {
    width:       433px;
    margin-left:   5px;
  }
  .m-box--body {
    background: none;
  }

  padding-top: 50px;
}

.m-compare_home {
  @extend %m-compare;
  background: url('/images/home-compare-background.png') no-repeat;

  .m-compare--status {
    left: 22px;
  }
}

.m-compare_away {
  @extend %m-compare;
  margin-left: 60px;
  background: url('/images/away-compare-background.png') no-repeat;

  .m-compare--status {
    right: 22px;
  }
}

.m-compare--status {
  position: absolute;
  top: 23px;
  
  width: 85px;

  font-size: $large-text-font-size;
  font-family: $trade-gothic;
  text-transform: uppercase;
  text-align: center;

  &.good {
    color: $green;
  }

  &.bad {
    color: $red;
  }
}
