.m-confirm-box {
  min-height: 260px;
  text-align:     center;
  text-transform: uppercase;

  .m-confirm-box--intro {
    font-family: $trade-gothic;
    font-size:   $medium-text-font-size;
  }
}

.m-confirm-box-game {
  @extend %clearfix;

  min-height:    135px;
  padding:        10px;
  margin-bottom:  10px;

  background: $light-grey;
  @include box-shadow( inset 0px 0px 2px 2px rgba($mortar-grey, .5) );

  font-family: $trade-gothic;

  .m-confirm-box--label,
  .m-confirm-box--game-name {
    display: block;
  }

  .m-confirm-box--game-name {
    font-size: $heading-font-size;
  }


  .m-confirm-box--values {
    @extend %clearfix;
    display: block;
    margin: 10px auto 0px;
  }

  .m-value {
    @extend %clearfix;
    width: 112px;

    &.entry {
      float: left;
      .m-amount {
        background: $white !important;
      }
    }

    &.pot {
      float: right;
    }

  }

  .m-value--label {
    float: left;
    clear: left;
    width: 112px;
    height: 25px;
  }

  .m-amount {
    float: left;
    clear: left;

    width:       112px;
    height:       30px;
    padding-top:   7px;

    font-size: $large-text-font-size;
  }

}

.m-confirm-box-notice {
  @extend %clearfix;
  color: $empress-grey;
  margin-bottom: 50px;

  font-family: $trade-gothic;
  font-size:   $medium-text-font-size;
  font-weight: normal;

  .m-confirm-box-notice--total {
    color: $black;
  }

  &.error {
    color: $fire-engine-red;

    .icon-error {
      float: left;
    }
    .m-error--text {
      @include inline-block;
      float: left;

      width: 90%;
      margin: 3px 0px 0px 5px;

      text-align: left;
    }
  }
}

.m-confirm-box--actions {
  @extend %clearfix;

  position: absolute;

  bottom:  30px;
  left:   120px;

  width:   82px;
    
  a {
    float: right;
    clear: right;
  }

  .m-link_muted {
    margin-top: 10px;
    
    &:hover {
      color: $empress-grey;
      text-decoration: none;
    }   
  }
}

.m-confirm-box-share {
  @extend .m-confirm-box-game;
  padding-left:  29px;
  padding-right: 29px;

  text-align:     center;
  text-transform: uppercase;

  .m-button {
    width: 95px;
   } 
}
