.m-content--group {
  clear: both;

  p a {
    color: $black;
    &:hover {
      text-decoration: none;
    }
  }
}

.m-content--body {
  padding:    10px 0 50px;
  border-top:  1px solid $light-grey;

  &.popup {
    border-top: none;
  }

  .m-division--well {
    width:         auto;
    margin-bottom: 1em;
  }
}

.m-content--body-text {
  margin-top: 0; 

  line-height: 1.8;

  font-family:    $helvetica;
  font-size:      $content-text-font-size;
  text-transform: none;

  a {
    color:           $black;
    font-size:       $small-text-font-size;
    text-decoration: underline;

    // hack because the modular approach is broken here 
    &.m-button {
      @extend .m-button;
  }
}

}

.m-content-heading--search-term {
  text-transform: lowercase;
}

.m-content--sub-heading {
  overflow: hidden;

  padding:       10px 0;
  border-top:     1px solid  $light-grey;
  border-bottom:  1px solid $light-grey;
  margin:         0;

  font-size: $content-sub-heading-font-size;
}

.m-content--sub-heading-with-count {
  float: left;
  width: 75%;
}

.m-content--sub-heading-count {
  float: right;

  width:   17%;
  padding:  7px 0 11px;

  background: linear-gradient( $mortar-grey, $black );
  color:      $white-smoke;

  font-size:       $heading-font-size;
  text-decoration: underline;
  text-align:      center;
}

.m-content--table {
  margin-bottom: 1em;

  thead {
    display: none;
  }

  td {
    padding: 0 20px 0 0;
  }
}
.m-content--table,
.m-content--table tr,
.m-content--table td {
  background: none !important;
}


.m-content--scoring-table {
  width:         100%;
  margin-bottom:   1em;

  th {
    padding:    5px 10px;
    color:      $white;
    background: linear-gradient( $charcoal-grey, $black );

    &.left {
      text-align: left;
    }
  }

  td {
    padding:    5px 10px;
    text-align: center;

    &.left {
      text-align: left;
    }
  }
}

.m-content--group {
  ul, ol {
    font-size: $content-text-font-size;
  }
}

.m-content--group_search-results {
  @extend .m-content--group;

  .m-content--body {
    padding: 0px;
  }
}
