.m-countdown {
  z-index:    $panel-z-index;
  position:   fixed;
  top:         50% ;
  right:        1% ;

  width:      199px;
  height:      98px;

  background: url('/images/modules/countdown/background.png') no-repeat;

  #countdown {
    position: absolute;
    top:       30px;
    left:      40px;
  }

  .icon-close {
    position: absolute;
    top:      -18px;
    right:      0px;
  }
}
