.dataTables_info {
  float: right;
  margin: 18px 10px;
  text-transform: uppercase;
  
}

.dataTables_controls {
  position: relative;
  display: inline-block;
  width: 460px;
}

.paginate_enabled_next {
  position: absolute;
  right: 0px;
  bottom: 0px;
}