.m-division {
  display: table;
  position: relative;

  width: 100%;
  padding: 15px 15px 35px;
  margin-bottom: 22px;

  background: $white;


  p {
    line-height:    $base-line-height;
    font-size:      $medium-text-font-size;
    text-transform: uppercase;

    // nested to avoid anchor styles affecting a.m-button elements
    a {
      color: $black;
      text-decoration: underline;
  }
}

// Modifiers 
&.secure:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 15px;
  width: 100px ;
  height: 30px;
  background: url('/images/secure.png') top right no-repeat;
}

  &.prose {
    p {
      text-transform: none;
    }
  }

  .m-10-free-progress-well {
    width:   100% ;
    height:   90px;
    padding:  10px;


    .m-10-free-progress-tracker {
      width: 20%
    }

    .m-10-free-progress-labels {

      .m-10-free-progress--label {
        font-size:    15px;
        margin-left: -14px;

        &:first-child {
          margin-left: -4px;
        }
      }


    }
  }

  .m-button_invite {
    width:        170px;
    height:        40px;
    padding:       11px 6px;
    margin-right:  10px;

    font-size:     14px;

    &:last-child {
      margin-right: 0px;
    }

    i {
      margin-right: 5px;
    }
  }

}

.m-division--heading {
  padding-bottom:  2px;
  border-bottom:   1px solid $light-grey;
  margin-top:      0px;
  margin-bottom:  15px;

  font-size:   $heading-font-size;
  text-shadow: 1px 1px 1px rgba( $black, .3 );

}

.m-division--heading-playon {
  text-transform: uppercase;
  font-style: normal;
}

.m-division--well {
  display:       table;

  width:         100% ;
  padding:        10px;
  margin-bottom:  25px;

  @include box-shadow( inset 0 0 8px $nobel-grey );
  background:    $white-smoke;

  &.dark {
    background: $light-nero-black;
  }
}


.m-division_terms-and-conditions {
  @extend .m-division;

  .m-form-element {
    margin-bottom: 15px;
}
}

.m-division_limit-deposit {
  @extend .m-division;
  p {
    text-transform: none;
}
}

.m-division_notifications {
  @extend .m-division;

  .m-label_checkbox {
    text-transform: none;
  }

  .m-form-element {
    margin-bottom: 10px;
  }

  .m-division_notifications--subscribe-actions {
    margin-bottom: 20px;
  }
}
