$dropdown-column-width: 190px;

%m-dropdown {
  position: relative;

  .m-dropdown--link {

    .m-flag {
      margin-top: -3px;
    }

    &:hover, &.active {
      color: $green;
      .caret {
        border-top-color: $primary-dropdown-link-hover-color;
      }
    }
  }
}

%m-dropdown-content {
  z-index: $dropdown-z-index;
  display: none;

  position: absolute;
  top: 100%;

  min-width:  200px;
  max-height: 290px;
  margin:       0px;

  @include background($dropdown-background-gradient);
  @include box-shadow( 0 6px 6px rgba( $black, .4 ) );

  &.menu {
    list-style: none;
    padding: 5px 0;

    &.two-columns {
      width: $dropdown-column-width * 2 + 2; //+2 for the border
    }

    &.three-columns {
      width: $dropdown-column-width * 3;
      &.centered {
        left: - ($dropdown-column-width + ($dropdown-column-width/2) - (116px/2));
      }
    }

    &.four-columns {
      width: $dropdown-column-width * 4;
      &.centered {
        left: - (2 * $dropdown-column-width - (116px/2));
      }
    }

    .m-dropdown-content--inner {
      float:       left;
      width:       190px;
      padding-top:  20px;
      background: url('/images/modules/dropdowns/column-divider.png') no-repeat  bottom right;
      padding-right: 10px;

      &:last-child {
        background-image: none;
      }
    }

    .m-dropdown-menu--item {
      display: block;
      background: url('/images/modules/dropdowns/link-divider.png') no-repeat bottom center;

      &:last-child {
        background: none;
      }
    }

    .m-dropdown-menu--link {
      display:        block;

      padding:        10px 23px;

      color:          $silver;

      font-size:      13px;
      font-family:    $helvetica;
      text-transform: none;

      &:hover {
        color: $white;
      }

      &.active {
        color: $green;
      }
    }




  }

  &.container {
    padding: 20px;
    .m-label {
      color: $silver;
    }
  }

  &.left {
    left: 0px;
  }

  &.right {
    right: 0px;
  }   
}



.m-dropdown-content {
  @extend %m-dropdown-content;
}
%m-dropdown_primary {
  .caret {
    border-top-color: $primary-dropdown-link-color; 
  }
  &:hover {
    .m-dropdown--link {
      height: 53px;
      border: solid $mortar-grey;
      border-width: 1px 1px 0px;

      @include background( linear-gradient( $black 80%, rgba( $black, .8 ) 100% ));
      color: $primary-dropdown-link-active-color;

      @include box-shadow( inset 4px rgba( $black, .5 ) );

      &:before, &:after {
        background: none;
      }


      .caret {
        border-top:     0px;
        border-bottom:  3px solid $primary-dropdown-link-active-color;
        margin-top:    -2px;
      }
    }
  }
}

%m-dropdown_topbar {
  .caret {
    border-top-color: $silver; 
    margin-top: -2px;
  }


  .m-dropdown--link {
    border: solid transparent;
    border-width: 1px 1px 0px;
  }


  &.open, &:hover {
    .m-dropdown--link {

      border-color: $mortar-grey;

      @include box-shadow( 0 0 5px $black );

      color: $green;

      .caret {
        border-top-color: $green;
      }
    }

    .m-dropdown-content {

      border: 1px solid $mortar-grey;

      @include background( $topbar-dropdown-background-gradient );
      @include box-shadow( 0 2px 4px rgba($black, 1) );

      &.right {
        right: 3px;
      }

      &.left {
        left:  3px;
      }

      .m-label {
        color:     $white;
        font-size: $info-font-size;
      }

    }

  }
}
.m-dropdown {
  @extend %m-dropdown;

  // create module extensions as classes to keep js simple
  &.primary {@extend %m-dropdown_primary;} 
  &.topbar  {
    @extend %m-dropdown_topbar;
    .m-dropdown-content {
      @include background( $topbar-dropdown-background-gradient );
    }
  }

  &:hover {
    .m-dropdown-content {
      display: block;
    }
  }
}

