/*** styles for dropkick dropdown plugin.
* see jamielottering.github.io/DropKick/
***/

@import 'dropkick/*';

/***** 
* Shared dropkick styles
* Critical to the continued enjoyment of working dropdowns
******/

.dk_container {
  display: none;
  float:   left;

  background: none;

  a {
    outline: 0;
  }
}

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
  .dk_options {
    display: block;
  }
  .dk_label {
    color: inherit;
  }
}

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
  a, a:link, a:visited{
    display: block;
  }
}

.dk_options_inner {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}


/* Hides only dropkick <select> instances */
.dk_container select {
  position: absolute;
  top: -99999em;
  visibility: hidden;
}

/*  nativeMobile override */
.dk_mobile {
  position: relative;
  select {
    display: block;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    visibility: visible;
    opacity: 0;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
  }
}

/***** End Critical to the continued enjoyment of working dropdowns ******/
