.m-error {
  @extend %clearfix;
  margin: 10px 0px;

  color: $fire-engine-red;

  font-family: $trade-gothic;
  font-size:   $medium-text-font-size;
  font-weight: normal;

  .icon-error {
    float: left;
  }
  .m-error--text {
    @include inline-block;
    float: left;

    width: 90%;
    margin: 3px 0px 0px 5px;

    text-transform: uppercase;
    text-align:     left;
  }
}
