.m-error-page {
  position: relative;
  display:  block;

  width:  937px;
  height: 435px;
  
  .m-button {
    position: absolute;
    width: 200px;
  }

  &.four-oh-four {
    background: url('/images/404.png') no-repeat;

    .m-button {
      top:   245px;
      right: 183px;
    }

  }

  &.five-hundred {
    background: url('/images/500.png') no-repeat;

    .m-button {
      top:   265px;
      right: 183px;
    }

  }
}
