@import "homepage/game-callout/*.png"; 
@include all-game-callout-sprites;

.m-feature {
  @extend %clearfix;

  position:   relative;

  width:      100%;
  padding:     40px 0px 60px;

  @include background(linear-gradient(left, $white-smoke, $white 80%, $white-smoke 100%));

  text-align: center;

 .m-feature--heading {
   padding:   0px;
   margin:    0 10px;
   font-size: $feature-heading-font-size;
 }

 .m-feature--strapline {
   margin:    0px;
   color:     $mortar-grey;
   font-size: $feature-strapline-font-size;
 }

 .m-feature--divider {
   display:    block;
   position:   absolute;

   top:          0px;

   width:      100% ;
   height:      64px;

   background: url('/images/modules/features/background.png') top center no-repeat;

 }
}

.m-feature-callouts {
  @extend %clearfix;
  padding: 45px;
}

.m-feature--callout {
  @include inline-block;
  position: relative;
  text-align: center;
}

.m-game-callout {
  @include inline-block;
  width:   266px;
  height:  141px;

  @each $game in one-on-one, multiplayer, my-club {
    &.#{$game} {
      @extend .game-callout-#{$game}-normal;
      text-indent: -9999em;

      &:hover {
        @extend .game-callout-#{$game}-hover;
      }
    }
  }
}

