%m-filters {
  @extend %clearfix;
  display: block;

  margin-top: 5px;
  margin-bottom: 20px;

  .m-filters--container {
    @extend %clearfix;
    display: block;
    
    .m-link {
      display: inline;
      float: right;

      margin-top: 8px;
      
      font-size: 13px;

      text-transform: uppercase;
      text-decoration: underline;
    }
  }

  .m-filters--options {
    @extend %clearfix;
    display: block;

    margin-top: 5px;
    
    font-size: 13px;

    .m-link {
      float: right;
      margin-right: 5px;

      color: $black;

      text-transform: uppercase;
      text-decoration: underline;
    }

  }
}

.m-filters { @extend %m-filters;}

.m-filters_more-info {
  @extend %m-filters;
  margin-bottom: 10px;
}


.m-options {
  margin-bottom: 10px;
  font-size: 13px;

  .m-label, .m-checkbox {
    @include inline-block;
    margin-right: 3px;
  }

  .m-label_checkbox {
    margin-right: 10px;
  }
} 

.m-filter_alphabet {
  margin-right:  8px;
  color:        $black;
  font-size:    15px;

  &:last-child {
    margin-right:  0px;
  }

  &:hover {
    color:           $black;
    text-decoration: none;
  }

}
