.m-fixture--home-team {
  float: left;
}

.m-fixture--away-team {
  float: right;
}

.m-fixtures--link {
  color:          $black;
  margin-top:     10px;
  text-transform: uppercase;

  &:hover {
    color:           $black;
    text-decoration: underline;
  }
}
