.m-flash-notice {
  z-index: $flash-notice-z-index;

  position:absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 0px;
  padding: 10px 25px;

  color: $white;

  font-family: $trade-gothic;
  font-size: $small-heading-font-size;
  text-transform: uppercase;

  @include transition(height .3s ease-out );

  &.valid {
    @include background($success-background-gradient);
  }

  &.error {
    @include background($error-background-gradient);
  }

  &.is-revealed {
    height: 40px;
    @include box-shadow( 0 4px 2px -2px rgba( $black, 0.2 ) );
  }
}
