.footer-container {
  @extend %clearfix;
  width:      100% ;
  padding-top: 50px;
  border-top:   1px solid $black;

  background: $black url('/images/footer-background.png') no-repeat top center;
}

.m-footer {
  @extend %clearfix;

  .m-footer--heading {
    margin-top: 0px;
    
    color: $green;
    
    font-size: $medium-text-font-size;
    text-transform: uppercase;
  }

  .m-footer-menu {
    @include no-bullets;
  }

  .m-footer-menu--item {
    margin-bottom: 7px;
  }
  
  .m-footer-menu--link {
    color: $nobel-grey;
    font-family: $trade-gothic;
    
    &:hover {
      color: $white;
    }
  } 

  .m-footer--legal {
    min-height: 170px;
    padding-top: 15px;
    border-top: 1px solid $mortar-grey;
    margin-top: 15px;
    
    color: $nobel-grey;
    
    p {
      font-family: $helvetica;
      font-size: $small-text-font-size;
      text-transform: none;
    }
  }

  .m-footer--copyright {
    float: right;
    padding-right: 20px;
    text-align: right;

    p {
      margin: 7px 0px;
    }
  }

  .social-media-icons {
    margin-top: 10px;
  }
}

.m-regulators {
  padding-left: 20px; 
  .m-regulators--link {
    @include inline-block;
    float: left;

    margin: 0px;

    &.icon-opta, &.icon-rackspace {
      margin-top: 10px;
    }
  }
}

