// form elements

%m-form-element {
  @extend %clearfix;

  display: block;

  .m-link_muted {
    float: left;
    clear: left;
  }
}

.m-form-element {
  @extend %m-form-element;
}

.m-form-element_inline {
  @extend %m-form-element;
  vertical-align: middle;

  .m-label {
    display:      inline;
    margin-right: 10px;
  } 

  .m-input_text {
    display: inline;
  }
}

.m-form-section {
  @extend %clearfix;
  padding:    10px 5px;
  border-top:  1px solid $light-grey;

  .m-label {
    @include inline-block;
    float: left;

    height:      35px;
    padding-top: 15px;
  }

  .m-input_text {
    float: right;

    width: 55px;

    font-family: $trade-gothic;
    font-size:   15px;
  }

  // modifiers

  &.last { // hack to style create open challenge modal quickly 
    border-bottom: 1px solid $light-grey;
  }

}

// forms

%m-form {

  @extend %clearfix;

  .m-form--info {
    width:      310px;
    margin-top:   0px;

    color: $grey;

    line-height : 1.5;

    font-family:    $helvetica;
    font-size:      $form-info--font-size;
    font-style:     italic;

    text-transform: none;
  }


}

.m-form--card-icons {
  margin-bottom: -15px;
  margin-left:     5px;
}

.m-form--help {
  padding-left: 15px;
  margin-left:   5px;

  background: url('/images/icons/help.png') left center no-repeat;
  color: $dark-grey !important;

  font-size:       13px;
  font-family:     $trade-gothic;

  text-transform:  uppercase;
  text-decoration: underline;
}

.m-form {
  @extend %m-form;
}

.m-form_account {
  @extend %m-form;

  .m-form-element {
    @extend .grid-5;
  }
}

.m-form_contact {
  @extend %m-form;

  border-right: 1px solid $light-grey; 

  .m-form-element {
    @extend .grid-5;
  }

  .m-input_text, .m-input_textarea {
    background-color: $white-smoke;
  }
}

.m-form_modal {
  @extend %m-form;

  .m-input_text, .m-input_textarea {
    background-color: $white-smoke;
  }
}

.m-form-actions {
  @extend %clearfix;
  width:         100%;
  margin-bottom:  22px;

  .m-form-actions--previous {
    @include inline-block;
    float:      left;
    text-align: left;

    .m-form-actions--info {
      float: left;
      clear: left;
    }
  }
  .m-form-actions--next {
    @include inline-block;
    float:      right;
    text-align: right;

    .m-button, .m-form-actions--info {
      float: right;
      clear: right;
    }
  }

  .m-form-actions--info {
    @include inline-block;
    margin-top:             10px;

    color:                  $grey;

    font-family:            $helvetica;
    font-size:              $small-text-font-size;
    font-style:             italic;

    text-transform:         none;

  }
}

.m-form-search-and-filter {
  @extend %clearfix;

  .m-input_search {
    float: left;
    width: 35%;
  }

  .m-filters--container {
    @include inline-block;
    float: right;

    width:       260px;
    padding-top:   4px;

    .m-label {
      @include inline-block;
      float: left;

      padding-top: 10px;
      margin-right: 5px;
    }

    .m-link {
      @include inline-block;
      float: right;

      padding-top: 10px;
      margin-left: 10px;

      font-family:     $trade-gothic;
      text-transform:  uppercase;
      text-decoration: underline;
    }
  }
}
.m-form-search-and-filter_leaderboard {
  @extend .m-form-search-and-filter;
  width: 450px;
}

.m-form_search {

  .m-input_search {
    width:     340px;
    font-size: $info-font-size;
  }

  .icon-search {
    margin-top:   -2px;
    margin-left: -30px;
  }

  &:after {
    background: none;
  }
}


.m-form_login {
  @extend .m-form;

  .m-input_text {
    width:         236px;
    margin-bottom:  15px;
  }
  
  .m-button {
    width: 80px;
  }

  .m-form-actions {
    margin-top: 15px;
  }
}
