%m-header-bar {
  @extend %clearfix;

  padding: 10px 15px 10px 20px;
  
  @include filter-gradient( $mortar-grey, $dark-nero-black );  
  @include background-image( $header-bar-background-gradient );
  color: $white;

  .m-header-bar--heading {
    font-size: $heading-font-size;
    margin:    0px;
  }

  .m-header-bar--heading_small {
    font-size: $small-heading-font-size;
    margin:    0px;
  }

  &.solo {
    margin-bottom: 20px;
  }

  &.transparent {
    background: none;
    @include no-ms-filter;
  }
}

.m-header-bar {
  @extend %m-header-bar;
}

%m-header-bar_small {
  @extend %m-header-bar;
  padding: 5px;
}

.m-header-bar_small {
  @extend %m-header-bar_small;
}

.m-logo {
  position: absolute;
  top:      65px;
  left:      5px;

  padding:   0px;
  margin:    0px;
}
