.m-hero-unit {
  @extend .grid-16;
  position: relative;
  @include inline-block;
  float: left;
  
  height:        208px;
  padding:        30px 0px 30px 30px;
  margin:        -30px 0px 30px -15px;
  border-bottom:   3px solid $green;

  @include background-image( image-url( "../images/hero-unit.png" ), $hero-unit-background-gradient );
  background-color:    $near-black;
  background-size:     auto;
  background-position: bottom right;
  background-repeat:   no-repeat;
    
 
  .m-hero-unit--strapline {
    float: left;
    clear: left;

    padding-left: 3px;
    
    color: $dark-grey;
    
    font-size: $large-text-font-size;
    font-family: $trade-gothic;
    
    text-transform: uppercase;   
  }
 
  .m-hero-unit-heading {
    color:       $white;
    font-size:   $extra-large-heading-font-size;
    font-weight: normal;

    .m-hero-unit-heading--line {
      float:       left;
      clear:       left;

      line-height: 1.0em;
    }
  }
}
