.m-howtoplay--steps {
  display:    table;

  padding:    0;
  margin:     0 -10px;

  list-style: none;

  text-align: center;
}

.m-howtoplay--step {
  float:        left;

  width:         33%;
  padding:      120px 0 0;
  border-right: solid 1px $light-grey;

  background:   url('/images/modules/howtoplay/steps.png') 19px 0 no-repeat;

  &.step-2 {
    background-position: -168px 0;
  }

  &.step-3 {
    border-right: none;
    background-position: -358px 0;
  }

}

.pick-team .m-howtoplay--step {
  background: url('/images/modules/howtoplay/pick-team.png') 27px 0 no-repeat;

  &.step-2 {
    background-position: -158px 0;
  }

  &.step-3 {
    background-position: -344px 0;
  }
}

.enter-games .m-howtoplay--step {
  background: url('/images/modules/howtoplay/enter-games.png') 18px 30px no-repeat;

  &.step-2 {
    background-position: -170px 30px;
  }

  &.step-3 {
    background-position: -354px 30px;
  }
}

.results .m-howtoplay--step {
  width:      49.5%;
  background: url('/images/modules/howtoplay/results.png') 27px 0 no-repeat;

  &.step-2 {
    border-right:        none;
    background-position: -253px 0;
  }
}

.m-howtoplay--step-title {
  margin:      0;
  font-size:   $howtoplay-step-title-font-size;
  text-shadow: 1px 2px 3px rgba($black,0.3);
}

.m-howtoplay--step .m-howtoplay--step-description {
  padding:        0 10px;
  margin-bottom: 15px;

  color: $grey;

  font-family: $helvetica;
  font-size:   $small-text-font-size;

  line-height: 1.5;
}

.contact {
  border-right: solid 1px $light-grey;

  .m-button {
    margin: 20px 20px 0 0;
  }
}

.m-howtoplay--contact-option {
  display:    block;
  padding:    10px 0 10px 30px;
  background: url('/images/modules/howtoplay/contact.png') no-repeat 0 10px;

  &.twitter {
    background-position: 0 -22px;
  }

  &.facebook {
    background-position: 0 -55px;
  }

  &.email {
    background-position: 0 -87px;
  }

  color:           $black;
  text-decoration: underline;

  &:hover {
    color:           $black;
    text-decoration: none;
  }
}
