@import "icon/*.png";

@include all-icon-sprites;

%icon {
  @include inline-block;
}

%icon-link {
  @extend %icon;
  text-indent: -9999px;
  border: none;
}

.icon-close, .icon-info, .icon-info-red-card, .icon-info-injured-25, .icon-info-injured-50, .icon-info-injured-75 {
   @extend %icon-link;
   width:  16px;
   height: 17px;
}

.icon-injured {
  @extend %icon;
  width:  16px;
  height: 16px;
}

.icon-red-card {
  @extend %icon;
  width:  20px;
  height: 24px;
}

.icon-tick {
  @extend %icon;
  width:  13px;
  height: 13px;
}

// using home-selected instead of home-active, as Compass got into a strange cacheing confusing with home-active
.icon-home, .icon-home-selected { 
  @extend %icon;
  width:  16px;
  height: 13px;
}

%info {
  cursor: pointer;
}

.icon-info, .icon-info-injured-25, .icon-info-injured-50, .icon-info-injured-75 {
  @extend %info;
} 

.icon-info-injured {
  @extend .icon-info-injured-25;  // temporary mapping of image because perentage playing isn't in yet
}


.icon-twitter, .icon-facebook {
  @extend %icon-link;
  width:  27px;
  height: 27px;
}

.icon-gamcare {
  @extend %icon-link;
  width:  27px;
  height: 34px;
}

.icon-gambling-commission {
  @extend %icon-link;
  width:  82px;
  height: 34px;
}

.icon-ibas {
  @extend %icon-link;
  width:  69px;
  height: 34px;
}

.icon-cyber-patrol {
  @extend %icon-link;
  width:  28px;
  height: 34px;
} 
.icon-opta {
  @extend %icon-link;
  width:      77px;
  height:     40px;
  margin-top: 25px;
} 
.icon-rackspace {
  @extend %icon-link;
  width:      86px;
  height:     40px;
  margin-top: 25px;
} 

.icon-contact {
  @extend %icon;
  width:  14px;
  height: 14px;
}

.icon-ambassador {
  @extend %icon;
  width:  18px;
  height: 24px;
}

.icon-plus-one {
  @extend %icon-link;
  width:  12px;
  height: 10px;
}

.icon-live-chat {
  @extend %icon-link;
  width:  23px;
  height: 22px;
}

.icon-email {
  @extend %icon-link;
  width:  27px;
  height: 20px;
}

.icon-valid {
  @extend %icon;

  width:        17px;
  height:       16px;

  margin-top:   -6px;
  margin-left: -24px;
}

.icon-search {
  @extend %icon-link;
  width:  18px;
  height: 16px;
}


%icon-pagination {
  @extend %icon;

  width:   6px;
  height:  10px;
  padding: 0px;
  border:  none;
}

.icon-pagination-right,
.icon-pagination-left {
  @extend %icon-pagination;
}

.caret {
  @include inline-block;

  content:        "";

  width:          0;
  height:         0;

  border-top:     3px solid;
  border-right:   3px solid transparent;
  border-left:    3px solid transparent;

  vertical-align: middle;
  
}

@each $chance in 0, 25, 50, 75 {
  .icon-key-chance-of-playing-#{$chance} {
    @extend %icon;

    width:  12px;
    height: 12px;
  }
}

.icon-key-red-card {
  @extend %icon;
  width:  12px;
  height: 12px;
}

.icon-lineup-red-card, .icon-lineup-yellow-card {
  @extend %icon;
  width:  14px;
  height: 16px;
}

.icon-lineup-goal {
  @extend %icon;
  width:  10px;
  height: 10px;

}

.icon-more-info-small {
  @extend %icon-link;
  width:   9px;
  height: 10px;
}

.icon-error {
  @extend %icon;
  width:  21px;
  height: 19px;
}

.icon-facebook-button {
  @extend %icon;
  width:  10px;
  height: 20px;
}

.icon-email-invite-button {
  @extend %icon;
  width:  15px;
  height: 11px;
}

.icon-facebook-share-button {
  @extend %icon;
  width:  15px;
  height: 17px;
}

.icon-twitter-share-button {

  @extend %icon;
  width:  21px;
  height: 17px;
}

.icon-chat-empty, .icon-chat-active {
  @extend %icon-link;
  width:  18px;
  height: 18px;

  cursor: pointer;
}

%icon-flag {
  @extend %icon;
  width:  64px;
  height: 43px;
}

.icon-flag-england {
  @extend %icon-flag;
}

.icon-back {
  @extend %icon;

  float:        left;
  width:        15px;
  height:       16px;

  margin-left:  -5px;
  margin-right:  5px;
  margin-top:   -3px;
}

.icon-contact-us {
  @extend %icon-link;
  width: 36px;
  height:27px;
}

.icon-team {
  @extend %icon;
  width:  14px;
  height: 16px;
}
