%m-input {
  border: 1px solid $silver;
  padding: 7px 1%;

  &:focus {
    outline: none;
    border-color: $green;
  }

  &.error {
    border-color: $torch-red;
  }
}

.m-input { @extend %m-input; }

%m-input_text {
  @extend %m-input;

  width:    94%;
  padding:   7px 2%;

  &.short {
    width:  50px;
  }

  &.account {
    width: 250px;
  }
}

.m-input_text { @extend %m-input_text; }

.m-input_search {
  @extend %m-input_text;

  &.dark {
    padding-top: 6px; 
    border: none;
    border-bottom: 1px solid $mortar-grey;

    @include background($dark-input-background-gradient);
    color: $silver;

    &:focus {
      @include transition-property(color, background);   
      @include transition-duration(0.5s, 0.5s);   
      @include transition-timing-function(linear, ease-in); 

      background: $white;    
      color: $black;

      // a 'hack' to hide the placeholder text in firefox, as it won't respond to text-indent or visibility 
      &::-moz-placeholder {
        color: $white;
      }
    }
  }
}

.m-input_search_small {
  @extend .m-input_search;
  padding-top: 2px;
  }

.m-input_select {
  @extend %m-input;
  border: none;
}

.m-input_textarea {
  @extend %m-input; 
}

.m-input_radio {
  @include inline-block;
  float: left;
  margin-right: 5px;
}


.m-input_file {
  @include box-shadow(none);
  margin: 10px 0px;

  button {
    @extend %m-button;
  }
}
