.m-invite-section {
  @extend %clearfix;

  padding:       10px;
  margin-bottom: 10px;

  @include background( linear-gradient(left, $light-grey, $white-smoke, $light-grey) ); 
  @include box-shadow( inset 0px 0px 3px 3px rgba($mortar-grey, .2) );

  .m-invite-section--option {
    @extend %clearfix;
    display: block;
    height: 30px;
  }

  .m-invite-section--heading {
    float: left;

    padding-bottom: 0px;
    margin-bottom: 0px;

    color: $black;

    font-size:      13px;
    font-family:    $trade-gothic;
    text-transform: uppercase;
  }

  .m-button_invite {
    float: right;
  }

  .m-invite-section--inner {
    display: none;

    padding:    30px 10px;
    margin-top: 15px;

    background: $white;
    @include box-shadow( inset 0px 0px 3px 3px rgba($mortar-grey, .2) );

    .m-input_search {
      float: left;
      width: 130px;
    }

    .m-filters--container {
      @extend %clearfix;
      @include inline-block;
      float: right;

      width:       260px;
      padding-top:   4px;

      .m-label {
        @include inline-block;
        float: left;

        padding-top: 10px;
        margin-right: 5px;
      }

      .m-link {
        @include inline-block;
        float: right;

        padding-top: 10px;
        margin-left: 10px;
        
        font-family: $trade-gothic;
        text-transform:  uppercase;
        text-decoration: underline;
      }
    }
  }
}
