@import "jerseys/jersey-pitch/*.png";
@import "jerseys/jersey-small/*.png";
@import "jerseys/jersey-thumb/*.png";
@import "jerseys/jersey-player-info/*.png";
@import "jerseys/jersey-compare/*.png";
@import "jerseys/jersey-large/*.png";
@import "jerseys/jersey-detail/*.png";

@include all-jersey-pitch-sprites;
@include all-jersey-small-sprites; 
@include all-jersey-thumb-sprites;
@include all-jersey-player-info-sprites;
@include all-jersey-compare-sprites;
@include all-jersey-large-sprites;
@include all-jersey-detail-sprites;

%m-jersey {
  position: absolute;
  z-index: 1;
}

.m-jersey {
  @extend %m-jersey;
}

%m-jersey_small {
  @extend %m-jersey;
  width:  23px;
  height: 32px;
 }

%m-jersey_thumb {
  @extend %m-jersey;
  width:  15px;
  height: 20px;
 }

.m-jersey_thumb {
  @extend %m-jersey_thumb;
}

.m-jersey_small {
  @extend %m-jersey_small;
}

%m-jersey_pitch {
  @extend %m-jersey;
  width:  45px;
  height: 63px;
}

.m-jersey_pitch {
  @extend %m-jersey_pitch;
}

.m-jersey_compare {
  @include inline-block;
  width:  64px;
  height: 89px;
}

.m-jersey_large {
  @extend %m-jersey;
  width:  50px;
  height: 70px;
}

// kept here for now until jerseys module is finalised.
.m-jersey_fixture {
  @extend %m-jersey_thumb;
  @include inline-block;

  position: relative;
  margin:   auto 4px;
}
.m-jersey_player_info {
  @include inline-block;
  width:   88px;
  height: 123px;
}

.m-jersey_detail {
  @extend %m-jersey;
  width:  138px;
  height: 193px;
}
