%m-label {
  display: block;
  text-transform: uppercase;
  
  &.inline {
    @include inline-block;
  }

  .m-label--required {
    margin-left: -3px;
    color: $green;
  }

  .m-label--link {
    color: $black;
    text-decoration: underline;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}

.m-label {
  @extend %m-label;
}

.m-label_checkbox {
  @extend %m-label;
  @include inline-block;
}

.m-label_radio {
  @extend %m-label;
  @include inline-block;
}
