$cell-margin-right:                 2px;
$position-column-width:            30px;
$player-name-column-width:        250px;
$player-name-column-margin-right:   7px;
$score-cell-width:                 85px;

%m-leaderboard--cell {
  @include inline-block;
  float: left;

  margin-right: $cell-margin-right;

  @include background( $header-bar-background-gradient );
  color:          $white;

  font-family:    $trade-gothic;
  text-transform: uppercase;
}

%m-leaderboard--cell_body {
  @extend %m-leaderboard--cell;

  height:     40px;
  padding:    10px;
  border-top:  1px solid $mortar-grey;

  @include box-shadow( 0px 3px 3px 3px rgba($black, .2) );

  font-size:  20px;
}

%m-leaderboard-score-cell {
  @extend %m-leaderboard--cell_body;

  width:   $score-cell-width;
  height:  60px;
  padding:  5px 10px;

  .m-amount {
    margin-top: 0px;

    &.total {
      background: url( '/images/total-small.png' ) center no-repeat;
      @include box-shadow(none);

      font-size:  $large-text-font-size;
      text-align: center;

    }
  }
}

.m-leaderboard {
  @extend %clearfix;
  display: block;

  width:   100%;
  padding:  20px 10px;

  background: $light-nero-black;

  .m-leaderboard--scroll-container {
    @extend %clearfix;
    overflow-y:    scroll;

    max-height:    480px;
    padding-right:  20px;
  }

  .m-leaderboard-header {
    @extend %clearfix;
    display: block;

    width:  100%;
    height:  40px;

    .m-leaderboard-header--cell {
      @extend %m-leaderboard--cell;

      height:    30px;
      padding:    6px 10px;

      font-size: 16px;

      &.player-name {
        width:       $player-name-column-width;
        margin-left: $position-column-width + $cell-margin-right;
        margin-right: $player-name-column-margin-right;
      }

      &.top-scores {
        width:      $score-cell-width * 5 + $cell-margin-right * 3;
        text-align: center;
      }

      &.total {
        width:       $score-cell-width;
        margin-left: $player-name-column-margin-right; // using player name margin as they should match


        text-align: center;
      }
    }
  }

  .m-leaderboard-player {
    @extend %clearfix;
    width:       100%;
    padding-top: 10px;

    &:first-child {
      padding-top: 0px;
    }

    &.highlight {
      .m-leaderboard-player-data--cell {
        color: $green;
      }
    }
  }

  .m-leaderboard-player-data {
    @include inline-block;


    padding-bottom: 10px;
    border-bottom:   3px ridge $charcoal-grey;

    .m-leaderboard-player-data--cell {
      @extend %m-leaderboard--cell_body;
      &.position {
        width: $position-column-width;
        text-decoration: underline;
      }

      &.name {
        width: $player-name-column-width;
        margin-right: $player-name-column-margin-right;
      }

      &.top-score {
        @extend %m-leaderboard-score-cell;
      }

      .m-leaderboard-player-data--date {
        color:     $white;
        font-size: 10px;
      } 

    }

  }
  .m-leaderboard-player-total {
    @extend %m-leaderboard-score-cell;
    float:        right;
    margin-right: 0px;
    text-align:   center;
  }
}
