@import "level/*.png";
@import "level-small/*.png";

@include all-level-sprites;
@include all-level-small-sprites;

%level {
  @include inline-block;
}

%club-level {
  @extend %level;
  width:  46px;
  height: 53px;
}
.level-ballboy {
  @extend %level;
  width:  38px;
  height: 44px;
}

.level-player {
  @extend %level;
  width:  75px;
  height: 26px;
}

.level-manager {
  @extend %level;
  width:  53px;
  height: 48px;
}

.level-green, .level-bronze, .level-silver, .level-gold, .level-black {
  @extend %club-level;
}

.level-hero {
  @extend %level;
  width:  74px;
  height: 31px;
}

.level-legend {
  @extend %level;
  width:  40px;
  height: 41px;
}

.level-small-ballboy {
  @extend %level;
  width:  26px;
  height: 30px;
}

.level-small-player {
  @extend %level;
  width:  50px;
  height: 17px;
}

.level-small-manager {
  @extend %level;
  width:  33px;
  height: 30px;
}

.level-small-hero {
  @extend %level;
  width:  50px;
  height: 21px;
}

.level-small-legend {
  @extend %level;
  width:  29px;
  height: 30px;
}
