.m-live-notice--overlay {
  position: absolute;
  z-index: $modal-backdrop-z-index;
  display: block;
  
  top:       0;
  bottom:    0;
  right:       0;
  left:    0;
  opacity: .8;


  background: $dim-grey;
}

.m-live-notice--content {
  z-index: $modal-z-index;

  position: absolute;
  top: 45px;
  left: 200px;

  width: 450px;
  height: 270px;
  padding: 25px;

  @include background( linear-gradient(top, $charcoal-grey, $near-black) ); 
  @include box-shadow( inset 0 0px 5px 5px rgba( $black, 0.2 ) );

  color: $white;

  font-family: $trade-gothic;
  font-size: $heading-font-size;
  text-transform: uppercase;
  text-align: center; 

  .m-live-notice-content--heading {
    margin-bottom: 25px;
    color:     $green;
    font-size: $extra-large-heading-font-size;
  }

  .m-live-notice-content--sub-heading { }
  
  .m-live-notice-content--fixture {
    width: 270px;
    height: 50px;

    padding-top: 10px;
    padding-bottom: 10px;

    border-top: 1px solid $dim-grey;
    @include border-radius( 4px);

    margin-top: 25px;
    margin-bottom: 25px;

    @include background( linear-gradient(top, $charcoal-grey, $near-black) ); 
    @include box-shadow( 0 0px 2px 2px rgba( $black, 0.2 ) );
    color: $green;
  }
}
