.m-matchday-player-info {
  @extend %clearfix;

  display:  none;
  position: absolute;
  z-index:  $pitch-player-more-info-z-index;

  width:  160px;
  height: 210px;

  border: 2px solid $black;

  @include box-shadow( 0px 0px 0px 0px 4px 4px rgba($black, .4) );


  .icon-close {
    position: absolute;
    top:      0px;
    right:    -20px;
  }

  .m-table_matchday-player-info {
    width: 100%;
    border-spacing:  0px;
    border-collapse: collapse;

    .m-table--header {
      > tr {
        @extend %m-bar;

        height: 17px;

        @include background( $header-bar-background-gradient );
        color:     $white;

        font-size: 11px;

        th {
          padding-left:  4px;
          padding-right: 4px;
        }
      }
    }

    .m-table--body {
      td, th {
        height:  16px;
        padding: 3px 4px;
        border-right: 1px solid $silver;

        color: $black;

        font-family:    $helvetica;
        font-size:      9px;
        text-transform: none;

        &:last-child {
          border-right: none;
        }
      }
      tr:nth-child(odd) {
        background: $white;
        }
      tr:nth-child(even) {
        background: $white-smoke;
      }

     }
    .name-column {
      padding-left: 4px;
      text-align: left;
    }
  }
}
