.m-media {
  @extend .grid-4;

  position: relative;
  @include inline-block;
  float: left;

  height:        75px;
  padding:       10px;
  margin-bottom: 10px;
  margin-left:    0px;

  background: $black;
 
  .m-supports {
    @extend %m-bar;
    position: relative;

    float: left;
    clear: left;

    width:      100%;
    height:     16px;
    padding:     2px 5px;
    margin-top:  10px;

    @include background( $white-grey-small-bar-gradient );

    .m-supports--text { 
      float: left;
      color: $black;

      font-family:    $trade-gothic;
      font-size:      12px;
      text-transform: uppercase;
    } 

    .m-jersey_small {
      position: absolute;
      right:    -5px;
      bottom:   -3px;
    }

  }

  .m-media--sidebar {
    float: left; 
  }

  .m-media--details {
    float: left;
    width: 125px;
  }

  .m-media--name {
    display: block;

    padding: 0;
    margin:  0 0 3px 0;

    color:          $green;
    text-transform: uppercase;
    font-size:      12px;
    font-family:    $trade-gothic;
  }

  .m-media-record {
    padding: 0;
    margin:  0;

    font-size:   12px;
    font-family: $trade-gothic;

    .m-media-record--label {
      color: $green;
    }

    .m-media-record--value {
      color: $white;
    }
  }

  .m-media--image {
    width: 55px;
    border: 1px solid $light-grey;
    margin: 1px 5px;
  }
}
