@import '../mixins/modal-position';

%modal {
  z-index: $modal-z-index;
  overflow: visible;
  position: absolute;
  
  top:  10%;
  left: 50%;

  margin-top: 0px; 
  
  @include background-image( $modal-background-gradient );

  // Remove focus outline from opened modal
  outline: none;
   
  // bootstrap modifiers, not appropriate to use the is-faded state as this transitions top as well.
  // both classes needed for the CSS3 transition to apply
   
  &.fade {
    @include transition( opacity .3s linear);
  }

  &.modal-absolute {
    position: absolute;
    z-index: $modal-z-index;
  }
 
  .loading-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white;
    @include border-radius( 6px );
  }

  .m-modal--header-bar {
    @extend %clearfix;
    height: 50px;
    padding: 10px;

   .m-header-bar--heading {
    font-size: $heading-font-size;
    margin: 0px;
    padding: 0px;
   }
  }

  p a {
    color: $black;
    text-decoration: underline;
  }

  .m-modal-actions {

    .m-button, .m-link_muted {
      margin-bottom: 10px;

      &.right {
        clear: right;
      }
    }

    .m-link_muted:hover {
      color: $empress-grey !important;
      text-decoration: none;
    }
  }

  .m-modal-close {
    @extend %icon;
    @extend .icon-close;

    position: absolute;
    top:   -7px;
    right: -7px;

    cursor: pointer;
  }

  .m-link_muted:hover {
    color: $charcoal-grey !important;
    text-decoration: none;
  }
}

%m-modal-body {
  position: relative;
}

.m-modal-body {
  @extend %m-modal-body;
}

.modal-backdrop {
  position: fixed;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  
  z-index: $modal-backdrop-z-index;
  
  background-color: $black;

  &.modal-absolute {

	position: absolute;
  z-index: $modal-backdrop-z-index;
  }
  
  &.fade.in {
    @include opacity( .8 );
  }

  &.hide {
    display: none;
  }
}

.modal-scrollable {
  overflow: auto;

  position: fixed;
  top:      0;
  bottom:   0;
  left:     0;
  right:    0;
}

.modal {
  @extend %modal;
}

.modal-open {
	overflow: hidden;
  &.page-overflow {
    .modal-scrollable {
      overflow-y: scroll;
    }
  }
}

%m-modal_sign-up {
  top: 5%;
  @include modal-position( 460px );
  min-height: 615px;
  padding:     10px;

  .m-modal--header-bar {
    display: block;

    width:         440px;
    height:         70px;
    padding:         0px;
    margin-bottom:  30px;
  }

  .m-modal-body {
    @extend %m-modal-body;
    padding-left:   70px;
    padding-right:  70px;

    h1 {
      font-size: 34px;
    }
  }

  .m-link_secondary {
    &:hover {
      color: $empress-grey;
      text-decoration: none;
    }
  }

  p {
    font-family:    $trade-gothic;
    text-transform: uppercase;
  }

  .m-checkbox {
    margin-bottom: 10px;
    margin-left:    5px;
  }

  .m-modal--footer {
    .icon {
      float:   left;
      display: inline;

      padding-right: 10px;
      border-right:   1px solid $silver;
      margin-right:  10px;

      &:last-child {
        border-right: none;
      }
    }
  }

}

.m-modal--footer_gambling {
  position: absolute;
  bottom: 10px;
  left:   25px;
}

.m-modal_sign-up {
  @extend %m-modal_sign-up;
}

.m-modal_show-league {
  @extend %m-modal_sign-up;
  width:   600px;
  padding: 20px;
}

.m-modal_show-challenge {
  @extend %m-modal_sign-up;
  width:      540px;
  min-height: 260px;

  padding: 20px;

  .modal-body {
    padding: 15px 20px;
  }
}

.m-modal--encouragement {
  font-family: $trade-gothic;
  color:       $islamic-green;
}


.m-modal_confirm {
  @extend %modal;

  @include modal-position(320px);
  min-height: 240px;
  padding: 20px;

}

@import 'modals/*';
