@import '../mixins/modal-position';

.m-modal_multiplayer {
  @extend %modal;
  top:   2%;

  @include modal-position( 600px );  
  height: 730px;

  padding: 10px;

  .m-header-bar--heading {
    margin: 0px;
  }

  .m-modal_multiplayer--body {
    @extend %clearfix;
    padding: 30px 40px;

    .m-ticket_multiplayer {
      margin: 0 auto;
    }
  }

  .m-modal_multiplayer-details {
    @extend %clearfix;
    @include background( $light-section-body-background-gradient );
    @include box-shadow( 0px 3px 3px 3px rgba($mortar-grey, .2) );
  }

  .m-leaderboard-summary {
    @extend %clearfix;

    width:         100%;
    height:        50px;
    padding:       10px 0px;
    margin-bottom: 20px;

    @include background( linear-gradient(left, $light-grey, $silver, $light-grey) );

    @include box-shadow( inset 0px 0px 3px 2px rgba($black, .2) );

    font-family:    $trade-gothic;
    font-size:      13px;
    text-transform: uppercase;

    .m-leaderboard-summary--detail {
      @extend %clearfix;
      float: left;

      width:   49%;
      padding: 0px 10px;

      dl {
        @extend %clearfix;
        float: left;

        dd, dt {
          display: block;
        }
      }

      .m-amount {
        float: right;
        margin-top: 0px;

      }

      &:first-child {
        border-right: 1px solid $dark-grey;
      }

    }
  }

  .m-leaderboard-details {
    @extend %clearfix;
    padding-top: 20px;
    border-top:   1px solid $dark-grey;

    .m-leaderboard-details--options {
      font-family:    $trade-gothic;
      text-transform: uppercase;

      .m-input_search {
        @include inline-block;
        width: 140px; 
      }

    }

    .m-leaderboard-filters {
      float: right;

      label { 
        @include inline-block;
        float: left;

        padding-top:  10px;
        margin-right: 10px;
      }

      .m-link {
        float: right;

        margin-left: 10px;
        padding-top: 10px;

        color:           $black;
        text-decoration: underline;

        &:hover { 
          color:           $black;
          text-decoration: none;
        }
      }
    }

  }

}
