%m-navigation {
  overflow: visible;
}

.m-navigation {
  @extend %m-navigation;
}

// created because the compass 'inline-list' method applies to li elements, not classing, breaking modular cascade
%m-navigation_inline--item { 
  // floating left instead of using inline block because of inline-block's whitespace dependence (see http://css-tricks.com/fighting-the-space-between-inline-block-elements/)
  float: left;

  margin-right: 1px;

  list-style-image: none;
  list-style-type: none;

  vertical-align: middle;
  zoom: 1;
  white-space: nowrap;
}

.m-navigation_primary {
  @extend %m-navigation;

  @include box-sizing( content-box );
  height: 50px;
  border-bottom: 3px solid $green;

  @include background( $primary-navigation-background-gradient );
  font-family: $navigation-font-family;
  text-transform: uppercase;


  .m-navigation_primary--item {
    @extend %m-navigation_inline--item;

    width:      116px;

    @include border-gradient( rgba( $black, 0 ), $dim-grey, 0px, 1px, 0px, 0px );
    border-top: 1px solid $dark-nero-black; 
    margin-top:  -1px;

    &:last-child {
     &:after {
       background: none; // remove the right border gradient from the last item
     }

     // extend the width of the last item to fill the top bar
     width:        121px;
     margin-right:   0px;

     .m-navigation_primary--link {
       width: 121px;
      }
    }

    .m-dropdown-content {
      min-height: 210px;
    }
  }

  .m-navigation_primary--link {
    position:   relative;
    display:    block;

    width:      116px;
    height:      50px;
    padding:     18px;

    text-align: center;
    
    @include navigation-background( $light-primary-navigation-background-color, $dark-primary-navigation-background-color );
    // override border-top created by navigation-background()
    border-top: 1px solid $black;
    
    color: $white;
    
    text-align: center;

    font-size: $primary-navigation-font-size;

    &:hover {
      color: $green;
    }

    &.active {
      color: $green;

      &:after{
        content:       " ";
        display:       block;

        width:         0px;
        height:        0px;

        border-right:  9px solid transparent;
        border-bottom: 9px solid $green;
        border-left:   9px solid transparent;

        margin-top:    7px;
        margin-right:  auto;
        margin-left:   auto;
      } 
    }

    &.highlight {
      @include box-shadow(inset 0px 0px 4px 4px rgba( $green, .4 ));
    }
  }
 }

.m-navigation_sidebar {
	margin: 0 20px;
}

.m-navigation_sidebar--item {
  margin: 0 0 10px;

  @include background( $navigation_sidebar-background-gradient );
  
  list-style: none;
  text-transform: uppercase;

  box-shadow: 0 2px 5px rgba( $black, .7 );

  &.deposit {
    box-shadow: 0 2px 5px rgba( $black, .7 ), inset 0 0 50px rgba( $reef-green, .7 );
  }

  &.group > .m-navigation_sidebar--link {
    position: relative;
    color: $islamic-green;
  }

  &.group > .m-navigation_sidebar--link:after {
    content: '';

    position: absolute;
    top: 15px;
    right: 15px;

    width: 0; 
    height: 0; 
    
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid $islamic-green;
  }

  &.active {
    .m-navigation_sidebar--link {
      color: $islamic-green;
    }
  }
}

.m-navigation_sidebar--link {
  display: block;

  width: 100%;
  padding: 10px;
  
  color: $empress-grey;
  text-shadow: 1px 1px 1px rgba( $white, .5 );

  &:visited {
    color: $empress-grey; 
  }

  &:hover, &.active {
    color: $islamic-green;
  }
}

.m-navigation_top-bar {
  @extend %m-navigation;
  @extend %clearfix;
  display:       block;

  width:         100% ;
  margin-bottom:  25px;

  .m-navigation_top-bar-list {
    &.left {
      float: left;
    } 

    &.right {
      float: right;
    }
  }

  .m-navigation_top-bar-banner {
    overflow: hidden;
    padding-top:   5px;

    text-align:  center;
  }

  .m-navigation_top-bar--item {
    @extend %m-navigation_inline--item;

    float: left;

    height:        35px;
    padding-left:   3px;
    padding-right:  3px;
    border-bottom:  1px solid $black;
    margin-right:   1px;
    
    @include background( $topbar-navigation-background-gradient );
    @include box-shadow( 5px 0px 3px -3px rgba( $black, .8) );
  }
  .m-navigation_top-bar--link {
    display: block;

    height:     35px;
    padding:     3px 10px;
    border-top:  1px solid transparent;
    margin-top:  5px;
    
    color: $silver; 

    font-size:      13px;
    font-family:    $trade-gothic;
    text-transform: uppercase;

    &:hover {
      color: $white;
    }

    &.login {
      color: $green;
      .caret {
        border-top-color: $green;
      }

      &:hover {
        color: $green;
      }
    }
  }
}

.m-navigation_search {
  position: absolute;
  bottom:    0px;
  right:    -1px;
}

.m-navigation_search--item {
  @extend %m-navigation_inline--item;

  width:      249px;
  padding:     10px 10px 0px;
  background: $black;

  form {
    overflow: hidden;
  }

  .m-input_search {
    float: right;

    width:       220px;
    margin:        0px;

    font-size:   $info-font-size;
  }

  .icon-search {
    position: absolute;
    top:      17px;
    right:    16px;
  }

  &:after {
    background: none;
  }

  @each $prefix in "::-webkit-input", ":-moz", "::-moz", ":-ms-input" { 
    #{$prefix}-placeholder {
      font-family:    $trade-gothic;
      font-size:      12px;
      font-weight:    light;
      text-transform: uppercase;
    } 

    :focus#{$prefix}-placeholder {
      text-indent: -999px;
    }
  }
}
