input.dark {
  @include background($dark-form-element-background-gradient);
  border: solid $silver;
  border-width: 0px 0px 1px 0px;
  color: $silver;
}

  p {
    font-size: $info-font-size;
    font-family: $trade-gothic;
    text-transform: uppercase;
  }

  .input#stake, .input#fee {
    width: 60px;
  }

  .m-form-section {
   @extend %clearfix;
   border-top: 1px solid $light-grey;
   padding: 10px 5px;

   &.last { // hack to style create open challenge modal quickly 
    border-bottom: 1px solid $light-grey;
   }
  }

  .m-form-element {
    @extend %clearfix;  
    display: block;
    
    height: 30px;
    margin-bottom: 10px;

    .m-form-element--label {
      float: left;

      height: 30px;
      padding: 8px 0px;

      font-family: $trade-gothic;
      font-size: $info-font-size;
      text-transform: uppercase;
    }

    .m-form-element--input {
      height: 16px;
      padding: 5px;
      margin: 0px;
    }
  }


.m-form-error {
  color: $fire-engine-red;
  text-transform: uppercase;

}

  .open-challenge-create .m-form-element--input {
      float: right;
      width: 60px;
    }

.league-create .m-form-element--input { 
  float: right;
}

.m-form-section {
  &.game-type {
    height: 36px;
  }
}

.radios-inline {
  display: inline-block;
  float: left;
  padding-left: 40px;
  
  .m-form-element {
    @include inline-block;
    float: left;
  }

  input {
    display: inline;
    float: left;

    margin-top: 0px;
    margin-right: 10px;
  }

  .m-form-element--label {
    display: inline;
    float: left;

    padding-top: 0px;
    width: 100px;
  }
}

.game-type-label {
  float: left;
}

.new-session-form {
  display: none;
}


.m-form--card-icons {
  margin-bottom:-15px;
  margin-left:5px;
}

.m-form.single-row .m-form--element {
  float:left;
  width:50%;
}

.m-form--label {
  display:block;
}

.m-form--element.inline {
  vertical-align:middle;
}

.m-form--element.inline .m-form--label {
  display:inline;
  margin-right:10px;
}

.m-form--required, .m-form--element abbr { // added abbr as it's output by simple_form automatically, kept requierd class for completness
  color:$green;
  margin-left:-5px;
}

.m-form--help {
  margin-left:5px;
  padding-left:15px;
  color:$dark-grey;
  text-decoration:underline;
  background:url('/images/icons/help.png') left center no-repeat;
}

.m-form .m-form--info {
  margin-top:0;
  text-transform: none;
  font-family: Arial, sans-serif;
  font-size: $small-text-font-size;
  line-height:1.5;
  font-style: italic;
  color: $grey;
}

.m-form--element .text, .m-form--element textarea {
  width:300px;
  border:solid 1px $silver;
}

.m-form--element[class*="grid-"] .text {
  width:auto;
}

.m-form--element select {
  padding:2px;
  margin:10px 0;
  font-size:$info-font-size;
}

.m-form--element .m-form--input-short {
  width:50px;
}

.m-form--element .m-form--input-medium {
  width:150px;
}


.m-form--element .text:focus,
.m-form--element select:focus {
  outline:none;
  border-color:$green;
}

.m-form--checkbox {
  margin-right:5px;
}

.m-form--element .m-button {
  margin-bottom:20px;
}

.m-form--actions {
  display:table;
  width:100%;
  margin-bottom:22px;

  .m-button {
    width:150px;
  }
}

.m-form--actions-previous {
  float: left;
  text-align: left;
}

.m-form--actions-next {
  float: right;
  text-align: right;
}

.m-form--actions-info {
  text-transform: none;
  font-family: Arial, sans-serif;
  font-size: $small-text-font-size;
  font-style: italic;
  color: $grey;
}


//temporary fix based on output from rails helpers

label.radio {
  display: block;
}
