// requires modules/bar

@import "gradients/small-gradients/*.png";
@import "modules/pitch/position/*.png";
@include all-position-sprites; 

@each $position in goalkeeper, defender, midfielder, forward {
  .position-#{$position} {
    width:  86px;
    height: 75px;
  }
}

%m-pitch {
  @extend %clearfix;
  height:     385px;
  margin-top:  30px;
  background: url("../images/modules/pitch/background.png") no-repeat left bottom;

  &.empty {
    background-image: url("../images/modules/pitch/empty_background.png");
  }
}

.m-pitch {
  @extend %m-pitch;
}

%m-pitch-row {
  position:      relative;
  width:         380px; // grid-7, but without and
  height:         70px;
  margin-bottom:  20px;
}

 .m-pitch-row {
    @extend %m-pitch-row;
  }

.m-pitch-row_goalkeeper {
    @extend %m-pitch-row;

    margin-top:    -12px;
    margin-bottom:   8px;

    .l-pitch-position-1 {
        left: 165px;

    }

    .m-pitch-player.empty {
      .m-pitch-player--jersey {
        @extend .position-goalkeeper;
      }
    }
}

.m-pitch-row_defender {
    @extend %m-pitch-row;

    .l-pitch-position-1 {
      left: 24px;
    }

    .l-pitch-position-2 {
      left: 118px;
    }

    .l-pitch-position-3 {
      left: 211px;
    }

    .l-pitch-position-4 {
      left: 305px;
    }

    .m-pitch-player.empty {
      .m-pitch-player--jersey {
        @extend .position-defender;
      }
    }
}

.m-pitch-row_midfielder {
    @extend %m-pitch-row;

    margin-bottom: 15px;

    .l-pitch-position-1 {
      left: 15px;
    }

    .l-pitch-position-2 {
      left: 114px;
    }

    .l-pitch-position-3 {
      left: 215px;
    }

    .l-pitch-position-4 {
      left: 315px;
    }
    .m-pitch-player.empty {
      .m-pitch-player--jersey {
        @extend .position-midfielder;
      }
    }
}

.m-pitch-row_forward {
    @extend %m-pitch-row;

    .l-pitch-position-1 {
      left:   112px;

    }

    .l-pitch-position-2 {
      left: 219px;
    }
    .m-pitch-player.empty {
      .m-pitch-player--jersey {
        @extend .position-forward;
      }
    }
}


.m-pitch-player {
  width: 80px;
  height: 49px;
  position: absolute;
   
  .m-pitch-player--status-bar {
     @extend %m-bar;
       
     color: $white;
     font-size: $pitch-status-bar-font-size; 
     text-transform: uppercase;

     &.played, &.did-not-play {
      @include background($error-background-gradient);
     }
     
     &.playing, &.yet-to-play {
      @include background($success-background-gradient);
     }
     
  
  }
     
  .m-pitch-player--team-bar, .m-pitch-player--value-bar {
    @extend %m-bar;
  
    @include small-gradients-sprite( white-grey );
    background-repeat: repeat-x;
    color: $black;

  }
  

  .m-pitch-player--points-bar {
    @extend %m-bar;
    height: 19px;
    padding: 2px 3px 0 0;
    background:url(../images/modules/pitch/player-points.png);
    background-position: top right;
   
    color: $green;
  }

   .m-pitch-player--name-bar {
     @extend %m-bar;
     
     position: relative;
     z-index: $pitch-player-name-bar-z-index;

     height: 17px;

     @include small-gradients-sprite( grey-black );
     background-repeat: repeat-x;
     color: #fff;
     
     text-align: left;
     text-transform: uppercase;

    &:after {
      content: '';

      position: absolute;
      top:   17px;
      right: 40px;

      width:  0;
      height: 0;
      
      border-top:    7px solid $black;
      border-left:   5px solid transparent;
      border-right:  5px solid transparent;
    }
   }

   .m-pitch-player--jersey {
    @extend %m-jersey_pitch;
    top:  -16px;
    left:  -8px;
  }

  .m-pitch-player--info {
    @extend %icon;
    @extend .icon-info;

    position: absolute;
    z-index: $pitch-player-info-z-index;
    right: 0px;
    bottom: 0px;
  }

  .m-pitch-player--remove {
    @extend %icon;
    @extend .icon-close;

    position: absolute;
    top: -17px;
    right: 0px;
  }


  &.empty {
    .m-pitch-player--remove,
    .m-pitch-player--info,
    .m-pitch-player--value-bar,
    .m-pitch-player--points-bar,
    .m-pitch-player--status-bar,
    .m-pitch-player--name-bar,
    .m-pitch-player--team-bar {
      visibility: hidden;
    }
 
  }

  $premiership_teams: (ARS arsenal) (AST aston-villa) (CHL chelsea) (EVT everton) (FUL fulham) (LPL liverpool) (MNU manchester-united) (MNC manchester-city) (NEW newcastle-united) (NCH norwich-city) (QPR queens-park-rangers) (REA reading) (STN southampton) (STO stoke-city) (SUN sunderland) (SWA swansea-city) (TOT tottenham-hotspur) (WBA west-bromwich-albion) (WHU west-ham-united) (WIG wigan-athletic);

  @each $team in $premiership_teams {
      $alias: nth($team, 1);
      $sprite-name: nth($team, 2);

      &.#{$alias} {
        .m-pitch-player--jersey {
          @extend .jersey-pitch-#{$sprite-name};
        }
      }
  }
}
.m-pitch_pickable {
  @extend %m-pitch;
  margin-top: 50px;
}

.m-pitch_matchday {
  @extend %m-pitch;

  position: relative;
  margin-top: 120px;

  .m-pitch-player {
    height: 70px;
    margin-top: -20px;

    .m-pitch-player--jersey {
      top: 0px;
    }
  }

  .m-pitch-player--points-bar, 
  .m-pitch-player--team-bar,
  .m-pitch-player--status-bar,
  .m-pitch-player--name-bar {
    float: right;
  }

  .m-pitch-player--points-bar {
    width: 60px;
  }
}

.m-pitch_profile {
  @extend .m-pitch_matchday;
   margin-top: 30px; 
}


.m-pitch-overlay {
  position: absolute;
  top:      0px;
  left:     0px;

  z-index: $pitch-overlay-z-index;

  width:   100%;
  height:  100%;
  padding: 105px 30px;

  background: rgba( $white, .6 );
  color:      $black;

  text-align: center;

  .m-pitch-overlay--heading {
    margin-bottom:   0px;
    padding-bottom:  0px;
    font-size:      32px;
  }
  .m-pitch-overlay--sub-heading {
    width:         230px;
    margin:         10px auto;
    font-size:      18px;
  }

  .m-pitch-overlay-options--or {
    height:         18px;
    margin:         auto 10px;

    font-size:      18px;
    text-transform: uppercase;
  }
}

.m-pitch-overlay_results {
  @extend .m-pitch-overlay;

  padding-top: 205px;

  .m-pitch-overlay--heading {
    font-size:  38px;
  }
}

.m-pitch_compare {
  @extend .m-pitch_matchday;
  margin-top: 10px;
}

.m-pick-team--controls {
  text-align: left; // override from .center placed on container

  .m-button_secondary {
    float: right;
    margin: 0px 1px 0px 0px;
  }
}
