.m-player-selection-key {
  width:      410px; // should this be on the grid still?
  padding:      5px;
  margin-top:  25px;

  background:     $white-smoke;
  @include box-shadow( inset 0px 0px 2px 2px rgba($mortar-grey, .5) );

  font-size:      10px;
  text-transform: uppercase;
  font-weight:    light;
  span {
    margin-right: 5px;
  }

  dl {
    display:      inline;
    margin-right: 10px;
  }

.m-player-selection-key--chance-of-playing {
  dd {
    margin-right: 3px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

  span, dd {
    height:      13px;
    padding-top:  2px;
  }
}
