.m-player-info {
  @extend %modal;
  top:  10%;

  @include modal-position( 770px );  
  height: 630px;
  padding: 20px;

  @include background( $light-section-body-background-gradient );
 
  .m-player-info-body {
    @extend %m-modal-body;
    @extend %clearfix;

    width:   100%;
    height:  486px;

    @include background( $light-section-body-background-gradient );
    @include box-shadow( 0px 3px 3px 3px rgba($mortar-grey, .2) );

    .m-player-info-body--inner {
      @extend %clearfix;
      width:   100%;
      padding: 0px 10px;
      
      .m-box--body {
        background: none;
        padding-left:  0px;
        padding-right: 0px;

        &.m-recent-news {
          padding-top:   10px;
          padding-left:  15px;
          padding-right: 15px;
        }
       }


      .m-table_inline {
        th {
          padding-top:    4px !important;
          padding-bottom: 0px !important;
        }
      }
    }
  }

  .m-player-info--close {
    @extend %icon;
    @extend .icon-close;

    position: absolute;
    top:   -5px;
    right: -5px;
  }

}

.m-player-info-header {
  @extend %clearfix;
  height: 80px;
  margin-bottom: 10px;
}

.m-player-info--jersey-container {
  @extend %clearfix;
  @include inline-block;
  
  position: relative;
  float:    left;

  height: 80px;
  width:  98px;

  background: $black;
}

.m-jersey_player-info {
  position: absolute;

  top:   -45px;
  left:   5px;

  width:   88px;
  height: 123px;
}

.m-player-info--header-bar {
  @extend %m-header-bar;
  float: left;
  
  width:  630px;
  height:  30px;

  padding: 0px 10px;

  background: $black;
}

.m-player-info--heading {
  margin-top: 7px;
  color: $white;
  font-size: $small-heading-font-size;
}


%m-player-info-details--item {
  float: left;
  clear: left;

  width:  124px;
  height:  20px;

  padding-top:  3px;
  padding-left: 3px;

  margin-top:   2px;
  margin-left:  2px;

  font-size:      12px;
  font-family:    $trade-gothic;
  text-transform: uppercase;

}

.m-player-info-details {
  display: inline-block;
  float: left;
  
  .m-player-info-details--label {
    @extend %m-player-info-details--item;

    background: $black;
    color:      $white;
    text-transform: uppercase;
  }

  .m-player-info-details--value {
    @extend %m-player-info-details--item;

    background: $light-grey;
    color:      $black;
    @include box-shadow(inset 0 0 7px rgba($black, .4));
  }

}

.m-recent-news {
  font-size: 12px;
  text-transform: uppercase;
}

@each $chance in $chance-of-playing-colors {
  $class:           nth($chance, 1);
  $primary-color:   nth($chance, 2);
  $secondary-color: nth($chance, 3);

  .m-player-info-details.chance-of-playing-#{$class} {

    .m-player-info-details--label {
      @include background( linear-gradient(top, lighten($primary-color, 30%) 10%, $primary-color 80%) );
    }
    .m-player-info-details--value {
      background: $secondary-color;
      @include box-shadow(inset 0 0 7px rgba($primary-color, .4));
    }
  }

  .m-recent-news.chance-of-playing-#{$class} {
    border:     1px solid lighten($primary-color, 20%);
    background: $secondary-color !important;
  }
}

#player-compare {
  .m-box--body {
    padding-top: 10px;
  }
}

#player-fixtures, #player-results {
  .m-box-body {
    padding-top: 20px;
  }
}

