//
// Popovers - inherited from bootstrap.css and modified.
// not using 'm-' module prefix to link with bootstrap.js
// --------------------------------------------------


.popover {
  position: absolute;
  top: 0;
  left: 0;
  
  z-index: $modal-popover-z-index;
  
  
  width: 236px;
  padding: 1px;
  
  text-align: left;
  background-color: $white;

 @include background-clip(padding-box);
  
  border: 1px solid $very-light-grey;
  border: 1px solid rgba($black,.2);

  @include box-shadow(0 5px 10px rgba($black,.2));

  // Overrides for proper insertion
  white-space: normal;

  // Offset the popover to account for the popover arrow
  &.top     { margin-top: -10px; }
  &.right   { margin-left: 10px; }
  &.bottom  { margin-top: 10px; }
  &.left    { margin-left: -10px; }
}

.popover-title {
  padding: 8px 14px;
  margin: 0; // reset heading margin
  
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: $pig-pink;
  color: $fire-engine-red;
}

.popover-content {
  padding: 9px 14px;

  font-family: $helvetica;
  p {
    font-size: $small-text-font-size !important;
  }
}

// Arrows
//
// .arrow is outer, .arrow:after is inner

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover {
  &.top .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999; // IE8 fallback
    border-top-color: rgba($white, .25);
    bottom: -11px;
    &:after {
      bottom: 1px;
      margin-left: -10px;
      border-bottom-width: 0;
    }
  }
  &.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999; // IE8 fallback

    &:after {
      left: 1px;
      bottom: -10px;
      border-left-width: 0;
      border-right-color: $white;
    }
  }
  &.bottom .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999; // IE8 fallback
    top: -11px;
    &:after {
      top: 1px;
      margin-left: -10px;
      border-top-width: 0;
      border-bottom-color: $white;
    }
  }

  &.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999; // IE8 fallback
    &:after {
      right: 1px;
      border-right-width: 0;
      border-left-color: $white;
      bottom: -10px;
    }
  }

}
