.m-profile {
  @extend %clearfix;
  display: block;

  width:   100%;
  padding: 20px;

  button {
    width: 84%;
  }
}
.m-profile--picture,
.m-profile--details {
  float: left;
  width: 48%;
}
.m-profile--picture {

  img {
    display: block;
    margin-bottom: 8px;
  }

}
.m-profile--details {
  margin-left: 4%;

  button {
    margin-top: 5px;
  }
}
.m-profile--name {
  display: block;

margin-bottom: 14px;

  font-family:    $trade-gothic;
  text-transform: uppercase;
  font-size:      $large-text-font-size;
}

%m-profile-stats {
  width: 100%;
  padding:       4px 8px;
  margin-bottom: 3px;

  background: $black;
  color:      $white;

  font-family: $trade-gothic;
  font-size:   $small-button-font-size;

  text-align:     left;
  text-transform: uppercase;
}

.m-profile-stats { @extend %m-profile-stats; }

.m-profile-stats_club {
  @extend %m-profile-stats;
  position:   relative;

  padding-bottom: 20px;
  margin-top:     19px;
  margin-bottom:   5px;

  .m-jersey_large {
    position: absolute;
    right:   -8px;
    bottom:  -5px;

    clip: rect( -10px, 85px, 65px, 0px );

    @include scaleX(-1);
  }
}

.m-profile-page--footer {
  @include inline-block;
  overflow: hidden;
  margin-top: 20px;

  .m-filters--container {
    width: 235px;
  }

}

// ambassador profile styles
.m-profile_ambassador-bio {
  padding: 25px 15px;
  margin:  10px 0px 20px;

  p { margin: 0px; }

  background: $black;
  color:      $white;

  font-family:    $trade-gothic;
  text-transform: uppercase;
}

.m-profile_ambassador--details {
  position: relative;

  width:  580px;
  height: 290px;

  @each $ambassador in fowler, southgate,  ferdinand { 
   &.#{$ambassador} {
    background: url("/images/modules/profiles/ambassadors/#{$ambassador}.png") no-repeat;
   }
  }
  
  .m-profile-stats {
   position: absolute;

   top:   89px;
   right: 19px;
   
   width: 98px;
  }
}
