.m-radio {
  @include inline-block;
  position: relative;

  width:        15px;
  height:       15px;
  margin-right:  5px;

  input[type="radio"] {
    display: none; 
  }


  label {
    cursor: pointer;
    position: absolute;
    width:  13px;
    height: 13px;
    top: 0;
    @include border-radius( 8px );
    @include box-shadow( inset 0px 1px 1px rgba($black, 0.5), 0px 1px 0px rgba($white, .4));
    @include background( $radio-background );

    &:after {
      @include opacity(0);
      content: '';
      position: absolute;

      top:  3px;
      left: 3px;

      width:  7px;
      height: 7px;

      @include border-radius( 8px );
      @include background( linear-gradient(top, $green, $islamic-green) );
    }

  }

  input[type=radio]:checked + label:after {
    @include opacity(1);
  }
}
