.m-reward-level {
  float: left;

  width:   98px;
  padding: 65px 0 5px 0;
  margin:   0 2px;

  background: $light-nero-black url('/images/icons/levels.png') 30px 10px no-repeat;
  color:      $white;

  @include box-shadow( inset 0 0 50px $near-black );

  font-family:    $trade-gothic;

  text-align:     center;
  text-transform: uppercase;
  text-shadow:    0 0 3px $black;


  &.player {
    background-position: -72px 10px;
  }

  &.manager {
    background-position: -173px 10px;
  }

  &.hero {
    background-position: -275px 10px;
  }

  &.legend {
    background-position: -376px 10px;
  }

  &.selected {
    @include box-shadow( 0 0 3px 2px rgb(105, 255, 0) );
  }

  &.club {
    background: $light-nero-black url('/images/icons/club-levels.png') 27px 10px no-repeat;

  &.bronze {
    background-position: -75px 10px;
  }

  &.silver {
    background-position: -177px 10px;
  }

  &.gold {
    background-position: -278px 10px;
  }

  &.black {
    background-position: -380px 10px;
  }

  &.chelsea {
    background: $light-nero-black url('/images/icons/club-shirts.png') 13px bottom no-repeat;
  }
  }
}

.m-reward-level_horizontal {
  @extend .m-reward-level;
  width: 100%; 
  height: 66px;

  padding: 15px 20px;

  background-image: none; // use level modules instead
  
  .m-level {
    float: left;
    margin-right: 20px;

    &.level-player {
      margin-top: 7px;
    }

    &.level-manager {
      margin-top: -4px;
    }

    &.level-hero {
      margin-top: 7px;
    }
  }

  .m-reward-level--info {
    float: left;
    text-align: left;
  }

}


.m-reward-level-badge {
  position: absolute;
  bottom: -20px;
  left: -10px;
  width: 46px;
  height: 54px;
  background: url('/images/icons/club-levels.png') 0 0 no-repeat;

  &.bronze {
    background-position: -102px 0;
}

&.silver {
  background-position:    -204px 0;
}

&.gold {
  background-position:    -305px 0;
}

&.black {
  background-position:    -407px 0;
}
}

.m-reward--status .club {
  position: relative;
  padding-top: 90px;
}
 
.m-reward--status .m-reward-level {
  margin-right: 20px;
}

.m-reward--status .m-reward--status-info {
  margin: 5px 0;
  font-size: $small-heading-font-size;
}

.m-reward--status-value {
  color: $green;
  font-style: normal;
}

.m-reward-level .m-reward-level--info {
  margin: 4px 0;
  line-height: $table-button-font-size;

  &.glow {
    color: $atlantis-green;
    text-shadow: 0 0 5px rgba($atlantis-green, .7);
  }
}

.m-reward--progress {
  font-family:    $trade-gothic;
  text-transform: uppercase;

  p {
    margin: 2px 0;
    font-size: 13px;
  }
}
.m-reward--progress > * {
  float: left;
  padding: 0 10px 0 10px;
}
.m-reward--progress-points {
  width: 100px;
}
.m-reward--progress-status {
  position: relative;
  width: 330px;
}
.m-reward--progress-next-level {
  width: 80px;
}
.m-reward--progress-meter {
  position: absolute;
  top:   4px;
  right: 0;

  width: 215px;
  padding: 6px;

  border: solid 1px $dark-grey;

  @include border-radius( 8px );
  @include box-shadow( inset 0 0 6px rgba($near-black, .3) );
}
.m-reward--progress-tracker {
  position: absolute;

  bottom: 0;
  left:   0;

  width:   50%;
  padding: 5px;

  border-top:    solid 1px #d3feac;
  border-bottom: solid 1px #1e970c;
  @include border-radius( 8px );

  background: #7ced2b;
  @include background( linear-gradient(#a9ff5c, #29b308) );

  @include box-shadow( 1px 0 4px rgba($near-black, .3) );
}

