%m-rewards-panel--section {
  display: inline;
  float: left;

  height:       45px;
  padding:      5px 8px;
  margin-right: 2px;

  @include border-radius( 1px 1px 1px 1px );
  @include box-shadow( 0 -2px 2px 2px rgba( $black, 0.3 ) );
  @include background( linear-gradient(top, $white-smoke, $silver) );
}

.m-rewards-panel {
  @extend %clearfix;

  z-index: $panel-z-index;
  position: fixed;

  right:  5%;
  bottom: 0%;
  
  width:  250px;
  height:  45px;

  font-family: $trade-gothic;
  font-size: 12px;

  text-transform: uppercase;

  .m-rewards-panel-level {
    @extend %m-rewards-panel--section;
    width: 200px;

    .m-rewards-panel-level--status {
      @extend %clearfix;
      float: left;

      width:        55px;
      height:       35px;
      margin-right:  5px;

      @include background( linear-gradient(top, $black, $light-nero-black) );

      text-align: center;

      .level-small-ballboy {
        margin-top: 2px;
      }

      .level-small-player {
        margin-top: 9px;
      }

      .level-small-manager {
        margin-top: 2px;
      }

      .level-small-hero {
        margin-top: 7px;
      }

      .level-small-legend {
        margin-top: 2px;
      }
    }

    .m-rewards-panel-level--details {
      float: left;
      padding-top: 3px;

      dt {
        float: left;
        clear: left;
        width: 75px;
      }

      dd {
        float: left;
        margin-left: 3px;
        color: $islamic-green;
      }

    }
    
  }

  .m-rewards-panel-chat {
    @extend %m-rewards-panel--section;
    outline: none;

    width:   45px;
    padding: 11px;
  }
}
