@import "ribbon/*.png";

@include all-ribbon-sprites;

%m-ribbon {
  @include inline-block;
  float: right;
  
  color:          $white !important;
  font-family:     $trade-gothic;
  text-transform:  uppercase;
  text-decoration: none !important;
}

.m-ribbon {
  @extend %m-ribbon;
}

.m-ribbon_small {
  @extend %m-ribbon;
  
  width:        126px ;
  height:        25px ;
  padding-top:    3px ;
  margin-top:     2px ;
  margin-left:    -7px;

  font-size:   $medium-text-font-size;
  text-indent: 14px;

  &.success {
    @extend .ribbon-small-success;
  }
  &.waiting {
    @extend .ribbon-small-waiting;
  }
}

.m-ribbon_large {
  @extend %m-ribbon;

  width:        203px  ;
  height:        53px  ;
  padding:        5px  ;
  margin-right:   -16px;

  text-align: center;

  &.success {
    @extend .ribbon-large-success;
  }
  &.waiting {
    @extend .ribbon-large-waiting;
  }

  .m-ribbon_large--title {
    display: block;
    font-size:   $large-text-font-size;
    text-shadow: 0 0 3px rgba( $black, .3 );
  }

  .m-ribbon_large--strapline {
    display: block;
    font-size: $extra-small-button-font-size;
    text-shadow: 0 0 3px rgba( $black, .3 );
  }
}
