%m-scarf {
  background-size:       50px 50px;
  text-shadow: 2px 2px 2px rgba( $black, 1 );

  &.m-header-bar {
    @include shine( 19px );
    height:              50px;
    background-position:  0 -26px;

  }
}

@each $team in $team_colours {
  $team-slug:        nth( $team, 1 );
  $primary-colour:   nth( $team, 2 );
  $secondary-colour: nth( $team, 3 );

  .m-scarf_#{$team-slug} {
    @extend %m-scarf;
    background-color: $primary-colour;
    background-image: linear-gradient( 90deg, transparent 50%, $secondary-colour 50% );
  }

  // hack to get scarf colours on modal header

  .m-modal_invite .m-modal--header-bar {
    &.m-scarf_#{$team-slug} {
      @extend %m-scarf;
      @include shine( 19px );

      height:              50px;

      background-position:  0 -26px;
      background-color:    $primary-colour;
      background-image:    linear-gradient( 90deg, transparent 50%, $secondary-colour 50% );

    }
  }
}

