%m-search-result {
  @extend %clearfix;
  width:          100%;
  min-height:      95px;
  padding-bottom:  10px;
  border-bottom:    1px solid $light-grey;
  margin:          15px 0px;
 

  &:last-child {
    border-bottom: none;
  }

  
  .m-search-result--image {
    float: left;
  }

  .m-search-result--details {
    float: left;
    margin-left: 10px;
    
    p {
      font-size: $content-text-font-size;
      margin: 10px 0px 0px; 
    }
  }

  .m-search-result--heading {
    margin: 0px;
    font-size: 18px;
  }
 
 .m-button {
  width: 120px;
  float: right;
 }
}

.m-search-result {
  @extend %m-search-result;
}

