%m-section {
  @extend %clearfix;
  padding:       10px;
  margin-top:    20px;
  margin-bottom: 20px;
  
  background: rgba( $black, .7 );
  

  //modifiers
  &.no-top-gutter {
    margin-top: 0px;
  }

  &.no-bottom-gutter {
    margin-bottom: 0px;
  }

  &.no-vertical-gutters {
    margin-top:    0px;
    margin-bottom: 0px;
  }

}

%m-section--body {
  @extend %clearfix;
  position: relative;  
}

.m-section {
  @extend %m-section;
}

.m-section--body {
  @extend %m-section--body;
  padding: 30px 15px;
}

.m-section_homepage {
  @extend %m-section;
  @include box-shadow( 0px 18px 6px -6px rgba($black, .3) );
}

.m-section_homepage-small {
  @extend %m-section;
  @include box-shadow( 0px 18px 6px -6px rgba($black, .3) );
}

.m-section_homepage--body {
  @extend %m-section--body;
  padding: 0px;
}

.m-section_homepage-small--body {
  @extend %m-section--body;
  padding-top: 0px;
  padding-bottom: 0px;
}

.m-section_content {
  @extend %m-section;

  margin-top: 0px;
  margin-bottom: 0px;
  .m-section--body { 
    @include background( $content-section-body-background-gradient );
  }
}
