// settings for one-on-one and multiplayer suggestions

%m-suggestion {
  @extend %clearfix;
  width:   465px;
  padding:  15px 0px;
  margin:    0 auto;

  &:first-child {
    padding-top: 10px;
    border-bottom: 1px solid $very-light-grey;

    .m-suggestion--instructions {
      width: 50%;
    }
  }

  &:last-child {
    .m-suggestion--instructions {
      padding-bottom: 15px;
    }
  }

  .m-suggestion--instructions {
    float: left;

    margin: 0px;

    font-family:    $trade-gothic;
    font-size:      $medium-text-font-size;
    text-transform: uppercase;
  }

  .m-button { 
    float: right;
  }
}

.m-suggestion {
  @extend %m-suggestion; 
}

.m-suggestion_multiplayer {
  @extend %m-suggestion; 
  padding: 10px 0px; 

  .m-suggestion--instructions {
    margin-top: 10px;
  }

  .m-button { 
    float: left;
  }

}
