@import 'mixins/scrollable-tables';

%m-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing:  0px;

  td:first-child {
    border-left: none;
  }

  td:last-child {
    border-right: none;
  }

  .m-table--header, thead {

    > tr, tr {

      color:      $white;
      background: $dark-nero-black;
      @include background( $header-bar-background-gradient );

      font-family:    $trade-gothic;
      font-size:      $table-heading-font-size;
      text-transform: uppercase;

      //modifiers
      &.highlight {

        @include filter-gradient($green, $islamic-green);  
        @include background( $green-bar-background-gradient );

        th {
          border-color: $very-light-grey;
        }
      }
    }
  }

  .m-table--body, tbody {
    font-size:   $small-text-font-size;
    font-family: $helvetica;

    // success row colour modifier
    tr.success {
      .name-column, .players-column, .team-column, .entry-column, .pot-column, .contact-column, .club-column {
      font-weight: bold;
      }
    }

  }

  // moved th and td styles outside of thead and tbody so they can be overwritten by a .table-class .cell-class selector
  th {
    padding-top:     6px;
    padding-bottom:  6px;
    border-right:    1px solid $liver-brown;

    &:last-child {
      border-right: none;
    }
  }
}

.m-table { @extend %m-table; }

// tables that are used for inline on the page, this is the majority of tables on the site.
%m-table_inline {
  @extend %m-table;

   thead {
     tr, th {
       height: 30px;
     }
   }

  
  tr, td, th {
    height: 30px;
    vertical-align: middle;
  }

  td, th {
    padding-right: 5px;
  }

  a {
    color:           $black;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.m-table_inline {
  @extend %m-table_inline;
}

.invite-cell {
  text-align: center;
}

.invite-column {
  width: 133px;
  text-align: center;
}

.slider-arrows {
  @extend %clearfix;
  overflow:   hidden;
  margin-top: 10px;

  a, p {
    float: right;
  }

  p {
    padding:    0px 10px;
    margin-top: 0px;
  }

}

.m-table_lot {
  @extend %m-table_inline;

  th {
    background: url('/images/gradients/lot.png') repeat-x;
  }
}

%m-table_scrollable {
  @extend %m-table_inline;
  
  // table-layout: fixed;

  td, th {
    &:nth-last-child(2) {
      border-right: none;
    }
  }

  .m-table--header, .m-table--footer {
    tr {
      display: block;
      position: relative;
    }
  }

  .m-table--body {
    display: block;

    overflow-y: auto;
    overflow-x: hidden;

    width: 100%;
  }

  .scrollbar-column {
    width:  20px;
    border-left: none;
  }

  .name {
    float: left;
    margin-top: 7px;
  }

  .icon-chat, .icon-ambassador {
      float: right;
  }

  .icon-chat {
    margin-top:   4px;
    margin-left:  5px;
  }

}

  .old-ie-table-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    
    tbody {
      height: auto;
    }
  }

.m-table_scrollable { @extend %m-table_scrollable; }

%right-align-cell {
  padding-right: 5px;
  text-align:    right;
}

%left-align-cell {
  padding-left: 10px;
  text-align:   left;
}

%center-align-cell {
  padding-right: 5px;
  padding-left:  5px;
  text-align:    center;
}

@import 'tables/*';
