// base tab navigation styles
%m-tab-navigation {
  @extend %clearfix; 
  @include inline-block-list;

  width:  100%;
  margin: 0 0;

  color: $black;

  font-family:    $navigation-font-family;
  text-transform: uppercase;

  // use tabs-[number] modifier to control tab width - e.g. tabs-2, width: 50%;
  @for $i from 1 through 5 {
    &.tabs-#{$i} > li {
      width: floor(99% / $i);
    }
  }
}

%m-tab-navigation--tab {
  background: $silver;
  // modifiers
  &:last-child {
    border: none;
  }

  &.active {
    background: none;

    a {
      color: $black;
    }
  }
}

%m-tab-navigation--link {
  display: block;
  color: $mortar-grey;
  text-align: center;
}


// inherit placeholders

.m-tab-navigation {
  @extend %m-tab-navigation;
}

.m-tab-navigation--tab {
  @extend %m-tab-navigation--tab;
}

.m-tab-navigation--link {
  @extend %m-tab-navigation--link;
}

.m-tab-pane {
  display: none;

  &.active {
    display: block;
  }
}

@import 'tab-navigations/*';
