.m-team-summary {
  position:   absolute;
  top:         50px;
  right:       62px;

  width:      110px;

  padding:      5px 10px;

  background: rgba( $black, .8 );

  .m-team-summary--heading {
    padding:         0px;
    margin-top:      0px;
    margin-bottom:   5px;

    color:          $green;

    font-size:      12px;
    font-family:    $trade-gothic;

    text-transform: uppercase;
    text-align:     left;
  }

  .m-team-summary-list {
    overflow:       hidden;
    color:          $white;
    font-size:      11px;
    text-transform: uppercase;
  }
  .m-team-summary--statistic {
    float:          left;
    clear:          left;
    padding-bottom:  3px;
  }
  .m-team-summary--value {
    float:          left;
    margin-left:     5px;
  }
}
