%m-ticket-content {
  position: relative;
  float:    left;

  height:  178px;
  padding:  10px;
}

%m-ticket {
  @extend %clearfix;
  overflow: hidden;

  width:  465px;
  height: 223px;

  margin-left:  0px;
  margin-right: 0px;


  color:          $white;

  font-family:    $trade-gothic;
  text-transform: uppercase;

  .m-ticket--heading {
    margin-top:     8px;
    margin-bottom: 40px;
  }

  .m-ticket--details {
    @extend %m-ticket-content;
    width: 100%;
    text-align: center;
  }
}

.m-ticket {
  @extend %m-ticket;
}

.m-ticket--actions {
  position: absolute;
  top: 125px;
  right: 10px;

  .m-button, .m-link_muted {
    float: right;
    clear: right;
  }

  .m-button {
    margin-bottom: 10px;
  }

}

.m-ticket--summary {
  position: absolute;
  bottom: 0px;

  .m-link_muted {
    float: left;
    clear: left;
  }

  .amount {
    width: 80px;
  }
}

.m-ticket-payout {
  position: absolute;
  bottom: 8px;
  left: 9px;  

  font-size: $small-text-font-size;
}

.m-ticket-payout-list {
  @include no-bullets;
  .m-ticket-payout-list--item {
    padding: 2px 0px;
  }
}


%m-ticket_with-sidebar {
  @extend %m-ticket;
  background-image: url('/images/modules/tickets/background-with-sidebar.png');

  background-repeat: no-repeat; 

  .m-ticket--details {
    position: relative;
    float: right;

    width: 360px;
    margin-left: 0px;
    margin-right: 0px;

  }
}

.m-ticket_one-on-one {
  @extend %m-ticket_with-sidebar;
  &.create {
    .m-ticket--actions { 
      top: 117px;
    }
  }
  background-image: url('/images/modules/tickets/one-on-one.png');

  .slider {
    float: left;
    clear: left;
  }

  .icon-chat {
    position: absolute;
    top:   38px;
    right: 73px;
  }

  .m-ticket-supports {
    position: absolute;
    bottom: 24px;
    left: 8px;
  }
  .m-ticket-supports--team-bar {
    @extend %m-bar;
    @include inline-block;

    width: 100%;

    @include background( $white-grey-small-bar-gradient );
    background-repeat: repeat-x;
    color: $black; 
  }

  .m-jersey_thumb {
    bottom: 0px;
  }
  #invite_below_button {
    font-size: 13px;
  }
}


.m-ticket_multiplayer {
  @extend %m-ticket_with-sidebar;

  background-image: url('/images/modules/tickets/multiplayer.png');

  .m-ticket--heading {
    margin-top: 3px;
  }

  .icon-chat {
    position: absolute;
    top:      38px;
    right:    70px;
  }

  .m-ticket--summary {
    // this accomodates for there being no 'change amount' link on multiplayer tickets
    bottom: 10px;
  }
}


.m-ticket-sidebar {
  @extend %m-ticket-content;
  width: 98px;
  font-size: 11px;

  .m-ticket-sidebar--heading {
    padding-bottom: 5px;
    margin: 0px;

    color: $green;
    font-size: 1em;

  }
}

.m-ticket-profile {
  .m-ticket-profile--image {
    width:  55px;
    border: 1px solid $light-grey;
    margin: 1px 5px;
  }

  .m-ticket-profile--name {
    display: block;

    padding: 0;
    margin:  0 0 3px 0;

    color:          $green;
    text-transform: uppercase;
    font-size:      12px;
    font-family:    $trade-gothic;
  }
  .m-ticket-profile-record {
    padding: 0;
    margin:  0;

    font-size:   12px;
    font-family: $trade-gothic;

    .m-ticket-profile-record--label {
      color: $green;
    }

    .m-ticket-profile-record--value {
      color: $white;
    }
  }

}


.m-ticket_ambassador {
  @extend %m-ticket;

  .icon-chat {
    position: absolute;
    top:       67px;
    right:    140px;
  }

  @each $ambassador in fowler, southgate, joe, ferdinand, ffs {

    &.#{$ambassador}_create {
      background: no-repeat url('/images/modules/tickets/ambassadors/challenge-#{$ambassador}.png');
      .m-ticket--summary {
        bottom: 45px;
        left:   20px;
      }
    }

    &.#{$ambassador}_accept {
      background: no-repeat url('/images/modules/tickets/ambassadors/#{$ambassador}-challenged-you.png');
      .m-ticket--summary {
        bottom: 45px;
        left:   20px;
      }
    }

    &.#{$ambassador}_join {
      background: no-repeat url('/images/modules/tickets/ambassadors/join-#{$ambassador}.png');

      .m-ticket--summary {
        bottom: 55px;
        left:   20px;
      }
    }

    &.#{$ambassador}_invited {
      @extend .m-ticket_multiplayer;
      background: no-repeat url('/images/modules/tickets/ambassadors/invited-to-#{$ambassador}.png');

      .icon-chat { //have to repeat this here to overwrite inheritance from .m-ticket_multiplayer
        position: absolute;
        top:       67px;
        right:    140px;
      }
    }
  }

// Fantasy Football Scout ticket has longer text line, so needs to reposition chat icon
  &.ffs_join, &.ffs_accept {
    .icon-chat { 
      right:    130px !important;
    }
  }

  &.ffs_invited {
    .icon-chat { 
      right:    115px !important;
    }
  }



  .slider {
    float: left;
    clear: left;

    .numbers { 
      margin-top: -2px;
    }
  }

}

.m-ticket_empty {
  @extend %m-ticket;
  position: relative;
  background: no-repeat url('/images/modules/tickets/empty.png');

  &.league {
    background-image: url('/images/modules/tickets/empty_league.png');
    bottom: inherit;
  }

  .m-button {
    width: 90px;
  }

  .m-ticket_empty-content {
    @extend %clearfix;
    position:     absolute;
    bottom:        10px;

    width:        100%;
    padding-left:  10px;
  }

  .m-ticket_empty-section {
    float:      left;

    width:      150px;
    padding:     30px 10px 0px;

    text-align: center;
  }

}
