%m-trial-callout {
  display: block;
  width: 406px;
  height: 147px;

  .points {
    position: absolute;
    bottom: 43px;
    left: 63px;
  
    color: $green;

    font-size: 20px;
    font-family: $trade-gothic;

    text-transform: uppercase;
  }
}

@each $ambassador in fowler {
  .m-trial-callout_#{$ambassador} {
    @extend %m-trial-callout;
    background: url("../images/trial-callouts/you-are-beating-#{$ambassador}.png") no-repeat;
  }
}
