%m-value {
  @extend %clearfix;

  .m-value--label {
    float: left;
    clear: left;

    text-transform: uppercase;
  }
}

.m-value {
  @extend %m-value;
}

.m-value_ticket {
  @extend %m-value;
  @include inline-block;

  float: left;
  margin-right: 10px;  

  .m-value--label {
    padding-bottom: 10px;
    color:     $white;
    font-size: $info-font-size;
  }

  &.pot {
    float: right
  }
}

%m-amount {
  @include inline-block;
  min-width:  60px;
  padding:    9px 5px 5px;
  margin-top: -7px;

  background: $light-grey;
  color:      $black;

  font-size: $medium-text-font-size; 
  text-align: center;

  line-height: 1em;

  @include box-shadow( inset 0px 0px 3px 2px rgba( $black, 0.2 ) ); 

  // modifiers
  &.pending {
    background: $white;
  }
  &.total {
    background:  $black;
    color:       $green;
    font-family: $trade-gothic;

    &.large {
      min-width:   122px;
      min-height:   35px;
      padding-top:   8px;
      border: none;

      background: url('/images/total-large.png') center no-repeat;
      @include box-shadow(none);

      font-size:      $large-text-font-size;
      text-transform: uppercase;
    }

    &.extra-wide {
      min-width:  186px;
      min-height:  34px;

      padding-top:    8px;
      border:        none;
      margin-bottom: 15px;

      background: url('/images/total-extra-wide.png') center no-repeat;
      @include box-shadow(none);

      font-size:      $large-text-font-size;
      text-transform: uppercase;
    }
  }
}

.m-amount {
  @extend %m-amount;
}

.m-amount_ticket {
  @extend %m-amount;
  float: left;
  clear: left;

  width:   60px;
  height:  20px;
  padding:  5px;
  border:   1px solid $very-light-grey;

  font-family: $trade-gothic;
  font-size:   $ticket-value-font-size;

  &.total {
    background: none;
    color:      $green;
  }

  &.small {
    width:  45px;
    height: 15px;
    font-size: $ticket-small-value-font-size;
  }
}
