@import "wraparound/*.png";

@include all-wraparound-sprites;

%m-wraparound {
  @include inline-block;
  float: right;
  
  color:          $white !important;
  font-family:     $trade-gothic;
  text-transform:  uppercase;
  text-decoration: none !important;
}

.m-wraparound {
  @extend %m-wraparound;
}

.m-wraparound_small {
  @extend %m-wraparound;
  
  width:        131px ;
  height:        25px ;
  padding-top:    3px ;
  margin-top:     4px ;
  margin-right:   -9px;

  font-size:   $medium-text-font-size;
  text-indent: 14px;

  &.success {
    @extend .wraparound-small-success;
  }
  &.waiting {
    @extend .wraparound-small-waiting;
  }
}

.m-wraparound_large {
  @extend %m-wraparound;

  width:        203px  ;
  height:        53px  ;
  padding:        5px  ;
  margin-right:   -16px;

  text-align: center;

  &.success {
    @extend .wraparound-large-success;
  }
  &.waiting {
    @extend .wraparound-large-waiting;
  }

  .m-wraparound_large--title {
    display: block;
    font-size:   $large-text-font-size;
    text-shadow: 0 0 3px rgba( $black, .3 );
  }

  .m-wraparound_large--strapline {
    display: block;
    font-size: $extra-small-button-font-size;
    text-shadow: 0 0 3px rgba( $black, .3 );
  }
}
