@include scrollable-table('choose-to-compare', 280px, 230px);

.m-table_choose-to-compare {
  @extend %m-table_scrollable;

  tr, th, td {
    height: 22px !important;
  }

  .name-column {
    @extend %left-align-cell;
    min-width: 90px;
    max-width: 90px;
  }

  .club-column {
    min-width: 70px;
    max-width: 70px;
  }

  th.club-column {
    @extend %center-align-cell;
  }

  td.club-column {
    @extend %left-align-cell;
  }

  .position-column {
    @extend %center-align-cell;
    min-width: 50px;
    max-width: 50px;
  }

  .score-column {
    @extend %center-align-cell;
    min-width: 50px;
    max-width: 50px;
  }
}
