@include scrollable-table('clubs', 510px, 600px);

.m-table_clubs {
  @extend %m-table_scrollable;

  margin-top: 27px;

  .m-table--body {
    tr, td {
      height: 60px !important; 
    }
    .m-jersey_small {
      position: relative;
      @include inline-block;
      margin-right: 5px;
    }
  }

  .club-column {
    @extend %left-align-cell;
    width:     135px;
    min-width: 135px;
  }

  .country-column {
    @extend %center-align-cell;
    width:     75px;
    min-width: 75px;
  }

  .fans-column {
    @extend %center-align-cell;
    width:     55px;
    min-width: 55px;
  }

  .contacts-column {
    @extend %center-align-cell;
    width:     65px;
    min-width: 65px;
  }

  .cup-column {
    @extend %center-align-cell;
    width:     45px;
    min-width: 45px;
  }

  .position-column {
    @extend %center-align-cell;
    width:     55px;
    min-width: 55px;
  }

  .action-column {
    @extend %center-align-cell;
    width:     70px;
    min-width: 70px;
  }


}
