.m-table_compare {
  float: right;

  width:           410px;
  border-collapse: separate;
  border-spacing:    1px;

  .m-table_compare--head { 

    .jersey-cell {
      @extend %center-align-cell;
      @include box-shadow(inset 0px 0px 5px 10px rgba( $silver, .3));

      &.empty {
        width: 100px;
        @include box-shadow(none);
      }
      
      .jersey-cell--inner {
        position: relative;
        height: 100%;
        width:  100%;
      }

      .jersey-container {
        position: relative;
        z-index:  $compare-table-jersey-z-index;
        overflow: hidden;

        height: 75px;
      }

      .icon-close {
        position: absolute;
        top:   0px;
        right: -5px;
      }
  }

  .name-cell {
    height: 26px;

    color:      $white;
    background: $black;

    font-size:   11px;
    font-family: $trade-gothic;

    &.empty {
      background: none;
  }
}

.details-row {
  td {
    @extend %center-align-cell;
    width:  100%;
    height: 20px;

    color: $black;
    @include background( linear-gradient( top, $white-smoke, $dark-grey));

    font-size: 11px;

    &.empty {
      background: none;
    }
  }
}
 }

 .m-table_compare--body { 
   color:     $black;
   font-size: 11px;

   tr {
      &:first-child {
        td,th {
          border-top: 1px solid $light-grey;
        }
      }

      &:last-child {
        td, th {
          border-bottom: 1px solid $light-grey;
        }
      }

      td:last-child {
        border-right: 1px solid $light-grey;
      }
   }
    
   th, td {
     height:  18px;
     padding: 3px 5px;

     font-family:    $helvetica;
     text-transform: none;
   }

   th {
     @extend %left-align-cell;
     min-width: 80px;
     max-width: 80px;
     border-left: 1px solid $light-grey;

     &.total-points-label {
       font-weight:   bold;
       text-transform: uppercase;
     }

   }      

   td {
     @extend %center-align-cell;
   }      
 }

  .m-table_compare--foot {

    td {
      padding: 0px;
      text-align: center;

      .m-button {
        width: 100%;
      }

    }

  }

}
