@include scrollable-table( 'fans', 510px, 720px );

.m-table_fans {
  @extend %m-table_scrollable;
  display: inline-table;
  margin-top: 9px;

  .name-column {
    @extend %left-align-cell;
    min-width: 305px;
    width:     305px;
  }

  .club-column {
    @extend %center-align-cell;
    min-width:  70px;
    width:      70px;
  }

  .contact-column {
    @extend %center-align-cell;
    min-width:  115px;
    width:      115px;
  }
}
