.m-table_fixtures {
  @extend %m-table_inline;
 
  .m-table_fixtures--date-column {
    padding-left: 10px;
    text-align:   left;
  }

  .m-table_fixtures--home-jersey-column {
    padding-left: 10px;
    border-right: none;
    text-align:   center;
  }

  .m-table_fixtures--away-jersey-column {
    padding-right: 10px;

    border-right:  none;
    border-left:   none;

    text-align:    center;

     i {
      @include scaleX(-1);
     }
  }

  .m-table_fixtures--fixture-column {
    border-right: none;
    text-align:   center;
  }
  .m-table_fixtures--vs-column {
    padding-right: 0;
    border-right:  none;
    border-left:   none;

    text-align:    center;
  }

  .m-table_fixtures--home-team-column {
    width:         95px;
    padding-right: 10px;

    border-right:  none;
    border-left:   none;

    text-align:    right;
  }


  .m-table_fixtures--away-team-column {
    width:        95px;

    padding-left: 10px;

    border-right: none;
    border-left:  none;

    text-align:   left;
  }
  
  td.substitutes {
    padding-top: 20px;
  }

}
