@include scrollable-table( 'invite-contacts', 420px, 150px );

.m-table_invite-contacts {
  @extend %m-table_scrollable;

  .name-column {
    @extend %left-align-cell;
    min-width: 120px;
    width:     120px;
  }

  .club-column {
    @extend %center-align-cell;
    min-width:  70px;
    width:      70px;
  }

  .contact-column {
    @extend %center-align-cell;
    min-width:  110px;
    width:      110px;
  }

  .invite-column {
    @extend %center-align-cell;
    min-width:  100px;
    width:      100px;
  }

 .m-ribbon_small {
   width:       100px;
   font-size:    11px;
   text-indent:  11px;
 }
}
