@include scrollable-table( 'invite-contacts_modal', 390px, 150px );

.m-table_invite-contacts_modal {
  @extend %m-table_scrollable;

  .name-column {
    @extend %left-align-cell;
    min-width: 110px;
    width:     110px;
  }

  .club-column {
    @extend %center-align-cell;
    min-width:  70px;
    width:      70px;
  }

  .contact-column {
    @extend %center-align-cell;
    min-width:  120px;
    width:      120px;
  }

  .invite-column {
    @extend %center-align-cell;
    min-width:  70px;
    width:      70px;
  }
}
