@include scrollable-table('latest-matches', 280px, 198px);
  
.m-table_latest-matches {
  @extend %m-table_scrollable;

  tr, td, th {
    height: 22px !important;
  }

  .game-week-column {
    @extend %left-align-cell;
    width:     160px;
    min-width: 160px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .score-column {
    @extend %center-align-cell;
    width: 120px;
  }

}
