.m-table_league {
  @extend %m-table_inline;

  .position { @extend %center-align-cell; }
  .team-name { @extend %left-align-cell; } 

  .played, .win, .loss, .drew, .points {
    @extend %center-align-cell; 
    width: 35px;
  }
}
