.m-table_league-of-titans {
  @extend %m-table_inline;
  th {
    background: url('/images/gradients/lot.png') repeat-x;
  }
  
  td {
    .m-jersey {
      float: right;
      margin: -3px 0 0 5px;
    }
  }

  .position-column {
    @extend %center-align-cell;
  }

  .club-column {
    @extend %left-align-cell;
    text-transform: uppercase;
  }

  .titan-column {
    @extend %left-align-cell;
  }

  .points-column {
    @extend %center-align-cell;
  }
}
