@include scrollable-table('leaderboard', 500px, 210px);

.m-table_leaderboard {

  @extend %m-table_scrollable;

  .m-table--header {
    tr, th {
      height: 30px;
    }
  }

  .rank-column {
    @extend %center-align-cell;
    min-width: 45px;
    max-width: 45px;

  }

  .player-column {
    @extend %left-align-cell;
    min-width: 200px;
    max-width: 200px;
  }

  .points-column {
    @extend %center-align-cell;
    min-width: 65px;
    max-width: 65px;
  }

  .winning-column {
    @extend %center-align-cell;
    min-width: 65px;
    max-width: 65px;
  }

  .vs-my-team-column {
    @extend %center-align-cell;
    width: 105px;
  }
}
