table {
  border-spacing:  0px;
  border-collapse: collapse;

  th {
    padding: 0px;
  }

}

%fixtures-table {
  min-width: 410px; 
  max-width: 410px; 

  tr {
    padding: 0px;
  }

  td {
    font-family: $helvetica;
  }

}

table.m-table_live-fixtures {
  @extend %fixtures-table;

  min-width: 410px;
  max-width: 410px;

  > thead {

    > tr {
      @include background( $header-bar-background-gradient );
      color: $white;

      font-family:    $trade-gothic;
      font-size:      $table-heading-font-size;
      text-transform: uppercase;

      &.subsitute-heading {
        @include background( $green-bar-background-gradient );
      }
    }
    th {
      padding-top:     6px;
      padding-bottom:  6px;
    }
  }

  .m-table_live-fixtures--fixture {

    td {
      padding-top:    7px;
      padding-bottom: 7px;
      font-size: 11px;
    }

    &:hover {
      td {
        cursor: pointer;
      }
    }

    .home-team-column, .score-column, .away-team-column {
      text-decoration: underline;
    }

    td.time-column {
      font-weight: bold;
    }

  } 

  .time-column {
    min-width: 50px;  
    max-width: 50px;  
    text-align: center;

  }

  .jersey-column {
    min-width: 30px;
    max-width: 30px;
    text-align: center;

    .m-jersey_fixture {
      margin: auto 0px;
    }
  }

  %team-column {
    min-width: 120px;
    max-width: 120px;
  }

  .score-column {
    min-width: 60px;
    max-width: 60px;
    text-align: center;
  }

  .home-jersey-column {
    @extend .jersey-column; 
  }

  .away-jersey-column {
    @extend .jersey-column; 
    i {
      @include scaleX(-1);
    }
  }
  .home-team-column {
    @extend %team-column;
    padding-right: 9px;
    text-align: right;
  }

  .away-team-column {
    @extend %team-column;
    padding-left: 9px;
    text-align: left;
  }

}
.m-fixture-details {
  display: none;
}

td.m-fixture-details-cell{
  max-width: 410px;
  min-width: 410px;
  padding:   0px;
}

table.m-table_fixture-details {
  @extend %fixtures-table;

  td {
    padding-top:    0px;
    padding-bottom: 0px;
    padding-left:   0px;

    vertical-align: top; 

    font-size: 10px;
  }
}

// details table out by 1px in webkit browsers
@media screen and (-webkit-min-device-pixel-ratio:0) {
  table.m-table_fixture-details {
    margin-left: -1px;
  }
}

table.m-table_fixture-details-summary {
  @extend %fixtures-table;

  .score-column {
    table {
      td {
        background: none;
      }
    }
  }

  .home-team-column, .score-column, .away-team-column {
    padding-top: 10px;
  }

  .m-fixture-incident {
    td {
      padding-top:    3px;
      padding-bottom: 3px;
      background: none;
    }
  }
}

.m-table_fixture-details--result {
  width: 100%;

  td {
    text-align: center;
  }
}

table.m-table_fixture-details-lineup {
  @extend %fixtures-table;

  .highlight {
    color:       $islamic-green;
    font-weight: bold;
  }

  th.score-column {
    padding-top:     10px;

    color:           $islamic-green;

    font-size:       11px;
    font-family:     $helvetica;

    text-transform:  none;
    text-decoration: underline;
  }

  .m-table_fixture-details-lineup--name-cell {
    padding-right:   0px;
    padding-left:    0px;

    table {
      td {
        padding-top:    3px;
        padding-bottom: 3px;
        vertical-align: middle;
      }
      
      tr:last-child td {
        padding-bottom: 10px;
      }

    }
  }


  .home-lineup-column {
    min-width:     150px;
    max-width:     150px;
    padding-right: 5px;

    text-align: right;


    .icon-lineup-goal {
      margin-right: 4px;
    }
  .jersey-number, .subsitute-heading {
    float: right;
  }

  .player-name {
    @include inline-block;
    float:      right;
    width:      120px;

    text-align: right;
  }
  }

  .home-incident-column {
    min-width: 30px;
    max-width: 30px;
    text-align: center;

    .icon-lineup-yellow-card {
      float: left;
    }
  }

  .jersey-number, .subsitute-heading {
    margin: auto 3px;
    @include inline-block;
  }

  .away-lineup-column {
    min-width:    150px;
    max-width:    150px;
    padding-left: 5px;

    text-align: left;

    .icon-lineup-goal {
      margin-left: 4px;
    }

    .jersey-number, .subsitute-heading {
      float: left;
    }

  .player-name {
    @include inline-block;
    float: left;
    width: 120px;
  }
  }

  .away-incident-column {
    min-width: 30px;
    max-width: 30px;
    text-align: center;

    .icon-lineup-yellow-card {
      float: right;
      margin-right: 2px;
    }
  }
}

.m-tab-navigation_fixtures--tab, .m-box--heading {
  font-size: 26px !important;
}

.m-table_fixture-details--goals {
  width: 100%;
}
