%m-table_live-ticker {
  @extend %m-table_scrollable;

  th {
    /* todo, this shouldn't need to be here */
    height: 30px;
  }

  .time-column {
    @extend %center-align-cell;
    min-width: 45px;
    max-width: 45px;
  } 

  .name-column {
    @extend %left-align-cell;
    min-width: 85px;
    max-width: 85px;
  }

  .team-column {
    @extend %center-align-cell;
    min-width: 60px;
    max-width: 60px;
  }

  .event-column {
    @extend %left-align-cell;
    min-width: 90px;
    max-width: 90px;
  }

  .points-column {
    @extend %center-align-cell;
    min-width: 50px;
    max-width: 50px;
  }

  .total-column {
    @extend %center-align-cell;
    min-width: 60px;
    max-width: 60px;
  }
}

@include scrollable-table('live-ticker_key-events', 410px, 90px);

.m-table_live-ticker_key-events {
  @extend %m-table_live-ticker;
  border-bottom: none !important;
}

@include scrollable-table('live-ticker_all-events', 410px, 210px);

.m-table_live-ticker_all-events {
  @extend %m-table_live-ticker;
}
