@include scrollable-table('live-games', 410px, 150px);

.m-table_live-games {
  @extend %m-table_scrollable;

  margin-bottom: 10px;

  th {
    font-size: 12px;
    height: 30px;

    &:last-child {
      border-right: none !important; // TODO
    }

    &.winning-column {
      color: $green;
    }
  }

  tr, td {
    height: 50px;
  }

  .name-column {
    @extend %left-align-cell;
    min-width:    145px;
    padding-left:  10px;
    
    .name-column--row {
      @extend %clearfix;
      display: block;
      width:   100%;
    }

    .m-table--my-teams {
      margin-top:  5px;
      
      .icon-team {
        @include inline-block;
        float:        left;
        margin-right: 5px;
      }

      label {
        float:        left;

        margin-top:    2px;
        margin-right: 10px;

        font-family:  $helvetica;
      }

    }
  }

  .points-column {
    @extend %center-align-cell;
    min-width: 70px;
  }
  .pot-column {
    @extend %center-align-cell;
    min-width: 60px;
  }
  .rank-column {
    @extend %center-align-cell;
    min-width: 60px;
  }

  .winning-column {
    @extend %center-align-cell;
    min-width: 55px;
  }
}
