@include scrollable-table('multiplayer-games', 465px, 300px);

.m-table_multiplayer-games {
  @extend %m-table_scrollable;
  display: inline-table;
  margin: 11px auto 0px;

  .m-table--header {
    tr {
      height: 30px !important; //todo, this shouldn't be needed here
    }
  }

  .name-column {
    @extend %left-align-cell;
    min-width: 135px;
    max-width: 135px;

  }
  .players-column {
    @extend %center-align-cell;
    min-width:  55px;
    max-width:  55px;
  }
 .entry-column, .pot-column {
    @extend %center-align-cell;
    min-width:  50px;
    max-width:  50px;
 }

  .invite-column {
    @extend %center-align-cell;
    min-width:  70px;
    max-width:  70px;
  
  }

  .action-column {
    @extend %center-align-cell;
    min-width: 126px;
    max-width: 126px;
  }
}
