@include scrollable-table( 'my-contacts', 420px, 300px );

.m-table_my-contacts {
  @extend %m-table_scrollable;

  .name-column {
    @extend %left-align-cell;
    min-width: 215px;
    width:     215px;
  }

  .club-column {
    @extend %center-align-cell;
    min-width:  70px;
    width:      70px;
  }

  .contact-column {
    @extend %center-align-cell;
    min-width:  115px;
    width:      115px;
  }

}
