.m-table_payout-structure {
  @extend %m-table_inline;

  %axis-label {
    color:     $black;
    font-size: 13px;
  }



  th {
    border: none;
    text-align: left;
    
    &.axis-label_players {
      @extend %axis-label;
    }

    &.axis-label_position {
      @extend %axis-label;

      height: 100%;
      vertical-align: middle;

      & > div {
        width: 1em;

        & > div {
            @include transform( rotate(-90deg) );
        }

      }
    }

    &.players-header, &.position-header {
      color:        $white;
      background:   $black;

      font-size: 12px;
    }

    &.position-header {
      border-bottom:  1px solid $mortar-grey;
      padding-left:  10px;
    }

    &.players-header {
      border-right: 1px solid $mortar-grey;
      text-align:   center;
    }
  }

  td {
    text-align: center;
  }

  tr {
    td {
      border:       1px solid $light-grey;
      border-right: 1px solid $light-grey !important;
    }

    &:nth-child(odd) {
      td {
        background: $white-lilac;

        &.empty {
          background: #b8b8b8;
        }
      }
    }

    &:nth-child(even){
      td {
        background: $white;

        &.empty {
          background: #c8c8c8;
        }
      }
    }


  }
}
