@include scrollable-table('player-selection', 410px, 300px);

.m-table_player-selection {
  @extend %m-table_scrollable;

  .name-column {
    @extend %left-align-cell;
    min-width: 110px;
    padding-left: 10px;
  }
  .position-column {
    @extend %center-align-cell;
    min-width: 60px;
  }
  .club-column {
    min-width: 70px;
  }
  th.club-column {
    @extend %center-align-cell;
  }
  td.club-column {
    @extend %left-align-cell;
  }

  .worth-column {
    min-width: 55px;
    @extend %center-align-cell;
  }

  .score-column {
    min-width: 55px;
  }

  .score-column { 
    @extend %center-align-cell;
  }

  .player-info-column {
    @extend %center-align-cell;
    min-width: 40px;
    max-width: 40px;

    border-right: none;
  }

  .icon-injured {
    float: right;
  }
}


