@include scrollable-table('player-info-results', 710px, 300px);

.m-table_player-info-results {
  @extend %m-table_scrollable;

  tr, th, td {
    height: 30px !important;
  }

  .date-column {
    @extend %left-align-cell;
    width:     100px;
    min-width: 100px;
  }

  .kickoff-column {
    @extend %center-align-cell;
    width:     100px;
    min-width: 100px;
  }

  .vs-column {
    width:     185px;
    min-width: 185px;
  } 

  th.vs-column {
    @extend %center-align-cell;
  }

  td.vs-column {
    @extend %left-align-cell;
  }

  .venue-column {
    @extend %center-align-cell;
    width: 100px;
    min-width: 100px;
  } 

  .score-column {
    @extend %center-align-cell;
    width: 100px;
    min-width: 100px;
  } 

  .result-column {
    @extend %center-align-cell;
    width: 100px;
  } 
}
