// used for all small games tables with name, entry, pot columns

@include scrollable-table('recreate-games', 260px, 150px);

.m-table_recreate-games {
  @extend %m-table_scrollable;

  tr, td, th {
    height: 50px;
  }

  .name-column {
    @extend %left-align-cell;
    min-width: 160px;
    width:     160px;

    .name-column--row {
      @extend %clearfix;
      display: block;
      width:   100%;
    }

    .m-table--my-teams {
      margin-top:  5px;
      
      .icon-team {
        @include inline-block;
        float:        left;
        margin-right: 5px;
      }

      label {
        float:        left;

        margin-top:    2px;
        margin-right: 10px;

        font-family:  $helvetica;
      }

    }
  }

  .action-column {
    @extend %center-align-cell;
    min-width: 80px;
    width:     80px;
  }
}

