@include scrollable-table('rewards', 530px, 300px);

.m-table_rewards {
  @extend %m-table_scrollable;

  .date-column {
    @extend %left-align-cell;
    width:     80px;
    min-width: 80px;
  } 

  .detail-column {
    @extend %left-align-cell;
    width:     265px;
    min-width: 265px;
  }

  .points-column {
    @extend %center-align-cell;
    width:     85px;
    min-width: 85px;
  }
  .total-column {
    @extend %center-align-cell;
    width:     85px;
    min-width: 85px;
  }
} 
