.m-table_scoring-matrix {
  @extend %m-table_inline; 
  
  .event-column {
    @extend %left-align-cell;
    width: 127px;
    padding-left: 15px;
  }
  
  .goalkeeper-column, .defender-column, .midfielder-column, .forward-column {
    @extend %center-align-cell;
    width: 72px;
  }
}

.m-table_scoring-matrix_large {
  @extend .m-table_scoring-matrix; 
  
  .event-column {
    width: 176px;
  }
  
  .goalkeeper-column, .defender-column, .midfielder-column, .forward-column {
    width: 101px;
  }
}
