$season-stats-table-header-height: 40px;

$season-stats-table-row-height:    22px;
$season-stats-table-column-width:  40px;

@include scrollable-table('season-stats', 710px, 352px);

.m-table_season-stats {
  @extend %m-table_scrollable;

  .m-table--header {
    tr {
      height: $season-stats-table-header-height;
    }

    th {
      @extend %center-align-cell;
      height:    $season-stats-table-header-height;

      font-size: 9px;
    } 
  }
  .m-table--body {
    tr {
      height: $season-stats-table-row-height;
    }

    td {
      height: $season-stats-table-row-height;
      font-size: 10px;
    }
  }

  .m-table--footer {
    font-size:      10px;
    font-weight:    bold;
    text-transform: uppercase;

    tr {
      height: $season-stats-table-row-height;
    }

    td {
      height: $season-stats-table-row-height;
    }
  }

  .date-column {
    @extend %left-align-cell;
    min-width: 75px;
    max-width: 75px;
  }        

  .rank-column {
    @extend %center-align-cell;
    min-width: 30px;
    max-width: 30px;
  }        

  .opponent-column {
    @extend %center-align-cell;
    min-width: 65px;
    max-width: 65px;
  }

  .saves-column {
    @extend %center-align-cell;
    min-width: 35px;
    max-width: 35px;
  }

  .clean-sheets-column {
    @extend %center-align-cell;
    min-width: $season-stats-table-column-width;
    max-width: $season-stats-table-column-width;
  }

  .goals-conceded-column {
    @extend %center-align-cell;
    min-width: 50px;
    max-width: 50px;
  }        

  .clearances-column {
    @extend %center-align-cell;
    min-width: 55px;
    max-width: 55px;
  }

  .tackles-column {
    @extend %center-align-cell;
    min-width: $season-stats-table-column-width;
    max-width: $season-stats-table-column-width;
  }

  .interceptions-column {
    @extend %center-align-cell;
    min-width: 50px;
    max-width: 50px;
  }

  .shots-on-target-column {
    @extend %center-align-cell;
    min-width: $season-stats-table-column-width;
    max-width: $season-stats-table-column-width;
  }

  .assists-column {
    @extend %center-align-cell;
    min-width: 35px;
    max-width: 35px;
  }

  .goals-column {
    @extend %center-align-cell;
    min-width: 35px;
    max-width: 35px;
  }

  .yellow-card-column {
    @extend %center-align-cell;
    min-width: $season-stats-table-column-width;
    max-width: $season-stats-table-column-width;
  }

  .red-card-column {
    @extend %center-align-cell;
    min-width: $season-stats-table-column-width;
    max-width: $season-stats-table-column-width;
  }

  .minutes-played-column {
    @extend %center-align-cell;
    min-width: $season-stats-table-column-width;
    max-width: $season-stats-table-column-width;
  }

  .total-column {
    @extend %center-align-cell;
    width: $season-stats-table-column-width;
  }

  .total-label-column {
    @extend %right-align-cell;
    width: 180px;
  }
}
