.m-table_statistics {
  tr, td, th {
    height: 22px !important;
  }

  .statistic-column {
    @extend %left-align-cell;
  }

  .amount-column {
    @extend %center-align-cell;
  }

  .score-column {
    @extend %center-align-cell;
  }
}
