$team-column-width:   208px;

$info-column-width:    25px;
$points-column-width:  50px;
$name-column-width:    95px;
$jersey-column-width:  30px;
$status-column-width:   5px; // + 1px in calculations for border

$vs-column-width:      34px;


.m-table_team-comparison {
  width: 450px; 
  margin: 0 auto;

  th {
    color:      $white;
    background: $black;
  }

  .label-row {
    th {
      height:        30px;
      padding-top:    6px;
      border-right:   1px solid $white;
      border-bottom:  1px solid $white;

      font-size: 16px;
    }

  }

  .statistics-row {

    .total {
      @extend %clearfix;

      min-width:     186px;
      min-height:     34px;

      padding:       8px;
      border:        none;
      margin-bottom: 15px;

      background: url('/images/total-extra-wide.png') center no-repeat;
      @include box-shadow( none );

      font-size: 16px;
      text-transform: uppercase;

      .points {
        float: left;
      }

      .rank {
        float: right;
      }

    }

    th {
      border-right:  1px solid $white;
      border-bottom: 1px solid $white;

      &.vs-column {
        border-bottom: none;
      }
    } 


    .m-amount {
      margin-top: 0px; 
    }

    .team-summary {
      font-size: 12px;

      dt {
        float: left; 
      }
      dd {
        float: left;
        margin-left:   5px;
        margin-right: 20px;
      }
    }

    .team-column {
      padding:    10px;
    }
  }

  .m-table--body {
    font-size: 11px;
    tr, td {
      height: 30px;
    }

    .column-container {
      vertical-align: top;
    }

    .team-column {
      min-width: $team-column-width;
      max-width: $team-column-width;
      width:     $team-column-width;

      padding-right: 0px;
    }

    .info-column {
      @extend %center-align-cell;
      min-width: $info-column-width;
      max-width: $info-column-width;
    }

    %name-column {
      width:     $name-column-width;
      min-width: $name-column-width;
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        } 
      }

    }

    %jersey-column {
      @extend %center-align-cell;
      min-width: $jersey-column-width;
      max-width: $jersey-column-width;

      text-align: center;
    }
    .my-team-name-column {
      @extend %name-column;
      @extend %right-align-cell;
    }


    .opponent-name-column {
      @extend %name-column;
      @extend %left-align-cell;
    }

    .my-team-jersey-column {
      @extend %jersey-column;
    }

    .opponent-jersey-column {
      @extend %jersey-column;
      i { @include scaleX(-1); }
    }

    .points-column {
      min-width:      $points-column-width;
      max-width:      $points-column-width;

      font-family:    $trade-gothic;
      text-transform: uppercase;
    }

    .status-column {

      min-width: $status-column-width;
      max-width: $status-column-width;

      &.yet-to-play {
        @include background( linear-gradient( top, $tacao-orange, $fire-engine-red ) !important );
      }

      &.played {
        @include background( linear-gradient( top, $green, $islamic-green ) !important );
      }
    }   

    tr:last-child {
      .status-column {
        border-bottom: none;
      }
    }

  }
  .vs-column {
    @extend %center-align-cell;

    width:     $vs-column-width;
    min-width: $vs-column-width;
    max-width: $vs-column-width;
    border-right:   1px solid $white !important;
    border-left:    1px solid $white !important;

    background: $black !important;


    th { // for nested position column
      text-align: center;
      width: 100%;
    }
  }
  
  .m-player-summary--container {
    display: none;

    td {
      padding-right: 0px;
    }
  }

  .m-player-summary {
    
    td {
      height:        25px;
      background: $light-nero-black !important;
    }

    .m-player-summary--status-row {
      td {
        @include background( linear-gradient( top, $black 0%, $dark-nero-black 20%, $light-nero-black 100% ) !important );
      }
      .status-column {
        width: 6px;
      }
    }

    .m-player-summary--status {
      width: $points-column-width + $name-column-width + $jersey-column-width;
      border-bottom: 1px solid $mortar-grey;

      text-transform: uppercase;

      &.played {
        color: $green;
      }

      &.yet-to-play {
        color: $red;
      }
    }

    .points-column {
      border-bottom: 1px solid $mortar-grey;
    }

    .event-column {
      width:         $name-column-width + $jersey-column-width;
      border-bottom: 1px solid $mortar-grey;

      color:         $white;

      font-size:     10px;
    }

    tr:last-child {
      td {
      border-bottom: none !important;
     }
    }
    
    &.my-team {
     .m-player-summary--status, .event-column {
       padding-right: 10px;
       text-align:    right;
     } 

    }

    &.opponent {
     .m-player-summary--status, .event-column {
       padding-left: 10px;
       text-align: left;
     } 

    }

  }
}
