@include scrollable-table('transaction-history', 530px, 300px);

.m-table_transaction-history {
  @extend %m-table_scrollable;

  .date-column {
    @extend %left-align-cell;
    width:     80px;
    min-width: 80px;
  } 

  .detail-column {
    @extend %left-align-cell;
    width:     265px;
    min-width: 265px;
  }

  .amount-column {
    @extend %center-align-cell;
   width : 85px;
 }
  .balance-column {
    @extend %center-align-cell;
    width: 85px;
  }
} 
