@include scrollable-table('upcoming-fixtures', 710px, 300px);

.m-table_upcoming-fixtures {
  @extend %m-table_scrollable;

  tr, th, td {
    height: 30px !important;
  }

  .date-column {
    @extend %left-align-cell;
    width:     100px;
    min-width: 100px;
  }

  .kickoff-column {
    @extend %center-align-cell;
    width:     100px;
    min-width: 100px;
  }

  .vs-column {
    @extend %left-align-cell;
    width:     385px;
    min-width: 385px;
  } 

  .venue-column {
    @extend %center-align-cell;
    width: 100px;
  } 
}
