@include scrollable-table('users', 465px, 300px);

.m-table_users {
  @extend %m-table_scrollable;
  display: inline-table;
  margin: 11px auto 0px;

  .m-table--header {
    tr {
      height: 30px !important; //todo, this shouldn't be needed here
    }
  }

  .name-column {
    @extend %left-align-cell;
    width:     165px;
    min-width: 165px;

    .icon-team {
      float:       right;
      margin-top:  4px;
      margin-left: 5px;
    }   

  }

  .club-column {
    @extend %center-align-cell;
    width:       65px;
    min-width:   65px;

    .club-name {
      @include inline-block;
      float: left;
      padding-top: 5px;
      margin-left: 3px;
    }

    .m-jersey_fixture {
      float: left;
    }
  }

  .contact-column {
    @extend %center-align-cell;

    width:       95px;
    min-width:   95px;
  }

  td.contact-column {
    padding-top:   5px;

    .contact-added {
      float: left;
      margin-top:  -2px;
      margin-left: 15px;

      color: $empress-grey;
    }

    .icon-contact {
      margin-top:  -5px;
      margin-left:  5px;
    }
  }

  .action-column {
    width:     120px;
    min-width: 120px;
    text-align: center;
  }
}
