@include scrollable-table( 'whos-in', 460px, 150px );

.m-table_whos-in {
  @extend %m-table_scrollable;

  .name-column {
    @extend %left-align-cell;
    min-width: 250px;
    width:     250px;
  }

  .club-column {
    @extend %center-align-cell;
    min-width:  70px;
    width:      70px;
  }

  .contact-column {
    @extend %center-align-cell;
    min-width:  120px;
    width:      120px;
  }
}
