.m-box.grid-5.no-margin-left
  .m-box--header-bar
    %h3.m-box--heading_small Recent News
  .m-box--body.m-recent-news.chance-of-playing-0
    %i.icon-red-card
    %span Suspended: Player Unavailable
