.m-box.grid-5.no-margin-left
  .m-box--header-bar
    %h3.m-box--heading_small Recent News
  .m-box--body.m-recent-news.chance-of-playing-25
    %i.icon-info-injured-25
    %span Ankle Injury: 25% chance of playing
