.m-box.grid-5.no-margin-left
  .m-box--header-bar
    %h3.m-box--heading_small Recent News
  .m-box--body.m-recent-news.chance-of-playing-75
    %i.icon-info-injured-75
    %span Ankle Injury: 75% chance of playing
