$section-body-background: rgba( $black, .4 ); 

$box-background-filter-gradient-start-color: $black;
$box-background-filter-gradient-end-color:   $black;
$box-background:                       rgba( $black, .8 );
$box-body-color:                        $white;

$box-transparent-header-bar-border-top: none;
$box-transparent-heading-color:         $white;

// text
$emphasis-color:       $green;
$emphasis-font-weight: normal;

// links
$link-color:       $white;
$link-hover-color: $green;
$link-hover-text-decoration: underline;

// tables
$inline-table-border:        1px solid $empress-grey;
$inline-table-header-border: 1px solid $light-nero-black;
$table-cell-border:          1px solid $empress-grey;

$table-text-color: $white;

$odd-table-row-background-color:  $mortar-grey;
$odd-table-row-starting-gradient: linear-gradient( left, $near-black, $mortar-grey );
$odd-table-row-ending-gradient:   linear-gradient( left, $mortar-grey, $near-black );

$odd-table-row-ending-color: $near-black;

$even-table-row-background-color:  $charcoal-grey;
$even-table-row-starting-gradient: linear-gradient( left, $near-black, $charcoal-grey );
$even-table-row-ending-gradient:   linear-gradient( left, $charcoal-grey, $near-black );
$even-table-row-ending-color: $near-black;
// live fixtures table

$live-fixtures-table-border: 1px solid $empress-grey;
$live-fixtures-table-first-column-background: linear-gradient( left, $near-black 0%, $light-nero-black 100% );
$live-fixtures-table-color:                $white;

$live-fixtures-table-details-background-color: $black;
$fixture-details-central-background-color:     $light-nero-black;
$fixture-details-outer-background-color:       $near-black;
$fixture-details-top-background-color:         $dark-nero-black;

$live-fixture-table-lineup-jersey-number-color: $very-light-grey;

$live-ticker-all-events-border-top: 4px ridge $charcoal-grey !important; 

$live-ticker-all-events-first-row-background: linear-gradient(top, $black 0%, $light-nero-black 20%, $mortar-grey 100%);

// league table
$league-table-even-first-column-color: $black;
$league-table-odd-first-column-color:  $black;

// tab-navigation
$fixtures-tab-navigation-tab-border-right: 1px solid $mortar-grey;
$fixtures-tab-navigation-tab-color:        $mortar-grey;
$fixtures-tab-navigation-tab-active-color: $white;
