$section-body-background: $white-smoke $light-section-body-background-gradient; 

$box-background-filter-gradient-start-color: $light-grey;
$box-background-filter-gradient-end-color: $white-smoke;
$box-background: linear-gradient( top, $light-grey, rgba( $white, 0 ) 75%);
$box-body-color:          $black;

$box-transparent-header-bar-border-top:  1px solid $light-grey;
$box-transparent-heading-color: $black;

// text
$emphasis-color:       $black;
$emphasis-font-weight: bold;

// links
$link-color:                 $black;
$link-hover-color:           $black;
$link-hover-text-decoration: none;

// tables
$inline-table-border:        1px solid $light-grey;
$inline-table-header-border: 1px solid $light-nero-black;
$table-cell-border:          1px solid $light-grey;

$table-text-color: $black;

$odd-table-row-background-color:  $white-lilac;
$even-table-row-background-color: $white;

// league table
$league-table-even-first-column-color: $even-table-row-background-color;
$league-table-odd-first-column-color: $odd-table-row-background-color;

$live-fixtures-table-border:                  none;
$live-fixtures-table-first-column-background: $black;
$live-fixtures-table-color:                   $black;

$live-fixtures-table-details-background-color: $light-grey;
$fixture-details-central-background-color:     $white-smoke;
$fixture-details-outer-background-color:       $silver;
$fixture-details-top-background-color:         $silver;

$live-fixture-table-lineup-jersey-number-color: $black;

$live-ticker-all-events-border-top: 4px ridge $light-grey !important; 

$live-ticker-all-events-first-row-background: linear-gradient(top, $empress-grey 0%, $silver 20%, $white-smoke 100%);

// tab-navigation
$fixtures-tab-navigation-tab-border-right: 1px solid $light-grey;
$fixtures-tab-navigation-tab-color:        $grey;
$fixtures-tab-navigation-tab-active-color: $black;
